<section class="c-cta-bg l-section l-section--padding l-section--background-dark l-section--white-text">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 col-lg-8 col-xl-7">
        <div class="c-section-header">
          <h2 class="c-section-header__title h1">Start your 14-day free trial today!</h2>
        </div>
        <!-- /.c-section-header -->

        <div class="c-cta-bg__content">
          <div class="c-form-cta mb-4">
            <form action="">
              <input type="email" name="mc4wp-EMAIL" value="" size="40" class="wpcf7-form-control wpcf7-email" aria-required="true" aria-invalid="false"
                placeholder="Deine E-Mail-Adresse">
              <button type="submit" class="wpcf7-form-control wpcf7-submit">Kostenlos testen</button>
              <span class="ajax-loader"></span>
            </form>
          </div>
          <!-- /.c-form-cta -->
          <span class="c-cta-bg__note">Completely risk free. No credit card required. Mit der Anmeldung akzeptierst du die <a href="#">AGB</a> und die Datenschutzerklärung.</span>
        </div>
        <!-- /.c-cta-bg__content -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
