<section class="c-cta-bg c-cta-bg--is-case l-section l-section--padding lazyload">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 col-lg-8 col-xl-7">
        <div class="c-section-header">
          <h2 class="c-section-header__title h1">Start your 14-day free trial today!</h2>
        </div>
        <!-- /.c-section-header -->

        <div class="c-cta-bg__content">
          <div id="c-cta-form" class="c-form-cta mb-4">
            <c-cta-signup source="CTA footer"></c-cta-signup>
          </div>
          <!-- /.c-form-cta -->
          <span class="c-cta-bg__note">Completely risk free. No credit card required. Mit der Anmeldung akzeptierst du die AGB und die Datenschutzerklärung.</span>
        </div>
        <!-- /.c-cta-bg__content -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
