<section class="c-cta l-section py-5 l-section--background-light">
  <div class="container py-md-4">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <span class="c-cta__headline h1">Set up your account, pick a plan later</span>
        <div class="c-cta__actions py-2 py-md-3">
          <a class="c-btn c-btn--primary" href="#0" title="Kostenlos testen">Kostenlos testen</a>
        </div>
      </div>
      <!-- /.col-->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
