<section class="c-cta c-cta--large">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <h1 class="c-cta__headline display-3">Set up your account, pick a plan later</h1>
        <p class="c-cta__desc h4 pt-md-1 mb-4">Try sevDesk free for 14 days, no credit card required</p>
        <div class="c-cta__actions py-1 py-md-3">
          <a class="c-btn c-btn--primary" href="#0" title="Kostenlos testen">Kostenlos testen</a>
        </div>
      </div>
      <!-- /.col-->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
