<div class="c-cta c-cta--light mb-4">
  <div class="row align-items-center">
    <div class="col-md-7">
      <h4 class="c-cta__headline h3">Schon Gewusst</h4>
      <p class="c-cta__desc">Mit sevDesk kannst du die Buchhaltung einfach selbet machen. So kannst du bis zu 585 € / monat.</p>
    </div>
    <!-- /.col-md-7 -->
    <div class="col-md-5">
      <div class="c-cta__actions pl-md-5">
        <a class="c-btn c-btn--primary" href="#0" title="Kostenlos testen">Kostenlos testen</a>
      </div>
    </div>
    <!-- /.col-md-5 -->
  </div>
  <!-- /.row -->
</div>
