<section class="fc-hero is-center is-xs pt-5">
  <div class="container">
    <div class="fc-hero__content mt-5 mb-5">
      <h1 class="fc-hero__headline display-3 mb-3">Jetzt starten - später entscheiden</h1>
      <p class="h4 u-text-regular u-text-gray mb-4">Teste sevDesk 14 Tage ohne Risiko. Keine Kreditkarte benötigt.</p>
      <!-- winterrabatt -->
      <div class="col-12">
        <img class="img-responsive l-sign-up--02--image-pricing" src="https://cdn.sevdesk.de/uploads/6_months_for_free_new.png">
      </div>
      <!-- winterrabatt -->
      <div class="fc-hero__actions">
        <a class="c-btn c-btn--primary js-open-signup-modal" href="/register/" title="kostenlos testen">Rabatt
          sichern</a>
      </div>
    </div>
    <!-- /.fc-hero__content -->
  </div>
  <!-- /.container -->
</section>
