<section class="fc-hero is-center is-xs is-rabbataktion">
  <div class="container">
    <div class="fc-hero__content">
        <h1 class="fc-hero__headline display-1 mb-3">Preise von sevDesk</h1>
        <p class="h4 u-text-regular u-text-gray mb-4">Jetzt 50% Rabatt auf die Addons sichern!</p>
        <div class="fc-hero__actions">
          <a class="c-btn c-btn--primary" href="/addon-aktion/" title="Rabatt sichern">Rabatt sichern</a>
        </div>
    </div>
    <!-- /.fc-hero__content -->
  </div>
  <!-- /.container -->
</section>
