<section class="c-cta c-cta--large">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <h1 class="c-cta__headline display-3">Jetzt starten - später entscheiden</h1>
        <p class="c-cta__desc h4 pt-md-1 mb-4">Teste sevDesk 14 Tage ohne Risiko. Keine Kreditkarte benötigt.</p>
      </div>
      <!-- /.col-->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
