// =============================================
// General
// =============================================

// Border Radius
$default-border-radius: 5px;

// Images
$images: '../../images';
$demo-images: '../../demo-images';

// Animation speed
$hover-transition: '.3s';

// Fonts path
$fonts: '../fonts';

// =============================================
// Primary Break Points
// =============================================

$primary-breakpoints: (
  xs: 0,
  ms: 375px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// =============================================
// Base Values
// =============================================

// Spacing

$gap: 10px;

$trim: 30px;

// This will get applied on viewports smaller than 480px
$trim-small: 15px;

// Padding that will get applied to content areas
$box-spacing-large: 20px;

// Standard padding around box elements such as banner messages, etc
$box-spacing: 10px;

// Standard spacing between elements within a box, such as "Add to cart", "Price box", etc
$element-spacing: 7px;

// Dimensions

$max-content-width: 1200px;
$max-container-width: $trim + $max-content-width + $trim;
$max-std-formatted-width: 50em;

// =============================================
// Brand Colors
// =============================================

// Only used to define context-based color vars in this file.

$c-blue: #4a89dc;
$c-green: #4cae50;
$c-pink: #d85378;
$c-orange: #ff921e;
$c-red: #f44336;
$c-yellow: #ffdd15;
$c-black: #000000;
$c-gray: #333333;

// =============================================
// Base Colors
// =============================================

$c-brand: #CC0000;
// Text

$c-text: #111;
$c-text-gray: #b7b7b8;
$c-text-darkgray: #5c626b;
$c-text-white: #e6e6e6;
$c-text-dark: #000;
// Primary font color for headings and other non-link text
$c-text-primary: $c-blue;

// Interaction

$c-action: $c-blue;
$c-stimulus: darken($c-blue, 15%);
$c-subtle: #a0a0a0;

// Notifications

$c-danger: $c-red;
$c-danger-background: #faebe7;

$c-success: $c-green;
$c-success-background: #eff5ea;

$c-warn: #e26703;
$c-warn-background: #f9ebe6;

$c-dark: #676157;

// Global Elements

$c-divider-border: #ececec;

// =============================================
// Element Colors
// =============================================

// Buttons

$c-button: $c-action;
$c-button-hover: lighen($c-button, 32%);
$c-button-active: darken($c-button, 10%);

// Secondary Buttons

$c-button-secondary: #dddddd;
$c-button-secondary-hover: darken(#dddddd, 5%);
$c-button-secondary-active: darken(#dddddd, 10%);

$c-button-subtle: #ececec;

// Forms

$c-input-border: #c4cdd5;
$c-input-border-focus: $c-blue;

$c-input-placeholder: $c-text-gray;
$c-input-text: $c-text;

$c-fieldset-border: #cccccc;
$c-fieldset-border-light: #ededed;

// Headings

$c-h1: $c-blue;
$c-h2: $c-text;
$c-h3: $c-text;
$c-h4: $c-text;
$c-h5: $c-text;
$c-h6: $c-text;

// Link

$c-link: $c-action;
$c-link-hover: shade($c-action, 32%);
$c-link-focus: $c-action;
$c-link-active: shade($c-action,  (5% / 2));

// Module (generic)

$c-module-background: #f8f8fa;
$c-module-background-hover: shade($c-module-background, 3%);
$c-module-background-secondary: #eaf8ff;
$c-module-background-dark: #aaaaaa;
// This should be applied whenever the border is surrounding a white element and/or is directly showing on white.
$c-module-border: #e7e7e7;
// This should be applied whenever the border is wrapping an element with $c-module-background
$c-module-border-light: #e5e5e5;
$c-module-border-dark: #dddddd;
$c-module-border-highlight: $c-blue;

// Table

$c-table-background: #f4f4f4;
$c-table-border: #c0c0c0;

$c-table-zebra-odd: #f8f7f5;
$c-table-zebra-even: #eeeded;

// Tabs

$c-tabs-background: #f0f0f0;

// =============================================
// Typography
// =============================================

// Google Web Font stylesheet is included via the platform

// Font Stacks

$f-stack-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$f-stack-serif: Georgia, Times, 'Times New Roman', serif;
$f-stack-special: 'Open Sans', sans-serif;

$f-stack-default: $f-stack-special;

// Font weight

$f-weight-black: 900;
$f-weight-bold: 700;
$f-weight-semibold: 600;
$f-weight-regular: 400;
$f-weight-light: 300;

// Font Sizes

$f-size-xxl: 18px;
$f-size-xl: 16px;
$f-size-l: 15px;
$f-size: 14px;
$f-size-s: 13px;
$f-size-xs: 12px;
$f-size-xxs: 11px;

// Base Measures

$b-line-height: 1.5;
$b-margin-bottom: 1.5em;

// =============================================================================
// Respnsive typography
// www.smashingmagazine.com/2015/06/responsive-typography-with-sass-maps/
// null value for mobile first without mq (something like xs)
// used for font-size mixin
// =============================================================================
$font-breakpoints: $primary-breakpoints;

$displayxl-font-sizes: (
  null : (3rem, 1),
  sm : 4rem,
  md : 5rem,
  lg : 6rem
);

$display1-font-sizes: (
  null : (2rem, 1.3),
  md : 2.5rem,
  lg : (3rem, 1.2)
);

$display2-font-sizes: (
  null : (1.75rem, 1.3),
  md : 2.25rem,
  lg : (2.75rem, 1.2)
);

$display3-font-sizes: (
  null : (1.5rem, 1.3),
  md : 2rem,
  lg : 2.5rem
);

$h1-font-sizes: (
  null : (1.5rem, 1.3),
  md : (1.75rem, 1.3),
  lg : (2.25rem, 1.2)
);
$h2-font-sizes: (
  null : (1.25rem, 1.4),
  md : (1.5rem, 1.4),
  lg : (1.75rem, 1.3)
);
$h3-font-sizes: (
  null : (1.125rem, 1.4),
  md : (1.25rem, 1.5),
  lg : (1.5rem, 1.4)
);

$note-font-sizes: (
  null : (0.75rem, 1.4),
  md : ( 0.875rem, 1.5)
);
$h4-font-sizes: (null : (1.063rem, 1.5), md : (1.188rem, 1.5), lg : 1.4rem);
$h5-font-sizes: (null : (1rem, 1.5), md : (1.125rem, 1.6));
$h6-font-sizes: (null : (0.875rem, 1.6), md : 1rem);
$p-font-sizes: (null : (0.875rem, 1.7), md : 16px);
