.c-responsive-image {
  position: relative;
  overflow: hidden;

  &__lq {
    width: 100%;
    display: block;
    filter: blur(2px);
    transition: all 0s linear 0.5s;
  }
  &__hq {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    opacity: 0;
    transition: opacity .6s ease 0s;
    width: 100.3%;

    &.lazyloaded {
      opacity: 1;
    }
  }
  // &__hq.lazyloaded + &__lq {
  //   opacity: 0;
  //   filter: none;
  // }

  // Variations
  &.js-parent-lazyloaded {
    .c-responsive-image__lq {
      opacity: 0;
      filter: none;
    }
  }
}
