.f-icons {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin: 0 0 2rem;
  padding: 0;

  li {
    flex: 0 1 240px;
    padding: 1rem;
    text-align: center;
  }

  img {
    width: 48px;
    height: auto;
  }
  p {
    padding-top: 12px;
    font-size: 12px;
    color: gray;
  }
}
