<section class="c-pricing-table-outlined is-annual">
  <div class="container">
    <div class="c-pricing-table-outlined__button-group pb-3 pb-md-5">
      {{> button-group.default}}
    </div>
    <!-- /__button-group-->

    <div class="c-pricing-table-outlined__main row py-3 py-md-4">

      <div class="col-md-4 c-card-pricing-outlined c-pricing-table-outlined mb-5 mb-md-0">
        <div class="c-pricing-table-outlined__item is-light">
          <div class="c-pricing-table-outlined__item__header">
            <h2 class="c-pricing-table-outlined__item__headline h3">Rechnung</h2>
            <span class="c-pricing-table-outlined__item__price monthly"><strong>8,90 €</strong> <span class="h4 font-weight-light">/ Monat</span></span>
            <span class="c-pricing-table-outlined__item__price annual"><strong>8,90 €</strong> <span class="h4 font-weight-light">/ Monat</span></span>
            <span class="c-pricing-table-outlined__item__price bi-annual"><strong>8,90 €</strong> <span class="h4 font-weight-light">/ Monat</span></span>
          </div>
          <!-- /.c-pricing-table-outlined__item__header -->
          <div class="c-pricing-table-outlined__item__body">
            <span class="c-pricing-table-outlined__note">Perfekt für Macher, die ihre Rechnungen schnell & einfach erstellen wollen.</span>
            <hr>
            <span class="c-pricing-table-outlined__other-features mb-3 pt-md-2">TOPFUNKTIONEN:</span>
            <ul class="c-pricing-table-outlined__features mb-md-4">
              <li>Angebote und Rechnungen</li>
              <li>Integrierter Postversand</li>
              <li>Steuerberater-Zugang</li>
              <li>DATEV-Export</li>
              <li>Kundenverwaltungt</li>
              <li>Zahlungserinnerung</li>
              <li>Gutschriften / Stornorechungen</li>
            </ul>
            <hr>
            <div class="c-pricing-table-outlined__item__actions py-md-2">
                <a class="c-btn c-btn--primary js-open-signup-modal" title="Kostenlos testen">Kostenlos testen</a>
                <span class="c-cta-bg__note">oder kostenlosen <a href="#1">Beratungstermin buchen</a></span>
            </div>
          </div>
          <!-- /.c-pricing-table-outlined__item__body -->
        </div>
        <!-- .c-pricing-table-outlined__item -->
      </div>
      <!-- /.col -->

      <div class="col-md-4 c-card-pricing-outlined c-pricing-table-outlined c-card-pricing-outlined__popular  mb-5 mb-md-0">
        <div class="c-pricing-table-outlined__item is-popular">
            <span class="c-pricing-table-outlined__item__popular">Meist gewählt</span>
          <div class="c-pricing-table-outlined__item__header">
            <h2 class="c-pricing-table-outlined__item__headline h3">Buchhaltung</h2>
            <span class="c-pricing-table-outlined__item__price monthly"><strong>17,90 €</strong> <span class="h4 font-weight-light">/ Monat</span></span>
            <span class="c-pricing-table-outlined__item__price annual"><strong>16,90 €</strong> <span class="h4 font-weight-light">/ Monat</span></span>
            <span class="c-pricing-table-outlined__item__price bi-annual"><strong>16,90 €</strong> <span class="h4 font-weight-light">/ Monat</span></span>
          </div>
          <!-- /.c-pricing-table-outlined__item__header -->
          <div class="c-pricing-table-outlined__item__body">
            <span class="c-pricing-table-outlined__note">Perfekt für alle, die ihre Buchhaltung einfach selbst erledigen möchten.</span>
            <hr>
            <span class="c-pricing-table-outlined__other-features mb-3 pt-md-2">TOPFUNKTIONEN:</span>
            <ul class="c-pricing-table-outlined__features mb-md-4">
              <li><strong>Alle Funktionen aus Rechnung</strong></li>
              <li>Digitale Belegverwaltung</li>
              <li>Intelligente Belegerkennung</li>
              <li>USt-Voranmeldung</li>
              <li>EÜR & GuV</li>
              <li>Kassenbuch</li>
              <li>Online Banking</li>
            </ul>
            <hr>
            <div class="c-pricing-table-outlined__item__actions py-md-2">
                <a class="c-btn c-btn--primary js-open-signup-modal" title="Kostenlos testen">Kostenlos testen</a>
                <span class="c-cta-bg__note">oder kostenlosen <a href="#1">Beratungstermin buchen</a></span>
            </div>
          </div>
          <!-- /.c-pricing-table-outlined__item__body -->
        </div>
        <!-- .c-pricing-table-outlined__item -->
      </div>
      <!-- /.col -->

      <div class="col-md-4 c-card-pricing-outlined c-pricing-table-outlined new mb-5 mb-md-0">
          <span class="badge-new">neu</span>
        <div class="c-pricing-table-outlined__item is-dark">

          <div class="c-pricing-table-outlined__item__header">
            <h2 class="c-pricing-table-outlined__item__headline h3">Buchhaltung Plus</h2>
            <span class="c-pricing-table-outlined__item__price annual"><strong>29,90 €</strong> <span class="h4 font-weight-light">/ Monat</span></span>
            <span class="c-pricing-table-outlined__item__price monthly"><strong>39,90 €</strong> <span class="h4 font-weight-light">/ Monat</span></span>
            <span class="c-pricing-table-outlined__item__price bi-annual"><strong>29,90 €</strong> <span class="h4 font-weight-light">/ Monat</span></span>
          </div>
          <!-- /.c-pricing-table-outlined__item__header -->
          <div class="c-pricing-table-outlined__item__body">
            <span class="c-pricing-table-outlined__note">Perfekt für Unternehmer, die beim Thema Buchhaltung Zeit und Geld sparen wollen.</span>
            <hr>
            <span class="c-pricing-table-outlined__other-features mb-3 pt-md-2">TOPFUNKTIONEN: </span>
            <ul class="c-pricing-table-outlined__features mb-md-4">
              <li><strong>Alle Funktionen aus Buchhaltung</strong></li>
              <li>Unbegrenzte Nutzer</li>
              <li>Ein weiteres Briefpapier</li>
              <li>Zeiterfassung</li>
              <li>Mahnstufen</li>
              <li>Summen-Salden-Liste</li>
              <li>BWA</li>
            </ul>
            <hr>
            <div class="c-pricing-table-outlined__item__actions py-md-2">
                <a class="c-btn c-btn--primary js-open-signup-modal" title="Kostenlos testen">Kostenlos testen</a>
                <span class="c-cta-bg__note">oder kostenlosen <a href="#1">Beratungstermin buchen</a></span>
            </div>
          </div>
          <!-- /.c-pricing-table-outlined__item__body -->
        </div>
        <!-- .c-pricing-table-outlined__item -->
      </div>
      <!-- /.col -->

    </div>
    <!-- /.c-pricing-table-outlined__main -->
  </div>
  <!-- /.container -->
</section>
