<section class="c-pricing-table">
  <div class="container">
    <div class="c-pricing-table__toggle">
      <div class="c-switch" role="switch" aria-checked="true">
          <span class="c-switch__label c-switch__label--left">Annual <span class="c-switch__tooltip is-primary">2 months free</span></span>
        <span class="c-switch__core"><span class="c-switch__button"></span></span>
        <span class="c-switch__label c-switch__label--right is-active">Monthly</span>
      </div>
      <!-- /.c-switch -->
    </div>
    <!-- /.c-pricing-table__toggle -->

    <div class="c-pricing-table__main row py-3 py-md-4">
      <div class="col-md-4">
        <div class="c-pricing-table__item is-light">
          <div class="c-pricing-table__item__header">
            <h2 class="c-pricing-table__item__headline h3">Rechnung</h2>
            <span class="c-pricing-table__item__price annual">5.90 €</span>
            <span class="c-pricing-table__item__price monthly">7.90 €</span>
            <p class="c-pricing-table__item__price-type annual">per month billed annually</p>
            <p class="c-pricing-table__item__price-type monthly">per month billed monthly</p>
          </div>
          <!-- /.c-pricing-table__item__header -->
          <div class="c-pricing-table__item__body">
            <span class="c-pricing-table__note">Perfekt für Macher, die ihre Rechnungen schnell & einfach erstellen wollen.</span>
            <hr>
            <ul class="c-pricing-table__features mb-md-4">
              <li>Rechnungen</li>
              <li>Angebote</li>
              <li>Mahnungen</li>
              <li>Kundenverwaltung</li>
              <li>DATEV-Export</li>
              <li>Kassenbuch</li>
              <li>1 Benutzer</li>
            </ul>
            <hr>
            <div class="c-pricing-table__item__actions py-md-2">
                <a class="c-btn c-btn--primary monthly" href="#" title="Kostenlos testen">Kostenlos testen</a>
                <a class="c-btn c-btn--primary annual" href="#" title="Kostenlos now">Register now</a>
            </div>
          </div>
          <!-- /.c-pricing-table__item__body -->
        </div>
        <!-- .c-pricing-table__item -->
      </div>
      <!-- /.col -->

      <div class="col-md-4">
        <div class="c-pricing-table__item is-popular">
          <div class="c-pricing-table__item__header">
            <span class="c-pricing-table__item__popular">Most Popular</span>
            <h2 class="c-pricing-table__item__headline h3">Buchhaltung</h2>
            <span class="c-pricing-table__item__price annual">7.90 €</span>
            <span class="c-pricing-table__item__price monthly">9.90 €</span>
            <p class="c-pricing-table__item__price-type annual">per month billed annually</p>
            <p class="c-pricing-table__item__price-type monthly">per month billed monthly</p>
          </div>
          <!-- /.c-pricing-table__item__header -->
          <div class="c-pricing-table__item__body">
            <span class="c-pricing-table__note">Perfekt für alle, die ihre Buchhaltung einfach selbst erledigen möchten.</span>
            <hr>
            <span class="c-pricing-table__other-features mb-3 pt-md-2">Buchhaltung programm +</span>
            <ul class="c-pricing-table__features mb-md-4">
              <li>Wiederkehrende Rechnungen</li>
              <li>Auftragsbestätigungen</li>
              <li>Lieferscheine</li>
              <li>Digitale Belegverwaltung</li>
              <li>Intelligenter Belegerkennung</li>
              <li>Kassenbuch</li>
              <li>USt-Voranmeldung</li>
              <li>EÜR</li>
              <li>Anlagebuchführung</li>
              <li>Online Banking*</li>
              <li>3 Benutzer</li>
            </ul>
            <hr>
            <div class="c-pricing-table__item__actions py-md-2">
                <a class="c-btn c-btn--primary monthly" href="#" title="Kostenlos testen">Kostenlos testen</a>
                <a class="c-btn c-btn--primary annual" href="#" title="Kostenlos now">Register now</a>
            </div>
          </div>
          <!-- /.c-pricing-table__item__body -->
        </div>
        <!-- .c-pricing-table__item -->
      </div>
      <!-- /.col -->

      <div class="col-md-4">
        <div class="c-pricing-table__item is-dark">
          <div class="c-pricing-table__item__header">
            <h2 class="c-pricing-table__item__headline h3">Warenwirtschaft</h2>
            <span class="c-pricing-table__item__price annual">49.90 €</span>
            <span class="c-pricing-table__item__price monthly">59.90 €</span>
            <p class="c-pricing-table__item__price-type annual">per month billed annually</p>
            <p class="c-pricing-table__item__price-type monthly">per month billed monthly</p>
          </div>
          <!-- /.c-pricing-table__item__header -->
          <div class="c-pricing-table__item__body">
            <span class="c-pricing-table__note">Perfekt für Unternehmer, die den vollen Funktionsumfang von nutzen möchten.</span>
            <hr>
            <span class="c-pricing-table__other-features mb-3 pt-md-2">Rechnungs programm +</span>
            <ul class="c-pricing-table__features mb-md-4">
              <li>Lagerverwaltung</li>
              <li>Bestandsbuchungen</li>
              <li>Lieferantenpreise</li>
              <li>Kundenpreise</li>
              <li>Lieferanten- & Artikelzuordnung</li>
              <li>10 Benutzer</li>
            </ul>
            <hr>
            <div class="c-pricing-table__item__actions py-md-2">
                <a class="c-btn c-btn--primary monthly" href="#" title="Kostenlos testen">Kostenlos testen</a>
                <a class="c-btn c-btn--primary annual" href="#" title="Kostenlos now">Register now</a>
            </div>
          </div>
          <!-- /.c-pricing-table__item__body -->
        </div>
        <!-- .c-pricing-table__item -->
      </div>
      <!-- /.col -->

    </div>
    <!-- /.c-pricing-table__main -->
  </div>
  <!-- /.container -->
</section>
