<section class="c-pricing-table is-monthly">
  <div class="container">
    <div class="c-pricing-table__button-group pb-3 pb-md-5">
      {{> button-group.pricing}}
    </div>
    <!-- /__button-group-->

    <div class="c-pricing-table__main row py-3 py-md-4">
      <div class="col-md-4">
        <div class="c-pricing-table__item is-light">
          <div class="c-pricing-table__item__header">
            <h2 class="c-pricing-table__item__headline h3">Einnahmen</h2>
            <span class="c-pricing-table__item__price monthly">ab 6,90 €</span>
            <span class="c-pricing-table__item__price annual">ab 12,90 €</span>
            <p class="c-pricing-table__item__price-type">pro Monat, jährliche Abrechnung</p>
          </div>
          <!-- /.c-pricing-table__item__header -->
          <div class="c-pricing-table__item__body">
            <span class="c-pricing-table__note">Perfekt für Macher, die ihre Rechnungen schnell & einfach erstellen
              wollen.</span>
            <hr>
            <ul class="c-pricing-table__features monthly mb-md-4">
              <li><strong>Ein Benutzer</strong></li>
              <li>Kundenverwatlung</li>
              <li>Angebote</li>
              <li>Rechnungen</li>
              <li>Online Banking</li>
              <li class="is-not">Automatische Verbuchung</li>
              <li class="is-not">Kostenstellen</li>
              <li class="is-not">Gutschriften</li>
              <li class="is-not">Mahnwesen</li>
            </ul>

            <ul class="c-pricing-table__features annual mb-md-4">
              <li><strong>Drei Benutzer (inkl.)</strong></li>
              <li>Kundenverwatlung</li>
              <li>Angebote</li>
              <li>Rechnungen</li>
              <li>Online Banking</li>
              <li>Automatische Verbuchung</li>
              <li>Kostenstellen</li>
              <li>Gutschriften</li>
              <li>Mahnwesen</li>
            </ul>
          </div>
          <!-- /.c-pricing-table__item__body -->
        </div>
        <!-- .c-pricing-table__item -->
      </div>
      <!-- /.col -->

      <div class="col-md-4">
        <div class="c-pricing-table__item is-popular">
          <div class="c-pricing-table__item__header">
            <span class="c-pricing-table__item__popular">Meist gewählt</span>
            <h2 class="c-pricing-table__item__headline h3">Buchhaltung</h2>
            <span class="c-pricing-table__item__price monthly">ab 19,90 €</span>
            <span class="c-pricing-table__item__price annual">ab 49,90 €</span>
            <p class="c-pricing-table__item__price-type">pro Monat, jährliche Abrechnung</p>
          </div>
          <!-- /.c-pricing-table__item__header -->
          <div class="c-pricing-table__item__body">
            <span class="c-pricing-table__note">Perfekt für alle, die ihre Buchhaltung einfach selbst erledigen wollen.</span>
            <hr>
            <span class="c-pricing-table__other-features mb-3 pt-md-2">Alle Funktionen aus Rechnung +</span>
            <ul class="c-pricing-table__features monthly mb-md-4">
              <li><strong>Ein Benutzer</strong></li>
              <li>Belege verbuchen</li>
              <li>DATEV-Export</li>
              <li>Einnahme-Überschuss-Rechnung</li>
              <li>Gewinn und Verlust Rechnung</li>
              <li>Umsatzsteuervoranmeldung</li>
              <li>Anlagebuchführung</li>
              <li>Steuerberaterzugang</li>
              <li>Kassenbuch</li>
              <li class="is-not">Anlage / Abschreibungen</li>
              <li class="is-not">Direktverbuchung</li>
              <li class="is-not">Mehrere Kassen</li>
              <li class="is-not">Eigene Buchungskonten</li>
            </ul>

            <ul class="c-pricing-table__features annual mb-md-4">
              <li><strong>Drei Benutzer (inkl.)</strong></li>
              <li>Belege verbuchen</li>
              <li>DATEV-Export</li>
              <li>Einnahme-Überschuss-Rechnung</li>
              <li>Gewinn- und Verlustrechnung</li>
              <li>Umsatzsteuervoranmeldung</li>
              <li>Anlagebuchführung</li>
              <li>Steuerberaterzugang</li>
              <li>Kassenbuch</li>
              <li>Anlage / Abschreibungen</li>
              <li>Direktverbuchung</li>
              <li>Mehrere Kassen</li>
              <li>Eigene Buchungskonten</li>
            </ul>
          </div>
          <!-- /.c-pricing-table__item__body -->
        </div>
        <!-- .c-pricing-table__item -->
      </div>
      <!-- /.col -->

      <div class="col-md-4">
        <div class="c-pricing-table__item is-dark">
          <div class="c-pricing-table__item__header">
            <h2 class="c-pricing-table__item__headline h3">Ausgaben</h2>
            <span class="c-pricing-table__item__price monthly">ab 6,90 €</span>
            <span class="c-pricing-table__item__price annual">ab 12,90 €</span>
            <p class="c-pricing-table__item__price-type">pro Monat, jährliche Abrechnung</p>
          </div>
          <!-- /.c-pricing-table__item__header -->
          <div class="c-pricing-table__item__body">
            <span class="c-pricing-table__note">Perfekt für Unternehmer, die den vollen Funktionsumfang von nutzen
              möchten.</span>
            <hr>
            <span class="c-pricing-table__other-features mb-3 pt-md-2">Alle Funktionen aus Buchhaltung +</span>
            <ul class="c-pricing-table__features monthly mb-md-4">
              <li><strong>Ein Benutzer</strong></li>
              <li>Kundenverwaltung</li>
              <li>Belege erfassen</li>
              <li>Belege per App erfassen</li>
              <li>Online Banking</li>
              <li class="is-not">Automatische Verbuchung</li>
              <li class="is-not">Kostenstellen</li>
              <li class="is-not">Gutschriften</li>
              <li class="is-not">Sync zu Dropbox</li>
            </ul>

            <ul class="c-pricing-table__features annual mb-md-4">
              <li><strong>Drei Benutzer (inkl.)</strong></li>
              <li>Kundenverwaltung</li>
              <li>Belege erfassen</li>
              <li>Belege per App erfassen</li>
              <li>Online Banking</li>
              <li>Automatische Verbuchung</li>
              <li>Kostenstellen</li>
              <li>Gutschriften</li>
              <li>Synchronisation Dropbox</li>
            </ul>
          </div>
          <!-- /.c-pricing-table__item__body -->
        </div>
        <!-- .c-pricing-table__item -->
      </div>
      <!-- /.col -->

    </div>
    <!-- /.c-pricing-table__main -->

    <div class="text-center">
      <p class="text-note text-gray">Unsere Preise sind Nettopreise, exklusive USt.</p>
    </div>
  </div>
  <!-- /.container -->
</section>
