<section class="c-pricing-table is-monthly">
  <div class="container">
    <div class="c-pricing-table__button-group pb-3 pb-md-5">
      <div class="c-button-group">
        <button data-class="is-monthly" class="js-is-active">12 monate</button>
        <button data-class="is-annual">24 monate</button>
      </div>
      <!-- /.c-button-group -->
    </div>
    <!-- /__button-group-->

    <div class="c-pricing-table__main row py-3 py-md-4">
      <div class="col-md-4">
        <div class="c-pricing-table__item is-light">
          <div class="c-pricing-table__item__header">
            <h2 class="c-pricing-table__item__headline h3">Rechnung</h2>
            <div class="c-pricing-table__item__price-wp monthly">
                <span class="c-pricing-table__item__price-wp__old">90,00€</span>
                <span class="c-pricing-table__item__price-wp__sale">6,63 €</span>
              </div>
            <div class="c-pricing-table__item__price-wp annual">
              <span class="c-pricing-table__item__price-wp__old">156,00 €</span>
              <span class="c-pricing-table__item__price-wp__sale">117,00 €</span>
            </div>
            <p class="c-pricing-table__item__price-type">jährliche Abrechnung</p>
          </div>
          <!-- /.c-pricing-table__item__header -->
          <div class="c-pricing-table__item__body">
            <span class="c-pricing-table__note u-text-center">Perfekt für Macher, die ihre Rechnungen schnell & einfach erstellen wollen.</span>
              <div class="u-text-center pt-3 pb-2">
                <span class="monthly"><a class="c-btn c-btn--outline" href="#1">Jetzt Buchen</a></span>
                <span class="annual"><a class="c-btn c-btn--outline" href="#2">Jetzt Buchen</a></span>
              </div>
            <hr>
            <ul class="c-pricing-table__features mb-md-4">
              <li>Rechnungen</li>
              <li>Angebote</li>
              <li>Zahlungserinnerung</li>
              <li>Gutschriften / Stornorechnungen</li>
              <li>Kunden</li>
              <li>Kundenverwaltung</li>
              <li>DATEV-Export</li>
              <li>Steuerberater-Zugang</li>
              <li>1 Benutzer</li>
            </ul>

            <div class="u-text-center py-2">
              <span class="monthly"><a class="c-btn c-btn--primary" href="#1">Jetzt Buchen</a></span>
              <span class="annual"><a class="c-btn c-btn--primary" href="#2">Jetzt Buchen</a></span>
            </div>
          </div>
          <!-- /.c-pricing-table__item__body -->
        </div>
        <!-- .c-pricing-table__item -->
      </div>
      <!-- /.col -->

      <div class="col-md-4">
        <div class="c-pricing-table__item is-popular">
          <div class="c-pricing-table__item__header">
            <span class="c-pricing-table__item__popular">Meist gewählt</span>
            <h2 class="c-pricing-table__item__headline h3">Buchhaltung</h2>
            <div class="c-pricing-table__item__price-wp monthly">
              <span class="c-pricing-table__item__price-wp__old">180,00 €</span>
              <span class="c-pricing-table__item__price-wp__sale">135,00 €</span>
            </div>
            <div class="c-pricing-table__item__price-wp annual">
              <span class="c-pricing-table__item__price-wp__old">324,00 €</span>
              <span class="c-pricing-table__item__price-wp__sale">243,00 €</span>
            </div>
            <p class="c-pricing-table__item__price-type">jährliche Abrechnung</p>
          </div>
          <!-- /.c-pricing-table__item__header -->
          <div class="c-pricing-table__item__body">
            <span class="c-pricing-table__note u-text-center">Perfekt für alle, die ihre Buchhaltung einfach selbst erledigen wollen.</span>
            <div class="u-text-center pt-3 pb-2">
              <span class="monthly"><a class="c-btn c-btn--outline" href="#1">Jetzt Buchen</a></span>
              <span class="annual"><a class="c-btn c-btn--outline" href="#2">Jetzt Buchen</a></span>
            </div>
            <hr>
            <span class="c-pricing-table__other-features mb-3 pt-md-2">Alle Funktionen aus Rechnung +</span>
            <ul class="c-pricing-table__features mb-md-4">
              <li>Wiederkehrende Rechnungen</li>
              <li>Auftragsbestätigungen</li>
              <li>Lieferscheine</li>
              <li>Digitale Belegverwaltung</li>
              <li>Intelligente Belegerkennung</li>
              <li>USt-Voranmeldung</li>
              <li>Einnahmen-Überschuss-Rechnung</li>
              <li>Gewinn- und Verlustrechnung</li>
              <li>Anlagebuchführung</li>
              <li>Kassenbuch</li>
              <li>Online Banking</li>
              <li>3 Benutzer</li>
            </ul>

            <div class="u-text-center py-2">
              <span class="monthly"><a class="c-btn c-btn--primary" href="#1">Jetzt Buchen</a></span>
              <span class="annual"><a class="c-btn c-btn--primary" href="#2">Jetzt Buchen</a></span>
            </div>
          </div>
          <!-- /.c-pricing-table__item__body -->
        </div>
        <!-- .c-pricing-table__item -->
      </div>
      <!-- /.col -->

      <div class="col-md-4">
        <div class="c-pricing-table__item is-dark">
          <div class="c-pricing-table__item__header">
            <h2 class="c-pricing-table__item__headline h3">Warenwirtschaft</h2>
            <div class="c-pricing-table__item__price-wp monthly">
              <span class="c-pricing-table__item__price-wp__old">516,00 €</span>
              <span class="c-pricing-table__item__price-wp__sale">387,00 €</span>
            </div>
            <div class="c-pricing-table__item__price-wp annual">
              <span class="c-pricing-table__item__price-wp__old">948,00 €</span>
              <span class="c-pricing-table__item__price-wp__sale">711,00 €</span>
            </div>
            <p class="c-pricing-table__item__price-type">jährliche Abrechnung</p>
          </div>
          <!-- /.c-pricing-table__item__header -->
          <div class="c-pricing-table__item__body">
            <span class="c-pricing-table__note u-text-center">Perfekt für Unternehmer, die den vollen Funktionsumfang nutzen wollen.</span>
            <div class="u-text-center pt-3 pb-2">
              <span class="monthly"><a class="c-btn c-btn--outline" href="#1">Jetzt Buchen</a></span>
              <span class="annual"><a class="c-btn c-btn--outline" href="#2">Jetzt Buchen</a></span>
            </div>
            <hr>
            <span class="c-pricing-table__other-features mb-3 pt-md-2">Alle Funktionen aus Buchhaltung +</span>
            <ul class="c-pricing-table__features mb-md-4">
              <li>Lagerverwaltung</li>
              <li>Bestandsbuchungen</li>
              <li>Lieferantenpreise</li>
              <li>Kundenpreise</li>
              <li>Lieferanten- &amp; Artikelzuordnung</li>
              <li>10 Benutzer</li>
            </ul>

            <div class="u-text-center py-2">
              <span class="monthly"><a class="c-btn c-btn--primary" href="#1">Jetzt Buchen</a></span>
              <span class="annual"><a class="c-btn c-btn--primary" href="#2">Jetzt Buchen</a></span>
            </div>
          </div>
          <!-- /.c-pricing-table__item__body -->
        </div>
        <!-- .c-pricing-table__item -->
      </div>
      <!-- /.col -->

    </div>
    <!-- /.c-pricing-table__main -->

    <div class="text-center">
      <p class="text-note text-gray">Unsere Preise sind Nettopreise, exklusive USt.</p>
    </div>
  </div>
  <!-- /.container -->
</section>
