<div class="c-countdown--wp u-text-center">
  <div class="c-countdown c-countdown--year-end">
    <a class="c-countdown__cover-link" href="/pages/sign-up-2.html"></a>
     <div class="c-countdown__content--blackfriday c-countdown__content ">
      <!-- <div class="c-countdown__content__media">
        <figure class="c-countdown__figure-year-end"></figure>
      </div> -->
        <div class="c-countdown__content__countdown--blackfriday c-countdown__content__countdown">
        <div style="width: 100%;">
          <script>
            countDown1 = new CountDownObject(); //add countdown as object
            countDown1.TIME_ZONE = +1, // your time zone (-12 ... +14)

              // Your date and time
              countDown1.SET_YOUR_SEC = 0,
              countDown1.SET_YOUR_MIN = 0,
              countDown1.SET_YOUR_HOUR = 21,
              countDown1.SET_YOUR_DAY = 9,
              countDown1.SET_YOUR_MONTH = 12,
              countDown1.SET_YOUR_YEAR = 2019,

              countDown1.NUM_OF_ELEMENTS = 8, // number of flip-elements(from 1 to 9)
              countDown1.TIME_ANIMATION = 950, // time of flip animation in milliseconds(from 50 to 950)
              countDown1.BACK_COLOR = "#f14338", // flip-element back color
              countDown1.DIGITS_COLOR = "#ffffff", // digits color on flip-elements
              countDown1.TEXT_COLOR = "#777777", // text color under flip elements(seconds, minutes and etc.)
              countDown1.IS_DYNAMIC_COLOR = false, // back color will vary(true or false)

              countDown1.CANVAS_NAME = "CountDownCanvas"; //canvas name in html-code

            countDown1.Start(); //start countdown
          </script>
        </div>
      </div>
      <!-- /.c-countdown__content__countdown -->
    </div>
    <!-- /__content -->
  </div>
  <!-- /.c-countdown -->
</div>
