.u-icon-info {
  vertical-align: middle;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 2px;
  font-size: 0;
  opacity: 0.7;
  background-position: center center;
  background-image: url('#{$images}/icons/ic_info_outline_black_24px.svg');
  background-size: 20px auto;
  cursor: pointer;
}

.u-icon-arrow-down {
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-left: 2px;
  font-size: 0;
  opacity: 0.7;
  cursor: pointer;

  &::before {
    display: inline-block;
    content: "";
    border: 6px solid transparent;
    width: 0;
    height: 0;
    font-size: 0;
    border-top-color: inherit;
    margin-top: 4px;
  }
}

.u-icon-arrow-up {
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-left: 2px;
  font-size: 0;
  opacity: 0.7;
  cursor: pointer;

  &::before {
    display: inline-block;
    content: "";
    border: 6px solid transparent;
    width: 0;
    height: 0;
    font-size: 0;
    border-bottom-color: inherit;
    margin-bottom: 8px;
  }
}
