.u-text-gray {
  color: $c-text-darkgray;
}

.u-text-center {
  text-align: center;
}
.u-text-underline {
  text-decoration: underline;
}

.u-text-regular {
  font-weight: $f-weight-regular;
}

.u-text-note {
  @include font-size($note-font-sizes);
}

.u-text-semibold {
  font-weight: $f-weight-semibold;
}

.u-text-bold {
  font-weight: $f-weight-bold;
}

.u-text-white {
  color: #ffffff !important;
}

.u-text-inherit {
  color: inherit !important;
}
