<div class="l-section--padding l-section--background-light">
  <div class="container">
      <div class="row justify-content-center pb-4">
        <div class="col-md-7">
            <div class="c-section-header">
              <h1 class="c-section-header__title h1">Steuerberater & Buchhalter</h1>
              <p class="c-section-header__description h5 mt-2 mb-3">Außerdem erstellt er für dein Unternehmen den Jahresabschluss. Durch eine gute Beratung trägt ein Steuerberater maßgeblich zum Erfolg deines Unternehmens bei.</p>
            </div>
            <!-- /.c-section-header -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="c-table-shadow">
        <table class="c-table c-table--companies">
          <tbody>
            {{#each accounting_companies}}
            <tr>
              <td class="c-table__media">
                <img class="img-fluid" src="{{../path.images.demo}}/accounting-companies/{{image}}" alt="">
              </td>
              <td class="c-table__main">
                <a class="c-table__headline h5 mb-2" href="#0">{{title}}</a>
                <span class="c-table__note d-block">{{note}}</span>
                <hr>
                <ul class="c-table__details-list">
                  <li><a href="#">Website</a></li>
                  {{#each contact}}
                  <li>{{.}}</li>
                  {{/each}}
                </ul>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <!-- /.c-table-shadow -->

      <div class="py-5">
        <span class="text-note text-gray">Nicht den passenden Steuerberater gefunden? Probier' es beim <a href="#0">Steuerberater Suchservice von Datev</a>.</span>
      </div>
    </div>
    <!-- /.container -->
</div>
