<div class="c-addons container">
  <h1>Addons</h1>
  <div class="container c-addons__intro">
    <p>Du kannst sevDesk jederzeit mit verschiedenen, kostenpflichtigen Addons erweitern.<br />
      Im Tarif Buchhaltung Plus sind zahlreiche Addons kostenfrei inbegriffen.</p>
  </div>
  <div class="container c-addons__content">
    <div class="row c-addons__row">
      <div class="col-6 col-md-2 pr-md-4 mx-auto">
          <img class="img-fluid" src="https://cdn.sevdesk.de/uploads/lager-inventar-new-compressor-cropped.png" alt="Warenwirtschaft" />
      </div>
      <div class="col-sm-7">
          <h3 class="c-addons__heading">Warenwirtschaft</h3>
          <p class="c-addons__desc">Vollfunktionsfähiges Inventar mit Bestandsbuchung, mit Anlegen von Lieferanten- und Kundenpreisen und mit der Zuordnung von Lieferantenartikeln zu verschiedenen Kategorien.</p>
      </div>
      <div class="col-sm-3 c-addons__price">
        <span class="c-addons__pricing"><span class="c-addons__value"><strong>19,90 €</strong></span> / Monat</span>
      </div>
    </div>
    <div class="row c-addons__row">
        <div class="col-6 col-md-2 pr-md-4 mx-auto">
            <img class="img-fluid" src="https://cdn.sevdesk.de/uploads/rechnungsdesign-new-compressor-cropped.png" alt="Warenwirtschaft" />
        </div>
        <div class="col-sm-7">
          <h3 class="c-addons__heading">Individuelles Briefpapier</h3>
            <p class="c-addons__desc">Unser Kundenservice erstellt individuelle Briefpapier-Layouts</p>
            <div class="c-addons__radios">
              <form>
                  <div class="form-group c-addons__radiogroup">
                      <input type="radio" value="1" id="briefpapier1" class="c-addons__bpi" name="layout" checked="checked">
                      <label for="briefpapier1"> 1 inviduelles Layout</label>
                  </div>
                  <div class="form-group c-addons__radiogroup">
                      <input type="radio" value="2" id="briefpapier2" class="c-addons__bpi" name="layout">
                      <label for="briefpapier2"> 2 individuelle Layouts</label>
                  </div>
                  <div class="form-group c-addons__radiogroup">
                      <input type="radio" value="3" id="briefpapier3" class="c-addons__bpi" name="layout">
                      <label for="briefpapier3"> ab 3 individuellen Layouts</label>
                  </div>
              </form>
            </div>
        </div>
        <div class="col-sm-3 c-addons__price">
          <span class="c-addons__pricing str-hook-bp"><span class="c-addons__value"><strong>19,90 €</strong></span> / Monat</span>
        </div>
    </div>
    <div class="row c-addons__row">
        <div class="col-6 col-md-2 pr-md-4 mx-auto">
            <img class="img-fluid" src="https://cdn.sevdesk.de/uploads/Zeiterfassung-icon-neu-cropped.png" alt="Warenwirtschaft" />
        </div>
        <div class="col-sm-7">
            <h3 class="c-addons__heading">Zeiterfassung</h3>
            <p class="c-addons__desc">Vollfunktionsfähiges Inventar mit Bestandsbuchung, mit Anlegen von Lieferanten- und Kundenpreisen und mit der Zuordnung von Lieferantenartikeln zu verschiedenen Kategorien.</p>
        </div>
        <div class="col-sm-3 c-addons__price">
          <span class="c-addons__pricing"><span class="c-addons__value"><strong>19,90 €</strong></span> / Monat</span>
        </div>
    </div>
    <div class="row c-addons__row">
        <div class="col-6 col-md-2 pr-md-4 mx-auto">
            <img class="img-fluid" src="https://cdn.sevdesk.de/uploads/mahnung-new-compressor-cropped.png" alt="Warenwirtschaft" />
        </div>
        <div class="col-sm-7">
            <h3 class="c-addons__heading">Mahnungsstufen</h3>
            <p class="c-addons__desc">Vollfunktionsfähiges Inventar mit Bestandsbuchung, mit Anlegen von Lieferanten- und Kundenpreisen und mit der Zuordnung von Lieferantenartikeln zu verschiedenen Kategorien.</p>
        </div>
        <div class="col-sm-3 c-addons__price">
          <span class="c-addons__pricing"><span class="c-addons__value"><strong>19,90 €</strong></span> / Monat</span>
        </div>
    </div>
    <div class="row c-addons__row">
        <div class="col-6 col-md-2 pr-md-4 mx-auto">
            <img class="img-fluid" src="https://cdn.sevdesk.de/uploads/kundenverwaltung-new-compressor-cropped.png" alt="Warenwirtschaft" />
        </div>
        <div class="col-sm-7">
            <h3 class="c-addons__heading">Benutzer</h3>
            <p class="c-addons__desc">Es lassen sich weitere Nutzer mit definierten Zugriffsrechten hinzufügen.</p>
              <div class="c-addons__radios">
                  <form>
                      <div class="form-group c-addons__radiogroup">
                          <input type="radio" value="1" id="nutzer1" class="c-addons__ni" name="layout" checked="checked">
                          <label for="nutzer1"> 1 weiterer Nutzer</label>
                      </div>
                      <div class="form-group c-addons__radiogroup">
                          <input type="radio" value="2" id="nutzer2" class="c-addons__ni" name="layout">
                          <label for="nutzer2"> 3 weitere Nutzer</label>
                      </div>
                      <div class="form-group c-addons__radiogroup">
                          <input type="radio" value="3" id="nutzer3" class="c-addons__ni" name="layout">
                          <label for="nutzer3"> Unbegrenzte Nutzer</label>
                      </div>
                  </form>
              </div>
          </div>
        <div class="col-sm-3 c-addons__price">
          <span class="c-addons__pricing str-hook-n"><span class="c-addons__value"><strong>19,90 €</strong></span> / Monat</span>
        </div>
    </div>
  </div>
</div>
