<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-lg-12">
      <div class="position-relative">
        <div class="c-birthday-signup-card c-advent-card mb-5">
          <div class="c-birthday-signup-card__media">
            <div class="pr-lg-4 mt-md-0 mt-3">
              <div class="pr-md-3 mr-lg-5">
                <img class="lazyload u-lazyload" id="adventImg" src="" alt="advents-aktion">
              </div>
              <i class="c-birthday-signup-card__winter-spacer mb-3"></i>
              <p class="h6 mb-4 pr-lg-5 u-text-regular" id="adventTitle">Hoppla, da ist was schiefgelaufen …</p>
              <div class="u-text-center mb-2 pr-lg-5">

              </div>
              <span class="u-text-note d-block" id="adventDesc">Unerwarteter Fehler</span>
            </div>
          </div>
          <div class="c-birthday-signup-card__content">
            <div class="c-birthday-signup-card__content__center mt-lg-2">
              <i class="c-birthday-signup-card__content__figure-advent-gifts"></i>
              {{> sign-up.default}}

              <div class="pb-4 pt-4 text-center">
                <p class="text-note mb-2"><strong>Keine automatische Verlängerung nach der Testphase.<br /> Keine
                    Kreditkarte
                    erforderlich.</strong></p>
                <p class="l-birthday-signup__note text-note u-text-gray">Mit der Anmeldung akzeptierst du die
                  <a href="#0">AGB</a> und die
                  <a href="#0">Datenschutzerklärung</a>.</p>
              </div>
            </div>
            <!-- /__content__center -->
          </div>
          <!-- /.c-birthday-signup-card__content -->
        </div>
        <!-- /.c-birthday-signup-card -->
      </div>
      <!-- .position-relative -->
      <div class="text-center mb-5">
        <span class="align-middle d-inline-block pr-2">Bereits Kunde bei sevDesk?</span>
        <a class="c-link-more" href="#">
          <span>Login</span>
        </a>
      </div>
      <!-- .text-center -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
