<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-lg-12">
      <div class="position-relative">
        <div class="u-text-center">
          <div class="c-birthday-signup-card__steps">
            <ul>
              <li><em>1.</em> kostenlos testen</li>
              <li><em>2.</em> Tarif buchen</li>
              <li><em>3.</em> Amazon Gutschein erhalten</li>
            </ul>
          </div>
          <!-- /.c-birthday-signup-card__steps -->
        </div>
        <div class="c-birthday-signup-card mb-5">
          <div class="c-birthday-signup-card__media">
              <div class="pr-lg-4 mt-md-0 mt-3">
                <div class="pr-md-3 mr-lg-5">
                  <img class="lazyload u-lazyload" src="{{path.images.default}}/amazon-aktion/aktionsseite-badge.png"
                  data-src="{{path.images.default}}/amazon-aktion/aktionsseite-badge.png"
                  alt="">
                </div>
                <i class="c-birthday-signup-card__winter-spacer mb-3"></i>
                <p class="h6 mb-4 pr-lg-5 u-text-regular">Sichere dir einen <strong>Amazon Gutschein</strong> als <strong>kostenlose Zugabe!</strong></p>
                <div class="u-text-center mb-2 pr-lg-5">

                </div>
                <span class="u-text-note d-block">*Durch die Anmeldung als Testnutzer über diese Seite erhältst du bei Buchung eines Tarifes über 12 oder 24 Monate automatisch einen Amazon-Gutschein im Wert von 25 €.</span>
              </div>
          </div>
          <div class="c-birthday-signup-card__content">
            <div class="c-birthday-signup-card__content__center mt-lg-2">
              <i class="c-birthday-signup-card__content__figure-amazon-aktion"></i>
              {{> sign-up.default}}

              <div class="pb-4 pt-4 text-center">
                <p class="text-note mb-2"><strong>Keine automatische Verlängerung nach der Testphase.<br /> Keine Kreditkarte
                  erforderlich.</strong></p>
                <p class="l-birthday-signup__note text-note u-text-gray">Mit der Anmeldung akzeptierst du die
                  <a href="#0">AGB</a> und die
                  <a href="#0">Datenschutzerklärung</a>.</p>
              </div>
            </div>
            <!-- /__content__center -->
          </div>
          <!-- /.c-birthday-signup-card__content -->
        </div>
        <!-- /.c-birthday-signup-card -->
      </div>
      <!-- .position-relative -->
      <div class="text-center mb-5">
          <span class="align-middle d-inline-block pr-2">Bereits Kunde bei sevDesk?</span>
          <a class="c-link-more" href="#">
            <span>Login</span>
          </a>
        </div>
        <!-- .text-center -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
