<div class="c-archive-list mb-4">
  <h4 class="h3 mb-4">Formen der Selbstständigkeit</h4>
  <ul class="c-archive-list__links">
    <li><a href="#" title="">Aktiengesellschaft</a></li>
    <li><a href="#" title="">Einzelunternehmer</a></li>
    <li><a href="#" title="">Freelancer</a></li>
    <li><a href="#" title="">Freiberufler</a></li>
    <li><a href="#" title="">Gesellschaft bürgerlichen Rechts</a></li>
    <li class="is-over-limit"><a href="#" title="">Bankdarlehen</a></li>
    <li class="is-over-limit"><a href="#" title="">Businessplan</a></li>
  </ul>
  <a class="c-archive-list__toggle c-link-more" href="#0" title="mehr"><span>mehr</span></a>
</div>
<!-- /.c-archive-list -->
