<section class="l-section l-section--background-light l-section--padding">
  <div class="container">
    <div class="row c-article-list">
      {{#each lexikon.list}}
      <div class="col-sm-6 col-lg-4 c-article-list__item">
          <div class="c-card-article c-card-article--hover">
            <div class="c-card-article__media">
              <a href="#" title="{{title}}"><img class="img-fluid" src="{{../path.images.demo}}/lexikon/{{image}}" alt="some image"></a>
            </div>
            <div class="c-card-article__body">
              <span class="c-card-article__tagline"><a href="#0">{{category}}</a></span>
              <h2 class="c-card-article__headline h3"><a href="#0">{{title}}</a></h2>
              <a class="c-link-more" href="#0"><span>Read more</span></a>
            </div>
            <!-- /.c-card-article__footer -->
          </div>
          <!-- /.c-card-article -->
        </div>
        <!-- /.c-article-list__item -->
      {{/each}}
    </div>
    <!-- /.c-article-list -->
  </div>
  <!-- /.container -->
</section>
