<section class="c-article-body l-section l-section--padding-bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 c-article-body__shadow">
        <div class="c-article-body__content c-content-style">
          <p class="lead">Affiliate Marketing, was ist das? Affiliate Marketing ist ein Teil des großen Segmentes des des Online-Marketings. Dabei
          handelt es sich um eine Art Provisionsgeschäft, welches auf dem Prinzip der Vermittlungsprovision basiert.</p>
          <p>Vermittelte Interessenten, die zu Kunden werden, bringen dem Vermittler – in diesem Fall dir – eine Provision in vereinbarter
          Höhe. Das können wenige Prozent sein oder fast ein Drittel des generierten Umsatzes.</p>

          <h2>Wie funktioniert Affiliate Marketing?</h2>
          <p>Wie fängt man Affiliate Marketing an? In der Regel betreibt man beispielsweise eine Website oder einen Blog. Findet sich dort eine freie Fläche im Design, dann kann diese zur Werbefläche gemacht und jemanden zur Verfügung gestellt werden, der Interesse daran hat. Denn viele Shop-Betreiber haben ein reges Interesse daran im Internet Werbung zu machen. Der Blogbetreiber, der die Reichweite seiner Webseite und seine freie Werbefläche zur Verfügung stellt, wird als „Publisher“ oder auch als „Affiliate“ bezeichnet. Der Werbetreibende wird dagegen als „Advertiser“ (Werber) oder „Merchant“ (Händler) bezeichnet.</p>

          <ul>
            <li>
              <a href="#1">Die Nachfrage steigt</a>
            </li>
            <li>
              <a href="#2">Tipp #1: Lasse deine Beziehungen spielen</a>
            </li>
            <li>
              <a href="#3">Tipp #2: Hebe dich von anderen ab</a>
            </li>
            <li>
              <a href="#4">Tipp #3: Nutze das Internet</a>
            </li>
            <li>
              <a href="#5">Tipp #4: Netzwerke ständig</a>
            </li>
            <li>
              <a href="#6">Tipp #5: Lasse dich nicht entmutigen oder einschüchtern</a>
            </li>
            <li>
              <a href="#7">Fazit</a>
            </li>
          </ul>

          <h3>Affiliate Marketing: Wie geht man eine Partnerschaft ein?</h3>
          <p>Damit der Affiliate für seine Weiterempfehlung auch entlohnt wird, müssen beide Geschäftspartner zuerst einmal eine Partnerschaft eingehen. Das funktioniert in der Regel über ein Affiliate-Netzwerk. Das bedeutet, dass der Affiliate sich bei dem Merchant um eine Partnerschaft bewirbt. Wird die Bewerbung akzeptiert, dann erhält der Affiliate die Werbemittel. Dabei handelt es sich um Textlinks oder Werbebanne, die von dem Affiliate auf seiner Webseite, in Emails oder in den sozialen Netzwerken einbinden kann. In diesen Werbemitteln sind persönliche und einmalige Affiliate ID’s enthalten. Anhand dieser ID’s kann der Merchant dann im Falle einer erfolgreichen Weiterempfehlung des Produkts ermitteln, wer ihm den Kontakt zu gespielt hat, und, an wen er die Provision zu zahlen hat.</p>

          <blockquote>
            <p>In diesem Video erklärt Jessica Ebert nochmals genau, wie Affiliate Marketing funktioniert und was es ist.</p>
          </blockquote>

          <p class="full-image"><img src="{{path.images.demo}}/article/article-hero.jpg" alt="some image"></p>

          <h4>Fazit: Affiliate Marketing funktioniert!</h4>
          <p>Grundsätzlich ist das Affiliate Marketing in jeder erdenklichen Nische zu betreiben. Das heißt, wie soeben beschrieben, es muss erst eine Partnerschaft mit einem Publisher eingegangen werden, damit man seine Provision erhält. Amazon ist ein Publisher, der sehr gute Partnerprogramme anbietet und wenn die Bewerbung akzeptiert wird, dann kann man die komplette Produktpalette von Amazon bewerben und wie man weiss, auf Amazon gibt es einfach alles – von A bis Z.</p>
          <hr>
          <p>Für Nischen-Blogs bietet es sich an, dazu passende Webshops zu ermitteln, die ebenfalls Affiliate Marketing betreiben. Solche Partnerschaften sind häufig der Beginn einer weitreichenden Kooperation. Im Gegensatz Amazon informieren die kleineren Merchants ihre wenigen Partner häufig intensiv über attraktive Angebote oder Aktionen – dies wiederum kommt den Lesern der verknüpften Blogs zugute. Macht man es richtig, haben alle was von Affiliate Marketing: Publisher, Merchants und Leser/Käufer.</p>
        </div>
        <!-- /.c-article-body__content -->
        {{> tag-list}}
        {{> call-to-action.light}}
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
