<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-lg-12">
      <div class="position-relative">
        <div class="u-text-center">
          <div class="c-birthday-signup-card__steps">
            <ul>
              <li><em>1.</em> Rabattcode kopieren</li>
              <li><em>2.</em> Tarif buchen</li>
              <li><em>3.</em> Drei Monate sparen</li>
            </ul>
          </div>
          <!-- /.c-birthday-signup-card__steps -->
        </div>
        <!-- .text-center -->
        <div class="c-birthday-signup-card mb-5">
          <div class="c-birthday-signup-card__media c-birthday-signup-card__media--blackfriday">
            <div class="pr-lg-4 mt-md-0 mt-3">

              <div class="c-birthday-signup-card__content__center mt-lg-2">
                <h1 class="c-birthday-signup-card__header text-white">Nur heute:</br>
                  Black Friday Sales
                </h1>
                <div class="col-md-10 c-birthday-signup-card__desc  pl-0">
                  Zum Black Friday gibt es mit dem Code <span
                    style="color:#d80f16; text-shadow: 2px 2px 3px #5d0707;"><strong>sevFriday19</strong></span>
                  die ersten <strong style="font-size: 30px;">3 Monate kostenlos</strong>.
                </div>

                <div class="col-lg-8 pl-0">
                  {{> sign-up.default}}
                </div>

                <div class="pb-4 pt-4 text-left">
                  <p class="l-birthday-signup__note text-note text-white">Mit der Anmeldung akzeptierst du die
                    <a href="#0">AGB</a> und die
                    <a href="#0">Datenschutzerklärung</a>.</p>
                </div>
              </div>

            </div>
          </div>
          <div class="c-birthday-signup-card__content c-birthday-signup-card__content--blackfriday d-none d-md-block">
            <div class="pt-lg-3">
              <div class="c-birthday-signup-card__content__code mt-lg-5"> <img class="lazyload u-lazyload"
                  src="{{path.images.default}}/blackfriday/black_friday_badge_2.png"
                  data-src="{{path.images.default}}/blackfriday/black_friday_badge_2.png" alt=""></div>

              <div class="c-birthday-signup-card__content__code mt-lg-5">sevFriday19</div>
            </div>
          </div>
          <!-- /.c-birthday-signup-card__content -->
        </div>
        <!-- /.c-birthday-signup-card -->
      </div>
      <!-- .position-relative -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
