<div class="c-blog-image-carousel">
  <div class="c-blog-image-carousel__slider">
    {{#each blog_image_carousel}}
    <div class="c-blog-image-carousel__item">
      <figure>
        <img src="{{src}}" alt="">
        <figcaption>{{alt}}</figcaption>
      </figure>
    </div>
    {{/each}}
  </div>
  <!-- /.c-blog-image-carousel__slider -->
  <button class="c-blog-image-carousel__prev js-prev">
    <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0h24v24H0z" fill="none" />
      <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z" />
    </svg>
  </button>
  <button class="c-blog-image-carousel__next js-next">
    <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0h24v24H0z" fill="none" />
      <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z" />
    </svg>
  </button>
</div>
<!-- /.c-blog-image-carousel -->
