<div class="c-blog-author-box">
  <div class="c-blog-author-box__media">
    <figure class="c-blog-author-box__avatar lazyload" style="background-image: url({{path.images.demo}}/avatars/avatar-1.png)" data-bgset="{{path.images.demo}}/avatars/avatar-1.png"></figure>
  </div>
  <!-- /.c-blog-author-box__media -->
  <div class="c-blog-author-box__content pt-2">
    <span class="c-blog-author-box__name d-block h4 mb-2">Felix Zipf</span>
    <p class="c-blog-author-box__desc u-text-gray">Something cool about Felix. Curabitur blandit tempus porttitor. Nulla vitae elit libero, a pharetra,</p>
    <div class="c-blog-author-box__links">
        <a href="#1">LinkedIn</a>
    </div>
  </div>
  <!-- /.c-blog_author-box__content -->
</div>
<!-- /.c-blog-author-box -->
