<button class="c-btn c-btn--primary">Kostenlos testen</button> <br><br>
<button class="c-btn c-btn--secondary">Kostenlos testen</button> <br><br>
<button class="c-btn c-btn--video">Learn more</button><br><br>
<button class="c-btn c-btn--sm c-btn--primary">Kostenlos testen</button>
