<div class="c-category-list">
  <ul>
    <li class="current-cat"><a href="#">Buchhaltung</a></li>
    <li><a href="#">Marketing & Verkauf</a></li>
    <li><a href="#">Recht & Steuern</a></li>
    <li><a href="#">Selbstständig machen</a></li>
    <li><a href="#">sevDesk</a></li>
    <li><a href="#">Tipps für Selbstständige</a></li>
    <li><a href="#">Tutorials</a></li>
    <li><a href="#">Unternehmensführung</a></li>
    <li><a href="#">Unternehmensgründung</a></li>
  </ul>
</div>
<!-- /.c-category-list -->
