<section class="l-section l-section--padding l-section--background-light">
  <div class="container">
    <div class="row c-article-list pt-4">
      {{#each stories.list}}
      <div class="col-sm-6 col-lg-4 c-article-list__item">
        <div class="c-card-article">
          <div class="c-card-article__media">
            <a href="#" title="{{title}}">
              <img class="img-fluid" src="{{../path.images.demo}}/lexikon/{{image}}" alt="some image">
            </a>
          </div>
          <div class="c-card-article__body">
            <span class="c-card-article__tagline">
              <a href="#0">{{category}}</a>
            </span>
            <h2 class="c-card-article__headline h3">
              <a href="#0">{{title}}</a>
            </h2>
            <p class="c-card-article__desc">{{description}}</p>
            <a class="c-link-more" href="#0">
              <span>Read story</span>
            </a>
          </div>
          <!-- /.c-card-article__footer -->
        </div>
        <!-- /.c-card-article -->
      </div>
      <!-- /.col -->
      {{/each}}
    </div>
  </div>
  <!-- /.container -->
</section>
