<div class="c-downloads-list py-4">
  <div class="c-downloads-list__item is-primary">
    <a class="d-block" href="#0">
      <div class="media">
        <div class="c-downloads-list__item__media pr-4">
          <figure class="c-downloads-list__item__icon is-sevdesk"></figure>
        </div>
        <div class="c-downloads-list__item__content">
          <span class="d-block h5 mb-3 text-gray">Auftragsbestätigung mit sevDesk erstellen</span>
          <span class="c-btn c-btn--primary c-btn--sm">Kostenlos testen</span>
        </div>
      </div>
      <!-- /.media -->
    </a>
  </div>
  <!-- /.c-downloads-list__item -->

  <div class="c-downloads-list__item is-download">
    <a class="d-block" href="https://sevdesk.de/asd/somefile.docx">
      <div class="media">
        <div class="c-downloads-list__item__media pr-4">
          <div class="c-downloads-list__item__loader"><span class="c-loader"></span></div>
          <figure class="c-downloads-list__item__icon is-docx"></figure>
        </div>
        <div class="c-downloads-list__item__content">
          <span class="d-block h5 mb-2 text-gray">Word Auftragsbestätigung herunterladen</span>
          <span class="text-primary">Download</span>
        </div>
      </div>
      <!-- /.media -->
    </a>
  </div>
  <!-- /.c-downloads-list__item -->
  <div class="c-downloads-list__item is-download">
    <a class="d-block" href="#0">
      <div class="media">
        <div class="c-downloads-list__item__media pr-4">
          <div class="c-downloads-list__item__loader"><span class="c-loader"></span></div>
          <figure class="c-downloads-list__item__icon is-xlsx"></figure>
        </div>
        <div class="c-downloads-list__item__content">
          <span class="d-block h5 mb-2 text-gray">Word Auftragsbestätigung herunterladen</span>
          <span class="text-primary">Download</span>
        </div>
      </div>
      <!-- /.media -->
    </a>
  </div>
  <!-- /.c-downloads-list__item -->
</div>
<!-- /.c-downloads-list -->
