<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-lg-12">
      <div class="c-birthday-signup-card mb-5">
        <figure class="c-birthday-signup-card__media">
          <img class="u-img-fluid" src="{{path.images.default}}/easter/main-title-banner.png" alt="">
        </figure>
        <div class="c-birthday-signup-card__content">
          <div class="c-birthday-signup-card__content__center">
            <i class="c-birthday-signup-card__content__figure-easter"></i>
            {{> sign-up.default}}

            <div class="pb-2 pt-4 text-center">
              <p class="text-note mb-2">Keine automatische Verlängerung nach der Testphase.<br /> Keine Kreditkarte
                erforderlich.</p>
              <p class="l-birthday-signup__note text-note u-text-gray">Mit der Anmeldung akzeptierst du die
                <a href="#0">AGB</a> und die
                <a href="#0">Datenschutzerklärung</a>.</p>
            </div>
          </div>
          <!-- /__content__center -->
        </div>
        <!-- /.c-birthday-signup-card__content -->
      </div>
      <!-- /.c-birthday-signup-card -->

      <div class="text-center mb-5">
        <span class="align-middle d-inline-block pr-2">Bereits Kunde bei sevDesk?</span>
        <a class="c-link-more" href="#">
          <span>Login</span>
        </a>
      </div>
      <!-- .text-center -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
