<section class="c-faq l-section l-section--padding">
  <div class="container">
    <h3 class="c-faq__headline display-2 mb-4 mb-md-5">General questions</h3>

    <div class="row lg-gutters">
      {{#each questions.list}}
      <div class="col-sm-6 col-md-4 py-2 py-sm-3 py-md-4">
        <div class="c-faq__item pr-lg-4">
          <h4 class="c-faq__item__headline h5">{{title}}</h4>
          <p class="c-faq__item__desc">{{description}}</p>
        </div>
        <!-- /.c-faq__item -->
      </div>
      <!-- /.col -->
      {{/each}}
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
