<section class="c-features-boxes {{class}}">
  <div class="container">

    <div class="row justify-content-center">
      {{#each features_boxes}}
      <div class="col-6 col-md-3">
        <div class="c-features-boxes__item my-2 pb-2">
          <figure class="c-features-boxes__item__media">
            <img src="{{../path.images.demo}}/features-boxes/{{ image }}" alt="">
          </figure>
          <h4 class="h5">{{ title }}</h4>
        </div>
        <!-- /.c-features-boxes__item -->
      </div>
      <!-- /.col-md-4 -->
      {{/each}}
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
