<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-lg-12">
      <div class="position-relative">
        <div id="friends-referral-card" class="c-friends-referral-card mb-5">
          <div class="c-friends-referral-card__media">
              <div class="pr-lg-4">
                <div class="px-md-5 mr-lg-5">
                  <img src="{{path.images.default}}/friends-referral/freunde-werben.png" alt="">
                </div>
              </div>
          </div>
          <div class="c-friends-referral-card__content">
            <div class="c-friends-referral-card__content__center">
              <div class="pb-4 pt-4 pr-lg-5 text-center">

                <div class="js-error d-none">
                  <p>Um den Empfehlungslink zu sehen, musst du Kunde und in der Software eingeloggt sein!</p>
                </div>

                <div class="js-success">
                  <p class="mb-3 mb-lg-4">Teile den Empfehlungslink mit deinen Freunden und sichere dir deine Belohnung!</p>
                  <div class="c-friends-referral-card__code"><span class="js-coupon"></span></div>

                  <dl class="c-friends-referral-card__social-share pt-3 pt-md-4">
                    <dt><span class="u-text-note">Teile den Link via:</span></dt>
                    <dd><a class="is-email js-email" href="#1" target="_blank"></a></dd>
                    <dd><a class="is-fb js-fb" href="#1" target="_blank"></a></dd>
                    <dd><a class="is-twitter js-twitter" href="#1" target="_blank"></a></dd>
                  </dl>
                </div>

              </div>
            </div>
            <!-- /__content__center -->
          </div>
          <!-- /.c-friends-referral-card__content -->
        </div>
        <!-- /.c-friends-referral-card -->
      </div>
      <!-- .position-relative -->
      <div class="text-center mb-5">
          <a class="c-link-more u-text-gray" href="/">
            <span>Zurück zur Startseite</span>
          </a>
        </div>
        <!-- .text-center -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
