<div class="l-section l-section--padding l-section--background-light">
  <div class="container">
    <ul class="c-help-listing row">
      {{#each help.list}}
      <li class="col-sm-6 col-lg-4">
        <div class="c-card-help">
          <div class="c-card-help__media {{class}}">
            <a class="c-card-help__link-cover" href="#0" title="{{title}}"></a>
          </div>
          <div class="c-card-help__body">
            <h2 class="c-card-help__headline h3"><a href="#0" title="{{title}}">{{title}}</a></h2>
            <p class="c-card-help__desc">{{description}}</p>
            <a class="c-link-more" href="#0" title="FAQ"><span>{{link}}</span></a>
          </div>
        </div>
        <!-- /.c-card-help -->
      </li>
      {{/each}}
    </ul>
  </div>
  <!-- /.container -->
</div>
<!-- /.bg-light -->
