<section class="c-hero-pricing-cta is-bg-1 py-4 py-md-5 mb-4 mb-sm-5">
  <div class="container py-md-3">
    <div class="row align-items-center">
      <div class="col-sm-5">
        <h1 class="h1 mb-3 mb-md-4">Preise von sevDesk</h1>
        <ul class="c-check-list c-check-list--border-light">
          <li>14 Tage unverbindlich testen</li>
          <li>Testphase endet automatisch</li>
          <li>keine Kreditkarte erforderlich</li>
        </ul>
        <div class="px-3 mb-4 mb-sm-0">
          <img class="img-fluid" src="https://cdn.sevdesk.de/uploads/trust-register.png" alt="">
        </div>
      </div>
      <!-- /.col -->
      <div class="col-sm-6 ml-auto">
        <div class="c-hero-pricing-cta__cta-wp c-hero-pricing-cta__cta-wp--bg-1 px-4 py-4 py-md-5 rounded text-center">
          <span class="h1 mb-2 d-block" style="font-size:96px; letter-spacing: -5px;">0 €</span>
          <p class="h4 mb-md-4">Jetzt starten,<br/> später entscheiden!</p>
          <a class="c-btn c-btn--primary js-open-signup-modal" title="Kostenlos testen">Kostenlos testen</a>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
