<div class="c-table-shadow">
  <ul class="c-job-list">
    {{#each job_list}}
    <li class="py-4 py-lg-5">
      <a class="c-job-list__cover-link" href="#">
        <div class="c-job-list__item">
          <div class="c-job-list__item__main">
            <h4 class="mb-1 mb-lg-0 h4">{{title}}</h4>
          </div>
          <div class="c-job-list__item__desc">
            <p class="mb-3 mb-md-0 u-text-gray">{{desc}}</p>
          </div>
          <div class="c-job-list__item__meta"><span class="c-job-list__location u-text-gray u-text-note"><span class="pl-2">{{location}}</span></span></div>
        </div>
      </a>
    </li>
    {{/each}}
  </ul>
</div>
