<nav id="mobile-nav" class="c-mobile-nav is-fixed is-hidden">
  <div class="c-mobile-nav__header">
    <div class="c-mobile-nav__header__logo">
      <a href="#" title="sevDesk">sevDesk</a>
    </div>
    <button class="c-mobile-nav__header__close js-mobile-nav-close">Close</button>
  </div>
  <!-- /.c-mobile-nav__header -->
  <div class="c-mobile-nav__main">
    <ul class="c-mobile-nav__main-links menu">
      <li class="menu-item">
        <a href="#">Funktionen</a>
      </li>
      <li class="menu-item current-menu-item">
        <a href="#">Preise</a>
      </li>
      <li class="menu-item">
        <a href="#">Company</a>
      </li>
      <li class="menu-item">
        <a href="#">Hilfe-Center</a>
      </li>
    </ul>
  </div>
  <!-- /.c-mobile-nav__main -->
  <div class="c-mobile-nav__footer">
    <ul class="c-mobile-nav__footer-links">
      <li><a href="#" title="Login">Login</a></li>
      <li><a href="#" title="Kostenlos testen">Kostenlos testen</a></li>
    </ul>
  </div>
  <!-- /.c-mobile-nav__footer -->
</nav>
