<div class="mql-box">
  <div class="container-fluid">
    <div class="row align-items-center">

      <div class="col-md-8 pt-md-2 pl-md-4 order-3 order-md-1">
        <div class="mql-box__header h2">Sichere dir jetzt das kostenlose E-Book.</div>
        <div class="mql-box__content">Und erhalte nützliche Tips und Tricks rund um das Thema <br> Buchhaltung.</div>
        <div id="c-cta-form" class="c-form-cta">
          <div class="c-signup-form-s c-signup-form-s--lg">
            <form class="c-mql-box-form" role="sign-up" novalidate="novalidate">
              <span class="c-signup-form-s__control">
                <input type="email" size="40" aria-required="true" aria-invalid="false"
                  placeholder="E-Mail-Adresse eingeben" class="c-signup-form-s__email">
                  <span class="c-sign-up-default__message d-none"><span>Bitte gib eine gültige E-Mail-Adresse ein</span></span>
              </span>
              <button type="submit" class="c-signup-form-s__submit">JETZT SICHERN</button>
              <div class="c-blog-newsletter__form__terms">
                <label class="c-form-control c-form-control--checkbox mql-box__checkbox">
                  <input type="checkbox" required="" class="c-form-control__checkbox">
                  <span class="mql-box__checkbox-label">
                    Mit dem Download akzeptiere ich, dass meine persönlichen Daten gespeichert werden und ich von sevDesk Produktinforamtionen per Mail erhalte.
                  </span>
                </label>
              </div>
            </form>
          </div>
        </div>

      </div>
      <div class="col-md-4 order-2">
        <img class="lazyload u-lazyload p-3 mql-box__image" src="{{path.images.default}}/mql-box/mql-img.png" alt="">
      </div>

    </div>
  </div>
</div>
