<div class="c-pagination">
  <nav role="navitation">
    <h2 class="screen-reader-text">Beitragsnavigation</h2>
    <div class="nav-links">
      <a class="prev page-numbers" href="#0">« Vorige Seite</a>
      <a class="page-numbers" href="#0"><span class="meta-nav screen-reader-text">Page</span> 1</a>
      <span class="page-numbers current">
        <span class="meta-nav screen-reader-text">Page</span> 2
      </span>
      <a class="page-numbers" href="#0"><span class="meta-nav screen-reader-text">Page</span> 3</a>
      <span class="page-numbers dots"></span>
      <a class="page-numbers" href="#0"><span class="meta-nav screen-reader-text">Page</span> 8</a>
      <a class="next page-numbers" href="#0">Nächste Seite »</a>
    </div>
    <!-- /.nav-links -->
  </nav>
</div>
<!-- /.c-pagination -->
