<section class="c-pricing-table-app l-section--background-light l-section--padding">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h2 class="display-1 mb-4">Du zahlst nur für das, was du brauchst</h2>
        <p class="h4 u-text-gray u-text-regular mb-4">Beginne jetzt mit einem oder mehreren Produkten – weitere Produkte sind
          jederzeit zubuchbar!</p>

          <a class="c-btn c-btn--primary" href="#1">Kostenlos Testen</a>
      </div>
      <!-- /.col -->
      <div class="col-md-6 pt-4 pl-lg-5 pt-md-0 ml-md-auto">
        <div class="c-card-pricing c-card-pricing--bg">
          <span class="c-card-pricing__tagline">Meist gewählt</span>
          <div class="c-card-pricing__header mb-4 pb-md-2">
            <figure class="c-card-pricing__header__media">
              <img src="{{path.images.default}}/pricing-table-app/accounting.svg" alt="">
            </figure>
            <div class="c-card-pricing__header__content">
              <span class="c-card-pricing__title h2 mb-1">Buchhaltung</span>
              <span class="c-card-pricing__price h5 mb-0">ab 18,00 €/Monat</span>
            </div>
          </div>
          <div class="c-card-pricing__content">
            <p>Beinhaltet den vollen Funktionsumfang von sevDesk. Passend für dich und dein Business. Perfekt für alle, die
              ihre Buchhaltung einfach selbst erledigen wollen.</p>
          </div>
          <!-- __content -->
          <div class="c-card-pricing__footer pt-2">
            <a class="c-btn c-btn--success" href="#1">Kostenlos Testen</a>
          </div>
          <!-- __footer -->
        </div>
        <!-- /.c-card-pricing -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="mt-5 l-section--border-top d-none d-md-block"></div>

    <div class="row pt-4 pt-sm-5">
      <div class="col-sm-6 col-lg-4 d-flex">
        <div class="c-card-pricing c-card-pricing--bg">
          <div class="c-card-pricing__header mb-4 pb-md-2">
            <figure class="c-card-pricing__header__media is-xs">
              <img src="{{path.images.default}}/pricing-table-app/income.svg" alt="">
            </figure>
            <div class="c-card-pricing__header__content">
              <span class="c-card-pricing__title h4 mb-1">Einnahmen</span>
              <span class="c-card-pricing__price h5 mb-0">ab 6,50 €/Monat</span>
            </div>
          </div>
          <div class="c-card-pricing__content">
            <p>Rechnungen schreiben und Kunden verwalten. Perfekt für alle, die ein intuitives Rechnungs- und Angebotstool benötigen.</p>
          </div>
          <!-- __content -->
          <div class="c-card-pricing__footer pt-2">
            <a class="c-btn c-btn--secondary" href="#1">Kostenlos Testen</a>
          </div>
          <!-- __footer -->
        </div>
        <!-- /.c-card-pricing -->
      </div>
      <!-- /.col -->

      <div class="col-sm-6 col-lg-4 pt-4 pt-sm-0 d-flex">
        <div class="c-card-pricing c-card-pricing--bg">
          <div class="c-card-pricing__header mb-4 pb-md-2">
            <figure class="c-card-pricing__header__media is-xs">
              <img src="{{path.images.default}}/pricing-table-app/outgoings.svg" alt="">
            </figure>
            <div class="c-card-pricing__header__content">
              <span class="c-card-pricing__title h4 mb-1">Ausgaben</span>
              <span class="c-card-pricing__price h5 mb-0">ab 6,50 €/Monat</span>
            </div>
          </div>
          <div class="c-card-pricing__content">
            <p>Belege rechtssicher archivieren und Kunden verwalten. Perfekt für alle, die ihre Belege automatisiert verbuchen möchten.</p>
          </div>
          <!-- __content -->
          <div class="c-card-pricing__footer pt-2">
            <a class="c-btn c-btn--secondary" href="#1">Kostenlos Testen</a>
          </div>
          <!-- __footer -->
        </div>
        <!-- /.c-card-pricing -->
      </div>
      <!-- /.col -->

      <div class="col-lg-4 pt-4 pt-md-5 pt-lg-0 d-flex">
        <div class="c-card-pricing c-card-pricing--bg">
          <div class="c-card-pricing__header mb-4 pb-md-2">
            <figure class="c-card-pricing__header__media is-sm">
              <img src="{{path.images.default}}/pricing-table-app/incomeOutgoings.svg" alt="">
            </figure>
            <div class="c-card-pricing__header__content">
              <span class="c-card-pricing__title h4 mb-1">Finanzen</span>
              <span class="c-card-pricing__price h5 mb-0">ab 13,00 €/Monat</span>
            </div>
          </div>
          <div class="c-card-pricing__content">
            <p>Rechnungen schreiben, Belege archivieren und dazu integriertes Online-Banking. Perfekt für alle, die ihre Finanzen selbst verwalten.</p>
          </div>
          <!-- __content -->
          <div class="c-card-pricing__footer pt-2">
            <a class="c-btn c-btn--secondary" href="#1">Kostenlos Testen</a>
          </div>
          <!-- __footer -->
        </div>
        <!-- /.c-card-pricing -->
      </div>
      <!-- /.col -->

    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
