<div class="l-section--padding">
  <div class="container">
    <h2 class="display-2 mb-4">Weiterführende Informationen</h2>

    <div class="row">
      {{#each recent_news}}
      <div class="col-md-4">
        <div class="c-archive-list mb-4 pt-md-4">
          <h3 class="h4 mb-4">{{ title }}</h3>
          <ul class="c-archive-list__links c-archive-list__links--sm">
            {{#each items}}
            <li>
              <a href="#" title="">{{.}}</a>
            </li>
            {{/each}}
          </ul>
        </div>
        <!-- /.c-archive-list -->
      </div>
      <!-- /.col -->
      {{/each}}
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.c-recent-news -->
