<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-lg-12">
      <div class="position-relative">
        <div class="u-text-center">
          <div class="c-birthday-signup-card__steps">
            <ul>
              <li><em>1.</em> Code notieren</li>
              <li><em>2.</em> kostenlos anmelden</li>
              <li><em>3.</em> bei Buchung Code einfügen</li>
            </ul>
          </div>
          <!-- /.c-birthday-signup-card__steps -->
        </div>
        <div class="c-birthday-signup-card mb-5">
          <div class="c-birthday-signup-card__media">
              <div class="pr-lg-4">
                <div class="px-md-5 mr-lg-5 pb-4">
                  <div class="pr-md-5">
                    <img class="lazyload u-lazyload" src="{{path.images.default}}/summer-sale/summer-aktion-sun.png"
                  alt="">
                  </div>
                </div>
                <i class="c-birthday-signup-card__winter-spacer mb-3"></i>
                <p class="h6 mb-1 pr-lg-5 u-text-regular">Zu Ostern bekommt <strong>jeder 7. Neukunde</strong> ein <strong>Addon seiner Wahl</strong> für 12 Monate geschenkt</p>

                <div class="u-text-center pr-lg-5">
                    <div class="c-birthday-signup-card__code">
                      <span>SEVPRESUMMER19</span>
                    </div>
                </div>

                <span class="u-text-note d-block pt-3 pt-md-4">*Durch die Anmeldung als Testnutzer über diese Seite nimmst du automatisch an der Verlosung teil.</span>
              </div>
          </div>
          <div class="c-birthday-signup-card__content">
            <div class="c-birthday-signup-card__content__center">
              <div class="px-5">
                <i class="c-birthday-signup-card__content__figure-sale-100"></i>
              </div>
              {{> sign-up.default}}

              <div class="pb-2 pt-4 text-center">
                <p class="text-note mb-2">Keine automatische Verlängerung nach der Testphase.<br /> Keine Kreditkarte
                  erforderlich.</p>
                <p class="l-birthday-signup__note text-note u-text-gray">Mit der Anmeldung akzeptierst du die
                  <a href="#0">AGB</a> und die
                  <a href="#0">Datenschutzerklärung</a>.</p>
              </div>
            </div>
            <!-- /__content__center -->
          </div>
          <!-- /.c-birthday-signup-card__content -->
        </div>
        <!-- /.c-birthday-signup-card -->
      </div>
      <!-- .position-relative -->
      <div class="text-center mb-5">
          <span class="align-middle d-inline-block pr-2">Bereits Kunde bei sevDesk?</span>
          <a class="c-link-more" href="#">
            <span>Login</span>
          </a>
        </div>
        <!-- .text-center -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
