<div class="container">
  <div class="c-team-list row">
    <div class="col-12 mt-5">
      <span class="c-team-list__tagline h5">Administration</span>
    </div>
    <!-- /.col-12 -->
    {{#each team_list}}
      {{#if (eq category 'Administration') }}
        <div class="col-6 col-md-4 col-lg-3 mb-4">
          <div class="c-team-card">
            <div class="c-team-card__img-wp">
              <div class="c-team-card__img-front">
                <img class="u-img-fluid" src="https://via.placeholder.com/280" alt="{{ name }}">
              </div>
              {{#if second_image}}
              <div class="c-team-card__img-back">
                <img class="u-img-fluid" src="https://via.placeholder.com/280" alt="{{ name }}">
              </div>
              {{/if}}
            </div>
            <div class="c-team-card__content">
              <span class="c-team-card__name h6 mb-1">{{ name }}</span>
              <span class="c-team-card__title u-text-note">{{ title }}</span>
            </div>
            <!-- /.c-team-card__content -->
          </div>
          <!-- /.c-team-card -->
        </div>
        <!-- /.col -->
      {{/if}}
    {{/each}}

    <div class="col-12 mt-5">
      <span class="c-team-list__tagline h5">Marketing</span>
    </div>
    <!-- /.col-12 -->
    {{#each team_list}}
      {{#if (eq category 'Marketing') }}
        <div class="col-6 col-md-4 col-lg-3 mb-4">
          <div class="c-team-card">
            <div class="c-team-card__img-wp">
              <div class="c-team-card__img-front">
                <img class="u-img-fluid" src="https://via.placeholder.com/280" alt="{{ name }}">
              </div>
              {{#if second_image}}
              <div class="c-team-card__img-back">
                <img class="u-img-fluid" src="https://via.placeholder.com/280" alt="{{ name }}">
              </div>
              {{/if}}
            </div>
            <div class="c-team-card__content">
              <span class="c-team-card__name h6 mb-1">{{ name }}</span>
              <span class="c-team-card__title u-text-note">{{ title }}</span>
            </div>
            <!-- /.c-team-card__content -->
          </div>
          <!-- /.c-team-card -->
        </div>
        <!-- /.col -->
      {{/if}}
    {{/each}}

    <div class="col-12 mt-5">
      <span class="c-team-list__tagline h5">Development</span>
    </div>
    <!-- /.col-12 -->
    {{#each team_list}}
      {{#if (eq category 'Development') }}
        <div class="col-6 col-md-4 col-lg-3 mb-4">
          <div class="c-team-card">
            <div class="c-team-card__img-wp">
              <div class="c-team-card__img-front">
                <img class="u-img-fluid" src="https://via.placeholder.com/280" alt="{{ name }}">
              </div>
              {{#if second_image}}
              <div class="c-team-card__img-back">
                <img class="u-img-fluid" src="https://via.placeholder.com/280" alt="{{ name }}">
              </div>
              {{/if}}
            </div>
            <div class="c-team-card__content">
              <span class="c-team-card__name h6 mb-1">{{ name }}</span>
              <span class="c-team-card__title u-text-note">{{ title }}</span>
            </div>
            <!-- /.c-team-card__content -->
          </div>
          <!-- /.c-team-card -->
        </div>
        <!-- /.col -->
      {{/if}}
    {{/each}}
  </div>
  <!-- /.c-team-list -->
</div>
<!-- /.container -->
