<div class="c-trust-carousel position-relative l-section--padding l-section--background-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-9 col-sm-11">
        <div class="c-trust-carousel__slider">
            {{#each trust_carousel.images}}
            <div class="c-trust-carousel__slider__slide">
              <div class="c-trust-carousel__card">
                  <img class="img-fluid" src="{{../path.images.demo}}/trust-carousel/{{.}}" />
              </div>
              <!-- .__card -->
            </div>
            <!-- /__slide -->
            {{/each}}
        </div>
        <!-- /__slider -->
      </div>
      <!-- /.col-md-11 -->
    </div>
    <!-- /.row -->
    <button class="c-trust-carousel__prev js-prev">
      <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z" />
      </svg>
    </button>
    <button class="c-trust-carousel__next js-next">
      <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z" />
      </svg>
    </button>
    <div class="c-trust-carousel__pagination js-pagination"></div>
  </div>
  <!-- /.container -->
</div>
<!-- /.c-trust-carousel -->
