<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-lg-12">
      <div class="position-relative">
        <div class="u-text-center">
          <div class="c-birthday-signup-card__steps">
            <ul>
              <li><em>1.</em> Code notieren</li>
              <li><em>2.</em> kostenlos anmelden</li>
              <li><em>3.</em> bei Buchung Code einfügen</li>
            </ul>
          </div>
          <!-- /.c-birthday-signup-card__steps -->
        </div>
        <div class="c-birthday-signup-card mb-5">
          <div class="c-birthday-signup-card__media">
              <div class="pr-lg-4">
                <div class="px-md-5 mr-lg-5">
                  <img class="lazyload u-lazyload" src="{{path.images.default}}/winteraktion/winteraktion.png"
                  data-src="{{path.images.default}}/winteraktion/winteraktion.png"
                  alt="">
                </div>
                <i class="c-birthday-signup-card__winter-spacer mb-3"></i>
                <p class="h6 mb-1 pr-lg-5 u-text-regular">Jeder Neukunde erhält 25% Rabatt* auf die ersten 6 Monate!
                    Starte mit sevDesk erfolgreich ins neue Geschäftsjahr.</p>
                <div class="u-text-center mb-2 pr-lg-5">
                    <div class="c-birthday-signup-card__code">
                        <span>sevwinter18</span>
                      </div>
                </div>
                <span class="u-text-note d-block">*Nur in Kombination mit einem Tarif über 12 Monate oder 24 Monate. Nicht mit anderen Rabattaktionen kombinierbar.</span>
              </div>
          </div>
          <div class="c-birthday-signup-card__content">
            <div class="c-birthday-signup-card__content__center">
              <i class="c-birthday-signup-card__content__figure-sale-25"></i>
              {{> sign-up.default}}

              <div class="pb-2 pt-4 text-center">
                <p class="text-note mb-2">Keine automatische Verlängerung nach der Testphase.<br /> Keine Kreditkarte
                  erforderlich.</p>
                <p class="l-birthday-signup__note text-note u-text-gray">Mit der Anmeldung akzeptierst du die
                  <a href="#0">AGB</a> und die
                  <a href="#0">Datenschutzerklärung</a>.</p>
              </div>
            </div>
            <!-- /__content__center -->
          </div>
          <!-- /.c-birthday-signup-card__content -->
        </div>
        <!-- /.c-birthday-signup-card -->
      </div>
      <!-- .position-relative -->
      <div class="text-center mb-5">
          <span class="align-middle d-inline-block pr-2">Bereits Kunde bei sevDesk?</span>
          <a class="c-link-more" href="#">
            <span>Login</span>
          </a>
        </div>
        <!-- .text-center -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
