<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-lg-12">
      <div class="c-birthday-signup-card mb-5">
        <figure class="c-birthday-signup-card__media">
          <img class="lazyload u-lazyload" src="{{path.images.default}}/end-of-year-register/100eur-cashback-left-placeholder.png"
            data-src="{{path.images.default}}/end-of-year-register/100eur-cashback-left-01.png"
            alt="">
        </figure>
        <div class="c-birthday-signup-card__content">
          <div class="c-birthday-signup-card__content__center">
            {{> year-end-form}}
          </div>
          <!-- /__content__center -->
        </div>
        <!-- /.c-birthday-signup-card__content -->
      </div>
      <!-- /.c-birthday-signup-card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
