<div class="c-alert alert alert-success" role="alert">
  <h4 class="alert-heading mb-1">Well done!</h4>
  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
  <hr>
  <p class="mb-0"><a href="#">Read more here</a></p>
</div>
</div>
