<section class="c-hero c-hero--landing-sale2">
  <div class="c-hero__logo">
    <span class="c-logo c-logo--white"></span>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-8">
        <h1 class="c-hero__headline display-3">Einfache Buchhaltung mit sevDesk</h1>
        <p class="c-hero__desc h4 pb-md-2"><em>Über 65.000 Kunden</em> vertrauen auf sevDesk</p>
        <i class="c-hero__gobd-icon d-md-block"></i>
        <div class="px-sm-5 mb-4">
           {{> signup-forms.hero}}
        </div>
        <ul class="c-hero__usp mb-3">
          <li><i></i><span><strong>14 Tage</strong> kostenlos und risikofrei</span></li>
          <li><i></i><span><strong>Keine Kreditkarte</strong> erforderlich</span></li>
          <li><i></i><span>Testphase <strong>endet automatisch</strong></span></li>
        </ul>
        <span class="c-hero__note">Mit der Anmeldung akzeptierst du die
          <a href="/agb/">AGB</a> und die
          <a href="/datenschutz/">Datenschutzerklärung</a>.</span>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

  <div class="c-hero__overflow">
    <div class="c-hero__overflow__container">
      <figure class="c-hero__figure"></figure>
    </div>
    <!-- /.c-hero__overflow__container -->
  </div>
</section>
