<section class="c-hero-article c-hero-article--overlay lazyload" data-bgset="{{path.images.demo}}/article/article-hero.jpg">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-8">
        <div class="c-hero-article__content">
          <ul class="c-hero-article__meta">
            <li>21 AUGUST 2017</li>
            <li><a href="#0" title="Ideen für die Selbstständigkeit">Ideen für die Selbstständigkeit</a></li>
          </ul>
          <h1 class="c-hero-article__headline">Affiliate Marketing</h1>

          {{> social-share.white}}
        </div>
        <!-- /.c-hero-article__content -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
