<section class="l-overflow">
  <div class="fc-hero fc-hero--white-text fc-hero--left lazyload"
    data-bgset="{{path.images.default}}/advent-calendar/hero-advent.jpg">
    <div class="container">
      <div class="row ">
        <div class="col-12 col-md-6 order-3 order-md-1 fc-hero--advent mt-md-auto mt-n5">
          <h1 class="fc-hero__headline display-1 mb-md-3 mb-1">Advents-Gewinnspiel</h1>
          <h3 class="fc-hero__desc--advent display-2 mb-md-2 mb-1">Sichere dir <strong>täglich</strong> die <br>
            Chance auf <strong>tolle Preise</strong>!
          </h3>
          <div class="fc-hero__actions mb-1 pt-sm-2">
            <a class="c-btn c-btn--primary" href="/adventskalender/" title="zum gewinnspiel">ZUM GEWINNSPIEL</a>
            <a class="c-btn c-btn--video js-video-popup" href="#video-1" title="Video ansehen">MEHR ZU SEVDESK</a>
          </div>
          <div class="fc-hero__note--white mb-3 mt-md-3 mt-0">Das Advents-Gewinnspiel richtet sich sowohl an Bestandskunden <br>als auch an Testnutzer und Interessenten.</div>
        </div>
        <div class="col-12 col-md-6 order-2 fc-hero--advent">
          <a href="/adventskalender/">
            <img class="img-fluid fc-hero--advent__image"
              src="{{path.images.default}}/advent-calendar/advent-badge.png" />
          </a>
        </div>
      </div>

    </div>
    <!-- /.container -->
  </div>
</section>
{{> countdown.advent-countdown}}
