<section class="c-hero c-hero--angle c-hero--team">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-8">
        <h1 class="c-hero__headline display-1">We at sevDesk</h1>
        <p class="c-hero__desc h4 pb-md-2 pb-lg-4">Believe that Entrepreneurs should focus on what's important to them. Our Customers like what we do. You will like what we do.</p>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

  <div class="c-hero__overflow">
    <div class="c-hero__overflow__container">
      <figure class="c-hero__figure"></figure>
    </div>
    <!-- /.c-hero__overflow__container -->
  </div>
</section>
