<section class="c-hero-search c-hero-search--lexicon c-hero-search--angle l-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h1 class="c-hero-search__hedline display-3">Selbstständig machen</h1>
        <p class="c-hero-search__desc h4">Hier findest du wertvolle Infos rund um die Selbstständigkeit.</p>
         {{> search-field.large}}
        <span class="c-hero-search__note">Neben dem Kerngeschäft muss man sich als Selbstständiger auch immer wieder</span>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

  <div class="c-hero-search__overflow">
    <figure class="c-hero-search__figure"></figure>
  </div>
  <!-- /.c-hero-search__overflow -->
</section>
