<section class="c-hero c-hero--angle c-hero--addons">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-8">
        <h1 class="c-hero__headline display-1">Integrationen & Addons</h1>
        <p class="c-hero__desc h4 pb-md-2">Verbinde deine Lieblings-Tools mit sevDesk. Mit unseren Apps und Erweiterungen kannst du jetzt noch mehr aus sevDesk herausholen.</p>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

  <div class="c-hero__overflow">
    <div class="c-hero__overflow__container">
      <figure class="c-hero__figure"></figure>
    </div>
    <!-- /.c-hero__overflow__container -->
  </div>
</section>
