<section class="c-hero c-hero--angle is-landing-white">
  <div class="c-hero__logo pt-5 mb-3 mb-md-5">
    <span class="c-logo"></span>
  </div>
  <div class="container">
    <div class="row justify-content-center py-5 mb-md-4">
      <div class="col-sm-10 col-md-8">
        <h1 class="c-hero__headline display-3">Umsatzsteuer-Voranmeldung</h1>
        <p class="c-hero__desc h4 pb-md-2">Schnell und einfach erstellen</p>
        <div class="px-sm-5 mb-4">
          {{> signup-forms.hero}}
        </div>
        <span class="c-hero__note">Mit der Anmeldung akzeptierst du die
          <a href="/agb/">AGB</a> und die
          <a href="/datenschutz/">Datenschutzerklärung</a>.</span>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

  <div class="c-hero__overflow">
    <div class="c-hero__overflow__container">
      <figure class="c-hero__figure"></figure>
    </div>
    <!-- /.c-hero__overflow__container -->
  </div>
</section>
