<section class="c-hero-blog l-section pt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h1 class="c-hero-blog__headline display-3 mb-4">Welcome to our Blog</h1>
         {{> search-field.large}}
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="c-hero-blog__categories pt-4">
      {{> category-list}}
    </div>
  </div>
  <!-- /.container -->
</section>
