<section class="c-hero c-hero--angle c-hero--stories">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-8">
        <h1 class="c-hero__headline display-1">Kundenstimmen</h1>
        <p class="c-hero__desc h4 pb-md-2 pb-lg-4">Wie Unternehmer sevDesk nutzen. Lerne sevDesk-Nutzer kennen und erfahre, wie sie ihre Buchhaltung meistern.</p>
        <hr>
        <span class="c-hero__note pt-lg-2 mb-4 mb-md-1">Möchtest du deine Geschichte auch hier veröffentlichen? Schreibe uns eine Email an <a href="mailto:support@sevdesk.com">support@sevdesk.com</a>.</span>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

  <div class="c-hero__overflow">
    <div class="c-hero__overflow__container">
      <figure class="c-hero__figure"></figure>
    </div>
    <!-- /.c-hero__overflow__container -->
  </div>
</section>
