<section class="c-hero c-hero--angle c-hero--accounting">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-8">
        <h1 class="c-hero__title display-1">Steuerberater finden</h1>
        <p class="c-hero__desc h4 mt-2 mb-3">Ein Steuerberater unterstützt dich, wenn du Fragen zur laufenden Buchhaltung oder steuerrechtliche Fragen hast.</p>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

  <div class="c-hero__overflow">
    <div class="c-hero__overflow__container">
      <figure class="c-hero__figure"></figure>
    </div>
    <!-- /.c-hero__overflow__container -->
  </div>
</section>
