<section class="c-hero-typed l-section--padding c-hero-typed--blue">
  <div class="container py-lg-5">
    <div class="row py-md-3 justify-content-center">
      <div class="col-11 col-sm-10 col-md-7">
        <h1 class="display-1 u-text-white">Branchenübersicht</h1>
        <h2 class="h3 u-text-white">
          Die einfache Buchhhaltung <br /> für
          <span id="js-typed" class="c-hero-typed__underline--"></span>
          <div id="js-typed-strings" class="d-none">
            <p>Händler</p>
            <p>Grafikdesigner & Fotografen</p>
            <p>Freiberufler</p>
            <p>Handwerker</p>
            <p>jeden Selbständigen^10000</p>
          </div>
        </h2>
        <p class="u-text-white u-text-note u-text-center">Deine Branche ist nicht dabei? Schreib uns <a class="u-text-white u-text-underline" href="#branch-feedback">deinen Wunsch</a>!</p>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
