<section class="c-hero c-hero--angle c-hero--webinar">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-8">
        <h1 class="c-hero__title display-1">Webinare</h1>
        <p class="c-hero__desc h4 mt-2 mb-3">Egal ob Einsteiger oder Fortgeschrittener - wir bieten für jede Erfahrungsstufe das passende Webinar an und zeigen, wie du
          alles aus sevDesk rausholst.</p>

        <div class="py-3">
          <a class="c-btn c-btn--primary" href="#latest-webinars" title="View latest videos">Latest videos</a>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

  <div class="c-hero__overflow">
    <div class="c-hero__overflow__container">
      <figure class="c-hero__figure"></figure>
    </div>
    <!-- /.c-hero__overflow__container -->
  </div>
</section>
