<section class="l-overflow">
  <div class="fc-hero fc-hero--white-text fc-hero--left lazyload"
    data-bgset="{{path.images.default}}/blackfriday/black-friday-bg.jpg">
    <div class="container">
      <div class="row ">
        <div class="col-12 col-md-6 order-3 order-md-1 fc-hero--blackfriday mt-md-auto mt-n5">
          <h1 class="fc-hero__headline display-1 mb-3">Black Friday Sale</h1>
          <h3 class="fc-hero__desc--blackfriday display-2 mb-md-4 mb-1">Sichere dir sevDesk nur </br> heute 3 Monaten kostenlos!
          </h3>
          <!-- <div class="c-cta__actions">
            <a class="c-btn c-btn--primary" href="#0" title="Kostenlos testen">RABATT SICHERN</a>
          </div> -->
          <div class="fc-hero__actions mb-1 pt-sm-2">
            <a class="c-btn c-btn--primary" href="#" title="kostenlos testen">RABATT SICHERN</a>
            <a class="c-btn c-btn--video js-video-popup" href="#video-1" title="Video ansehen">VIDEO ANSEHEN</a>
          </div>
          <span class="c-hero__note u-text-white mb-3 mt-md-3 mt-0">*Rabatt gilt für Tariflaufzeiten über 12 und 24 Monate.</span>
        </div>
        <div class="col-12 col-md-6 order-2 fc-hero--blackfriday">
          <a href="/agb/">
            <img class="img-fluid fc-hero--blackfriday__image"
              src="{{path.images.default}}/blackfriday/black_friday_badge_1.png" />
          </a>
        </div>
      </div>

    </div>
    <!-- /.container -->
  </div>
</section>
{{> countdown.black-friday-countdown}}
