<section class="c-hero-search-simple l-section l-section--pading">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        {{> search-field.large}}
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
