<section class="c-hero c-hero--landing-sale">
  <div class="c-hero__logo">
    <span class="c-logo c-logo--white"></span>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-8">
        <h1 class="c-hero__headline display-3">Ordnung für deine Buchhaltung</h1>
        <p class="c-hero__desc h4 pb-md-2">sevDesk automatisiert deine Büroarbeit und ordnet deinen Papierkram</p>
        <div class="px-sm-5 mb-4">
           <!-- {{> signup-forms.hero}} -->
        </div>
        <span class="c-hero__note">Mit der Anmeldung akzeptierst du die
          <a href="/agb/">AGB</a> und die
          <a href="/datenschutz/">Datenschutzerklärung</a>.</span>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

  <div class="c-hero__overflow">
    <div class="c-hero__overflow__container">
      <figure class="c-hero__figure"></figure>
    </div>
    <!-- /.c-hero__overflow__container -->
  </div>
</section>
