<section class="c-zdk-category-list l-section--padding l-section--background-light">
  <div class="container">
    <div class="row">
      {{#each zdk_categories}}
      <div class="col-md-3">
        <a class="c-zdk-category-list__cover" href="#1">
          <div class="c-zdk-category-list__item">
            <span class="c-zdk-category-list__icon"></span>
            <span class="c-zdk-category-list__title h4">{{title}}</span>
            <p class="c-zdk-category-list__desc">{{desc}}</p>
          </div>
        </a>
      </div>
      <!-- /.col -->
      {{/each}}
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.c-zdk-category-list -->
