<div class="c-zdk-hero c-zdk-hero--angle l-section--padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="c-zdk-hero__inner pb-5 pb-lg-3">
          <h1 class="c-zdk-hero__title display-3 mb-4 mb-md-5">How can we help you?</h1>
          <form class="search search-full">
            <input id="query" type="search" placeholder="Gib ein Stichwort ein">
          </form>
        </div>
        <!-- /.c-zdk-hero__inner -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div class="c-zdk-hero__overflow"></div>
  <!-- /.c-zdk-hero__overflow -->
</div>
<!-- /.c-zdk-hero -->
