<div class="c-zdk-content-header">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="display-3">Get started</h1>
        <p class="u-text-gray">Track events, create profiles, and connect other datasets.</p>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.c-zdk-content-header -->
