<div class="c-zdk-pagination">
  <nav class="pagination">
    <ul>
      <li class="pagination-current">
        <span>1</span>
      </li>
      <li>
        <a href="#1" rel="next">2</a>
      </li>
      <li class="pagination-next">
        <a href="#1" rel="next">›</a>
      </li>
      <li class="pagination-last">
        <a href="#1">»</a>
      </li>
    </ul>
  </nav>
</div>
