<section class="c-zdk-search-results l-section--padding-bottom l-section--background-light">
  <div class="container pt-4 pt-md-5">
    <h3 class="c-zdk-search-results__title mb-4 md-md-5">Wissensdatenbank</h3>

    <ul class="c-zdk-search-results__list pt-3">
      {{#each zdk_search_results}}
      <li class="c-zdk-search-results__item pb-5">
          <a class="c-zdk-search-results__link mb-2 pb-1" href="#1">{{title}}</a>
          <span class="c-zdk-search-results__votes">{{votes}}</span>
          <ul class="c-zdk-meta-group mb-2 pb-1">
            <li>
              <ol class="c-zdk-meta-group__breadcrumbs">
                <li><a href="#1">Bestellungen & Versand</a></li>
                <li><a href="#1">Zahlung</a></li>
              </ol>
            </li>
            <li class="c-zdk-meta-group__date">
                <time>vor 22 Tagen</time>
            </li>
          </ul>
          <div class="c-zdk-search-results__desc">
            {{{desc}}}
          </div>
          <!-- /.c-zdk-search-results__desc -->
        </li>
      {{/each}}
    </ul>
    {{> zdk-pagination}}
  </div>
  <!-- .container -->
</section>
