<section class="py-3 py-md-4 l-section--background-light">
  <div class="container">
    <div class="row">
      {{#each zdk_section_tree}}
      <div class="col-md-6 l-section--border-bottom py-4 py-md-5">
        <div class="c-zdk-section-tree">
          <h3 class="c-zdk-section-tree__title h2 mb-3">
            <a href="#">{{title}}</a>
          </h3>
          <ul class="c-zdk-article-list">
            {{#each links}}
            <li>
              <a href="#1">{{.}}</a>
            </li>
            {{/each}}
          </ul>
        </div>
        <!-- /.c-zdk-section-tree -->
      </div>
      <!-- /.col -->
      {{/each}}
    </div>
    <!-- /.row -->

    <nav class="c-zdk-sub-nav py-4">
      <ol class="breadcrumbs">
        <li title="Support Center">
          <a href="/hc/de">sevDesk Hilfe</a>
        </li>
        <li>Rechnungen, Angebote & Lieferscheine</li>
      </ol>
    </nav>
  </div>
  <!-- /.container -->
</section>
