<div class="c-integration-overview-card">
  <div class="c-integration-overview-card__media mb-4">
    <img src="{{path.images.demo}}/integrations/paypal.jpg" alt="">
  </div>
  <!-- /.__media -->
  <div class="c-integration-overview-card__links">
    <a href="#0">Website</a> <a href="#0">Documentation</a>
  </div>
  <!-- /.c-integration-overview-card__actions -->
</div>
<!-- /.c-integration-overview-card -->
