<div class="c-content-style">
  <h1>sevDesk &amp; Bilendo</h1>

  <p>Automatisiertes Mahnwesen und Inkasso für deine Buchhaltung!</p>

  <p>Wer Rechnungen schreibt, kommt in der Regel am Thema Mahnungen nicht vorbei. Bei Kunden mit schlechter Zahlungsmoral benötigst
    du deswegen ein funktionierendes Mahnwesen, dass dir im Notfall unter die Arme greift.</p>

  <p>sevDesk als deine zuverlässige Buchhaltungssoftware hat sich mit Bilendo deshalb einen Helfer mit ins Boot geholt. Als
    Experte für Mahnwesen und Inkasso unterstützt dich der Dienst, sobald Kunden deine Rechnungen nicht bezahlen. </p>
  <h2>So kannst du sevDesk und Bilendo verknüpfen!</h2>
  <p>Eine
    <strong>ausführliche Videoanleitung</strong> haben wir hier für dich parat:</p>

  [image: videoscreenshot.png with Link to https://vimeo.com/221225620]

  <p>
    <strong>In sevDesk:</strong>
  </p>

  <ol>
    <li>Logge dich unter
      <a href="https://my.sevdesk.de/#/login">sevDesk</a> ein</li>
    <li>Zu “Einstellung” navigieren</li>
    <li>Reiter “Benutzer” anklicken</li>
    <li>Auf dein hinterlegtes Unternehmen klicken</li>
    <li>Dein sevDesk API-Key kopieren</li>
  </ol>

  <p>
    <strong>In Bilendo:</strong>
  </p>

  <ol>
    <li>Bei Bilendo einloggen*</li>
    <li>Zu “Mein Konto” navigieren und “Integrationen” anklicken</li>
    <li>Zu “sevDesk” navigieren und “Konfigurieren” anklicken</li>
    <li>sevDesk API-Key eintragen</li>
    <li>Auf “Verbindung zu sevDesk herstellen” klicken</li>
    <li>Auswählen, welche Versandart gewünscht ist</li>
    <li>Auswählen, ob Zahlungen und/oder Rechnungen über sevDesk importiert werden sollen</li>
    <li>Auswählen, aus welchem Zeitraum die Rechnungen importiert werden sollen</li>
  </ol>

  <p>*Noch kein Bilendo-Kunde? Zur Anmeldung geht's
    <a href="https://www.bilendo.de/">hier</a>! </p>

  <h2>Über Bilendo</h2>

  <pre><code>	- Rechnungsimport**
      Forderungen per Schnittstelle aus sevDesk importieren
      - Mahnwesen**
      Kunden professionell &amp; regelmäßig erinnern
      - Inkasso**
      Überfällige Rechnungen im Ernstfall an das Inkasso übergeben
      - Factoring**
      Liquidität sofort steigern und Prozess in der Hand behalten
    </code></pre> [image: Bilendo-Logo.png]

  <p>Bilendo ist eine Cloudsoftware aus München, die dich dabei unterstützt deine Liquidität zu optimieren und dein Mahnwesen
    zu automatisieren. Der Service ist ideal für Selbstständige, Freiberufler und Startups geeignet und lässt sich wie sevDesk
    ohne technische Einrichtung und tiefergehendes KnowHow nutzen. </p>

  <p>Du brauchst Hilfe bei deinem Debitorenmanagement und der Verwaltung der offenen Posten? Bilendo regelt das! Der Dienst
    setzt unmittelbar nach Rechnungsstellung an. Die entsprechenden Daten werden per Schnittstelle von sevDesk importiert.
    </p>

  <p>Im Anschluss werden eingehende Zahlungen deines Geschäftskontos automatisch mit ausgehenden Rechnungen abgeglichen und
    gewünschte Dokumente wie Erinnerungen und Mahnungen per E-Mail oder Post Versand - auf Wunsch automatisiert! </p>

  <p>Härtefälle kannst du am Endes des Prozesses an Inkasso-Partner von Bilendo abtreten - selbstverständlich ebenfalls automatisch!
    Um Risiko schon vor Fälligkeit von Rechnungen abzutreten, hast du darüber hinaus die Möglichkeit via Factoring Forderungen
    zu verkaufen. </p>

</div>
