<div class="l-integrations-overview">
  <div class="row">
    <div class="col-12 mb-4 mb-md-5">
      <a class="c-btn c-btn--outline c-btn--sm" href="#0">&larr; All integrations</a>
    </div>
    <!-- /.col-12 -->
    <div class="col-md-4">
      {{> integrations.overview-card}}
    </div>
    <!-- /.col -->
    <div class="col-md-8 pl-md-4 pl-lg-3 pl-xl-1">
        {{> integrations.overview-content}}
    </div>
    <!-- /.col-md-8 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.l-integrations-overview -->
