<div class="c-selected-products">
    <div class="c-selected-products__item">
      <span class="c-selected-products__title">sevDesk BUCHHALTUNG</span>
      <div class="c-selected-products__price">
        <span class="old-price">180,00 €</span>
        <span class="new-price">126,00 €</span>
      </div>
    </div>
  </div>
  <!-- /.c-selected-products -->
