/*----------------------------------------------------
Base
----------------------------------------------------*/
*,
*:after,
*:before {
  box-sizing: border-box;
}

.no-box-sizing,
.no-box-sizing:after,
.no-box-sizing:before {
  box-sizing: content-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;

  // scroll
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #1a1919;
  font-family: $f-stack-default;
  font-size: 16px;
  font-weight: $f-weight-regular;
  -webkit-font-smoothing: antialiased;
}

img {
  border: 0;
  vertical-align: top;
  image-rendering: optimizeQuality;
  image-rendering: -webkit-optimize-contrast;
}

a {
  color: $c-link;
  text-decoration: none;
  transition: all $hover-transition;
}
a:hover {
  text-decoration: none;
  color: $c-link;
}
a:focus,
a:active {
  text-decoration: none;
}
:focus {
  // outline: 0;
}

a:focus,
a:active,
button::-moz-focus-inner,
input::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner,
select::-moz-focus-inner,
input[type='file'] > input[type='button']::-moz-focus-inner {
  outline: 0;
}


/* Forms */
form {
  display: inline;
}
fieldset {
  border: 0;
}
legend {
  display: none;
}

/* Table */
table {
  border-spacing: 0;
  empty-cells: show;
}
caption,
th,
td {
  vertical-align: top;
  text-align: left;
  font-weight: normal;
}

/* Content */
strong {
  font-weight: bold;
}
address {
  font-style: normal;
}
cite {
  font-style: normal;
}
q,
blockquote {
  quotes: none;
}
q:before,
q:after {
  content: '';
}
small,
big {
  font-size: 1em;
}
sup {
  font-size: 1em;
  vertical-align: top;
}
