//
// Headings
//

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0 0 1rem;
  font-family: $f-stack-special;
  font-weight: $f-weight-semibold;
  line-height: 1.25;
  color: $c-text;
}

h1,
.h1 {
  @include font-size($h1-font-sizes);
  letter-spacing: -0.4px;
}

h2,
.h2 {
  @include font-size($h2-font-sizes);
}

h3,
.h3 {
  @include font-size($h3-font-sizes);
}

h4,
.h4 {
  @include font-size($h4-font-sizes);
}

h5,
.h5 {
  @include font-size($h5-font-sizes);
}

h6,
.h6 {
  @include font-size($h5-font-sizes);
}

p {
  @include font-size($p-font-sizes);
  margin: 0 0 1rem;
}

.lead {
  // font-size: $lead-font-size;
  // font-weight: $lead-font-weight;
}

// Type display classes
.display-xl {
  @include font-size($displayxl-font-sizes);
  letter-spacing: -0.4px;
  font-weight: $f-weight-semibold;
}
.display-1 {
  @include font-size($display1-font-sizes);
  letter-spacing: -0.4px;
}
.display-2 {
  @include font-size($display2-font-sizes);
  font-weight: $f-weight-regular !important;
  letter-spacing: -0.4px;
}
.display-3 {
  @include font-size($display3-font-sizes);
  letter-spacing: -0.4px;
}
.display-4 {
  // font-size: $display4-size;
  // font-weight: $display4-weight;
  // line-height: $display-line-height;
}

.p-size {
  @include font-size($p-font-sizes);
}

//
// Horizontal rules
//

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  height: 0;
  border-top: 1px solid $c-divider-border;
}

//
// Emphasis
//

small,
.small {
  font-size: 12px;
  font-weight: $f-weight-regular;
}

mark,
.mark {
  padding: 4px;
  background-color: $c-danger;
}

.text-note {
  font-size: 12px;

  @include media-breakpoint-up(md) {
    font-size: 14px;
  }
}

.text-regular {
  font-weight: $f-weight-regular;
}

.text-primary {
  color: $c-text-primary;
}

.text-gray {
  color: $c-text-darkgray;
}

/*
Rem Helper on 16px base font
https://offroadcode.com/rem-calculator/

8px = 0.5rem
9px = 0.5625rem
10px = 0.625rem
11px = 0.6875rem
12px = 0.75rem
13px = 0.8125rem
14px = 0.875rem
15px = 0.9375rem
16px = 1rem (base)
18px = 1.125rem
19px = 1.188rem
20px = 1.25rem
22px = 1.375rem
24px = 1.5rem
26px = 1.625rem
28px = 1.75rem
30px = 1.875rem
32px = 2rem
34px = 2.125rem
36px = 2.25rem
38px = 2.375rem
40px = 2.5rem
44px = 2.75rem
48px = 3rem
56px = 3.5rem
64px = 4rem
80px = 5rem
100px = 6.25rem

*/
