// --------------------------------------------------------------------------
// Box shwdow Usage: @include box-shadow(200px, 200px);
// --------------------------------------------------------------------------

@mixin custom-box-shadow($shadow) {
  @if $shadow == 1 {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.08),
      0 1px 3px 0 rgba(0, 0, 0, 0.06);
  } @else if $shadow == 2 {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.11),
      0 1px 3px 0 rgba(0, 0, 0, 0.08);
  } @else if $shadow == 3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.11);
  } @else if $shadow == 4 {
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.08), 0 8px 16px rgba(0, 0, 0, 0.08);
  } @else if $shadow == 5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}
