// Section padding
@mixin section-padding($size) {
  @if $size == l {

    padding-top: 60px;
    padding-bottom: 60px;

    @include media-breakpoint-up(md) {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  }
  @else if $size == m {

    padding-top: 40px;
    padding-bottom: 40px;

    @include media-breakpoint-up(md) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
  @else if $size == s {
    padding-top: 24px;
    padding-bottom: 24px;

    @include media-breakpoint-up(md) {
      padding-top: 32px;
      padding-bottom: 32px;
    }

  }
}
