<section class="l-section l-section--padding">
  <div class="container">
    <div class="d-md-none pb-4">
      <ul class="c-features-table-nav">
        <li>
          <button name="button"
          type="button"
          class="c-features-table-nav__tab"
          data-target-index="0"
          data-ga-event="Features Table - Mobile Tabs"
          data-ga-action="Tab click"
          data-plan-name="Rechnung"
          aria-controls="PricingTable"
          aria-pressed="false">Rechnung</button>
        </li>
        <li>
          <button name="button"
          type="button"
          class="c-features-table-nav__tab js-is-active"
          data-target-index="1"
          data-ga-event="Features Table - Mobile Tabs"
          data-ga-action="Tab click"
          data-plan-name="Buchhaltung"
          aria-controls="PricingTable"
          aria-pressed="true">Buchhaltung</button>
        </li>
        <li>
          <button name="button"
          type="button"
          class="c-features-table-nav__tab"
          data-target-index="2"
          data-ga-event="Features Table - Mobile Tabs"
          data-ga-action="Tab click"
          data-plan-name="Warenwirtschaft"
          aria-controls="PricingTable"
          aria-pressed="false">Warenwirtschaft</button>
        </li>
      </ul>
    </div>

    <table id="FeaturesTable" class="c-features-table js-active-p-1">
      <caption class="sr-only">Feature information for all sevDesk plans</caption>
      <thead>
        <tr>
          <th scope="col">
            <span class="sr-only">Plan Feature</span>
          </th>
          <th scope="col" id="p-0">
            <span class="c-features-table__headline h5 mb-1">Rechnung</span>
            <span class="c-features-table__desc">Perfekt für Macher, die ihre Rechnungen schnell & einfach erstellen wollen.</span>
          </th>
          <th scope="col" id="p-1">
            <span class="c-features-table__headline h5 mb-1">Buchhaltung</span>
            <span class="c-features-table__desc">Perfekt für alle, die ihre Buchhaltung einfach selbst erledigen möchten.</span>
          </th>
          <th scope="col" id="p-2">
            <span class="c-features-table__headline h5 mb-1">Warenwirtschaft</span>
            <span class="c-features-table__desc">Perfekt für Unternehmer, die den vollen Funktionsumfang von nutzen möchten</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" id="f-monthly_price">
            <span class="c-features-table__feature-name">Monthly price</span>
          </th>
          <td headers="p-0 f-monthly_price" class="p-0-only">
            <span class="c-features-table__feature-value c-features-table__feature-value--nowrap"><span class="c-features-table__price h3">6,50 €</span></span>
          </td>
          <td headers="p-1" class="p-1-only">
            <span class="c-features-table__feature-value c-features-table__feature-value--nowrap"><span class="c-features-table__price h3">13,50 €</span></span>
          </td>
          <td headers="p-2 f-monthly_price" class="p-2-only">
            <span class="c-features-table__feature-value c-features-table__feature-value--nowrap"><span class="c-features-table__price h3">39,50 €</span></span>
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th scope="col" colspan="4">
            <span class="c-features-table__section-headline">Rechnungen</span>
          </th>
        </tr>
        <tr>
          <th scope="row" id="f-rates">
            <span class="c-features-table__feature-name">Rechnungen schreiben</span>
          </th>
          <td headers="p-0 f-rates" class="p-0-only">
            <span class="c-features-table__feature-value">
              <span class="sr-only">Yes</span>
              <i class="c-features-table__icon-check"></i>
            </span>
          </td>
          <td headers="p-1 f-rates" class="p-1-only">
            <span class="c-features-table__feature-value">
              <span class="sr-only">Yes</span>
              <i class="c-features-table__icon-check"></i>
            </span>
          </td>
          <td headers="p-1 f-rates" class="p-2-only">
            <span class="c-features-table__feature-value">
              <span class="sr-only">Yes</span>
              <i class="c-features-table__icon-check"></i>
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row" id="f-rates">
            <span class="c-features-table__feature-name"><a href="#0">Wiederkehrende Rechnungen</a></span>
            <span class="js-tooltip" data-tippy-placement="top" data-tippy-arrow="true" data-tippy-size="small" data-tippy-content="Use Shopify Payments and fraud analysis tools are included.
            If you choose an external payment gateway, upgrade to Shopify or Advanced Shopify for fraud analysis tools."><i class="c-features-table__icon-info"></i></span>
          </th>
          <td headers="p-0 f-rates" class="p-0-only">
            <span class="c-features-table__feature-value">
              <span class="sr-only">No</span>
              <i class="c-features-table__not-in-plan">–</i>
            </span>
          </td>
          <td headers="p-1 f-rates" class="p-1-only">
            <span class="c-features-table__feature-value">
              <span class="sr-only">Yes</span>
              <i class="c-features-table__icon-check"></i>
            </span>
          </td>
          <td headers="p-1 f-rates" class="p-2-only">
            <span class="c-features-table__feature-value">
              <span class="sr-only">Yes</span>
              <i class="c-features-table__icon-check"></i>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="d-md-none pt-4">
      <ul class="c-features-table-nav">
        <li>
          <button name="button" type="button" class="c-features-table-nav__tab" data-target-index="0" data-ga-event="Features Table - Mobile Tabs"
            data-ga-action="Tab click" data-plan-name="Rechnung" aria-controls="PricingTable" aria-pressed="false">Rechnung</button>
        </li>
        <li>
          <button name="button" type="button" class="c-features-table-nav__tab js-is-active" data-target-index="1" data-ga-event="Features Table - Mobile Tabs"
            data-ga-action="Tab click" data-plan-name="Buchhaltung" aria-controls="PricingTable" aria-pressed="true">Buchhaltung</button>
        </li>
        <li>
          <button name="button" type="button" class="c-features-table-nav__tab" data-target-index="2" data-ga-event="Features Table - Mobile Tabs"
            data-ga-action="Tab click" data-plan-name="Warenwirtschaft" aria-controls="PricingTable" aria-pressed="false">Warenwirtschaft</button>
        </li>
      </ul>
    </div>

  </div>
  <!-- /.container -->
</section>
