<section class="l-section l-section--padding-bottom">
  <div class="container">
    <div class="d-md-none pb-4">
      <ul class="c-features-table-nav">
        <li>
          <button name="button"
          type="button"
          class="c-features-table-nav__tab"
          data-target-index="0"
          data-ga-event="Features Table - Mobile Tabs"
          data-ga-action="Tab click"
          data-plan-name="Rechnung"
          aria-controls="PricingTable"
          aria-pressed="false">Rechnung</button>
        </li>
        <li>
          <button name="button"
          type="button"
          class="c-features-table-nav__tab js-is-active"
          data-target-index="1"
          data-ga-event="Features Table - Mobile Tabs"
          data-ga-action="Tab click"
          data-plan-name="Buchhaltung"
          aria-controls="PricingTable"
          aria-pressed="true">Buchhaltung</button>
        </li>
        <li>
          <button name="button"
          type="button"
          class="c-features-table-nav__tab"
          data-target-index="2"
          data-ga-event="Features Table - Mobile Tabs"
          data-ga-action="Tab click"
          data-plan-name="Warenwirtschaft"
          aria-controls="PricingTable"
          aria-pressed="false">Warenwirtschaft</button>
        </li>
      </ul>
    </div>

    <table id="FeaturesTable" class="c-features-table js-active-p-1">
      <caption class="sr-only">Feature information for all sevDesk plans</caption>
      <thead>
        <tr>
          <th scope="col">
            <span class="sr-only">Plan Feature</span>
          </th>
          <th scope="col" id="p-0">
            <span class="c-features-table__headline h5 mb-1">Rechnung</span>
            <span class="c-features-table__desc">Perfekt für Macher, die ihre Rechnungen schnell & einfach erstellen wollen.</span>
          </th>
          <th scope="col" id="p-1">
            <span class="c-features-table__headline h5 mb-1">Buchhaltung</span>
            <span class="c-features-table__desc">Perfekt für alle, die ihre Buchhaltung einfach selbst erledigen möchten.</span>
          </th>
          <th scope="col" id="p-2">
            <span class="c-features-table__headline h5 mb-1">Warenwirtschaft</span>
            <span class="c-features-table__desc">Perfekt für Unternehmer, die den vollen Funktionsumfang von nutzen möchten</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" id="f-monthly_price">
            <span class="c-features-table__feature-name">Monthly price</span>
          </th>
          <td headers="p-0 f-monthly_price" class="p-0-only">
            <span class="c-features-table__feature-value c-features-table__feature-value--nowrap"><span class="c-features-table__price h3">6,50 €</span></span>
          </td>
          <td headers="p-1" class="p-1-only">
            <span class="c-features-table__feature-value c-features-table__feature-value--nowrap"><span class="c-features-table__price h3">13,50 €</span></span>
          </td>
          <td headers="p-2 f-monthly_price" class="p-2-only">
            <span class="c-features-table__feature-value c-features-table__feature-value--nowrap"><span class="c-features-table__price h3">39,50 €</span></span>
          </td>
        </tr>
      </tbody>
      {{#each features_table}}
      <tbody>
        {{#if section_title}}
        <tr>
          <th scope="col" colspan="4">
            <span class="c-features-table__section-headline">{{section_title}}</span>
          </th>
        </tr>
        {{/if}}
        {{#each features}}
        <tr>
          <th scope="row" id="f-rates">
            <span class="c-features-table__feature-name">{{title}}</span>
            {{#if note}}
            <span class="js-tooltip" data-tippy-placement="top" data-tippy-arrow="true" data-tippy-size="small" data-tippy-content="{{note}}"><i class="c-features-table__icon-info"></i></span>
            {{/if}}
          </th>
          <td headers="p-0 f-rates" class="p-0-only">
            <span class="c-features-table__feature-value">
              {{#if p1}}
                <span class="sr-only">Yes</span>
                <i class="c-features-table__icon-check"></i>
              {{else}}
                <span class="sr-only">No</span>
                <i class="c-features-table__not-in-plan">–</i>
              {{/if}}
            </span>
          </td>
          <td headers="p-1 f-rates" class="p-1-only">
            <span class="c-features-table__feature-value">
              {{#if p2}}
                <span class="sr-only">Yes</span>
                <i class="c-features-table__icon-check"></i>
              {{else}}
                <span class="sr-only">No</span>
                <i class="c-features-table__not-in-plan">–</i>
              {{/if}}
            </span>
          </td>
          <td headers="p-1 f-rates" class="p-2-only">
            <span class="c-features-table__feature-value">
              {{#if p3}}
                <span class="sr-only">Yes</span>
                <i class="c-features-table__icon-check"></i>
              {{else}}
                <span class="sr-only">No</span>
                <i class="c-features-table__not-in-plan">–</i>
              {{/if}}
            </span>
          </td>
        </tr>
        {{/each}}
      </tbody>
      {{/each}}
      <tbody>
        <tr>
            <th scope="row" id="f-rates">
              <span class="c-features-table__feature-name is-bold">Anzahl der Benutzer</span>
            </th>
            <td headers="p-0 f-rates" class="p-0-only">
              <span class="c-features-table__feature-value">
                3
              </span>
            </td>
            <td headers="p-1 f-rates" class="p-1-only">
              <span class="c-features-table__feature-value">
                10
              </span>
            </td>
            <td headers="p-1 f-rates" class="p-2-only">
              <span class="c-features-table__feature-value">
                20
              </span>
            </td>
        </tr>
      </tbody>
    </table>

    <div class="d-md-none pt-4">
      <ul class="c-features-table-nav">
        <li>
          <button name="button" type="button" class="c-features-table-nav__tab" data-target-index="0" data-ga-event="Features Table - Mobile Tabs"
            data-ga-action="Tab click" data-plan-name="Rechnung" aria-controls="PricingTable" aria-pressed="false">Rechnung</button>
        </li>
        <li>
          <button name="button" type="button" class="c-features-table-nav__tab js-is-active" data-target-index="1" data-ga-event="Features Table - Mobile Tabs"
            data-ga-action="Tab click" data-plan-name="Buchhaltung" aria-controls="PricingTable" aria-pressed="true">Buchhaltung</button>
        </li>
        <li>
          <button name="button" type="button" class="c-features-table-nav__tab" data-target-index="2" data-ga-event="Features Table - Mobile Tabs"
            data-ga-action="Tab click" data-plan-name="Warenwirtschaft" aria-controls="PricingTable" aria-pressed="false">Warenwirtschaft</button>
        </li>
      </ul>
    </div>

  </div>
  <!-- /.container -->
</section>
