<div class="c-tabs-vertical">
  <ul class="c-tabs-vertical__nav">
    {{#each tabs_vertical.complex}}
      <li data-href="#{{@index}}">
        <i class="c-tabs-vertical__nav__icon"></i>
        <span class="c-tabs-vertical__nav__title h5">{{title}}</span>
        {{#if desc}}<p class="c-tabs-vertical__nav__desc">{{desc}}</p>{{/if}}
      </li>
    {{/each}}
  </ul>

  <div class="c-tabs-vertical__main">
    {{#each tabs_vertical.complex}}
    <div id="{{@index}}" class="c-tabs-vertical__content">
      <img class="lazyloaded u-lazyload u-img-shadow-1" src="{{../path.images.default}}/tabs/{{image}}" data-src="{{../path.images.default}}/tabs/{{image}}" alt="">
    </div>
    <!-- __content -->
    {{/each}}
  </div>
  <!-- /.c-tabs-vertical__main -->
</div>
<!-- /.c-tabs-vertical -->
