<template>
  <click-outside :do="() => focus = false">
    <div
      class="c-search-field c-search-field--sm c-search-field--shadow c-search-field--location c-search-field--clear-icon"
      :class="customClass"
    >
      <input
        type="text"
        ref="pacInput"
        placeholder="Stadt suchen"
        v-model="place.address"
        @keydown="handleKeyDown"
        @focus="focus=true"
      >
      <span class="c-search-field__clear" v-if="showClearIcon" @click="clearAddress"></span>
    </div>
  </click-outside>
</template>

<script>
import ClickOutside from "./click-outside.vue";

export default {
  components: {
    ClickOutside
  },
  props: {
    value: {
      type: Object,
      default() {
        return {
          address: "",
          lat: 0.0,
          lng: 0.0
        };
      }
    },
    customClass: {
      type: String,
      required: false
    },
    required: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      dropdown: null,
      input: null,
      googoleMaps: null,
      place: {
        lat: this.value.lat,
        lng: this.value.lng,
        address: this.shortAddress(this.value.address)
      },
      focus: false
    };
  },

  watch: {
    value: {
      handler: function(val) {
        this.place.address = this.shortAddress(val.address);
        this.place.lat = val.lat;
        this.place.lng = val.lng;
      },
      deep: true
    }
  },

  computed: {
    showClearIcon() {
      return this.focus && this.place.address.length > 0;
    }
  },

  methods: {
    autocomplete() {
      const options = {
        types: ["(cities)"],
        componentRestrictions: { country: ["de", "at"] }
      };
      this.input = this.$refs.pacInput;
      this.dropdown = new this.googleMaps.places.Autocomplete(this.input, options);
      this.dropdown.addListener("place_changed", () => {
        let place = this.dropdown.getPlace();
        let address = this.input.value;
        this.input.value = this.shortAddress(address);
        let lat = place.geometry.location.lat();
        let lng = place.geometry.location.lng();
        this.$emit("input", { address, lat, lng });
      });
    },
    handleKeyDown(e) {
      if (e.keyCode === 13) e.preventDefault();
    },
    clearAddress() {
      this.place.address = "";
      this.$emit("input", {
        address: "",
        lat: this.value.lat,
        lng: this.value.lng
      });
    },
    shortAddress(address) {
      let addArr = address.split(",");
      if (addArr.length < 5) {
        return address;
      }
      addArr.length = 3;
      return addArr.join(",");
    }
  },

  mounted() {
    this.googleMaps = window.google.maps;
    this.autocomplete();
  }
};
</script>

