<template>
  <div class="c-company-search-map map-container">
    <div class="c-company-search-map__map map" ref="map"></div>
  </div>
</template>

<script>
import infoWindowHelper from './info-window';
import MarkerWithLabel from '@google/markerwithlabel';

export default {
  props: {
    center: {
      type: Object,
      validator(value) {
        return ["lat", "lng"].every(key => ~Object.keys(value).indexOf(key));
      }
    },
    items: {
      type: Array,
      default() {
        return [];
      }
    },
    hoveredItem: {
      type: Object,
      default() {
        return {};
      }
    }
  },

  /**
   * Data
   */
  data() {
    return {
      map: null,
      googleMaps: null,
      MarkerWithLabelInstance: null,
      infoWindow: null,
      markers: [],
      zoom: 10,
      mapFullyLoaded: false
    };
  },

  /**
   * Watch
   */
  watch: {
    items() {
      this.clearMarkers();
      this.addMarkers();
      this.createInfoWindow();
    },
    center: {
      deep: true,
      handler: "resetCenter"
    },
    // hoveredItem: {
    //   deep: true,
    //   handler: "handleHoveredItem"
    // }
  },

   /**
   * Lifecycle
   */
  mounted() {
    this.googleMaps = window.google.maps;
    this.initMap();
  },

  /**
   * Methods
   */
  methods: {
    initMap() {
      if (!this.googleMaps) return;

      this.map = new this.googleMaps.Map(this.$refs.map, {
        zoom: this.zoom,
        zoomControl: true,
        zoomControlOptions: { position: window.google.maps.ControlPosition.LEFT_TOP },
        center: this.center
      })

      // this.MarkerWithLabelInstance = MarkerWithLabel;
      this.infoWindow = new this.googleMaps.InfoWindow();
    },

    resetCenter () {
      this.mapFullyLoaded = false;
      this.map.setCenter(new this.googleMaps.LatLng(this.center));
    },

    addEvenListeners () {
      ['zoom_changed', 'dragend'].forEach(event => this.map.addListener(event, () => this.handleMapChanged()))
      this.map.addListener('bounds_changed', () => this.handleMapFullyLoaded())
    },

    handleMapChanged () {
      this.infoWindow.close()
      this.$emit('bounds:changed', { mapBounds: this.map.getBounds() })
    },

    handleMapFullyLoaded () {
      if (this.mapFullyLoaded) {
        return
      }
      this.mapFullyLoaded = true
      this.handleMapChanged()
    },

    addMarkers() {
      this.markers = this.items.map(item => {
        let { lat, lng } = item;
        const marker = new MarkerWithLabel(this.getMarkerLabelOptions({ lat, lng }, this.map));
        marker.item = item;
        return marker
      })
    },

    clearMarkers () {
      this.markers.forEach(marker => { marker.setMap(null) })
    },

    resetLabelClass (marker, lableClass) {
      marker.labelClass = lableClass;
      marker.label.setStyles();
    },

    getMarkerLabelOptions (
      position,
      map
    ) {
      return {
        map,
        position,
        draggable: false,
        raiseOnDrag: true,
        labelClass: 'labels'
      }
    },

    removeInfoWindowWhiteSpace () {
      infoWindowHelper.removeWhiteSpace()
    },

    handleInfoWindowDomReady (infoWindow) {
      this.googleMaps.event.addListener(infoWindow, 'domready', () => {
        infoWindowHelper.removeWhiteSpace();
      })
    },

    resetInfoWindow () {
      this.infoWindow = this.infoWindow && new this.googleMaps.InfoWindow();
      return this.infoWindow;
    },

    createInfoWindow () {
      const vm = this;
      const infoWindow = this.resetInfoWindow();
      this.map.addListener('click', event => infoWindow.close());
      this.handleInfoWindowDomReady(this.infoWindow);
      this.markers.forEach(marker =>
        marker.addListener('click', function () {
          console.log('click');

          infoWindow.setContent(infoWindowHelper.getContentHtml(this));
          infoWindow.open(vm.map, this);
        })
      )
    }


  }
};
</script>

