<template>
    <div class="c-company-search-list__item"
      @mouseover="$emit('item:hovered', item)"
      @mouseleave="$emit('item:unhovered')"
      @click="$emit('item:clicked', item)"
    >
     <span class="d-block pb-3">
    <figure>
      <img :src="item.logo" :alt="item.name">
    </figure>
    </span>
    <span class="h5 mb-1 d-block c-company-search-list__title">{{item.name}}</span>
    <span class="d-block pb-2 u-text-gray">{{item.address}}</span>
    <span class="d-block pb-1">{{item.email}}</span>
    <span class="d-block pb-1">{{item.phone}}</span>
    <span class="d-block pt-2"><a :href="item.website" target="_blank">Webseite</a></span>

    </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true
    }
  }
};
</script>

