<template>
  <div class="c-company-search-list">
    <div>
      <div v-for="(item, index) in items" :key="index">
        <company-item
          :item="item"
          @item:hovered="$emit('item:hovered', item)"
          @item:unhovered="$emit('item:unhovered')"
          @item:clicked="$emit('item:clicked', item)"
        />
      </div>
    </div>
  </div>
</template>

<script>
import CompanyItem from "./company-item.vue";

export default {
  components: {
    CompanyItem
  },
  props: {
    items: {
      type: Array,
      default() {
        return [];
      }
    }
  }
};
</script>

