<template>
  <div class="c-company-search">
    <div class="row no-gutters">
      <div class="col-md-7 col-lg-8 order-md-3">
        <company-map
          @bounds:changed="handleBoundsChanged"
          :items="companies"
          :center="center"
          :hovered-item="hoveredItem"
          :lat="place.lat"
          :lng="place.lng"
        />
      </div>
      <!-- /.col-md-6 -->
      <div class="col-md-5 col-lg-4 c-company-search__main">
        <header>
          <div>
            <address-autocomplete v-model="place"/>
          </div>
        </header>
        <main>
          <company-list :items="activeCityCompanies" @item:clicked="clickedItem"/>
        </main>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
</template>

<script>
import AddressAutocomplete from "./address-autocomplete.vue";
import CompanyList from "./company-list.vue";
import CompanyMap from "./company-map.vue";

export default {
  components: {
    CompanyList,
    CompanyMap,
    AddressAutocomplete
  },
  props: {
    items: {
      type: Array,
      default() {
        return [];
      }
    },
    defaultLat: {
      type: Number,
      default: 52.5495895
    },
    defaultLng: {
      type: Number,
      default: 13.4567245
    },
    defaultAddress: {
      type: String,
      default: ''
    }
  },
  /**
   * Data
   */
  data() {
    return {
      companies: [],
      place: {
        lat: this.defaultLat,
        lng: this.defaultLng,
        address: '',
      },
      activeCity: null,
      activeCityCompanies: [],
      hoveredItem: null,
      companyMeta: null,
      mapBounds: null
    };
  },
  computed: {
    companyListTitle() {
      let title = "Hello there";
      return title;
    },
    center() {
      return {
        lat: this.place.lat,
        lng: this.place.lng
      };
    }
  },

  watch: {
    'place.address': {
      handler: function(value) {
        if (!value) {
          this.activeCity = null;
          return;
        }
        let address = value.split(",");
        if (address.length > 1) {
          this.activeCity = address[0].toLowerCase();
        } else {
          this.activeCity = null;
        }
        this.filterByActiveCity();
      },
      deep: true
    }
  },

  /**
   * Lifecycle
   */
  created() {
    // hack for the map to render markers, the map renders markers on companies change event from props
    this.place.address = this.defaultAddress;
    setTimeout(() => {
      this.companies = this.items;
      this.filterByActiveCity();
    }, 200);
  },

  /**
   * Methods
   */
  methods: {
    handleBoundsChanged({ mapBounds }) {
      this.mapBounds = mapBounds;
    },

    filterByActiveCity() {
      if (this.activeCity) {
        return this.activeCityCompanies = this.companies.filter(item => {
          let address = item.address.toLowerCase();
          return address.indexOf(this.activeCity) !== -1;
        });
      }
      return this.activeCityCompanies = this.companies;
    },

    getBounds() {
      return {
        minLat: this.mapBounds.getSouthWest().lat(),
        maxLat: this.mapBounds.getNorthEast().lat(),
        minLng: this.mapBounds.getSouthWest().lng(),
        maxLng: this.mapBounds.getNorthEast().lng()
      };
    },
    clickedItem(item) {
      this.place.address = item.address;
      this.place.lat = item.lat;
      this.place.lng = item.lng;
    }
  }
};
</script>

