<div class="l-birthday-signup l-birthday-signup--advent-lp">
  <header class="l-birthday-signup__header--advent py-5 u-text-center">
    <a class="l-birthday-signup__header__logo" href="#0"><span class="c-logo">sevDesk</span></a>
    <p class="c-cta__desc h4 pt-md-4 mb-0 pb-md-0">in kooperation mit</p>
    <div class="l-birthday-signup__header__logo--advent-sponsors">
      <img class="lazyload u-lazyload" id="adventLogo" src="" />
    </div>


  </header>
  <main class="l-birthday-signup__body">
    {{> advent-card }}
  </main>
  <footer class="l-birthday-signup__footer text-center py-4">
    <nav class="c-links-sm">
      <ul>
        <li>
          <a href="#">Terms</a>
        </li>
        <li>
          <a href="#">Support</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>
  </footer>
</div>
<!-- /.l-sign-up -->
