<div class="l-advent-calendar">
  <header class="l-advent-calendar__header py-5 u-text-center">
    <a class="advent-calendar__header__logo" href="#0">
      <span class="c-logo">sevDesk</span>
    </a>
    <h1 class="display-1 h1 mt-3 header-adventcalendar">Adventskalender</h1>
  </header>
  <!-- /.header -->
  <main class="l-advent-calendar__body">
    <div class="container">
      <div class="row justify-content-center">

        <div id="day014" class="present">
          <div class="present__pane day14"></div>
          <div class="present__content">
            <img class="lazyload u-lazyload" src='https://cdn.sevdesk.de/uploads/present_day14.jpg'>
            <div class="present__content__shadow"></div>
          </div>
        </div>
        <!-- /.day14 -->

        <div id="day01" class="present">
          <div class="present__pane day1"></div>
          <div class="present__content">
            <img class="lazyload u-lazyload" src='https://cdn.sevdesk.de/uploads/present_day1.jpg'>
            <div class="present__content__shadow"></div>

          </div>
        </div>
        <!-- /.day1 -->

        <div id="day011" class="present">
          <div class="present__pane day11"></div>
          <div class="present__content">
            <img class="lazyload u-lazyload" src='https://cdn.sevdesk.de/uploads/present_day11.jpg'>
            <div class="present__content__shadow"></div>

          </div>
        </div>
        <!-- /.day11 -->

        <div id="day05" class="present">
          <div class="present__pane day5"></div>
          <div class="present__content">
            <img class="lazyload u-lazyload" src='https://cdn.sevdesk.de/uploads/present_day5.jpg'>
            <div class="present__content__shadow"></div>

          </div>
        </div>
        <!-- /.day5 -->

        <div id="day015" class="present">
          <div class="present__pane day15"></div>
          <div class="present__content">
            <img class="lazyload u-lazyload" src='https://cdn.sevdesk.de/uploads/present_day15.jpg'>
            <div class="present__content__shadow"></div>

          </div>
        </div>
        <!-- /.day15 -->

        <div id="day04" class="present">
          <div class="present__pane day4"></div>
          <div class="present__content">
            <img class="lazyload u-lazyload" src='https://cdn.sevdesk.de/uploads/present_day4.jpg'>
            <div class="present__content__shadow"></div>

          </div>
        </div>
        <!-- /.day4 -->

        <div id="day010" class="present">
          <div class="present__pane day10"></div>
          <div class="present__content">
            <img class="lazyload u-lazyload" src='https://cdn.sevdesk.de/uploads/present_day10.jpg'>
            <div class="present__content__shadow"></div>

          </div>
        </div>
        <!-- /.day10 -->

        <div id="day02" class="present">
          <div class="present__pane day2"></div>
          <div class="present__content">
            <img class="lazyload u-lazyload" src='https://cdn.sevdesk.de/uploads/present_day2_1.jpg'>
            <div class="present__content__shadow"></div>

          </div>
        </div>
        <!-- /.day2 -->

        <div id="day013" class="present">
          <div class="present__pane day13"></div>
          <div class="present__content">
            <img class="lazyload u-lazyload" src='https://cdn.sevdesk.de/uploads/present_day13.jpg'>
            <div class="present__content__shadow"></div>

          </div>
        </div>
        <!-- /.day13 -->

        <div id="day016" class="present">
          <div class="present__pane day16"></div>
          <div class="present__content">
            <img class="lazyload u-lazyload" src='https://cdn.sevdesk.de/uploads/present_day16_1.jpg'>
            <div class="present__content__shadow"></div>

          </div>
        </div>
        <!-- /.day16 -->

        <div id="day022" class="present">
          <div class="present__pane day22"></div>
          <div class="present__content">
            <img class="lazyload u-lazyload" src='https://cdn.sevdesk.de/uploads/present_day22.jpg'>
            <div class="present__content__shadow"></div>

          </div>
        </div>
        <!-- /.day22 -->

        <div id="day06" class="present">
          <div class="present__pane day6"></div>
          <div class="present__content">
            <img class="lazyload u-lazyload" src='https://cdn.sevdesk.de/uploads/present_day6.jpg'>
            <div class="present__content__shadow"></div>

          </div>
        </div>
        <!-- /.day6 -->

        <div id="day09" class="present">
          <div class="present__pane day9"></div>
          <div class="present__content">
            <img class="lazyload u-lazyload" src='https://cdn.sevdesk.de/uploads/present_day9.jpg'>
            <div class="present__content__shadow"></div>

          </div>
        </div>
        <!-- /.day9 -->

        <div id="day08" class="present">
          <div class="present__pane day8"></div>
          <div class="present__content">
            <img class="lazyload u-lazyload" src='https://cdn.sevdesk.de/uploads/present_day8.jpg'>
            <div class="present__content__shadow"></div>

          </div>
        </div>
        <!-- /.day8 -->

        <div id="day020" class="present">
          <div class="present__pane day20"></div>
          <div class="present__content">
            <img class="lazyload u-lazyload" src='https://cdn.sevdesk.de/uploads/present_day20.jpg'>
            <div class="present__content__shadow"></div>

          </div>
        </div>
        <!-- /.day20 -->

        <div id="day012" class="present">
          <div class="present__pane day12"></div>
          <div class="present__content">
            <img class="lazyload u-lazyload" src='https://cdn.sevdesk.de/uploads/present_day12.jpg'>
            <div class="present__content__shadow"></div>

          </div>
        </div>
        <!-- /.day12 -->

        <div id="day021" class="present">
          <div class="present__pane day21"></div>
          <div class="present__content">
            <img class="lazyload u-lazyload" src='https://cdn.sevdesk.de/uploads/present_day21.jpg'>
            <div class="present__content__shadow"></div>

          </div>
        </div>
        <!-- /.day21 -->

        <div id="day017" class="present">
          <div class="present__pane day17"></div>
          <div class="present__content">
            <img class="lazyload u-lazyload" src='https://cdn.sevdesk.de/uploads/present_day17.jpg'>
            <div class="present__content__shadow"></div>

          </div>
        </div>
        <!-- /.day17 -->

        <div id="day03" class="present">
          <div class="present__pane day3"></div>
          <div class="present__content">
            <img class="lazyload u-lazyload" src='https://cdn.sevdesk.de/uploads/present_day3.jpg'>
            <div class="present__content__shadow"></div>

          </div>
        </div>
        <!-- /.day3 -->

        <div id="day018" class="present">
          <div class="present__pane day18"></div>
          <div class="present__content">
            <img class="lazyload u-lazyload" src='https://cdn.sevdesk.de/uploads/present_day18.jpg'>
            <div class="present__content__shadow"></div>

          </div>
        </div>
        <!-- /.day18 -->

        <div id="day023" class="present">
          <div class="present__pane day23"></div>
          <div class="present__content">
            <img class="lazyload u-lazyload" src='https://cdn.sevdesk.de/uploads/present_day23.jpg'>
            <div class="present__content__shadow"></div>

          </div>
        </div>
        <!-- /.day23 -->

        <div id="day07" class="present">
          <div class="present__pane day7"></div>
          <div class="present__content">
            <img class="lazyload u-lazyload" src='https://cdn.sevdesk.de/uploads/present_day7.jpg'>
            <div class="present__content__shadow"></div>

          </div>
        </div>
        <!-- /.day7 -->

        <div id="day019" class="present">
          <div class="present__pane day19"></div>
          <div class="present__content">
            <img class="lazyload u-lazyload" src='https://cdn.sevdesk.de/uploads/present_day19.jpg'>
            <div class="present__content__shadow"></div>

          </div>
        </div>
        <!-- /.day19 -->

      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->

  </main>
  <!-- /.main -->


  <div id="sponsors">
    <h2 class="fc-content-section__headline display-1 h2 pb-4">sponsored by</h2>
    <div class="logos-wrap">
      <div class="container">

        <div class="row">
          <div class="col-sm-4 col-md-4 ">
            <a href="https://www.fyrst.de/" target="_blank" noopener nofollow>
              <img class="lazyload u-lazyload" src="https://cdn.sevdesk.de/uploads/fysrt-logo-advent.png" alt="Fyrst"
                title="Fyrst">
            </a>
          </div>
          <div class="col-sm-4 col-md-4 ">
            <a href="https://unternehmerkanal.de/" target="_blank" noopener nofollow>
              <img class="lazyload u-lazyload" src="https://cdn.sevdesk.de/uploads/uk-logo-advent.png"
                alt="Unternehmerkanal" title="Unternehmerkanal">
            </a>
          </div>
          <div class="col-sm-4 col-md-4">
            <a href="https://www.kontool.de/" target="_blank" noopener nofollow>
              <img class="lazyload u-lazyload" src="https://cdn.sevdesk.de/uploads/kontool-logo-advent.png"
                alt="Kontool" title="Kontool">
            </a>
          </div>
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-sm-4 col-md-4 offset-md-2">
            <a href="https://www.invoicefetcher.com/de/" target="_blank" noopener nofollow>
              <img class="lazyload u-lazyload" src="https://cdn.sevdesk.de/uploads/invoicefetcher-logo-advent.png"
                alt="Invoicefetcher" title="Invoicefetcher">
            </a>
          </div>
          <div class="col-sm-4 col-md-4">
            <a href="https://cloudwharf.com/de/" target="_blank" noopener nofollow>
              <img class="lazyload u-lazyload" src="https://cdn.sevdesk.de/uploads/cloudwarf-logo-advent.png"
                alt="Cloudwharf" title="Cloudwharf">
            </a>
          </div>
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-sm-4 col-md-4">
            <a href="https://www.billbee.io/" target="_blank" noopener nofollow>
              <img class="lazyload u-lazyload" src="https://cdn.sevdesk.de/uploads/bilbee-logo-advent.png" alt="Billbee"
                title="Billbee">
            </a>
          </div>
          <div class="col-sm-4 col-md-4 ">
            <a href="https://www.clockodo.com/de/" target="_blank" noopener nofollow>
              <img class="lazyload u-lazyload" src="https://cdn.sevdesk.de/uploads/clockodo-logo-advent.png"
                alt="clockodo" title="clockodo">
            </a>
          </div>
          <div class="col-sm-4 col-md-4 ">
            <a href="https://www.getmyinvoices.com/de/" target="_blank" noopener nofollow>
              <img class="lazyload u-lazyload" src="https://cdn.sevdesk.de/uploads/getmyinvoice-logo-advent.png"
                alt="GetMyInvoices" title="GetMyInvoices">
            </a>
          </div>
        </div>
        <!-- /.row -->

      </div>
    </div>
  </div>
  <!--#sponsors-->

  <footer class="l-advent-calendar__footer text-center py-4">
    <nav class="c-links-sm">
      <ul>
        <li>
          <a href="#">Terms</a>
        </li>
        <li>
          <a href="#">Support</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>
  </footer>
  <!-- /.footer -->
</div>
