<div class="container l-section--padding">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-5">
      <div id="vue-calculator-working-hours">
        <calculator-working-hours></calculator-working-hours>
      </div>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
