<div class="l-checkout">
  <div class="container">
    <header class="l-checkout__header pt-2 pb-4 mb-2">
      <a class="c-logo" href="/">sevDesk</a>
    </header>
    <div class="row">
      <div class="l-checkout__main col-md-6 mb-3 pr-md-4 pr-lg-5">
        <h5>Deine rechnungsdaten</h5>
        <div class="row sm-gutters">
          <div class="col-6">{{>input.default label="Vorname"}}</div>
          <div class="col-6">{{>input.default label="Nachname"}}</div>
          <div class="col-12">{{>input.default label="Organisation"}}</div>
          <div class="col-12">{{>input.default label="E-Mail"}}</div>
          <div class="col-12">{{>input.default label="Telefon"}}</div>
          <div class="col-6">{{>input.default label="Straße"}}</div>
          <div class="col-6">{{>input.default label="PLZ"}}</div>
          <div class="col-6">{{>select.default label="Country" option="Germany" option1="Sweden" option2="France" }}</div>
          <div class="col-6">{{>select.default label="Stadt" option="Berlin" option1="Ofenburg" option2="Fra" }}</div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.l-checkout__main -->

      <div class="l-checkout__aside col-md-6 pl-md-4 pl-lg-5">
        <h5>Tarif und laufzeit</h5>
        {{> selected-products.discount}}

        <div class="row sm-gutters mb-3">
          <div class="col-6">{{>select.default label="Period" option="1 Monate" option1="12 Monate -20%" option2="24 Monate -32%" }}</div>
          <div class="col-6">{{>input.default label="Coupon" value="DDB17" addon="is-checked" }}</div>
        </div>
        <!-- .row -->

        <h5>Zahlung</h5>
        <div class="pb-4">
          {{> payment-methods.selected}}
        </div>

        <div class="pb-5">
          <button class="c-btn c-btn--primary c-btn--large">Abonnement bestellen</button>
        </div>
      </div>
      <!-- /.l-checkout__aside -->
    </div>
    <!-- /.row -->

    <div class="l-checkout__links">
      <nav class="c-links-sm">
        <ul>
          <li>
            <a href="#0">Terms</a>
          </li>
          <li>
            <a href="#0">Support</a>
          </li>
          <li>
            <a href="#0">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.l-checkout -->
