{{> header.default}}

<section class="c-hero-typed l-section--padding c-hero-typed--blue">
  <div class="container py-lg-5">
    <div class="row py-md-3 justify-content-center">
      <div class="col-11 col-sm-10 col-md-7">
        <h1 class="display-1 u-text-white">Funktionsübersicht</h1>
        <h2 class="h3 u-text-white">
          sevDesk unterstützt dich <br /> bei
          <span id="js-typed" class="c-hero-typed__underline--"></span>
          <div id="js-typed-strings" class="d-none">
            <p>deinen Angeboten & Rechnungen</p>
            <p>der Belegverwaltung</p>
            <p>der Umsatzsteuervoranmeldung</p>
          </div>
        </h2>
        <div class="col-md-10 mt-4 mb-3 px-0">
          {{> signup-forms.hero}}
          <span class="u-text-white fc-hero__note">Mit der Anmeldung akzeptierst du die
            <a href="/agb/">AGB</a> und die
            <a href="/datenschutz/">Datenschutzerklärung</a>.
          </span>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

{{> function-site.top-functions}}
{{> function-site.grouped-functions}}
{{> call-to-action.bg}}
{{> footer.default}}
