{{> header.default}}
{{> hero-search}}
<section class="container l-section l-section--padding l-section--border-bottom">
  <div class="row lg-gutters">
    <div class="col-md-6">
      {{> archive-list}}
    </div>
    <!-- /.col-md-6 -->
    <div class="col-md-6">
      {{> archive-list}}
    </div>
    <!-- /.col-md-6 -->
  </div>
  <!-- /.row -->
</section>

{{> seo}}
{{> call-to-action.bg}}
{{> footer.default}}
