{{> hero-landing-2}}

<section class="l-section--padding">
  <div class="container">
    <div class="c-section-header mb-md-5">
      <h3 class="c-section-header__title h2">Eine <em class="underline">Buchhaltungssoftware</em>, die dich weiterbringt</h3>
    </div>
    <!-- /.c-section-header -->
    {{> tabs.vertical}}
  </div>
  <!-- /.container -->
</section>

{{> call-to-action.bg}}
{{> footer.lp}}
