<div class="p-5">
  <button class="c-btn c-btn--primary js-open-signup-modal">Kostenlos testen</button>
</div>

<div id="signup-modal" class="c-signup-modal is-bg1">
  <c-signup-modal>
    <template slot="content_after">
      <p class="u-text-white mb-2" style="margin-top:-1rem;">
        <img src="https://cdn.sevdesk.de/uploads/check.png" style="max-width:25px;"> 14 Tage unverbindlich testen<br>
        <img src="https://cdn.sevdesk.de/uploads/check.png" style="max-width:25px;"> Testphase endet automatisch<br>
        <img src="https://cdn.sevdesk.de/uploads/check.png" style="max-width:25px;"> Keine Kreditkarte erforderlich</p>
      <p><img src="https://cdn.sevdesk.de/uploads/trust-register.png" style="width: 100%; height: auto;"></p>
    </template>
  </c-signup-modal>
</div>
