<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10 c-article-body__shadow">
      <div class="c-article-body__content c-content-style">
        <p>Die Protokollführung eines Meetings wird ungerne freiwillig übernommen. Dabei ist das Protokollieren
          eigentlich gar nicht so schwierig, wie viele annehmen. Außerdem stellt das <strong>Protokoll
            schreiben</strong> eine wichtige Aufgabe dar. Sie ist sogar im Anschluss an ein Meeting von essentieller
          Bedeutung. Zunächst betrachten wir die verschiedenen Arten und Typen eines Protokolls. Doch was ist wichtig
          beim Protokoll schreiben? Wie lerne ich das Protokollieren? Und wer darf diese Aufgabe überhaupt übernehmen?
          Alles zum Thema Protokoll jetzt in diesem Artikel.</p>
        <h2 class="h2">Das erwartet dich heute:</h2>
        <ul>
          <li><strong><strong><strong><a href="#warum-protodoll-schreiben">Warum Protokoll
                    schreiben?</a></strong></strong></strong></li>
          <li><strong><strong><strong><a href="#protokollarten">Protokollarten – was wird in einem Protokoll
                    festgehalten?</a></strong></strong></strong></li>
          <li><strong><strong><strong><a href="#protokoll-schreiben">Protokoll schreiben Tipps für das perfekte
                    Protokoll</a></strong></strong></strong></li>
          <li><strong><strong><strong><a href="#vorlage">Protokoll schreiben Vorlage – was muss in ein
                    Protokoll?</a></strong></strong></strong></li>
          <li><strong><strong><strong><a href="#tipps">Allgemeine Tipps zum Protokoll
                    schreiben</a></strong></strong></strong></li>
          <li><strong><strong><strong><a href="#fazit">Fazit</a></strong></strong></strong></li>
        </ul>
        <h2 id="warum-protodoll-schreiben">Warum Protokoll schreiben?</h2>
        <p>Der Chef bittet seinen Mitarbeiter darum, ein Gesprächsprotokoll während des <a
            href="/blog/wird-jedes-meeting-zum-erfolg/" target="_blank">Meetings</a> zu verfassen. Vielleicht bezeichnet
          er dies auch als Ergebnisprotokoll, Verlaufsprotokoll oder Besprechungsprotokoll. Möglich ist es auch, dass er
          ein Gedächtnisprotokoll im Nachhinein einer Sitzung wünscht. Bezeichnungen für die Protokollierung gibt es
          viele, gemeint ist jedoch meist das Gleiche. Und das obwohl die einzelnen Protokollarten eigentlich ganz
          unterschiedlich aussehen. So sollen meist Gesprächsinhalte stichpunktartig festgehalten und im Anschluss
          sinnvoll aufbereitet werden. Aber warum? Schließlich waren doch alle Mitarbeiter selber anwesend?</p>
        <h3>Übersichtliche Zusammenfassung</h3>
        <p>Wer das Protokoll schreiben richtig umsetzt, der übernimmt eine wichtige Aufgabe als Mitarbeiter eines
          Unternehmens. Ein Protokoll soll eine sinnvolle Zusammenfassung einer Besprechung darstellen. Schließlich kann
          von niemandem erwartet werden, dass sämtliche Informationen eines stundenlangen Meetings, im Kopf behalten
          werden. Ein ausgearbeitetes Protokoll fasst die wesentlichen Inhalte und die wichtigsten Punkte einer
          Besprechung zusammen.</p>
        <h3>Informationsweitergabe</h3>
        <p>Weiterhin liefern Protokolle wichtige Informationen. Vor allem für diejenigen, die an dem Meeting nicht
          teilnehmen konnten. Die mündliche Weitergabe der Inhalte aus dem Meeting sind dabei nämlich nicht immer
          zuverlässig. Handelt es sich um eine Firma mit mehreren Mitarbeitern, so wäre dieser Weg auch hinreichend
          zeitintensiv.</p>

          <div class="mqlBox" data-mql-title="Sichere dir jetzt das kostenlose E-Book. 2" data-mql-desc="Und erhalte nützliche Tips und Tricks rund um das Thema Buchhaltung."
          data-mql-image="https://cdn.sevdesk.de/uploads/fragebogen-mql.png" data-mql-content-id="3333"></div>

        <h3>Protokolle schaffen Verbindlichkeit</h3>
        <p>Liegen allen Mitarbeitern eines Unternehmens die gleichen Informationen und Inhalte vor, so gelten diese auch
          gleichermaßen für alle. Soll heißen, dass im Streitfall ein Blick in das Abschlussprotokoll genügt, um für
          Klarheit zu sorgen. Aus diesen Gründen werden viele Protokolle auch von den einzelnen Mitarbeitern
          unterschrieben, um Einstimmigkeit über das Besprochene zu schaffen.</p>
        <p>Protokoll schreiben war vielen schon in der Schule lästig. Und immer noch wird in vielen Unternehmen zwar
          Protokoll geführt, leider bleibt es jedoch oft bei den Mitschriften. Und die landen dann in der Schublade,
          ohne weiter beachtet zu werden. In den wenigsten Fällen werden daraus sinnvolle Endprotokolle verfasst, die
          sich zum Abheften eignen. Ein absolut ungenutztes Potenzial!</p>
        <div style="border-radius: 5px; border: 1px solid #ededed; background-color: #f9f9f9; padding: 0px 55px 10px;">
          <h2>Tipp!</h2>
          <p>Idealerweise werden Protokolle in einem <a href="/blog/papierloses-buero/" target="_blank">papierlosen
              Büro</a>&nbsp;direkt digital verfasst und an einem Ort abgelegt, an dem jeder den es betrifft darauf
            zugreifen kann.</p>
        </div>
        <h2 id="protokollarten">Protokollarten – was wird in einem Protokoll festgehalten?</h2>
        <p>Was die Protokollarten betrifft, so gibt es zunächst zwei verschiedene Typen. Dabei geht es darum, welche
          Aspekte in einem Protokoll festgehalten werden sollen. Wir unterscheiden:</p>
        <ul>
          <li>Ergebnisprotokoll</li>
          <li>Verlaufsprotokoll</li>
        </ul>

        <div class="mqlBox" data-mql-title="Sichere dir jetzt das kostenlose E-Book." data-mql-desc="Und erhalte nützliche Tips und Tricks rund um das Thema Buchhaltung."
          data-mql-image="https://cdn.sevdesk.de/uploads/ebook-mql.png" data-mql-content-id="3333"></div>



        <p>Im Verlaufsprotokoll soll der Verlauf eines Gespräches möglichst detailliert festgehalten werden. So geht es
          hier darum, Argumentationen von Teilnehmern der Sitzung festzuhalten und Gegenargumente aufzulisten, die
          vorgebracht wurden. Im Anschluss ist es dann nachvollziehbar, wie die Ergebnisse zustande kamen. Meist werden
          an dieser Stelle auch Mitarbeiternamen beschrieben.</p>
        <p>Ergebnisprotokolle haben das Ziel, lediglich die wichtigsten Beschlüsse oder Entscheidungen aufzuführen. Es
          geht hier nicht um den Weg dorthin, sondern lediglich um die Zusammenfassung der Ergebnisse. So handelt es
          sich also um eine recht kurze Protokollierung, also um ein Kurzprotokoll. In beiden Arten steht jedoch das
          wirklich wichtige im Fokus. Unwichtige Randinformationen werden später aus der überarbeiteten Version
          gestrichen. Zumindest all diejenigen, die für andere Mitarbeiter nicht mehr relevant sind.</p>
        <h3>Das Seminarprotokoll</h3>
        <p>Das Seminarprotokoll stellt eine Mischung aus Ergebnisprotokoll und Verlaufsprotokoll dar. Hier wird ein
          Protokoll angefertigt, damit sich die Teilnehmer des Seminars, voll und ganz auf den Verlauf konzentrieren
          können. Ohne selbst mitschreiben zu müssen. Seminarprotokolle werden im Anschluss aufgearbeitet und an die
          Teilnehmer verteilt. Zum Einsatz kommt diese Protokollart an Schulen, Universitäten oder Ausbildungsstätten.
          Geschrieben wird meist stichpunktartig und in der Gegenwart. Wichtig ist auch hier die Objektivität auf den
          wichtigsten Inhalte. Und natürlich die Vollständigkeit.</p>
        <h3>Wörtliches Protokoll</h3>
        <p>Wörtliche Protokolle stellen eine Sonderform des Verlaufsprotokolls dar. Hier wird der exakte Wortlaut aller
          Äußerungen wiedergegeben. Diese Art wird meist bei Gerichtsverhandlungen genutzt, wenn es beispielsweise um
          Zeugenaussagen geht. Kürzungen im Nachhinein gibt es meist keine, um den Überblick über die Verhandlung auch
          später noch nachvollziehen zu können. Für den Protokollführer bedeutet dies allerdings meist die Beherrschung
          einer speziellen Sprache, also die Nutzung von Abkürzungen. Diese werden speziell erlernt.</p>
        <h3>Das Gedächtnisprotokoll</h3>
        <p>Das Gedächtnisprotokoll wird im Anschluss an ein Zusammentreffen erstellt und rein aus der Erinnerung
          formuliert. Auch dabei geht es um die wesentlichen Punkte aus dem Meeting und um eine grobe Zusammenfassung
          der Ergebnisse. Für wichtige Sitzungen ist diese Art allerdings ungeeignet.</p>
        <h2 id="protokoll-schreiben">Protokoll schreiben Tipps für das perfekte Protokoll</h2>
        <p>Egal ob Verlaufsprotokoll, Besprechungsprotokoll oder Ergebnisprotokoll – der Einsatz eines Protokollführers
          macht nur dann Sinn, wenn die Mitschriften im Anschluss auch verwertet werden. Und um genau das auch wirklich
          umsetzen zu können, bedarf es einer konzentrierten Teilnahme. Kein Wunder also, dass das Protokoll schreiben
          zu den eher unbeliebten Aufgaben gehört. Zumal sie auch zusätzliche Arbeit im Anschluss an das Meeting
          bedeutet.</p>
        <h3>Nachfragen stellen und für Klarheit sorgen</h3>
        <p>Wer die Protokollführung hat, der ist auch dafür verantwortlich, dass der Inhalt korrekt aufgenommen wird.
          Wer also richtig protokollieren will, der muss hin und wieder nachfragen. Auch dann, wenn ein Thema
          ausversehen keinen Abschluss gefunden hat. Dies passiert häufiger in Meetings, wenn ein Gespräch vom Thema
          abdriftet. Hier sorgt die Protokollführung dafür, dass das Gespräch den Faden behält.</p>
        <h3>Abkürzungen beim Protokoll schreiben verwenden</h3>
        <p>Wer handschriftlich Protokoll führt, der wird kaum so schnell schreiben können, wie gesprochen wird. Damit
          man dem Gespräch trotzdem folgen kann, empfehlen sich diverse Abkürzungen und stichpunktartige Aufzählungen.
          Aber: Der Protokollführer sollte im Anschluss das Geschriebene auch wieder entziffern können.</p>
        <h3>Platz für Ergänzungen lassen</h3>
        <p>Wer ein Verlaufsprotokoll schreiben soll, der hat meist ziemlich viel auf Papier zu bringen. Und oft kommt es
          an dieser Stelle vor, dass Einwände einer Person noch nachträglich vorgebracht werden. Wichtig ist deshalb,
          immer ausreichend Platz zwischen seinen Stichpunkten oder Sätzen zu lassen. Hilfreich kann hierfür eine
          Protokoll Vorlage sein, welche in der Regel so erstellt ist, dass der Protokollführer genügend Raum für
          Randnotizen und Ergänzungen hat.</p>
        <ul>
          <li>Eine Protokoll Vorlage lässt sich auch selbst erstellen. Beispielsweise nutzen viele eine Protokoll
            Vorlage mit Word. Eine professionelle Protokollvorlage mit Excel kann aber ebenso gut angewandt werden. So
            lassen sich die Vorlagen auch passend auf die Rahmenbedingungen des jeweiligen Meetings anpassen.</li>
        </ul>

        <h3>Schreiben bis die Hand abfällt?</h3>
        <p>Absolut nicht! Niemand erwartet von seinem Protokollführer eine Wort-für-Wort Wiedergabe seines Meetings.
          Wichtig ist, sich auf das Thema und das Ziel des Meetings vorzubereiten und genau dieses immer vor Augen zu
          behalten. Im Anschluss soll es schließlich eine Zusammenfassung sein, die später auch noch aus dem Gedächtnis
          ergänzt werden kann.</p>
        <h3>Protokolle sachlich verfassen</h3>
        <p>Es spielt keine Rolle, ob die Hälfte der Anwesenden, verärgert über eine Entscheidung war. Oder ob man selbst
          vielleicht anders entschieden hätte. Dies hat auch im Protokoll nichts verloren. Im Gegenteil: Hier geht es um
          die rein objektive und sachliche Wiedergabe des Gesagten.</p>
        <h3>Feedback einholen</h3>
        <p>Es kann äußerst hilfreich für die Nachbearbeitung sein, das Aufgeschriebene vor den Anwesenden des Meetings
          zu wiederholen. So können fehlerhafte Inhalte direkt korrigiert werden. Und auch die Mitarbeiter gehen sicher,
          den Sinn des Meetings auch wirklich verstanden zu haben.</p>
        <h3>Die Nachbereitung</h3>
        <p>Die gemachten Notizen müssen nun ausformuliert werden, idealerweise in leicht lesbaren und verständlichen
          Sätzen. Wichtig ist, dies möglichst zügig nach dem Meeting zu erledigen. Je länger man damit wartet, umso eher
          werden wesentliche Punkte vergessen. Für die Nachbereitung ist es entscheidend, keine Romane zu verfassen.
          Hier geht es wirklich darum, den Meetingteilnehmern eine sinnvolle Zusammenfassung über die getroffenen
          Entscheidungen zu liefern.</p>
        <h2 id="vorlage">Vorlage zum Protokoll schreiben – was muss in ein Protokoll?</h2>
        <p>Damit man sich als Protokollführer nicht jedes Mal neu Gedanken darüber machen muss, was in ein Protokoll
          wirklich rein muss, anbei die wichtigsten Punkte. Diese lassen sich schon vorgefertigt in eine <a
            href="https://vorlage-kostenlos.de/besprechungsprotokoll/" target="_blank">Vorlage für
            Besprechungsprotokolle</a> beispielsweise eintragen. Folgendermaßen kann ein solches Musterprotokoll
          aussehen:</p>
        <figure><img class="alignnone wp-image-49203 size-full"
            src="https://cdn.sevdesk.de/uploads/Protokoll-Vorlage.PNG-1.jpg"
            alt="Vorlage eines Besprechungsprotokolls zum Ausfüllen" width="521" height="722">
          <figcaption>Eine kostenlose Protokollvorlage zum Ausfüllen. Quelle: <a
              href="https://vorlage-kostenlos.de/">vorlage-kostenlos.de</a></figcaption>
        </figure>
        <h3>Randinformationen zum Meeting</h3>
        <p>Allem voran stehen zumeist das aktuelle Datum des Meetings und der Ort. Darunter werden idealerweise die
          Teilnehmer aufgeführt. Auch der Protokollführer steht ganz oben vermerkt. Im Anschluss folgt das Thema des
          Meetings. Beispiel: Besprechung Projekt Schustermann.</p>
        <h3>Inhalte aus dem Meeting</h3>
        <p>Hier folgen nun die einzelnen Gesprächspunkte, die während dem Meeting besprochen werden sollen. Idealerweise
          sind zwischen diesen Inhaltspunkten direkt freie Zeilen für die Notizen angebracht. Es folgen getroffene
          Entscheidungen, wichtige Anmerkungen und ungeklärte Fragen.</p>
        <h3>Weitere Abmachungen und Vorgehensweisen</h3>
        <p>Hier lässt sich festhalten, wann der Termin für das folgende Meeting vorgesehen ist. Auch ist es sinnvoll, an
          dieser Stelle schon Themen zu notieren, die hierfür relevant sind. Zum Schluss kann die Dauer des Meetings
          beschrieben und mit einer Unterschrift abgeschlossen werden.</p>
        <h2 id="tipps">Allgemeine Tipps zum Protokoll schreiben</h2>
        <p>Protokoll schreiben Zeitform: Protokolle werden im Präsens verfasst, ohne dem Zutun anderer Zeitformen.
          Begründungen schreibt der Protokollführer dann im Konjunktiv, manchmal unter Berücksichtigung von
          Zitierregeln. Das Geschriebene muss bei allen Arten des Protokolls sachlich, neutral und objektiv verfasst
          werden. Persönliche Ansichten oder Meinungen gehören nicht in ein Protokoll. Ebensowenig wie diverse
          Handlungen oder unwichtige Details, nichts in einem Protokoll zu suchen haben. (Ausnahme: Gerichtsprotokolle
          „Herr M. zupft sich nervös am Hemdkragen und äußerte sich dann wie folgt: „“) Auch mit wertenden Adjektiven
          ist vorsichtig umzugehen. Bedarf es zusätzlicher Erklärungen, so sollten diese in Klammen stehen.</p>
        <h2 id="fazit">Fazit</h2>
        <p>Das Verfassen eines Protokolls während einer Zusammenkunft kann für ein Unternehmen von großer Wichtigkeit
          sein. Überwiegend geht es um schlüssige Zusammenfassungen, die später für alle Mitarbeiter einheitlich
          aufgeführt werden. So gehen wichtige Informationen nicht weiter verloren oder müssen per Nacherzählung
          weitergereicht werden. Zu unterscheiden sind jedoch die verschiedenen Protokollarten. Zwar ist das Protokoll
          schreiben aufwändig und mit zusätzlicher Arbeit verbunden, generell erfüllen sie aber einen wichtigen Zweck.
          Die Aufgabe eines Protokollführers ist also alles andere als unwichtig. Mit Hilfe geeigneter Protokoll
          Vorlagen, können sich Mitarbeiter stets gut auf ein Meeting vorbereiten.</p>
      </div>
      <div class="px-md-4 mx-md-3">
        <div class="c-blog-author-box">
          <div class="c-blog-author-box__media">
            <figure class="c-blog-author-box__avatar lazyloaded"
              style="background-image: url(&quot;https://cdn.sevdesk.de/uploads/Jenny.jpg&quot;);"
              data-bgset="https://cdn.sevdesk.de/uploads/Jenny.jpg">
              <picture style="display: none;">
                <source data-srcset="https://cdn.sevdesk.de/uploads/Jenny.jpg" sizes="120px"
                  srcset="https://cdn.sevdesk.de/uploads/Jenny.jpg"><img alt=""
                  class="lazyautosizes lazyloaded ls-is-cached" data-sizes="auto" data-parent-fit="cover" sizes="120px">
              </picture>
            </figure>
          </div>
          <div class="c-blog-author-box__content"> <span class="c-blog-author-box__name d-block h4 mb-2">Jenny
              Dirschl</span>
            <p class="c-blog-author-box__desc u-text-gray">Als Expertin im Bereich Finanzen &amp; Business bringt Jenny
              komplexe Themen verständlich auf den Punkt. Seit vielen Jahren als Content Marketerin selbstständig,
              erstellt Jenny mit Know-How und Leidenschaft unique Content mit Mehrwert!</p>
          </div>
        </div>
        <div class="pb-5"></div>
        <div id="blog-newsletter">
          <div class="c-blog-newsletter p-4"><span
              class="c-blog-newsletter__title h3 d-block pt-2 mb-2">The-Work-Life</span> <span
              class="c-blog-newsletter__title d-block mb-4 text-gray">Newsletter für Entrepreneure</span>
            <!---->
            <form class="c-blog-newsletter__form">
              <!---->
              <div class="c-blog-newsletter__form__input pr-md-2">
                <div class="c-form-control"><label class="c-form-control__label c-form-control__label--floating">E-Mail
                    Adresse</label> <input placeholder="E-Mail Adresse" type="email" class="c-form-control__field">
                  <!----> <span class="c-form-control__message"><span class="error">Bitte gebe eine valide Emailadresse
                      ein</span></span></div>
              </div>
              <div class="c-blog-newsletter__form__terms"><label class="c-form-control c-form-control--checkbox"><input
                    type="checkbox" class="c-form-control__checkbox"> <span class="c-form-control__checkbox-label">Ich
                    bin damit einverstanden, dass meine persönlichen Daten gespeichert und für den Erhalt des
                    Newsletters verwendet werden</span></label>
                <!---->
              </div>
              <div class="c-blog-newsletter__form__cta"><button type="submit"
                  class="c-btn c-btn--primary">Anmelden</button></div>
            </form>
          </div>
        </div>
        <div class="c-comments pt-3">
          <div id="fb-root" class=" fb_reset">
            <div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
              <div><iframe name="fb_xdm_frame_https" id="fb_xdm_frame_https" aria-hidden="true"
                  title="Facebook Cross Domain Communication Frame" tabindex="-1" frameborder="0"
                  allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media"
                  src="https://staticxx.facebook.com/connect/xd_arbiter.php?version=44#channel=f32da3c9764a0fc&amp;origin=https%3A%2F%2Fsevdesk.de"
                  style="border: none;"></iframe></div>
              <div></div>
            </div>
          </div>
          <script>
            (function (d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s);
              js.id = id;
              js.src =
                'https://connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.12&appId=302168403645993&autoLogAppEvents=1';
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

          </script>
          <div class="fb-comments fb_iframe_widget fb_iframe_widget_fluid_desktop"
            data-href="https://sevdesk.de/protokoll-schreiben/" data-numposts="5" data-width="100%"
            fb-xfbml-state="rendered"
            fb-iframe-plugin-query="app_id=302168403645993&amp;container_width=756&amp;height=100&amp;href=https%3A%2F%2Fsevdesk.de%2Fprotokoll-schreiben%2F&amp;locale=de_DE&amp;numposts=5&amp;sdk=joey&amp;version=v2.12"
            style="width: 100%;"><span style="vertical-align: bottom; width: 100%; height: 188px;"><iframe
                name="f3878da2ae203d8" width="1000px" height="100px" title="fb:comments Facebook Social Plugin"
                frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media"
                src="https://www.facebook.com/v2.12/plugins/comments.php?app_id=302168403645993&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Df2ff82a199d8f78%26domain%3Dsevdesk.de%26origin%3Dhttps%253A%252F%252Fsevdesk.de%252Ff32da3c9764a0fc%26relation%3Dparent.parent&amp;container_width=756&amp;height=100&amp;href=https%3A%2F%2Fsevdesk.de%2Fprotokoll-schreiben%2F&amp;locale=de_DE&amp;numposts=5&amp;sdk=joey&amp;version=v2.12"
                style="border: none; visibility: visible; width: 100%; height: 188px;" class=""></iframe></span></div>
        </div>
        <div></div>
      </div>
    </div>
  </div>
</div>
