{{> header.default}}
{{> content-header.help}}

<script type="application/json" data-news-list>
[
    {
      "imageURL": "https://cdn.sevdesk.de/uploads/Steuerberater-meets-Startup.jpg",
      "title": "This is a title",
      "tagline": "Zeiterfassung",
      "release": "21 März 2019",
      "content": "<p>Lorem ipsm et dolorem sit amet</p>"
    },
    {
      "imageURL": "https://cdn.sevdesk.de/uploads/Steuerberater-meets-Startup.jpg",
      "title": "This is a title 1",
      "tagline": "Zeiterfassung",
      "release": "21 März 2019",
      "content": "<p>Lorem ipsm et dolorem sit amet</p>"
    },
    {
      "imageURL": "https://cdn.sevdesk.de/uploads/Steuerberater-meets-Startup.jpg",
      "title": "This is a title 2",
      "tagline": "Zeiterfassung",
      "release": "21 März 2019",
      "content": "<p>Lorem ipsum et dolorem sit amet</p>"
    },
    {
      "imageURL": "https://cdn.sevdesk.de/uploads/Steuerberater-meets-Startup.jpg",
      "title": "This is a title 3",
      "tagline": "Zeiterfassung",
      "release": "21 März 2019",
      "content": "<p>Lorem ipsum et dolorem sit amet</p>"
    }
  ]
</script>
<div class="l-section l-section--padding l-section--background-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-9">
        <section
          class="c-newsfeed-card-wp c-newsfeed-card-wp--shadow l-section--background-white pt-3 mb-3 mb-md-5"
        >
          <div class="row align-items-center">
            <div class="col-md-7 px-5">
              <h3 class="h1">Status</h3>
              <div class="row">
                <div class="col-4">
                  <svg id="traffic-light" class="is-green" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                    <circle fill="#E5E5E5" cx="32" cy="32" r="32"/>
                    <path fill="#4F5D73" d="M44 52a3 3 0 0 1-3 3H23a3 3 0 0 1-3-3V12a3 3 0 0 1 3-3h18a3 3 0 0 1 3 3v40z"/>
                    <circle fill="#FFD731" cx="32" cy="32" r="5" id="yellow"/>
                    <circle fill="#FB4436" cx="32" cy="19" r="5" id="red"/>
                    <circle fill="#72C472" cx="32" cy="45" r="5" id="green"/>
                  </svg>
                </div>
                <!-- /.col-sm-4 -->
                <div class="col-8">
                  <p class="lead u-text-gray">
                    zur Zeit sind keine Störungen bei sevDesk bekannt. Du kannst fie
                    Software uneingeschrankt nutzen!
                  </p>
                </div>
                <!-- /.col-8 -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.col -->
            <div class="col-md-5 pr-4">
              <img
                class="u-img-fluid"
                src="https://cdn.sevdesk.de/uploads/buchhaltung-wie-von-alleine.jpg"
                alt=""
              />
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </section>

        <section
          class="c-newsfeed-card-wp c-newsfeed-card-wp--shadow l-section--background-white px-5 pt-5"
        >
          <h3 class="h1">Newsfeed</h3>

          <ul class="c-newsfeed-list">
            <li class="c-newsfeed-list__item is-gray py-5">
              <div class="row lg-gutters align-items-center">
                <div class="col-md-6">
                  <h4 class="h3 mb-1">sevDesk Go App</h4>
                  <span class="u-text-note text-success">Neue Funktion</span>
                  <span class="d-block mb-3 u-text-note u-text-gray u-text-bold"
                    >Release: 21 März 2019</span
                  >

                  <p>
                    Proin felis ipsum, accumsan in feugiat ut, gravida non
                    lacus. Morbi nec sem ac nisi viverra tristique.
                  </p>
                </div>
                <!-- /.col -->
                <div class="col-md-6">
                  <img class="u-img-fluid" src="https://cdn.sevdesk.de/uploads/Preisvergleich-Cloud.jpg" alt="">
                </div>
                <!-- /.col-md-6 -->
              </div>
            </li>
            <li class="c-newsfeed-list__item is-gray py-5">
              <div class="row lg-gutters align-items-center">
                <div class="col-md-6 order-md-2">
                  <h4 class="h3 mb-1">sevDesk Go App</h4>
                  <span class="u-text-note text-success">Zeiterfassung</span>
                  <span class="d-block mb-3 u-text-note u-text-gray u-text-bold"
                    >Release: 21 März 2019</span
                  >

                  <p>
                    Proin felis ipsum, accumsan in feugiat ut, gravida non
                    lacus. Morbi nec sem ac nisi viverra tristique.
                  </p>
                </div>
                <!-- /.col -->
                <div class="col-md-6">
                  <img class="u-img-fluid" src="https://cdn.sevdesk.de/uploads/Steuerberater-meets-Startup.jpg" alt="">
                </div>
                <!-- /.col-md-6 -->
              </div>
            </li>
          </ul>
          <div id="vue-news-list">
            <newsfeed-list v-bind:skip="1" :news="news"></newsfeed-list>
          </div>
        </section>

      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>

{{> call-to-action.bg}}
{{> footer.default}}
