<div id="vue-calculator-hourly-wage">
  <calculator-hourly-wage></calculator-hourly-wage>
</div>

<br />
<hr />
<br />

<div id="vue-calculator-hourly-rate">
  <calculator-hourly-rate></calculator-hourly-rate>
</div>

<br />
<hr />
<br />

<div id="vue-calculator-company-car">
  <calculator-company-car></calculator-company-car>
</div>

<br />
<hr />
<br />
