{{> header.default}}
{{> call-to-action.pricing}}
<div class="text-center pb-4 mb-4">
  <div class="container">
    <span class="display-xl d-block mb-3 mb-md-5" style="margin-top: -0.5rem;">0 €</span>
    <p>Für 14 Tage. Keine automatische Verlängerung.</p>
    <a class="c-btn c-btn--primary js-open-signup-modal" href="/register/" title="Kostenlos testen">Kostenlos testen</a>
  </div>
</div>
{{> pricing-table.tabs-2}}
{{> call-to-action.content}}
{{> faq}}
{{> features-detailed}}
{{> call-to-action.bg}}
{{> footer.default}}
