<div class="l-sign-up l-sign-up--02">
  <header class="l-sign-up__header py-5 u-text-center">
    <a class="l-sign-up__header__logo" href="#0"><span class="c-logo c-logo--white">sevDesk</span></a>
  </header>
  <main class="l-sign-up__body">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-8 col-md-6">
          <h1 class="u-text-white text-regular display-3 mb-5">In wenigen Sekunden kannst du die ersten Rechnungen schreiben</h1>

          {{> signup-forms.hero}}

          <p class="pt-3 u-text-white mb-2">
            <img src="https://cdn.sevdesk.de/uploads/check.png" style="max-width:25px;"> 14 Tage unverbindlich testen<br>
            <img src="https://cdn.sevdesk.de/uploads/check.png" style="max-width:25px;"> Testphase endet automatisch<br>
            <img src="https://cdn.sevdesk.de/uploads/check.png" style="max-width:25px;"> Keine Kreditkarte erforderlich
          </p>
          <div class="py-2">
            <p class="l-sign-up__note text-note u-text-white">Mit der Anmeldung akzeptierst du die
              <a href="/agb/" target="_blank">AGB</a> und die <a href="/datenschutz/" target="_blank">Datenschutzerklärung.</a>
            </p>
            <img src="https://cdn.sevdesk.de/uploads/trust-register.png" style="width: 100%; height: auto;">
          </div>
          <div class="mb-4 pt-2 u-text-center">
            <span class="u-text-white align-middle mr-2">Bereits Kunde bei sevDesk?</span>
            <a class="c-link-more u-text-white" href="https://my.sevdesk.de">
              <span>Login</span>
            </a>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </main>
  <footer class="l-sign-up__footer text-center py-4">
    <nav class="c-links-sm">
      <ul>
        <li>
          <a href="#">Terms</a>
        </li>
        <li>
          <a href="#">Support</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>
  </footer>
</div>
<!-- /.l-sign-up -->
