<div class="l-sign-up l-sign-up--01">
  <header class="l-sign-up__header py-5 text-center">
    <a class="l-sign-up__header__logo" href="#0"><span class="c-logo">sevDesk</span></a>
  </header>
  <main class="l-sign-up__body">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-sm-8 col-md-6">
          <h1 class="text-gray text-regular h2 mb-3">In wenigen Sekunden kannst du die ersten Rechnungen schreiben</h1>

          <div class="py-4">
             {{> sign-up.default}}
          </div>

          <div class="p-3">
            <p class="l-sign-up__note text-note text-gray">Mit der Anmeldung akzeptierst du die
              <a href="#0">AGB</a> und die
              <a href="#0">Datenschutzerklärung</a>.</p>
          </div>
          <div class="mb-5">
            <a class="c-link-more" href="#">
              <span>Login</span>
            </a>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </main>
  <footer class="l-sign-up__footer text-center py-4">
    <nav class="c-links-sm">
      <ul>
        <li>
          <a href="#">Terms</a>
        </li>
        <li>
          <a href="#">Support</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>
  </footer>
</div>
<!-- /.l-sign-up -->
