<div class="l-sign-up l-sign-up--02">
  <header class="l-sign-up__header py-5 text-center">
    <a class="l-sign-up__header__logo" href="/"><span class="c-logo c-logo--white">sevDesk</span></a>
  </header>
  <main class="l-sign-up__body">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-8 col-md-6">
          <h1 class="display-3 heading u-text-white text-regular mb-2">In wenigen Sekunden kannst du die ersten
            Rechnungen schreiben</h1>
          <!-- winterrabatt -->
          <div class="col-12">
            <img class="img-responsive l-sign-up--02--image"
              src="https://cdn.sevdesk.de/uploads/6_months_for_free_new.png">
          </div>
          <!-- winterrabatt -->
          <div id="hero-signup" class="mb-4">
            <div class="c-signup-form-s c-signup-form-s--sm">
              <form role="sign-up" novalidate="novalidate">
                <span class="c-signup-form-s__control"><input type="email" size="40" aria-required="true"
                    aria-invalid="false" placeholder="E-Mail-Adresse eingeben" class="c-signup-form-s__email">
                </span>
                <button type="submit" class="c-signup-form-s__submit">Kostenlos testen</button>
              </form>
            </div>
          </div>
          <p class="pt-3 u-text-white mb-2">
            <img src="https://cdn.sevdesk.de/uploads/check.png" style="max-width:25px;"> 14 Tage unverbindlich
            testen<br>
            <img src="https://cdn.sevdesk.de/uploads/check.png" style="max-width:25px;"> Testphase endet automatisch<br>
            <img src="https://cdn.sevdesk.de/uploads/check.png" style="max-width:25px;"> Keine Kreditkarte erforderlich
          </p>
          <div class="py-2">
            <p class="l-sign-up__note text-note u-text-white">Mit der Anmeldung akzeptierst du die
              <a href="/agb/" target="_blank">AGB</a> und die <a href="/datenschutz/"
                target="_blank">Datenschutzerklärung.</a>
            </p>
            <img src="https://cdn.sevdesk.de/uploads/trust-register.png" style="width: 100%; height: auto;">
          </div>
          <div class="mb-4 pt-2 u-text-center">
            <span class="u-text-white align-middle mr-2">Bereits Kunde bei sevDesk?</span>
            <a class="c-link-more u-text-white" href="https://my.sevdesk.de"><span>Login</span> </a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="l-sign-up__footer text-center py-4">
    <nav class="c-links-sm">
      <ul>
        <li><a href="/funktionen/">Funktionen</a></li>
        <li><a href="/sicherheit-datenschutz/">Sicherheit &amp; Datenschutz</a></li>
        <li><a href="/impressum/">Impressum</a></li>
      </ul>
    </nav>
  </footer>
</div>
