<div class="l-sign-up l-sign-up--02">
  <header class="l-sign-up__header py-5 u-text-center">
    <a class="l-sign-up__header__logo" href="#0"><span class="c-logo c-logo--white">sevDesk</span></a>
  </header>
  <main class="l-sign-up__body">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-8 col-md-6">
          <h1 class="u-text-white text-regular display-3 mb-5">In wenigen Sekunden kannst du die ersten Rechnungen schreiben</h1>

          {{> signup-forms.hero}}

          <p class="pt-3 u-text-white">Keine automatische Verlängerung nach der Testphase.<br/> Keine Kreditkarte erforderlich.</p>

          <div class="py-3">
            <p class="l-sign-up__note text-note u-text-white">Mit der Anmeldung akzeptierst du die
              <a href="#0">AGB</a> und die
              <a href="#0">Datenschutzerklärung</a>.</p>
          </div>
          <div class="mb-5 text-center">
            <a class="c-link-more u-text-white" href="#">
              <span>Login</span>
            </a>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </main>
  <footer class="l-sign-up__footer text-center py-4">
    <nav class="c-links-sm">
      <ul>
        <li>
          <a href="#">Terms</a>
        </li>
        <li>
          <a href="#">Support</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>
  </footer>
</div>
<!-- /.l-sign-up -->
