<div id="vue-calculator-vat">
  <calculator-vat></calculator-vat>
</div>


<hr>

<script type="application/json" data-tabel-tax-json>
  [
  {
    "country": "Deutschland",
    "default_rate": 19,
    "rate_1": 7,
    "rate_2": "",
    "rate_3": ""
  },
  {
    "country": "Schweiz",
    "default_rate": 7.7,
    "rate_1": 2.5,
    "rate_2": 3.7,
    "rate_3": ""
  },
  {
    "country": "Österreich",
    "default_rate": 20,
    "rate_1": 10,
    "rate_2": 13,
    "rate_3": ""
  },
  {
    "country": "Belgien",
    "default_rate": 21,
    "rate_1": 6,
    "rate_2": 12,
    "rate_3": ""
  },
  {
    "country": "Bulgarien",
    "default_rate": 20,
    "rate_1": 9,
    "rate_2": "",
    "rate_3": ""
  },
  {
    "country": "Dänemark",
    "default_rate": 25,
    "rate_1": "",
    "rate_2": "",
    "rate_3": ""
  },
  {
    "country": "Estland",
    "default_rate": 20,
    "rate_1": 9,
    "rate_2": "",
    "rate_3": ""
  },
  {
    "country": "Finnland",
    "default_rate": 24,
    "rate_1": 10,
    "rate_2": 14,
    "rate_3": ""
  },
  {
    "country": "Frankreich",
    "default_rate": 20,
    "rate_1": 2.1,
    "rate_2": 5.5,
    "rate_3": 10
  },
  {
    "country": "Griechenland",
    "default_rate": 24,
    "rate_1": 6,
    "rate_2": 13,
    "rate_3": ""
  },
  {
    "country": "Irland",
    "default_rate": 23,
    "rate_1": 4.8,
    "rate_2": 9,
    "rate_3": 13.5
  },
  {
    "country": "Italien",
    "default_rate": 22,
    "rate_1": 4,
    "rate_2": 5,
    "rate_3": 10
  },
  {
    "country": "Kroatien",
    "default_rate": 25,
    "rate_1": 5,
    "rate_2": 13,
    "rate_3": ""
  },
  {
    "country": "Lettland",
    "default_rate": 21,
    "rate_1": 12,
    "rate_2": "",
    "rate_3": ""
  },
  {
    "country": "Litauen",
    "default_rate": 21,
    "rate_1": 5,
    "rate_2": 9,
    "rate_3": ""
  },
  {
    "country": "Luxemburg",
    "default_rate": 17,
    "rate_1": 3,
    "rate_2": 8,
    "rate_3": ""
  },
  {
    "country": "Malta",
    "default_rate": 18,
    "rate_1": 5,
    "rate_2": 7,
    "rate_3": ""
  },
  {
    "country": "Niederlande",
    "default_rate": 21,
    "rate_1": 6,
    "rate_2": "",
    "rate_3": ""
  },
  {
    "country": "Polen",
    "default_rate": 23,
    "rate_1": 5,
    "rate_2": 8,
    "rate_3": ""
  },
  {
    "country": "Portugal",
    "default_rate": 23,
    "rate_1": 6,
    "rate_2": 13,
    "rate_3": ""
  },
  {
    "country": "Rumänien",
    "default_rate": 19,
    "rate_1": 5,
    "rate_2": 9,
    "rate_3": ""
  },
  {
    "country": "Schweden",
    "default_rate": 25,
    "rate_1": 6,
    "rate_2": 12,
    "rate_3": ""
  },
  {
    "country": "Slowakei",
    "default_rate": 20,
    "rate_1": 10,
    "rate_2": "",
    "rate_3": ""
  },
  {
    "country": "Slowenien",
    "default_rate": 22,
    "rate_1": 9.5,
    "rate_2": "",
    "rate_3": ""
  },
  {
    "country": "Spanien",
    "default_rate": 21,
    "rate_1": 4,
    "rate_2": 10,
    "rate_3": ""
  },
  {
    "country": "Tschechien",
    "default_rate": 21,
    "rate_1": 10,
    "rate_2": 15,
    "rate_3": ""
  },
  {
    "country": "Ungarn",
    "default_rate": 27,
    "rate_1": 5,
    "rate_2": 18,
    "rate_3": ""
  },
  {
    "country": "Großbritannien",
    "default_rate": 20,
    "rate_1": 5,
    "rate_2": "",
    "rate_3": ""
  },
  {
    "country": "Zypern",
    "default_rate": 19,
    "rate_1": 5,
    "rate_2": 9,
    "rate_3": ""
  }
]
</script>
<div id="vue-calculator-tax">
  <calculator-tax :tabel="tabel"></calculator-tax>
</div>
