{{> header.default}}
{{> content-header.templates}}

<div class="l-section l-section--padding l-section--background-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="d-none d-md-block pr-md-4">
          {{> in-page-menu}}
        </div>
        <div class="pb-4 d-md-none">
          {{> select.large}}
        </div>
      </div>
      <!-- /.col -->
      <div class="col-md-8">
        <main class="l-template-content">
          <h2 class="h2 pr-md-5">Kostenlose Auftragsbestätigungsvorlagen mit Anleitung</h2>
          <div class="row lg-gutters">
            <div class="col-sm-6">
              <h3 class="h4 text-regular text-gray">Für Word und Excel zum Downloaden</h3>
              <p>Du bist auf der Suche nach einem Muster für deine Auftragsbestätigungen? Dann bist du bei uns genau richtig
                – Wir bieten dir eine Vorlage: kostenlos, individuell anpassbar und rechtssicher!</p>
              <p>Alle generellen Informationen über Auftragsbestätigungen kannst du in unserem
                <a href="#">Lexikon</a> nachlesen.</p>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
              <img class="img-fluid" src="{{path.images.demo}}/templates/invoice-template-sceenshot.png" alt="">
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          {{> downloads-list}}

          <hr>

          <h4>Anleitung</h4>

          <ol class="c-number-list">
            <li>Lade dir die Vorlage für Word oder für Excel herunter, je nachdem mit welchem Programm du lieber arbeitest.</li>
            <li>Gib links oben deine Firmenadressdaten und darunter die Adressdaten des Empfängers an.</li>
            <li>Rechts oben hast du Platz um dein Logo zu platzieren.</li>
          </ol>

        </main>
        <!-- .l-template-content -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
{{> call-to-action.bg}}

<div id="download-sucess-modal" class="modal c-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="pb-4">
        <button class="c-modal__close" type="button" data-dismiss="modal" aria-label="Close">
          <span class="sr-only" aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="c-modal__body">
        <div class="c-section-header">
          <span class="c-section-header__title h2 mb-1"><span class="text-success">Super,</span> dein Download startet in 5 Sekunden!</span>
          <p class="c-section-header__description h4 mt-2 mb-3">Kennst du schon unsere Buchhaltungssoftware sevDesk?</p>
        </div>
        <!-- /.c-section-header -->

        <img class="img-fluid" src="{{path.images.default}}/templates/rechnung_schreiben.gif" alt="">

        <div class="text-center pt-4">
          <p>Damit kannst du ganz einfach
            <strong>online Rechnungen schreiben</strong> und deine
            <strong>Buchhaltung erledigen!</strong>
          </p>
          <a class="c-btn c-btn--primary mb-3" rel="nofollow" href="/register/">KOSTENLOS testen</a>
          <p class="text-gray text-note">Schau' es dir mal an - du kannst es kostenlos & ohne Risiko testen.</p>
        </div>

      </div>
      <!-- .c-modal__body -->
    </div>
    <!-- .modal-content -->
  </div>
  <!-- .modal-dialog -->
</div>
<!-- /.modal -->

{{> footer.default}}
