{{> header.default}}
{{> content-header.templates}}

<div class="l-section l-section--padding l-section--background-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="d-none d-md-block pr-md-4">
          {{> in-page-menu}}
        </div>
        <div class="pb-4 d-md-none">
          {{> select.large}}
        </div>
      </div>
      <!-- /.col -->
      <div class="col-md-8">
        <main class="l-template-content">
          <h2 class="h2 pr-md-5">Kostenlose Auftragsbestätigungsvorlagen mit Anleitung</h2>
          <div class="row lg-gutters">
            <div class="col-sm-6">
              <h3 class="h4 text-regular text-gray">Für Word und Excel zum Downloaden</h3>
              <p>Du bist auf der Suche nach einem Muster für deine Auftragsbestätigungen? Dann bist du bei uns genau
                richtig
                – Wir bieten dir eine Vorlage: kostenlos, individuell anpassbar und rechtssicher!</p>
              <p>Alle generellen Informationen über Auftragsbestätigungen kannst du in unserem
                <a href="#">Lexikon</a> nachlesen.</p>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
              <img class="img-fluid" src="{{path.images.demo}}/templates/invoice-template-sceenshot.png" alt="">
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <div class="c-downloads-list py-4">
            <div class="c-downloads-list__item is-primary">
              <a class="d-block" href="#0">
                <div class="media">
                  <div class="c-downloads-list__item__media pr-4">
                    <figure class="c-downloads-list__item__icon is-sevdesk"></figure>
                  </div>
                  <div class="c-downloads-list__item__content">
                    <span class="d-block h5 mb-3 text-gray">Auftragsbestätigung mit sevDesk erstellen</span>
                    <span class="c-btn c-btn--primary c-btn--sm">Kostenlos testen</span>
                  </div>
                </div>
                <!-- /.media -->
              </a>
            </div>
            <!-- /.c-downloads-list__item -->

            <div class="c-downloads-list__item is-download">
              <a class="d-block" href="#0">
                <div class="media">
                  <div class="c-downloads-list__item__media pr-4">
                    <div class="c-downloads-list__item__loader"><span class="c-loader"></span></div>
                    <figure class="c-downloads-list__item__icon is-docx"></figure>
                  </div>
                  <div class="c-downloads-list__item__content">
                    <span class="d-block h5 mb-2 text-gray">Word Auftragsbestätigung herunterladen</span>
                    <span class="text-primary">Download</span>
                  </div>
                </div>
                <!-- /.media -->
              </a>
            </div>
            <!-- /.c-downloads-list__item -->
            <div class="c-downloads-list__item is-download">
              <a class="d-block" href="#0">
                <div class="media">
                  <div class="c-downloads-list__item__media pr-4">
                    <div class="c-downloads-list__item__loader"><span class="c-loader"></span></div>
                    <figure class="c-downloads-list__item__icon is-xlsx"></figure>
                  </div>
                  <div class="c-downloads-list__item__content">
                    <span class="d-block h5 mb-2 text-gray">Word Auftragsbestätigung herunterladen</span>
                    <span class="text-primary">Download</span>
                  </div>
                </div>
                <!-- /.media -->
              </a>
            </div>
            <!-- /.c-downloads-list__item -->
          </div>
          <!-- /.c-downloads-list -->



          <hr>

          <h4>Anleitung</h4>

          <ol class="c-number-list">
            <li>Lade dir die Vorlage für Word oder für Excel herunter, je nachdem mit welchem Programm du lieber
              arbeitest.</li>
            <li>Gib links oben deine Firmenadressdaten und darunter die Adressdaten des Empfängers an.</li>
            <li>Rechts oben hast du Platz um dein Logo zu platzieren.</li>
          </ol>

        </main>
        <!-- .l-template-content -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
{{> call-to-action.bg}}

<div id="download-sucess-modal" class="modal c-modal fade show" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="pb-4">
        <button class="c-modal__close" type="button" data-dismiss="modal" aria-label="Close">
          <span class="sr-only" aria-hidden="true">×</span>
        </button>
      </div>

      <div class="c-modal__body">
        <div class="c-section-header mb-1">
          <h2 class="c-section-header__title h2 mb-3">
            Nur noch <strong>ein Schritt</strong> bis zu deiner <br><em class="underline">kostenlosen</em>
            Rechnungsvorlage
          </h2>

          <div id="c-cta-form" class="c-form-cta mb-4">
            <div class="c-signup-form-s c-signup-form-s--lg">
              <form role="sign-up" novalidate="novalidate">
                <span class="c-signup-form-s__control">
                  <input type="email" size="40" aria-required="true" aria-invalid="false"
                    placeholder="E-Mail-Adresse eingeben" class="c-signup-form-s__email">
                  <span class="c-signup-form-s__message"><span>Bitte gib eine gültige E-Mail-Adresse ein</span></span>
                </span>
                <button type="submit" class="c-signup-form-s__submit">GRATIS DOWNLOAD</button>
                <div class="c-blog-newsletter__form__terms">
                  <label class="c-form-control c-form-control--checkbox">
                    <input type="checkbox" required="" class="c-form-control__checkbox">
                    <span class="c-form-control__checkbox-label">
                      Mit dem Download der kostenlosen Rechnungsvorlage akzeptiere ich, dass mich sevDesk regelmäßig per
                      Mail zum Thema
                      Buchhaltung kontaktiert. <br>Dies kann ich im Anschluss jederzeit widerrufen.
                    </span>
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="text-center pt-md-4">
          <h3>Du möchtest deine Angebote und Rechnungen <strong>automatisiert erstellen</strong> und <strong>wertvolle
              Zeit sparen</strong>?
          </h3>
          <a class="c-btn c-btn--primary" rel="nofollow" href="/register/">Kostenlos testen</a>
          <p class="text-gray text-note p-2">Schau' es dir mal an - du kannst es kostenlos &amp; ohne Risiko testen.</p>
        </div>
      </div>

    </div>

  </div>

</div>
<!-- /.modal -->

{{> footer.default}}
