<section class="l-section--padding">
  <div class="container">
    <div class="mb-5 text-center">
      <svg class="img-fluid" xmlns="http://www.w3.org/2000/svg" width="400px" height="54px" viewBox="0 0 400 54">
        <path d="M33.435 13.868H21.359v34.879h-7.093V13.868H2.19v-6.74h31.245v6.74zm11.699 7.74c1.408-2.052 4.339-3.988 8.852-3.988 7.386 0 11.315 4.926 11.315 12.019v19.109h-6.976V30.517c0-4.162-1.876-6.916-6.038-6.916-4.396 0-7.152 2.754-7.152 7.561v17.586h-6.976V4.782h6.976v16.826zm33.094 13.949c.527 4.809 3.635 7.914 8.501 7.914 3.224 0 5.978-1.64 7.093-4.336h7.033c-1.816 6.038-7.21 10.317-14.303 10.317-9.202 0-15.183-6.859-15.183-15.944 0-8.852 6.098-15.887 15.126-15.887 9.026 0 14.947 6.859 14.947 15.77 0 1.112-.06 2.167-.06 2.167H78.228zm.117-5.157h16.181c-.587-4.222-3.518-7.093-8.031-7.093-4.515 0-7.446 2.931-8.15 7.093zm47.948 6.388h-18.641v-6.506h18.641v6.506zm22.779 11.959h-7.62L128.496 7.128h8.031l8.735 31.595h.117l9.262-31.595h7.797l9.262 31.595h.117l8.792-31.595h7.797l-12.954 41.619h-7.62l-9.322-31.595h-.117l-9.321 31.595zm40.125-15.183c0-8.558 6.098-15.944 15.77-15.944 9.73 0 15.828 7.386 15.828 15.944s-6.098 15.887-15.828 15.887c-9.672 0-15.77-7.329-15.77-15.887zm15.771 9.732c5.1 0 8.852-3.869 8.852-9.732 0-5.919-3.752-9.79-8.852-9.79-5.043 0-8.794 3.871-8.794 9.79-.001 5.864 3.751 9.732 8.794 9.732zm38.561-18.7s-.821-.117-1.582-.117c-4.923 0-7.856 2.58-7.856 8.441v15.828h-6.976V18.324h6.448v4.222c1.115-1.935 3.694-4.515 8.969-4.515.294 0 .998.06.998.06v6.505zm33.431-6.272l-11.782 12.837 12.663 17.586h-8.324l-8.969-13.014-5.336 5.744v7.269h-6.976V4.782h6.976v28.371l12.957-14.83h8.791zm19.596 18.464h-18.641v-6.506h18.641v6.506zm34.891 11.959h-26.378V7.128h7.093v35.054h19.286v6.565zm3.962-39.802c0-2.58 1.816-4.396 4.396-4.396 2.52 0 4.339 1.816 4.339 4.396 0 2.52-1.819 4.279-4.339 4.279-2.58 0-4.396-1.759-4.396-4.279zm.88 9.379h6.973v30.424h-6.973V18.324zm16.396-3.224c0-7.152 4.045-10.317 9.849-10.317 1.348 0 2.344.177 2.344.177v6.155s-.351-.117-1.289-.117c-2.814 0-3.928 1.172-3.928 4.513v2.814h5.394v5.57h-5.394v24.853h-6.976V23.894h-4.864v-5.57h4.864V15.1zm21.911 20.457c.527 4.809 3.635 7.914 8.501 7.914 3.224 0 5.978-1.64 7.093-4.336h7.033c-1.816 6.038-7.21 10.317-14.303 10.317-9.203 0-15.183-6.859-15.183-15.944 0-8.852 6.098-15.887 15.124-15.887 9.028 0 14.949 6.859 14.949 15.77 0 1.112-.06 2.167-.06 2.167h-23.154zm.117-5.157h16.181c-.587-4.222-3.518-7.093-8.033-7.093-4.514 0-7.444 2.931-8.148 7.093z"
        />
      </svg>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div id="blog-newsletter">
            <c-blog-newsletter
            subtitle="Newsletter für Entrepreneure"
            cta="Anmelden" placeholder="E-Mail Adresse"
            terms-check="group[18261][1]"
            action="https://dailyhoney.us11.list-manage.com/subscribe/post-json?u=ad906268ebde695297f7c2eb0&id=47187636c7">
              <template slot="terms">Ich bin damit einverstanden, dass meine persönlichen Daten gespeichert und  für den Erhalt des Newsletters verwendet werden *</template>
            </c-blog-newsletter>
          </div>
          <!-- /#blog-newsletter -->
      </div>
      <!-- /.col-md-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
