{{> header.default}}

<section class="l-overflow">
  <div class="fc-hero fc-hero fc-hero--left lazyload"
    data-bgset="https://cdn.sevdesk.de/uploads/winter-sale-sevdesk-bg.jpg">
    <div class="container">
      <div class="row ">
        <div class="col-12 col-md-6 order-3 order-md-1 fc-hero--advent mt-md-auto mt-n5">
          <h1 class="fc-hero__headline display-1 mb-md-3 mb-1"><span
              style="color: #cb3226;">Winter-Rabatt</span></h1>
          <h2 class="fc-hero__desc--winterrabatt display-2 mb-md-2 mb-1">Zum Jahreswechsel sevDesk bis zu <br>
            <strong>6 Monate kostenlos</strong> nutzen!
          </h2>
          <div class="fc-hero__actions mb-1 pt-sm-2">
            <a class="c-btn c-btn--primary" href="/pages/sign-up-4.html" title="zum gewinnspiel">KOSTENLOS TESTEN</a>
            <a class="c-btn c-btn--video js-video-popup" href="#video-1" title="Video ansehen">MEHR ZU SEVDESK</a>
          </div>
          <div class="fc-hero__note mb-3 mt-md-3 mt-0">Die Winter-Rabatte werden bei der Tarifbuchung über Laufzeiten
            von 12 und 24 Monaten gewährt.</div>
        </div>
        <div class="col-12 col-md-6 order-2 fc-hero--advent mt-3 mt-lg-auto">
          <a href="/pages/sign-up-4.html">
            <img class="img-fluid fc-hero--advent__image"
              src="https://cdn.sevdesk.de/uploads/winter-sale-sevdesk-badge2019.png" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.Hero -->


{{> countdown.winterrabatt}}

{{> content-section.left}}
