<script type="application/json" data-workshops-json>
    {
      "Stuttgart": {
        "dates": [
            {
                "value": "25.06.2019 10:00",
                "label": "25.06.2019 10:00"
            },
            {
                "value": "25.06.2019 15:30",
                "label": "25.06.2019 15:30"
            }
        ],
        "img": "https://cdn.sevdesk.de/uploads/workshop-profitable.jpg",
        "address": "PROFI TABLE coworking e.K. | Epplestraße 5A | 70597 Stuttgart"
    },
    "Karlsruhe": {
        "dates": [
            {
                "value": "26.06.2019 10:00",
                "label": "26.06.2019 10:00"
            }
        ],
        "img": "https://cdn.sevdesk.de/uploads/workshop-cyberforum.jpg",
        "address": "CyberForum e.V. | Raum 'TelemaxX' | Haid-und-Neu-Straße 18 | 76131 Karlsruhe"
    },
    "Frankfurt": {
        "dates": [
            {
                "value": "03.07.2019 18:00",
                "label": "03.07.2019 18:00"
            }
        ],
        "img": "https://cdn.sevdesk.de/uploads/workshop-mindspace-frankfurt.jpg",
        "address": "Mindspace | Eurotheum | Neue Mainzer Strasse 66-68 | 60311 Frankfurt"
    }
  }
</script>
<section
  id="workshop-form"
  class="l-section--padding"
  style="background-color: #e9ecf3;"
>
  <div id="vue-workshop-form">
    <workshop-form
      cta="Anmelden"
      :workshops="workshops"
      city="Stuttgart"
      success-msg="Thank you!"
      zappier="https://hooks.zapier.com/hooks/catch/4974299/jqiyb9/"
      action="https://submit-form.com/veC-m3fl8PmQvf8Uq0K08"
    >
      <template slot="header">
        <h4 class="display-3">Anmeldung zum Workshop</h4>
        <p class="h5 u-text-regular u-text-gray mb-4">
          Bitte melde dich kostenlos und verbindlich zu deinem Workshop an. Alle
          Informationen erhältst du im Anschluss per Mail.
        </p>
      </template>
      <template slot="terms"
        >Lorem ipsum et dolorem sit amet</template
      >
    </workshop-form>
  </div>
</section>
