<div class="l-birthday-signup l-birthday-signup--02">
  <header class="l-birthday-signup__header py-5 u-text-center">
    <a class="l-birthday-signup__header__logo" href="#0"><span class="c-logo">sevDesk</span></a>
  </header>
  <main class="l-birthday-signup__body">
    {{> year-end-signup-card}}
  </main>
  <footer class="l-birthday-signup__footer text-center py-4">
    <nav class="c-links-sm">
      <ul>
        <li>
          <a href="#">Terms</a>
        </li>
        <li>
          <a href="#">Support</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>
  </footer>
</div>
<!-- /.l-sign-up -->
