{{> header.default}}
<div class="c-zdk-content-header">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="display-3">Search results</h1>
        <div class="c-zdk-search py-3">
          <form role="search" class="search" >
            <input name="utf8" type="hidden" value="✓"><input type="search" name="query" id="query" value="Rechnungen" placeholder="Suchen">
            <input type="submit" name="commit" value="Suchen">
          </form>
        </div>
        <p class="u-text-gray">3 items found</p>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.c-zdk-content-header -->

{{> zdk-search-results}}
{{> footer.default}}
