{{> header.default}}
<div class="c-article-container container">
  <div class="row py-5">
      <article class="c-zdk-article-main col-md-9 order-2 pl-md-5">
        <header class="article-header">
          <h1 class="article-title display-3 mb-4 pb-md-3">Stornorechnungen bearbeiten und löschen</h1>
        </header>
        <section class="article-info c-content-style">
          <p>Wenn du eine Rechnung stornierst, wird eine neue Rechnung erstellt, die die Quellrechnung "aufhebt". Es hilft dir
            vorab die Rechnungsnummer zu filtern. Es erscheinen dir anschließend zwei Rechnungen in der Übersicht.</p>
          <p>Um eine Stornorechnung zu löschen musst du zuerst die erstellte Rechnung (also die, die die Quellrechnung aufhebt)
            löschen. Dafür markierst du diese Rechnung zuerst als "offen". Anschließend wählst du "Dokument bearbeiten".</p>
          <p>Nun ist diese Rechnung im Entwurfsmodus und du kannst sie löschen. Die Quellrechnung sollte jetzt nicht mehr als
            "Stornorechnung" dargestellt werden.</p>
        </section>
        <footer>
          <div class="c-zdk-article-votes">
            <span class="c-zdk-article-votes__question h5">War dieser Beitrag hilfreich?</span>
            <div class="c-zdk-article-votes__controls" role="radiogroup">
              <a role="radio" rel="nofollow" class="button article-vote article-vote-up" title="Ja" aria-selected="false" data-auth-action="signin"
                href="#1"></a>
              <a role="radio" rel="nofollow" class="button article-vote article-vote-down" title="Nein" aria-selected="false" data-auth-action="signin"
                href="#1"></a>
            </div>
            <small class="c-zdk-article-votes__count">
              <span class="article-vote-label">0 von 0 fanden dies hilfreich</span>
            </small>
          </div>
        </footer>
      </article>
    <!-- /.c-zdk-article-main -->
    <aside class="c-zdk-article-aside col-md-3 order-3 order-md-1 pt-5 py-md-2">
        <h3 class="c-zdk-article-aside__title h4">Verwandte Beiträge</h3>
        <ul class="c-zdk-article-aside__nav">
          <li>
            <a href="#1">Rechnung schreiben / bearbeiten / löschen</a>
          </li>
          <li>
            <a href="#1">Festschreibung</a>
          </li>
          <li>
            <a href="#1">DATEV Export</a>
          </li>
          <li>
            <a href="#1">Reverse-Charge / Umkehr der Steuerschuldnerschaft (UStVA, DATEV...)</a>
          </li>
          <li>
            <a href="#1">Verfahrensdokumentation nach GoBD</a>
          </li>
        </ul>
      </aside>
  </div>
  <!-- /.row -->
</div>
<!-- /.c-article-container -->
{{> footer.default}}
