---
  notes: In production use with ```is-fixed``` class, ```is-visible``` class is added by js
---
<div class="c-cookie-notification" rel="cookie-notification">
  <div class="c-cookie-notification__center">
    <span class="c-cookie-notification__content">Wenn du die Website weiter nutzt, stimmst du der Verwendung von Cookies zu.
      <a href="#0">Mehr erfahren.</a>
    </span>
    <button class="c-cookie-notification__close js-close" rel="dismiss-cookie-notification">Okay</button>
  </div>
</div>
<!-- /.c-cookie-notification -->
