<section class="c-content-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h1 class="c-content-header__title display-3">Hilfe-Center</h1>
      </div>
      <!-- /.col-md-6 -->
      <div class="col-lg-8">
        <ul class="c-support-inline">
          <li><img class="c-support-inline__icon js-inject-me" src="{{path.images.default}}/icons/ic_phone_in_talk_black_24px.svg" alt="icon"><span>+49-781-125508-10 <em>Mo-Fr, 9.00-17.00 Uhr</em></span></li>
          <li><img class="c-support-inline__icon js-inject-me" src="{{path.images.default}}/icons/ic_mail_black_24px.svg" alt="icon"><span>support@sevdesk.de</span></li>
        </ul>
      </div>
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
