<section class="c-content-header c-content-header--low c-content-header--angle">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h1 class="c-content-header__title h1">Rechnungsvorlage</h1>
      </div>
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div class="c-content-header__overflow"></div>
</section>
