.c-accounting-signup {
  position: relative;

  &__overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }

  &.is-loading {
    opacity: 0.5;

    .c-accounting-signup__overlay {
      display: block;
    }
  }
}
