.c-accordion {
  &__item {
    border-bottom: 1px solid $c-divider-border;

    &__title {
      display: block;
      position: relative;
      padding: 14px 44px 16px 0;
      margin: 0;
      cursor: pointer;

      &.is-active {
        .c-accordion__item__icon {
          background-image: url('#{$images}/icons/ic_remove_black_24px.svg');
        }

        & + .c-accordion__item__content {
          display: block;
        }
      }
    }

    &__icon {
      transition: all 0.15s;
      display: block;
      position: absolute;
      right: 0px;
      top: 50%;
      margin-top: -18px;
      width: 36px;
      height: 36px;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 28px auto;
      background-image: url('#{$images}/icons/ic_add_black_24px.svg');
    }

    &__content {
      display: none;
      p {
        color: $c-text-darkgray;
        margin: 0 0 1.75rem;
      }
    }
  }
}
