.c-addons {
  text-align: center;

  &__row {
    margin-bottom: 2rem;
    @media (max-width: 575px) {
      padding-top: 2rem;
    }
  }

  &__intro {
    margin-bottom: 2rem;
    @media (max-width: 575px) {
      margin-bottom: 0;
    }
  }

  &__desc {
    text-align: left;
    @media (max-width: 575px) {
      text-align: center;
    }
  }

  &__heading {
    text-align: left;
    @media (max-width: 575px) {
      text-align: center;
    }
  }

  &__content {
    padding: 1rem;
  }

  &__price {
    margin: auto;
  }

  // @media (max-width: 575px) {
  //   &__price {
  //     margin-top: 2rem;
  //   }
  // }

  &__value {
    color: #59b45c;
  }

  &__pricing {
    font-size: 1.5rem;
  }

  &__radios {
    text-align: left;
    margin-top: -0.5rem;
    @media (max-width: 575px) {
      margin-bottom: 1rem;
    }
    input{
      margin-bottom: 0.5rem;
    }
  }

  &__radiogroup {
    text-align: left;
    @media (max-width: 575px) {
      text-align: center;
    }
  }

  &__strpr-bp, &__strpr-ni {
    display: block;
    text-decoration: line-through;
    & span {
      color: #1a1919 !important;
    }
  }
}
