$perspective: 1200px;
$present-dimension: 10em;

.l-advent-calendar {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-image: url("#{$images}/advent-calendar/adventskalender-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;

  @include media-breakpoint-up(md) {
    background-position: top center;
    background-image: url("#{$images}/advent-calendar/adventskalender-bg.jpg");
  }

  &__header {
    flex: 0 1 auto;
    font-size: 0;
    margin: 0;
    padding: 0;

    @include media-breakpoint-up(md) {
      display: block;
      align-items: center;
      justify-content: center;
      height: 200px;
    }

    &__logo {
      display: inline-block;
    }
  }

  &__body {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }

  &__footer {
    flex: 0 1 auto;
    background-color: #ffffff;
  }

  .present {
    position: relative;
    display: inline-block;
    width: 8em;
    height: 8em;
    margin: 0.5em 1em;
    perspective: $perspective;
    z-index: 666;

    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    @include media-breakpoint-up(md) {
      margin: 1em;
      width: $present-dimension;
      height: $present-dimension;
    }

    &__pane,
    &__content {
      width: inherit;
      height: inherit;
      background-size: contain;
    }


    &__pane {
      width: 8em;
      height: 8em;
      position: relative;
      background-image: url("#{$images}/advent-calendar/doors/door1.png");
      transform-style: preserve-3d;
      transform-origin: 0;
      perspective: $perspective;
      text-align: center;
      // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
      transition: all .2s ease-out;

      @include media-breakpoint-up(md) {
        width: 10em;
        height: 10em;
      }

      &.day1 {
        background-image: url("#{$images}/advent-calendar/doors/door1.png");
      }

      &.day2 {
        background-image: url("#{$images}/advent-calendar/doors/door2.png");
      }

      &.day3 {
        background-image: url("#{$images}/advent-calendar/doors/door3.png");
      }

      &.day4 {
        background-image: url("#{$images}/advent-calendar/doors/door4.png");
      }

      &.day5 {
        background-image: url("#{$images}/advent-calendar/doors/door5.png");
      }

      &.day6 {
        background-image: url("#{$images}/advent-calendar/doors/door6.png");
      }

      &.day7 {
        background-image: url("#{$images}/advent-calendar/doors/door7.png");
      }

      &.day8 {
        background-image: url("#{$images}/advent-calendar/doors/door8.png");
      }

      &.day9 {
        background-image: url("#{$images}/advent-calendar/doors/door9.png");
      }

      &.day10 {
        background-image: url("#{$images}/advent-calendar/doors/door10.png");
      }

      &.day11 {
        background-image: url("#{$images}/advent-calendar/doors/door11.png");
      }

      &.day12 {
        background-image: url("#{$images}/advent-calendar/doors/door12.png");
      }

      &.day13 {
        background-image: url("#{$images}/advent-calendar/doors/door13.png");
      }

      &.day14 {
        background-image: url("#{$images}/advent-calendar/doors/door14.png");
      }

      &.day15 {
        background-image: url("#{$images}/advent-calendar/doors/door15.png");
      }

      &.day16 {
        background-image: url("#{$images}/advent-calendar/doors/door16.png");
      }

      &.day17 {
        background-image: url("#{$images}/advent-calendar/doors/door17.png");
      }

      &.day18 {
        background-image: url("#{$images}/advent-calendar/doors/door18.png");
      }

      &.day19 {
        background-image: url("#{$images}/advent-calendar/doors/door19.png");
      }

      &.day20 {
        background-image: url("#{$images}/advent-calendar/doors/door20.png");
      }

      &.day21 {
        background-image: url("#{$images}/advent-calendar/doors/door21.png");
      }

      &.day22 {
        background-image: url("#{$images}/advent-calendar/doors/door22.png");
      }

      &.day23 {
        background-image: url("#{$images}/advent-calendar/doors/door23.png");
      }
    }

    &__content {
      position: absolute;
      top: 0;
      left: 0;
      background: #fff;
      z-index: -1;

      &__text {
        font-size: 10px;
        text-align: center;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 25px;
        line-height: 25px;
        width: 100%;
        margin: 0;
        background-color: #ffffff;
        color: #1a1919;
        z-index: 999;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
         @include media-breakpoint-up(md) {
            font-size: 12px;
         }
      }

      &__shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        // box-shadow: inset 4px 4px 10px 4px rgba(0, 0, 0, 0.08);
        box-shadow: inset 0px 0px 27px 9px rgba(60, 60, 60, 0.09);
        top: 0;
        left: 0;
      }
    }
  }

  .opened {
    z-index: 999;

    .present__pane {
      transform: rotateY(-93deg);
      perspective-origin: 0;
      transition: all .25s ease-in;
      background-color: #c94c4c;
      background-image: none;
      border: 3px solid #8d1314;
    }

    .present__content::after {
      position: absolute;
      content: "\A";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(152, 152, 152, 0.05);
    }

  }
}

.today {
  cursor: pointer;

  .present__pane {
    transform: rotateY(-33deg);
    perspective-origin: 0;
    transition: all 0.40s ease-in;
  }

  &:hover {
    z-index: 999;

    .present__pane {
      transform: rotateY(-93deg);
      perspective-origin: 0;
      transition: all 0.40s ease-in;
    }
  }
}

.header-adventcalendar {
  color: white;
  text-shadow: 2px 2px 4px #777777;
}

/* sponsors */
#sponsors {
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  img {
    display: block;

  }
}


.logos-wrap {
  position: relative;
}

// .logos-wrap div[class*='col-'] img {
//   margin: 0 auto;
// }

/* center logos */

