.c-angle {
  display: block;
  z-index: 10;
  position: relative;
  min-height: 100px;
  margin-top: -28px;

  @include media-breakpoint-up(md) {
    margin-top: -32px;
  }

  @include media-breakpoint-up(xl) {
    margin-top: -40px;
  }

  &:after {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: -10%;
    width: 120%;
    height: 120px;
    content: '';
    box-shadow: inset 0 2px 3px 0 rgba(black, 0.06);
    transform: skewY(-6deg);
    background-color: white;
    background: linear-gradient(#fcfcfc, white);

    @include media-breakpoint-up(xl) {
      height: 140px;
    }
  }
}
