.is-animatable {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.is-animating {
  animation-duration: 420ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.has-animated {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 420ms;
  animation-duration: 420ms;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
.slide-in--right {
  -webkit-animation-name: slide-in--right;
  animation-name: slide-in--right;
}
.slide-out--right {
  -webkit-animation-name: slide-out--right;
  animation-name: slide-out--right;
}
.slide-in--down {
  -webkit-animation-name: slide-in--down;
  animation-name: slide-in--down;
}
.slide-out--up {
  -webkit-animation-name: slide-out--up;
  animation-name: slide-out--up;
}
.fade-in {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
}
.fade-in--up {
  -webkit-animation-name: fade-in--up;
  -moz-animation-name: fade-in--up;
  -o-animation-name: fade-in--up;
  animation-name: fade-in--up;
}
@keyframes slide-in--right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-out--right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes slide-in--down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-out--up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in--up {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
