.c-app-badges {
  a {
    transition: all 0.15s;
    display: inline-block;
    margin-right: 4px;
    height: 40px;
    background-size: auto 40px;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: left;
    text-indent: -9999px;
    overflow: hidden;
  }

  .is-app-store {
    width: 120px;
  }
  .is-google-play {
    width: 132px;
  }

  &.lazyloaded {
    .is-app-store {
      background-image: url('#{$images}/app-icons/app-store-badge.png');
    }
    .is-google-play {
      background-image: url('#{$images}/app-icons/google-play-badge.png');
    }
  }
}
