.c-archive-list {
  &__links {
    @include list-unstyled;
    margin: 0 0.25rem 1rem;
    line-height: 1.5;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }

    li {
      position: relative;
      margin-bottom: 0.5rem;
      padding-left: 1rem;

      &:before {
        position: absolute;
        top: 9px;
        left: 0;
        display: inline-block;
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #b0b0b0;

        @include media-breakpoint-down(sm) {
          top: 8px;
        }
      }
    }

    a {
      color: $c-text-darkgray;

      @include hover-focus {
        color: $c-link;
      }
    }
  }

  &__links--sm {
    li:before {
      margin-top: 1px;
    }
    a {
      font-size: 0.875rem;
    }
  }

  &__toggle {
    margin-left: 1.25rem;
  }

  .is-over-limit {
    display: none;
  }

  // -------------------------------------------------------------------
  // Variations
  // -------------------------------------------------------------------

  &.js-show-limit {
    .is-over-limit {
      display: block;
    }

    .c-archive-list__toggle {
      display: none;
    }
  }
}
