.c-article-body {
  position: relative;
  z-index: 10;

  .c-article-body__shadow {
    position: relative;
    background-color: #fff;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 220px;
      display: block;
      content: '';
      z-index: 0;
      box-shadow: 0 -6px 12px 0 rgba(black, 0.08);
    }
  }

  &__content {
    padding: 2rem 1rem;

    @include media-breakpoint-up(md) {
      padding: 3.5rem 2.75rem;
    }
  }
}
.c-hero-article + .c-article-body {
  position: relative;
  margin-top: -140px;
}
