.c-autocomplete {
  position: relative;
  z-index: 10;

  &__list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 3px;
    border-radius: 4px;
    background-color: #ffffff;
    @include custom-box-shadow(2);

    ul {
      @include list-unstyled;
      margin: 0;
      padding: 12px 8px;
      text-align: left;
    }

    li {
      margin-bottom: 1px;
    }

    a {
      display: block;
      padding: 12px 16px;
      color: $c-text;
      border-radius: 3px;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include media-breakpoint-up(lg) {
        font-size: 1rem;
      }

      @include hover-focus {
        background-color: rgba($c-link, 0.08);
      }
    }
  }
}
