.c-birthday-signup-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 14px 28px rgba(black, 0.09);

  @include media-breakpoint-down(sm) {
    margin-left: -12px;
    margin-right: -12px;
  }

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    overflow: hidden;
    border-radius: 6px;
  }

  &__media {
    flex: 1 1 56%;
    margin: 0;
    padding: 1rem;
    padding: 1rem 1rem 4rem;

    @include media-breakpoint-down(md) {
      padding-top: 2rem;
      text-align: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left bottom;
      background-image: url('#{$images}/birthday-5-signup/shape-mobile2.svg');
    }

    @include media-breakpoint-up(lg) {
      padding: 4rem;
      background-repeat: no-repeat;
      background-position: top right;
      background-size: contain;
      background-image: url('#{$images}/birthday-5-signup/shape.svg');
    }

    img {
      max-width: 380px;
    }

    &--blackfriday {
      flex: 1 1 50%;
      background-color: #4d4d4d;

      @include media-breakpoint-up(lg) {
        padding: 2rem;
        background-image: url('#{$images}/birthday-5-signup/shape-black.svg');
      }

    }
  }

  &__code {
    display: inline-block;
    padding: 2.25rem 2rem 2rem;
    text-align: center;
    background-image: url('#{$images}/winteraktion/code-zone.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    span {
      font-size: 1.25rem;
      font-weight: $f-weight-semibold;
      color: $c-success;
    }
  }

  &__content {
    position: relative;
    flex: 1 1 44%;
    display: flex;
    align-items: center;
    margin: 0;
    background-color: #f0f9fc;

    @include media-breakpoint-down(md) {
      justify-content: center;
    }

    &--blackfriday {
      flex: 1 1 20%;
      background-color: #333333;
      display: block;
      align-items: center;
      justify-content: center;

      img {
        max-width: 250px;
      }
    }

    &__code {
      font-weight: bolder;
      text-align: center;
      color: #d80f16;
      font-size: 36px;
      text-shadow: 2px 2px 3px #5d0707;

    }
  }

  &__content__figure {
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
      max-width: 164px;
      margin: 0 auto 1rem;
      background-repeat: no-repeat;
      background-position: top right;
      background-size: contain;
      background-image: url('#{$images}/birthday-5-signup/balloons.png');
      @include aspect-ratio(289, 185);
    }
  }

  &__content__figure-sale-25 {
    display: block;
    max-width: 300px;
    margin: 0 auto 0.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url('#{$images}/winteraktion/25-percent.png');
    @include aspect-ratio(750, 636);
  }

  &__content__figure-sale-50 {
    display: block;
    max-width: 300px;
    margin: 0 auto 0.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url('#{$images}/winteraktion/50-percent.png');
    @include aspect-ratio(750, 636);
  }

  &__content__figure-sale-100 {
    display: block;
    max-width: 100%;
    margin: 0 auto 0.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url('#{$images}/winteraktion/100-percent-01.png');
    @include aspect-ratio(727, 636);
  }

  &__content__figure-easter {
    display: block;
    // max-width: 110%;
    margin: 0 -5% 0.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url('#{$images}/easter/second-banner.png');
    @include aspect-ratio(646, 176);
  }

  &__winter-spacer {
    display: block;
    max-width: 140px;
    background-image: url('#{$images}/winteraktion/seperator.svg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    @include aspect-ratio(690, 26);
  }

  &__content__figure-spring-sale {
    display: block;
    // max-width: 100%;
    margin: 0 -4% 1rem;
    background-image: url('#{$images}/spring-sale/spring-sale-mn.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    @include aspect-ratio(1200, 596);
  }

  &__content__figure-amazon-aktion {
    display: block;
    // max-width: 100%;
    margin: 0 -6% 1rem;
    background-image: url('#{$images}/amazon-aktion/gutscheinaktion.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    @include aspect-ratio(690, 286);
  }

  &__content__figure-advent-gifts {
    display: block;
    // max-width: 100%;
    margin: 0 -6% 1rem;
    background-image: url('#{$images}/advent-calendar/sevdesk-gifts.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    @include aspect-ratio(690, 286);
  }

  &__content__center {
    padding: 1rem;

    @include media-breakpoint-up(sm) {
      padding: 2.5rem;
    }

    @include media-breakpoint-up(lg) {
      padding: 1rem 4rem 0 0;
    }
  }

  &__steps {
    display: inline-block;
    border-radius: 30px;
    position: relative;
    padding: 0 0.75rem;
    z-index: 2;
    transform: translateY(50%);
    background-color: #ffffff;
    @include custom-box-shadow(1);

    font-size: 0.75rem;

    @include media-breakpoint-up(md) {
      font-size: 0.875rem;
    }

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      padding: 0.65rem 0.5rem;
    }

    em {
      font-weight: $f-weight-semibold;
      font-style: normal;
      color: $c-brand;
    }
  }

  &__header {
    font-size: 3.2rem;
    line-height: 1.2;
    font-weight: 900;
  }

  &__desc {
    margin-bottom: 30px;
    font-size: 27px;
    color: #fff;
  }
}
