.c-blog-image-carousel {
  position: relative;
  &__slider {

  }
  &__item {
    text-align: center;
    background-color: $c-module-background;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  figure {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
  }
  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    padding: 8px;
    font-size: 0.9375rem;
    color: #fff;
    background-color: rgba(black, 0.4);
  }

  // --------------------------------------------
  // Navigation
  // --------------------------------------------
  &__next,
  &__prev {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    margin-top: -24px;
    z-index: 20;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 0;
    color: #fff;
    background-color: $c-link;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.15s ease;

    @include custom-box-shadow(2);

    @include hover-focus {
      color: #fff;
      outline: 0;
      background-color: tint($c-link, 12%);
    }

    &:active {
      transform: translateY(1px);
      background-color: shade($c-link, 12%);

      svg {
        opacity: 0.8;
      }
    }

    svg {
      transition: all 0.15s ease;
      width: 24px;
      height: auto;
      fill: currentColor;
    }
  }

  &__prev {
    left: 4px;
    @include media-breakpoint-up(xl) {
      left: -12px;
    }
  }

  &__next {
    right: 4px;
    @include media-breakpoint-up(xl) {
      right: -12px;
    }
  }
}
