.blog-table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  margin-bottom: $spacer;
  border-collapse: collapse;
  text-align: left;

  caption {
    position: static;
  }

  &.center {

    td {
      text-align: center;
    }

    &--all {

      th,
      td {
        text-align: center;
      }
    }
  }

  &.right {

    td {
      text-align: right;
    }

    &--all {

      th,
      td {
        text-align: right;
      }
    }
  }

  th,
  td {
    border: 1px solid #dfe3e8;
    padding: $table-cell-padding;
  }

  // Header
  thead {
    th {
      padding: 1.25rem 1rem;
      vertical-align: top;
      background-color: #f4f6f8;

      @include media-breakpoint-down(sm) {
        padding: 0.9rem 1rem;
      }
    }
  }

  // Body
  tbody {
    tr:hover {

      th:not([scope='col']),
      td {
        background-color: #f4f6f8;
      }
    }

    th {
      width: 60%;
      background-color: #f4f6f8;
      position: relative;

      @include media-breakpoint-up(md) {
        width: 33.33333%;
      }
    }

    th[scope='row'],
    td {
      line-height: 1.5;
      font-size: 0.875rem;
      background-color: transparent;
      color: $c-text-darkgray;
      vertical-align: middle;
    }

    th,
    td {
      padding: 10px 16px;
    }
  }
}

.table-responsive {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;


        >.table-bordered {
          border: 0;
        }
      }
    }
  }
}
