.c-blog-author-box {
  display: flex;
  padding: 1.25rem 1.75rem;
  border-radius: 8px;
  border: 1px solid $c-divider-border;

  @include media-breakpoint-up(md) {
    padding: 1.75rem 2rem;
  }

  &__media {
    flex: 0 1 auto;
  }

  &__avatar {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 0;
    background-color: $c-divider-border;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;

    @include media-breakpoint-up(md) {
      width: 120px;
      height: 120px;
    }
  }

  &__content {
    flex: 1 1 auto;
    padding-left: 2rem;
  }

  &__links {
    a {
      display: inline-block;
      margin-right: 4px;
    }
  }
}
