$c-blog-newsletter-bg: #f9f9f9;

.c-blog-newsletter {
  border-radius: 5px;
  border: 1px solid shade($c-blog-newsletter-bg, 5%);
  background-color: $c-blog-newsletter-bg;

  &__title {
    text-align: center;
  }

  &__form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 480px;
    margin: 0 auto;
  }

  &__form__input {
    flex: 1 1 100%;

    @include media-breakpoint-up(md) {
      flex: 0 1 320px;
    }
  }
  &__form__terms {
    @include media-breakpoint-up(md) {
      flex: 1 1 100%;
      order: 3;
    }
  }
  &__form__cta {
    flex: 1 1 auto;

    .c-btn {
      @include media-breakpoint-down(xs) {
        display: block;
        width: 100%;
      }
    }
  }

  &__loader-wp {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(white, 0.7);
  }
  &__loader {
    position: absolute;
    top: 5px;
    left: 44%;
    display: inline-block;
  }
}
