.c-branch-feedback {
  background-color: #2b364a;
  background-image: url('https://cdn.sevdesk.de/uploads/cta-form-bg-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
