.c-btn {
  transition: all 0.15s;
  display: inline-block;
  font-family: $f-stack-special;
  font-weight: $f-weight-semibold;
  letter-spacing: 0.2px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 20px;
  margin: 0;
  font-size: 0.875rem;
  line-height: 1rem;
  text-transform: uppercase;

  @include custom-box-shadow(1);
  @include media-breakpoint-up(md) {
    font-size: 1rem;
    line-height: 1.125rem;
  }

  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
    transform: translateY(-1px);
  }

  &:focus,
  &.focus {
    outline: 0;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: 0.65;
    box-shadow: none;
  }

  &:active,
  &.active {
    transform: translateY(0px);
    background-image: none;
  }

  &__text {
    transition: all 0.15s;
  }
  &__loader {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: -17px;
  }

  // ----------------------------------------------------------------------
  // Color Variations
  // ----------------------------------------------------------------------
  &--primary {
    color: #fff;
    background: $c-button;
    background: linear-gradient(#4d90e1, #417edc);

    @include hover-focus {
      color: #fff;
      background: $c-button;
      background: linear-gradient(tint(#4d90e1, 8%), tint(#417edc, 8%));
    }

    &:active {
      background: linear-gradient(shade(#4d90e1, 8%), shade(#417edc, 8%));
    }
  }

  &--secondary {
    color: $c-button;
    background: #ffffff;

    @include hover-focus {
      color: $c-button;
      background: #ffffff;
    }

    &:active {
      color: $c-button;
      background: #ffffff;
    }
  }

  &--success {
    color: #fff;
    background: $c-button;
    background: linear-gradient(tint($c-success, 4%), shade($c-success, 4%));

    @include hover-focus {
      color: #fff;
      background: $c-button;
      background: linear-gradient(tint($c-success, 8%), $c-success);
    }

    &:active {
      background: linear-gradient($c-success, shade($c-success, 8%));
    }
  }

  &--outline {
    border: 1px solid $c-text-darkgray;
    color: $c-text-darkgray;
    box-shadow: none;

    @include hover-focus {
      color: $c-text;
      border-color: $c-text;
    }
  }

  &--video {
    position: relative;
    padding: 12px 20px 12px 46px;
    color: $c-button;
    background: #ffffff;

    @include hover-focus {
      color: $c-button;
    }

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -14px;
      left: 14px;
      width: 28px;
      height: 28px;
      display: inline-block;
      vertical-align: middle;
      background: url('#{$images}/icons/ic_play_circle_outline_blue.svg');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 25px auto;
    }
  }

  // ----------------------------------------------------------------------
  // Size Variations
  // ----------------------------------------------------------------------
  &--xs {
    padding: 8px 14px;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: $f-weight-semibold;
  }
  &--sm {
    padding: 10px 16px;
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: $f-weight-semibold;
  }
  &--block {
    width: 100%;
    display: block;
  }

  // ----------------------------------------------------------------------
  // Loading
  // ----------------------------------------------------------------------
  &.is-loading {
    position: relative;
    .c-btn__loader {
      display: block;
    }
    .c-btn__text {
      opacity: 0;
    }
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

// Make a button look and behave like a link
.c-btn-link {
  font-weight: $f-weight-regular;
  color: $c-link;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &:disabled {
    background-color: transparent;
    box-shadow: none;
  }
  &,
  &:focus,
  &:active {
    border-color: transparent;
    box-shadow: none;
  }
  @include hover {
    border-color: transparent;
  }
  @include hover-focus {
    color: $c-link;
    text-decoration: none;
    background-color: transparent;
  }
  &:disabled {
    color: $c-text-gray;

    @include hover-focus {
      text-decoration: none;
    }
  }
}
