.c-button-group {
  display: flex;
  justify-content: center;

  button {
    transition: all 0.15s;
    position: relative;
    margin-left: -1px;
    padding: 9px 16px;
    border: 1px solid #E5E5E5;
    outline: 0;
    cursor: pointer;
    user-select: none;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: $f-weight-semibold;
    color: $c-text-darkgray;
    background-color: transparent;

    @include hover-focus {
      border-color: $c-link;
      z-index: 6;
    }

    &:active {
      background-color: #f7f8f9;
    }

    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &.js-is-active {
      z-index: 5;
      border-color: $c-link;
      color: $c-link;
      background-color: rgba(white, 0.8);
    }
  }

  // Variations
  &--left {
    justify-content: left;
  }
}
