.c-card-pricing {
  position: relative;
  border-radius: 5px;
  overflow: hidden;

  &__header {
    display: flex;
  }

  &__tagline {
    transition: color 0.2s;
    display: block;
    padding: 0.875rem 1rem;
    text-align: center;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: $f-weight-bold;
    // border-top-left-radius: 6px;
    // border-top-right-radius: 6px;
    margin: -2rem -2rem 2rem;
    color: #ffffff;
    background-color: $c-success;

    @include media-breakpoint-up(md) {
      font-size: 0.9375rem;
    }
  }

  &__header__media {
    flex: 0 1 80px;
    margin: 0;
    padding: 0;

    &.is-sm {
      flex: 0 1 64px;
    }

    &.is-xs {
      flex: 0 1 45px;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__header__media + &__header__content {
    padding-left: 20px;
  }

  &__header__content {
    flex: 1 1 auto;
  }

  &__title {
    display: block;
  }

  &__price {
    display: block;
    font-weight: $f-weight-regular;
    color: $c-text;
  }

  &__content {
  }

  &__footer {
    text-align: center;
  }

  // ----------------------------------------
  // Variations
  // ----------------------------------------
  &--bg {
    padding: 2rem;
    @include custom-box-shadow(4);
  }
  &--border-red {
    transition: border 0.2s;
    border-top: 3px solid transparent;

    &:hover {
      border-top-color: $c-link;

      .c-card-pricing__header__tagline {
        color: $c-link;
      }
    }
  }
}
