.c-card-pricing-outlined {
  transition: all 0.15s;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(black, 0.08);

  @media (min-width: 768px) {
      -ms-flex: 0 0 33.33333% !important;
      flex: 0 0 31.33333% !important;
      max-width: 31.33333% !important;
  }

  @include hover-focus {
    transform: translateY(-1px);
    @include custom-box-shadow(3);
  }

  &__body {
    padding: 0.75rem 1.25rem 1.25rem;
    @include media-breakpoint-up(md) {
      padding: 0.875rem 1.75rem 1.75rem;
    }
  }

  &__headline {
    a {
      color: $c-text;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 0.5rem;
    }
  }

  &__desc {
    margin-bottom: 1.375rem;
    font-size: 0.875rem;
    color: $c-text-darkgray;
  }
}
