.c-card-help {
  transition: all 0.15s;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(black, 0.08);

  @include hover-focus {
    transform: translateY(-1px);
    @include custom-box-shadow(3);
  }

  &__media {
    position: relative;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 172px;
    margin-top: 0.5rem;

    @include media-breakpoint-up(md) {
      height: 224px;
    }

    &.blog {
      background-image: url('#{$images}/help-02/help-blog.png');
    }
    &.support {
      background-image: url('#{$images}/help-02/help-support.png');
    }
    &.webinar {
      background-image: url('#{$images}/help-02/help-webinar.png');
    }
    &.youtube {
      background-image: url('#{$images}/help-02/help-youtube.png');
    }
    &.self-employed {
      background-image: url('#{$images}/help-02/help-self-employed.png');
    }
    &.team {
      background-image: url('#{$images}/help-02/help-team.png');
    }
    &.news {
      background-image: url('#{$images}/help-02/help-news.png');
    }
    &.affiliate {
      background-image: url('#{$images}/help-02/help-affiliate.png');
    }
    &.advertise-friends {
      background-image: url('#{$images}/help-02/help-advertise-friends.png');
    }
    &.kooperation {
      background-image: url('#{$images}/help-02/help-kooperation.png');
    }
    &.workshops {
      background-image: url('#{$images}/help-02/help-workshop.png');
    }

    a {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &__body {
    padding: 0.75rem 1.25rem 1.25rem;
    @include media-breakpoint-up(md) {
      padding: 0.875rem 1.75rem 1.75rem;
    }
  }

  &__headline {
    a {
      color: $c-text;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 0.5rem;
    }
  }

  &__desc {
    margin-bottom: 1.375rem;
    font-size: 0.875rem;
    color: $c-text-darkgray;
  }
}
