.c-card-article {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(black, 0.08);

  &__body {
    position: relative;
    padding: 1rem;

    @include media-breakpoint-up(sm) {
      padding: 1.5rem;
    }
  }

  &__media {
    img {
      width: 100%;
    }
  }

  &__author {
    position: absolute;
    right: 24px;
    top: 0;
    margin-top: -32px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    background-color: #fff;
  }

  &__tagline {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    color: $c-text-darkgray;

    a {
      color: inherit;

      @include hover-focus {
        color: $c-text;
      }
    }
  }

  &__headline {
    a {
      color: inherit;
    }
  }

  &__desc {
    color: $c-text-darkgray;
    font-size: 14px;
    line-height: 1.6;

    @include media-breakpoint-up(sm) {
      font-size: 15px;
    }
  }

  // ---------------------------------------------
  // Variations
  // ---------------------------------------------
  &--hover {
    @include media-breakpoint-up(lg) {
      transition: all 0.2s;

      @include hover-focus {
        box-shadow: 0 4px 8px 0 rgba(black, 0.08), 0 10px 20px 0 rgba(black, 0.04);
        transform: translateY(-1px);
      }
    }
  }
}
