.c-cards-carousel {
  overflow: hidden;

  .container {
    position: relative;
  }

  &__slider {
    overflow: visible !important;

    > div {
      display: flex;
    }
    > div > div {
      flex: 1 1 25%;
      display: flex;
      padding: 12px;
    }
  }
  &__item {
    transition: opacity 0.15s;
    position: relative;
    flex: 1 1 auto;
    height: 240px;
    background-color: red;
    border-radius: 5px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;

    @include media-breakpoint-up(md) {
      height: 280px;
    }

    &.is-active {
      opacity: 1;;
    }

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      display: block;
      content: "";
      opacity: 0.9;
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    }

    &__content {
      z-index: 5;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 80%;
      height: auto;
      padding: 24px;
      color: #fff;
    }

    &__cover-link {
      z-index: 10;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &__title {
      font-weight: $f-weight-semibold;
      @include media-breakpoint-up(md) {
        font-size: 18px;
      }
    }
  }

  // --------------------------------------------
  // Navigation
  // --------------------------------------------
  &__next,
  &__prev {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    margin-top: -24px;
    z-index: 20;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 0;
    color: #fff;
    background-color: $c-link;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.15s ease;

    @include custom-box-shadow(2);

    @include hover-focus {
      color: #fff;
      outline: 0;
      background-color: tint($c-link, 12%);
    }

    &:active {
      transform: translateY(1px);
      background-color: shade($c-link, 12%);

      svg {
        opacity: 0.8;
      }
    }

    svg {
      transition: all 0.15s ease;
      width: 24px;
      height: auto;
      fill: currentColor;
    }
  }

  &__prev {
    left: 4px;
    @include media-breakpoint-up(xl) {
      left: -12px;
    }
  }

  &__next {
    right: 4px;
    @include media-breakpoint-up(xl) {
      right: -12px;
    }
  }
}
