.c-category-list {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    li {
      padding: 0 16px;
      font-size: 14px;

      &:first-child {
        padding-left: 0;
      }
    }

    li.current-cat {
      color: $c-link;
      font-weight: $f-weight-semibold;

      a:before {
        border-bottom-color: $c-link;
      }
    }

    a {
      transition: all 0.15s;
      position: relative;
      display: block;
      padding: 12px 0;
      color: inherit;

      @include hover-focus {
        color: $c-link;
        &:before {
          border-bottom-color: $c-divider-border;
        }
      }

      &:before {
        transition: all 0.15s;
        position: absolute;
        top: 100%;
        left: 0;
        content: "";
        width: 100%;
        height: 0;
        font-size: 0;
        overflow: hidden;
        border-bottom: 2px solid transparent;
      }
    }
  }
}
