.c-check-list {
  list-style: none;
  margin: 0 0 1.25rem;
  padding: 0;
  line-height: 1.5;
  font-size: 14px;

  @include media-breakpoint-up(md) {
    font-size: 16px;
  }

  li {
    position: relative;
    padding: 0.75rem 1.875rem 0.75rem 0;
    border-bottom: 1px solid $c-divider-border;
    text-align: left;

    &:last-child {
      border-bottom: 0;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      width: 24px;
      height: 24px;
      margin-top: -12px;
      font-size: 0;
      background-position: center center;
      background-image: url('#{$images}/icons/ic_check_green.svg');
      background-size: 24px auto;
    }
  }

  &--border-light {
    li {
      border-color: rgba(white, 0.9);
    }
  }
}
