.c-check-list-simple {
  list-style: none;
  margin: 0 0 1.25rem;
  padding: 0;
  line-height: 1.5;
  font-size: 14px;

  @include media-breakpoint-up(md) {
    font-size: 16px;
  }

  li {
    position: relative;
    padding: 0.25rem 0 0.25rem 1.875rem;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      width: 24px;
      height: 24px;
      margin-top: -12px;
      font-size: 0;
      background-position: center center;
      background-image: url('#{$images}/icons/ic_check_green.svg');
      background-size: 24px auto;
    }
  }

}
