.c-company-search {

  @include media-breakpoint-up(md) {
    height: 100vh;
    overflow: hidden;
  }

  &__main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    header {
      flex: 0 1 auto;
      padding: 1rem;
    }

    main {
      position: relative;
      flex: 1 1 auto;
      background-color: white;
      overflow: hidden;
    }
  }
}

.c-company-search-list {
  @include media-breakpoint-up(md) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
  }

  &__title {
    line-height: 1.2;
  }

  &__item {
    position: relative;
    padding: 1.25rem;
    margin: 1rem;
    border: 1px solid $c-divider-border;
    border-radius: 3px;

    @include hover-focus {
      cursor: pointer;
      background-color: #f9f9f9;
    }

    figure {
      position: relative;
      width: 80%;
      margin: 5px 0 5px 0;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.c-company-search-map {
  width: 100%;
  background-color: #eeeeee;

  &__map {
    width: 100%;
    height: 400px;
    position: fixed;

    @include media-breakpoint-up(md) {
      height: 100vh;
    }
  }
}

.c-map-info-window {
  background-color: white;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.07);
  margin-bottom: 5px;

  &:before {
    position: absolute;
    content: '';
    border-style: solid;
    left: 45%;
    bottom: -10px;
    border-width: 10px;
    border-color: white transparent transparent;
  }

  &__content {
    padding: 12px;
    text-align: left;
    width: 240px;
    overflow-wrap: break-word;
  }

  figure {
    display: block;
    margin: 0 0 12px;
    padding: 0;
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .name {
    display: block;
    font-size: 1rem;
    font-weight: $f-weight-bold;
    margin-bottom: 5px;
  }
  .address {
    display: block;
    font-weight: regular;
    color: $c-text-darkgray;
    margin-bottom: 5px;
  }
  .email {
    display: block;
  }
  .phone {
    display: block;
  }
  .website {
    display: block;
    padding-top: 4px;
    color: $c-link;
  }
}

// remove close icon
.c-company-search .gm-style-iw + button {
  display: none !important;
}
.c-company-search .gm-style-iw {
  top: 42px !important;
}
