.c-content-header {
  position: relative;
  z-index: 10;
  padding-top: 2rem;
  padding-bottom: 3rem;

  @include media-breakpoint-up(md) {
    padding-top: 4rem;
    padding-bottom: 5rem;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 5rem;
    padding-bottom: 6.25rem;
  }

  &__overflow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  // ----------------------------------------------------------------------------------------
  // Variations
  // ----------------------------------------------------------------------------------------
  &--low {
    padding-top: 2rem;
    padding-bottom: 1.75rem;

    @include media-breakpoint-up(sm) {
      padding-top: 3rem;
    }

    @include media-breakpoint-up(md) {
      padding-top: 4rem;
      padding-bottom: 2.75rem;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 5rem;
      padding-bottom: 3.75rem;
    }
  }

  &--angle {
    .c-content-header__overflow:after {
      z-index: -1;
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      content: '';
      width: 72%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: 0 bottom;
      background-size: cover;
      background-image: url('#{$images}/hero/angle-2.svg');

      @include media-breakpoint-up(sm) {
        width: 64%;
      }
      @include media-breakpoint-up(lg) {
        width: 50%;
      }
    }
  }
}
