.c-content-style {
  position: relative;

  h1,
  h2,
  h3,
  h4 {
    margin-top: 3rem;
    margin-bottom: 1.25rem;

    @include media-breakpoint-up(md) {
      margin-top: 3.5rem;
      margin-bottom: 1.75rem;
    }
  }

  p {
    margin-bottom: 1.75rem;
    font-size: 1rem;
    line-height: 1.8;

    @include media-breakpoint-up(md) {
      margin-bottom: 2.25rem;
      font-size: 1.125rem;
      line-height: 1.9;
    }
  }

  .lead {
    margin-bottom: 1.875rem;
    font-size: 1.125rem;
    line-height: 1.7;

    @include media-breakpoint-up(md) {
      line-height: 1.6;
      margin-bottom: 2.5rem;
      font-size: 1.375rem;
    }
  }

  blockquote {
    padding: 0;
    margin: 4%;
    text-align: center;
    color: $c-danger;

    @include media-breakpoint-up(md) {
      margin: 8%;
    }

    p {
      display: inline-block;
      font-size: 1.5rem;
      line-height: 1.7;
      color: inherit;
      font-style: italic;

      &:before {
        margin-right: 4px;
        content: '“';
      }

      &:after {
        margin-left: 2px;
        content: '”';
      }
    }
  }

  hr {
    margin: 2rem 0;

    @include media-breakpoint-up(md) {
      margin: 3rem 0;
    }
  }

  .full-image {
    display: block;
    margin-top: 2.5rem;
    margin-left: -1.8rem;
    margin-right: -1.8rem;
    margin-bottom: 1.75rem;

    @include media-breakpoint-up(md) {
      margin-top: 2.75rem;
      margin-left: -2.75rem;
      margin-right: -2.75rem;
      margin-bottom: 2.25rem;
    }
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  ul,
  ol {
    padding-left: 1.5rem;
    margin: 1.5rem auto 2.5rem;
    list-style: disc outside none;

    li {
      font-size: 1rem;
      line-height: 1.8;

      @include media-breakpoint-up(md) {
        font-size: 1.125rem;
        line-height: 1.9;
      }

      padding-left: 0.2em;
      margin: 0.625rem 0;
    }
  }
}
