.c-cookie-notification {
  display: none;
  text-align: center;

  &__center {
    display: inline-flex;
    align-items: center;
    margin: 0 auto;
    border-radius: 4px;
    font-size: 15px;
    line-height: 1.3;
    color: $c-text-darkgray;
    background-color: rgba(246,249,252,.9);
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  }

  &__content {
    padding: 8px 5px 8px 15px;
    text-align: left;
  }
  &__close {
    transition: all 0.15s;
    appearance: none;
    opacity: 0.5;
    background-color: transparent;
    border: 0;
    outline: 0;
    overflow: hidden;
    user-select: none;
    position: relative;
    width: 40px;
    height: 40px;
    color: $c-text-darkgray;
    cursor: pointer;
    text-align: left;
    text-indent: -9999px;
    background-image:url('#{$images}/icons/ic_close_black_24px.svg');
    background-repeat: no-repeat;
    background-size: 24px auto;
    background-position: center center;

    @include hover-focus {
      opacity: 1;
    }
  }

  // Variations
  &.is-fixed {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1100;
  }

  &.is-visible {
    display: block;
  }
}
