.c-countdown--wp {
  position: relative;
  z-index: 10;
  margin-top: -55px;
  &--blackfriday-lp{
     margin-top: -80px;
  }
}
.c-countdown {
  display: inline-block;
  @include custom-box-shadow(1);
  transition: all 0.2s;
  position: relative;
  border-radius: 12px;
  background-color: #ffffff;

  // &:hover {
  //   @include custom-box-shadow(3);
  //   transform: translateY(-1px);
  // }

  &__cover-link {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }

  &__figure-year-end {
    display: block;
    width: 100px;
    margin: 0 auto;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url('#{$images}/countdown/jetzt-rabatt-sichern.svg');
    @include aspect-ratio(64, 56);

    @include media-breakpoint-up(md) {
      width: 108px
    }
  }
  &__content {
    padding: 0 0.75rem 0.5rem;

    @include media-breakpoint-up(sm) {
      height: 110px;
      padding: 0 1.75rem 0.5rem;
    }
    &--blackfriday {
      @include media-breakpoint-up(sm) {
        padding: 0 0.5rem 0.5rem;
      }
    }
  }
  &__content__media {
    @include media-breakpoint-up(sm) {
      float: left;
    }
  }
  &__content__countdown {
    float: left;
    width: 290px;
    padding: 0 0 0.5rem;

    @include media-breakpoint-up(sm) {
      float: left;
      width: 420px;
      padding: 0 0 0.5rem 2rem;
    }
    @include media-breakpoint-up(md) {
      // width: 350px;
      width: 448px;
      float: left;
    }
    &--blackfriday {
      @include media-breakpoint-up(sm) {
        padding: 0 0 0.5rem 0;
      }
    }
  }
}
