.c-form-cta {
  position: relative;

  .wpcf7-email {
    width: 100%;
    transition: all 0.15s;
    padding: 16px;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.15;
    text-align: center;
    @include custom-box-shadow(2);

    &:focus {
      outline: none;
      @include custom-box-shadow(3);
    }

    @include media-breakpoint-up(sm) {
      padding: 20px 100px 20px 24px;
      font-size: 16px;
      text-align: left;
    }
  }

  .wpcf7-submit {
    @extend .c-btn;
    @extend .c-btn--primary;

    @include media-breakpoint-down(xs) {
      margin-top: 0.75rem;
    }

    @include media-breakpoint-up(sm) {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    }
  }
}
