.c-cta {
  text-align: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  &__headline {
    display: block;
    margin-bottom: 0.75rem;
    color: inherit;
  }

  &__desc {
    font-weight: $f-weight-regular;
    color: $c-text-darkgray;
  }

  // --------------------------------------------------------------
  // Variations
  // --------------------------------------------------------------
  &--large {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    @include media-breakpoint-up(md) {
      padding-top: 5rem;
    }
  }

  &--light {
    padding: 1rem 1.25rem 1.5rem;
    border-radius: 8px;
    border: 1px solid $c-divider-border;
    text-align: left;

    @include media-breakpoint-up(md) {
      padding: 2.25rem 2.25rem 1.5rem;
    }

    .c-cta__actions {
      @include media-breakpoint-up(md) {
        text-align: right;
      }
    }
  }
}
