.c-cta-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  @include media-breakpoint-down(xs) {
    background-position: 0 0;
  }

  &__content {
    text-align: center;
  }

  &__note {
    padding-top: 0.5rem;
    display: block;
    font-size: 12px;
    line-height: 1.6;
    color: $c-text-darkgray;
  }

  // ------------------------------------------------------
  // Variations
  // ------------------------------------------------------
  &.l-section--white-text {

    .c-section-header__title {
      color: inherit;
    }

    .c-cta-bg__note {
      color: inherit;
      opacity: 0.8;

      a {
        transition: all 0.15s;
        border-bottom: 1px solid;
        color: #fff;

        @include hover-focus {
          color: #fff;
          border-bottom-color: transparent;
        }
      }
    }
  }

  &[data-loaded="true"],
  &.lazyloaded {
    background-image: url('#{$images}/cta/cta-bg.jpg');

    @include retina {
      background-image: url('#{$images}/cta/cta-bg@2x.jpg');
    }
  }
}
