.c-downloads-list {
  &__item {
    transition: all 0.15s;
    padding: 1.75rem;
    margin-bottom: 12px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px 0 rgba(black, 0.08);

    @include hover-focus {
      transform: translateY(-1px);
      box-shadow: 0 4px 8px 0 rgba(black, 0.12);
    }

    &.is-primary {
      border-top: 3px solid $c-brand;
    }

    &.is-loading {
      .c-downloads-list__item__icon {
        opacity: 0;
      }
      .c-downloads-list__item__loader {
        opacity: 1;
      }
    }

    &__loader {
      transition: opacity 0.15s;
      position: absolute;
      top: 10px;
      left: 10px;
      opacity: 0;
    }

    &__icon {
      transition: opacity 0.15s;
      display: inline-block;
      width: 54px;
      height: 54px;
      margin: 0;
      padding: 0;
      background-position: center center;
      background-size: 54px auto;
      background-repeat: no-repeat;

      &.is-docx {
        background-image: url('#{$images}/download-icons/docx-icon.png');
      }
      &.is-xlsx {
        background-image: url('#{$images}/download-icons/xlsx-icon.png');
      }
      &.is-pdf {
        background-image: url('#{$images}/download-icons/pdf-icon.png');
      }
      &.is-sevdesk {
        background-image: url('#{$images}/download-icons/sevdesk-icon.png');
      }
    }

    &__media {
      position: relative;
    }
    &__content {
    }
  }
}
