.c-features-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;

  caption {
    position: static;
  }

  th, td {
    border: 1px solid #dfe3e8;
  }

  // Header
  thead {
    th {
      padding: 1.25rem 0.5rem;
      vertical-align: top;
      background-color: #f4f6f8;
      text-align: center;
    }

    th:first-child {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  // Body
  tbody {
    tr:hover {
      th:not([scope='col']),
      td {
        background-color: #f4f6f8;
      }
    }
    th {
      text-align: left;
      width: 60%;
      background-color: #f4f6f8;
      position: relative;

      @include media-breakpoint-up(md) {
        width: 33.33333%;
      }

      .js-tooltip {
        display: inline-block;
        vertical-align: middle;

        @include media-breakpoint-down(sm) {
          position: absolute;
          right: 8px;
          top: 50%;
          margin-top: -10px;
        }
      }
    }

    th[scope='row'],
    td {
      line-height: 1.5;
      font-size: 0.875rem;
      background-color: transparent;
      color: $c-text-darkgray;
      vertical-align: middle;
    }

    th, td {
      padding: 10px 16px;
    }
    td {
      text-align: center;
    }
  }

  &__headline {
    display: block;
    color: $c-text;
  }
  &__desc {
    display: block;
    font-size: 14px;
    line-height: 1.5;
    color: $c-text-darkgray;
  }

  &__price {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0;
    margin: 0;
  }

  &__feature-name {
    a {
      border-bottom: 1px dotted;
      @include hover-focus {
        color: $c-text;
      }
    }

    &.is-bold {
      font-weight: $f-weight-semibold;
    }
  }

  &__section-headline {
    display: block;
    margin: 0;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    font-weight: $f-weight-semibold;
  }
  // Icons
  &__icon-check {
    vertical-align: middle;
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 0;
    background-position: center center;
    background-image: url('#{$images}/icons/ic_check_green.svg');
    background-size: 24px auto;
  }

  &__icon-info {
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 2px;
    font-size: 0;
    opacity: 0.7;
    background-position: center center;
    background-image: url('#{$images}/icons/ic_info_outline_black_24px.svg');
    background-size: 20px auto;
    cursor: pointer;
  }


  &__not-in-plan {
    vertical-align: middle;
    font-weight: $f-weight-semibold;
    color: $c-text-gray;
  }

  // Variations
  &.js-active-p-0 {
    @include media-breakpoint-down(sm) {
      #p-1,
      #p-2,
      #p-3,
      #p-4,
      #p-5,
      td.p-1-only,
      td.p-2-only,
      td.p-3-only,
      td.p-4-only,
      td.p-5-only {
        display: none;
      }
    }
  }
  &.js-active-p-1 {
    @include media-breakpoint-down(sm) {
      #p-0,
      #p-2,
      #p-3,
      #p-4,
      #p-5,
      td.p-0-only,
      td.p-2-only,
      td.p-3-only,
      td.p-4-only,
      td.p-5-only {
        display: none;
      }
    }
  }
  &.js-active-p-2 {
    @include media-breakpoint-down(sm) {
      #p-0,
      #p-1,
      #p-3,
      #p-4,
      #p-5,
      td.p-0-only,
      td.p-1-only,
      td.p-3-only,
      td.p-4-only,
      td.p-5-only {
        display: none;
      }
    }
  }
  &.js-active-p-3 {
    @include media-breakpoint-down(sm) {
      #p-0,
      #p-1,
      #p-2,
      #p-4,
      #p-5,
      td.p-0-only,
      td.p-1-only,
      td.p-2-only,
      td.p-4-only,
      td.p-5-only {
        display: none;
      }
    }
  }
  &.js-active-p-4 {
    @include media-breakpoint-down(sm) {
      #p-0,
      #p-1,
      #p-2,
      #p-3,
      #p-5,
      td.p-0-only,
      td.p-1-only,
      td.p-2-only,
      td.p-3-only,
      td.p-5-only {
        display: none;
      }
    }
  }
  &.js-active-p-5 {
    @include media-breakpoint-down(sm) {
      #p-0,
      #p-1,
      #p-2,
      #p-3,
      #p-4,
      td.p-0-only,
      td.p-1-only,
      td.p-2-only,
      td.p-3-only,
      td.p-4-only {
        display: none;
      }
    }
  }

}

.c-features-table-nav--wp {
  width: 100%;
  overflow-x: scroll;
}

.c-features-table-nav {
  display: table;
  width: 100%;
  border-collapse: collapse;
  list-style: none;
  margin: 0;
  border-spacing: 0;

  li {
    display: table-cell;
    border: 1px solid #dfe3e8;
  }

  button {
    transition: all 0.15s;
    display: block;
    border: 0;
    width: 100%;
    padding: 1rem 0.5rem;
    font-weight: $f-weight-semibold;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    white-space: nowrap;
    color: $c-text-darkgray;
    background-color: transparent;

    @include hover-focus {
      outline: 0;
      color: $c-text;
      background-color: #f4f6f8;
    }

    &.js-is-active {
      color: $c-link;
      background-color: #f4f6f8;
    }
  }
}
