.c-features-boxes {
  overflow: hidden;

  &__item {
    padding: 2rem 1rem 1rem;
    text-align: center;
  }

  &__item__media {
    margin: 0 0 1.25rem;
    padding: 0;

    @include media-breakpoint-up(sm) {
      margin: 0 0 1.5rem;
    }

    @include media-breakpoint-up(md) {
      margin: 0 0 1.75rem;
    }

    img {
      max-width: 64px;
      height: auto;

      @include media-breakpoint-up(sm) {
        max-width: 80px;
      }
    }
  }

  // ----------------------------------------------------
  // Variation
  // ----------------------------------------------------

  &--border {
    .c-features-boxes__item {
      @include custom-box-shadow(1);
      background-color: #ffffff;
    }
  }
}
