.c-form-group {
  &__label {
    display: block;
    margin-bottom: 8px;
    line-height: 1.2;
    font-size: 0.875rem;
    font-weight: $f-weight-regular;
    color: $c-text;

    @include media-breakpoint-up(md) {
      font-size: 1rem;
    }

    em {
      font-weight: $f-weight-regular;
    }
  }
  &__icon-info {
  }
  &__control {
    transition: border 0.2s;
    width: 100%;
    border: 1px solid $c-input-border;
    background-color: #fff;
    font-size: 1rem;
    line-height: 1.4;
    padding: 10px 14px;
    border-radius: 0;
    outline: 0;

    &:hover {
      border-color: tint($c-link, 60%);
    }

    &:focus {
      border-color: $c-link;
    }

    &.input-error {
      border-color: $c-danger;
    }

    &:disabled {
      // opacity: 0.7;
      cursor: not-allowed;
      background-color: #f4f4f4;
      color: $c-text-darkgray;

      &:hover {
        border-color: $c-input-border;
      }
    }
  }

  &__custom-select {
    position: relative;

    select {
      display: block;
      width: 100%;
      border: 1px solid $c-input-border;
      background-color: #fff;
      font-size: 1rem;
      line-height: 1.4;
      padding: 10px 14px;
      border-radius: 0;
      outline: 0;
      appearance: none;

      &:hover {
        border-color: tint($c-link, 60%);
      }

      &:focus {
        border-color: $c-link;
      }
    }

    &:after {
      position: absolute;
      top: 50%;
      right: 12px;
      margin-top: -2px;
      content: '';
      display: block;
      width: 0;
      height: 0;
      font-size: 0;
      border: 5px solid transparent;
      border-top-color: $c-text-gray;
      pointer-events: none;
    }
  }

  &__custom-search {
    position: relative;

    .c-form-group__control {
      padding-right: 40px;
    }

    &__loader {
      z-index: 3;
      position: absolute;
      top: 50%;
      right: 12px;
      display: block;
      width: 24px;
      height: 24px;
      border: 0;
      margin-top: -12px;
      background-color: #fff;
    }

    &__btn {
      position: absolute;
      top: 50%;
      right: 12px;
      display: block;
      width: 24px;
      height: 24px;
      border: 0;
      margin-top: -12px;
      opacity: 0.5;
      cursor: pointer;
      background-color: transparent;
      background-size: 16px auto;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('#{$images}/icons/search-16px.svg');

      @include hover-focus {
        outline: 0;
        opacity: 1;
      }
    }
  }

  &__autocomplete-wp {
    position: relative;
  }

  &__autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #ffffff;
    padding: 0.25rem;
    box-shadow: 0 1px 3px rgba(black, 0.1);
    max-height: 300px;
    overflow-y: scroll;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      padding-bottom: 1px;
    }

    span {
      display: block;
      padding: 0.5rem;
      border-radius: 2px;
      cursor: pointer;
      font-size: 15px;

      @include hover-focus {
        background-color: rgba($c-link, 0.08);
      }
    }
  }

  &__autocomplete__loader {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  &__message {
    padding: 8px 0 0;
    font-size: 14px;
    display: none;
  }

  &--lg {
    .c-form-group__control {
      padding: 16px 20px;
      border-radius: 4px;
    }
  }

  // ----------------------------------------------
  // Variations
  // ----------------------------------------------
  &.js-is-filled {
  }

  &.js-has-error {
    .c-form-group__message {
      color: $c-danger;
      display: block;
    }
    .c-form-group__control {
      border-color: $c-danger;
    }
  }
}
