.c-form-control {
  margin: 0 0 12px;
  position: relative;

  &__field {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 13px 16px 12px;
    color: #30373b;
    font-family: $f-stack-sans;
    font-size: 15px;
    line-height: 1.2;
    box-shadow: 0 0 0 1px $c-input-border;
    border: 0;
    border-radius: 4px;
    background-color: #ffffff;
    transition: all 150ms;
    appearance: none;

    @include hover-focus {
      outline: 0;
      box-shadow: 0 0 0 2px lighten($c-input-border-focus, 24%);
    }
  }

  &__radio {
    margin: 0;
    padding: 0;
    appearance: none;
    width: 16px;
    height: 16px;
    box-shadow: 0 0 0 0 $c-link inset;
    transition: all 0.2s ease-in-out;
    position: relative;
    cursor: pointer;
    vertical-align: -4px;
    outline: 0;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    background-color: #ffffff;

    &:focus {
      border-color: $c-link;
    }
    &:checked {
      border-color: $c-link;
      box-shadow: 0 0 0 5px $c-link inset, 0 0 0 2px $c-link inset;
    }
  }

  &__checkbox {
    overflow: hidden;
    margin: 0;
    padding: 0;
    appearance: none;
    width: 18px;
    height: 18px;
    box-shadow: 0 0 0 0 $c-link inset;
    transition: all 0.2s ease-in-out;
    position: relative;
    cursor: pointer;
    vertical-align: -4px;
    outline: 0;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    background-color: white;

    &:focus {
      border: 2px solid $c-link;
    }
    &:checked {
      border: 0;
      box-shadow: 0 0 0 10px $c-link inset;

      &:after {
        opacity: 1;
      }
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transition: all 0.15s;
      opacity: 0;
      width: 10px;
      height: 8px;
      margin-top: -4px;
      margin-left: -5px;
      background-image: url('#{$images}/forms/checkbox-check.svg');
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  &__label {
    display: block;
    color: $c-text-darkgray;
    font-family: $f-stack-sans;

    &--floating {
      opacity: 0;
      transform: translateY(3px);
      transition: opacity 150ms;
      position: absolute;
      left: 16px;
      top: 7px;
      font-size: 0.6875rem;
      font-weight: 400;
      pointer-events: none;
      z-index: 10;
    }
  }

  &__checkbox-label {
    position: relative;
    padding-left: 10px;
    font-size: 14px;
    line-height: 1.4;
    color: inherit;
    margin-top: -1px;
    opacity: 0.9;
  }

  &__message {
    transition: max-height 300ms;
    transform: translateY(-2px);
    padding-top: 2px;
    font-size: 1em;
    max-height: 0;
    overflow: hidden;
    display: block;
    font-family: $f-stack-sans;
    font-weight: $f-weight-semibold;

    .error {
      color: #ffffff;
      display: block;
      font-size: 0.75rem;
      line-height: 1.6;
      padding: 2px 16px;
      // min-height: 2rem;
      position: relative;
    }
  }

  &__addon {
    z-index: 10;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px auto;
    cursor: pointer;

    &.is-secure {
      opacity: 0.2;
      background-image: url('#{$images}/icons/ic_lock_black_24px.svg');
    }
    &.is-checked {
      background-image: url('#{$images}/icons/ic_check_green.svg');
    }
    &.is-info {
      opacity: 0.2;
      background-image: url('#{$images}/icons/ic_info_outline_black_24px.svg');

      @include hover-focus {
        opacity: 1;
      }
    }

    @include hover-focus {
      .c-form-control__tooltip {
        display: block;
      }
    }
  }

  &__tooltip {
    z-index: 20;
    display: none;
    position: absolute;
    bottom: 88%;
    right: 4px;
    min-width: 120px;
    // transform: translateX(-50%);
    padding: 6px 8px;
    border-radius: 3px;
    font-size: 0.75rem;
    line-height: 1.3;
    font-style: normal;
    color: #ffffff;
    background-color: rgba($c-text , 0.84);

    &:before {
      display: block;
      position: absolute;
      top: 100%;
      right: 14px;
      content: '';
      width: 0;
      height: 0;
      overflow: hidden;
      font-size: 0;
      border: 5px solid transparent;
      border-top-color: rgba($c-text , 0.84);
    }
  }

  // -----------------------------------------------------------
  // Variations
  // -----------------------------------------------------------
  &.js-is-filled {
    .c-form-control__field {
      padding: 20px 16px 5px;
      font-size: 15px;
    }
    .c-form-control__label--floating {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &.js-has-error {
    .c-form-control__field {
      box-shadow: 0 0 0 2px $c-danger;
    }
    .c-form-control__message {
      max-height: 90px;
      border-radius: 0 0 4px 4px;
      box-shadow: 0 0 0 2px $c-danger;
      color: #ffffff;
      background-color: $c-danger;
    }
  }

  &--addon-right {
    .c-form-control__field {
      padding-right: 48px;
    }
  }

  &--select {
    .c-form-control__field {
      padding: 21px 16px 5px;
      font-size: 15px;
    }
    .c-form-control__label--floating {
      opacity: 1;
      transform: translateY(0);
    }

    &:before {
      content: '';
      position: absolute;
      z-index: 3;
      right: 0;
      top: 0;
      bottom: 2px;
      width: 48px;
      background-position: center center;
      background-repeat: no-repeat;
      pointer-events: none;
      background-image: url('#{$images}/dropdown-arrow-down.svg');
    }
  }

  &--checkbox {
    display: flex;
    .c-form-control__checkbox {
      flex: 0 0 18px;
    }
    .c-form-control__checkbox-label {
      flex: 1 1 auto;
    }
  }

}
