.c-friends-referral-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 14px 28px rgba(black, 0.09);

  @include media-breakpoint-down(sm) {
    margin-left: -12px;
    margin-right: -12px;
  }

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    overflow: hidden;
    border-radius: 6px;
  }

  &__media {
    flex: 1 1 56%;
    margin: 0;
    padding: 1rem;
    padding: 1rem 1rem 4rem;

    @include media-breakpoint-down(md) {
      padding-top: 2rem;
      text-align: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left bottom;
      background-image: url('#{$images}/birthday-5-signup/shape-mobile2.svg');
    }

    @include media-breakpoint-up(lg) {
      padding: 4rem;
      background-repeat: no-repeat;
      background-position: top right;
      background-size: contain;
      background-image: url('#{$images}/birthday-5-signup/shape.svg');
    }
    img {
      max-width: 380px;
      width: 100%;
      height: auto;
    }
  }

  &__code {
    display: inline-block;
    padding: 2.25rem 2rem 2rem;
    text-align: center;
    background-image: url('#{$images}/friends-referral/codezone.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    span {
      font-size: 0.875rem;
      font-weight: $f-weight-semibold;
      color: $c-brand;
    }
  }

  &__content {
    position: relative;
    flex: 1 1 44%;
    display: flex;
    align-items: center;
    margin: 0;
    background-color: #f0f9fc;

    @include media-breakpoint-down(md) {
      justify-content: center;
    }
  }


  &__social-share {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    dt {
      padding: 0 0.5rem;
    }
    dd {
      margin: 0;
      padding: 0 0.25rem 0;

      a {
        display: block;
        width: 28px;
        height: 28px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      .is-email {
        background-image: url('#{$images}/friends-referral/email.svg');
      }
      .is-fb {
        background-image: url('#{$images}/friends-referral/facebook.svg');
      }
      .is-twitter {
        background-image: url('#{$images}/friends-referral/twitter.svg');
      }
    }
  }

}

