.c-hero {
  position: relative;
  z-index: 10;
  text-align: center;

  // --------------------------------------------------------------
  // Elements
  // --------------------------------------------------------------

  .container {
    z-index: 2;
    position: relative;
  }

  &__overflow {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    &__container {
      @extend .container;
      position: relative;
    }
  }

  .row {
    height: 360px;
    align-items: center;

    @include media-breakpoint-up(md) {
      height: 425px;
    }
  }

  &__headline {
    margin-bottom: 1.25rem;
  }

  &__desc {
    font-weight: $f-weight-regular;
    color: $c-text-darkgray;
  }

  &__note {
    display: block;
    font-size: 13px;
    line-height: 1.6;
    color: $c-text-darkgray;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;

    @include media-breakpoint-up(md) {
      font-size: 14px;
    }
  }

  &__figure {
    display: none;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  &__usp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

    @include media-breakpoint-up(md) {
      margin-left: -15vw;
      margin-right: -15vw;
    }

    li {
      display: flex;
      line-height: 1.4;
      text-align: left;
      padding: 0.25rem 0;
    }
    i {
      display: inline-block;
      vertical-align: middle;
      width: 24px;
      height: 24px;
      background-image: url('#{$images}/icons/ic_check_green.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
    i + span {
      padding-left: 0.5rem;
    }
    span {
      padding-right: 1rem;
    }
  }
  // --------------------------------------------------------------
  // Variations
  // --------------------------------------------------------------

  &--angle {
    .c-hero__overflow:after {
      z-index: -1;
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      content: '';
      width: 80%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: 0 bottom;
      background-size: cover;
      background-image: url('#{$images}/hero/angle-2.svg');

      @include media-breakpoint-up(sm) {
        width: 64%;
      }
      @include media-breakpoint-up(lg) {
        width: 50%;
      }
    }
  }

  // Webinar
  &--webinar {
    .c-hero__figure {
      @include media-breakpoint-up(md) {
        display: block;
        position: absolute;
        top: 0%;
        left: -8%;
        transform: translateY(50%);
        width: 214px;
        height: 214px;
        background-image: url('#{$images}/hero/webinar-hero-icon.png');
      }
    }
  }

  // Customer stories
  &--stories {
    .c-hero__figure {
      @include media-breakpoint-up(md) {
        display: block;
        position: absolute;
        top: 0%;
        left: -8%;
        transform: translateY(50%);
        width: 214px;
        height: 214px;
        background-image: url('#{$images}/hero/stories-hero-icon.png');
      }
    }

    .c-hero__note {
      max-width: 410px;
    }

    hr {
      max-width: 480px;
    }
  }

  // Addons
  &--addons {
    .c-hero__figure {
      @include media-breakpoint-up(md) {
        display: block;
        position: absolute;
        top: 0%;
        left: -8%;
        transform: translateY(50%);
        width: 214px;
        height: 214px;
        background-image: url('#{$images}/hero/addons-hero-icon.png');
      }
    }
  }

  // Landing
  &--landing-sale {
    margin-bottom: -10px;
    background-color: #2b364a;
    color: #ffffff;

    .c-hero__logo {
      z-index: 3;
      position: absolute;
      top: 48px;
      left: 0;
      right: 0;
      text-align: center;
    }
    .row {
      height: auto;
      padding-top: 160px;
      padding-bottom: 54px;
    }
    .c-hero__headline,
    .c-hero__desc,
    .c-hero__note {
      color: inherit;

      a {
        color: inherit;
      }
    }
    .c-hero__note {
      font-size: 12px;
    }
    .c-hero__overflow {
      position: relative;
      overflow: visible;

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 120px;
        background-color: #f9f9f9;
      }
    }
    .c-hero__figure {
      transition: all 0.15s;
      display: block;
      margin: 0 auto;
      max-width: 800px;
      border-radius: 8px;
      background-size: cover;
      background-position: center center;
      background-image: url('#{$images}/hero/landing-video-screen.jpg');
      cursor: pointer;

      @include aspect-ratio(800, 436);
      @include custom-box-shadow(1);

      @include hover-focus {
        transform: translateY(-8px);
        @include custom-box-shadow(3);
      }
    }
  }

  // Landing 2
  &--landing-sale2 {
    margin-bottom: -10px;
    background-color: #2b364a;
    color: #ffffff;
    background-image: url('#{$images}/hero/hero-lp2-bg.jpg');
    background-size: cover;

    .c-hero__logo {
      z-index: 3;
      position: absolute;
      top: 48px;
      left: 0;
      right: 0;
      text-align: center;
    }
    .row {
      height: auto;
      padding-top: 160px;
      padding-bottom: 54px;
    }
    .c-hero__gobd-icon {
      z-index: 10;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-40%, 54%) rotate(-20deg);
      width: 110px;
      height: 110px;
      background-image: url('#{$images}/gobd/gobd-black.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
    .c-hero__headline,
    .c-hero__desc,
    .c-hero__note {
      color: inherit;

      a {
        color: inherit;
      }
    }
    .c-hero__note {
      font-size: 12px;
    }
    .c-hero__desc {
      em {
        position: relative;
        display: inline-block;
        font-style: normal;

        &:before {
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translate(-64%, 0);
          display: block;
          content: "";
          width: 96px;
          height: 6px;
          background-image: url('#{$images}/hero/text-underline.png');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
    }
    .c-hero__overflow {
      position: relative;
      overflow: visible;

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 120px;
        background-color: #fff;
      }
    }
    .c-hero__figure {
      transition: all 0.15s;
      display: block;
      margin: 0 auto;
      max-width: 800px;
      border-radius: 8px;
      background-size: contain;
      background-position: center center;
      // background-image: url('#{$images}/hero/sale-mockup-2-shadow.png');
      background-image: url('#{$images}/hero/sale-mockup-4.png');
      // cursor: pointer;

      @include aspect-ratio(1080, 607);
    }
  }

  // Accounting
  &--accounting {
    .c-hero__figure {
      @include media-breakpoint-up(md) {
        display: block;
        position: absolute;
        top: 0%;
        left: -8%;
        transform: translateY(50%);
        width: 214px;
        height: 214px;
        background-image: url('#{$images}/hero/accounting-hero-icon.png');
      }
    }
  }

  // Team
  &--team {
    .c-hero__figure {
      @include media-breakpoint-up(md) {
        display: block;
        position: absolute;
        top: 0%;
        left: -8%;
        transform: translateY(50%);
        width: 214px;
        height: 214px;
        background-image: url('#{$images}/hero/team-hero-icon.png');
      }
    }
  }
}

.c-hero.is-landing-white {
  background-image: linear-gradient(-7deg, #f9f9f9 50%, white 100%);

  .row {
    height: auto;
  }
  .c-hero__overflow {
    position: relative;

    &:after {
      width: 100%;
    }
  }

  .c-hero__overflow__container {

  }
  .c-hero__figure {
    transition: all 0.15s;
    display: block;
    margin: 0 auto;
    max-width: 800px;
    border-radius: 8px;
    background-size: cover;
    background-position: center center;
    background-image: url('#{$demo-images}/hero/vat-mockup.png');

    @include aspect-ratio(800, 506);
  }
}
