.c-hero-pricing-cta {
  background-color: #f4f4f4;
  background-size: cover;
  background-repeat: no-repeat;

  .c-hero-pricing-cta__cta-wp {
    box-shadow: 1px 2px 4px rgba(black, 0.05);
    // background-color: #fff;
    background-color: rgba(white, 0.9);

    &--bg-1 {
      background-color: rgba(white, 0.7);
    }
    &--bg-2 {
      background-color: rgba(white, 0.6);
    }
    &--bg-3 {
      background-color: rgba(white, 0.5);
    }
  }

  // Variations
  &.is-bg-1 {
    background-position: center;
    @include media-breakpoint-up(sm) {
      background-image: url('https://cdn.sevdesk.de/uploads/cta-kreativ%402x.jpg');
    }
  }

}
