.c-hero-search {
  position: relative;
  text-align: center;
  box-shadow: 0 2px 3px 0 rgba(black, 0.08);

  .container {
    z-index: 2;
    position: relative;
  }

  &__overflow {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }

  .row {
    height: 425px;
    align-items: center;
  }

  &__headline {
    margin-bottom: 1.25rem;
  }

  &__desc {
    margin-bottom: 2.5rem;
    font-weight: $f-weight-regular;
    color: $c-text-darkgray;
  }

  &__note {
    margin-top: 2rem;
    display: block;
    font-size: 12px;
    line-height: 1.6;
    color: $c-text-darkgray;

    @include media-breakpoint-up(md) {
      font-size: 14px;
    }
  }

  // ----------------------------------------------------------------------------------------
  // Variations
  // ----------------------------------------------------------------------------------------

  &--angle {
    .c-hero-search__overflow:after {
      z-index: -1;
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      content: '';
      width: 80%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: 0 bottom;
      background-size: cover;
      background-image: url('#{$images}/hero/angle-2.svg');

      @include media-breakpoint-up(sm) {
        width: 64%;
      }
      @include media-breakpoint-up(lg) {
        width: 50%;
      }
    }
  }

  &--lexicon {
    .c-hero-search__figure {
      transition: all 0.15s;
      display: none;
      position: absolute;
      margin: 0;
      top: 48%;
      transform: translateY(-50%);
      width: 247px;
      height: 260px;
      background-size: 247px auto;
      background-repeat: no-repeat;
      background-position: 50% 50%;

      @include media-breakpoint-up(lg) {
        display: block;
        left: -8%;
        background-image: url('#{$images}/hero/lexicon-hero.png');
      }
      @include media-breakpoint-up(xl) {
        left: 2%;
        background-image: url('#{$images}/hero/lexicon-hero.png');
      }
    }
  }
}
