.c-hero-article {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    position: relative;
    z-index: 10;
  }
  .row {
    height: 80vh;
    min-height: 480px;
    max-height: 900px;

    @include media-breakpoint-up(md) {
      min-height: 640px;
    }
  }
  &__content {
    text-align: center;
    color: #fff;
  }

  &__headline {
    color: inherit;
    font-weight: $f-weight-semibold;
    line-height: 1.2;
    font-size: 2rem;

    @include media-breakpoint-up(sm) {
      font-size: 2.5rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 3rem;
    }
  }

  &__meta {
    @include list-unstyled;
    display: flex;
    justify-content: center;
    margin: 0 0 1rem;
    font-size: 12px;

    @include media-breakpoint-up(md) {
      margin: 0 0 2rem;
      font-size: 15px;
    }

    li {
      &:after {
        content: '/';
        margin: 0 12px;
      }

      &:last-child:after {
        display: none;
      }
    }

    a {
      transition: all 0.15s;
      color: inherit;
      display: inline-block;
      border-bottom: 1px solid transparent;
      margin-right: 6px;

      @include hover-focus {
        border-color: white;
      }
    }
  }

  // ----------------------------------------------------------------------------------------
  // Variations
  // ----------------------------------------------------------------------------------------
  &--overlay {
    position: relative;

    &:before {
      z-index: 1;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.68;
      content: '';
      background-color: #000000;
    }
  }

  &--is-lexikon {
    background-image: url('#{$images}/hero/lexikon-article-hero--mobile.jpg');

    @include media-breakpoint-up(md) {
      background-image: url('#{$images}/hero/lexikon-article-hero.jpg');
    }
  }
}
