.c-hero-typed {


  &__underline {
    text-decoration: underline;
  }
  // Variations
  &--blue {
    background-color: #22274d;
    background-image: url("#{$images}/hero/branch-business.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &--integrations {
    background-color: #22274d;
    background-image: url("#{$images}/hero/integrationen-hero-mobile.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @include media-breakpoint-up(md) {
      background-image: url("#{$images}/hero/integrationen-hero.jpg");
    }
  }
}
