.c-image-carousel {
  overflow: hidden;

  .container {
    position: relative;
  }

  &__grid {
    position: relative;
    display: flex;
    // overflow: visible !important;
    align-items: center;
    height: 500px;
    background-color: gray;

    @include media-breakpoint-up(sm) {
      height: 580px;
    }
    @include media-breakpoint-up(lg) {
      height: 940px
    }
  }

  &__column {
    position: absolute;
    top: 0;
    left: 50%;
    width: 160px;
    margin-left: -80px;

    transform-origin: center;
    animation: columns-trajectory-xs 80s infinite;
    animation-duration: 180s;
    animation-timing-function: linear;
    will-change: transform;

    @include media-breakpoint-up(sm) {
      width: 200px;
      margin-left: -100px;
      animation-name: columns-trajectory-sm;
    }

    @include media-breakpoint-up(lg) {
      width: 280px;
      margin-left: -140px;
      animation-name: columns-trajectory-lg;
    }
  }

  &__column:nth-child(2) {
    .c-image-carousel__item:nth-child(1) {
      transition-delay: -20.46933s;
    }
  }

  &__column:nth-child(2) {
    animation-delay: -160s;
    .c-image-carousel__item:nth-child(1) {
      transition-delay: -1.68767s;
    }
  }
  &__column:nth-child(3) {
    animation-delay: -140s;
    .c-image-carousel__item:nth-child(1) {
      transition-delay: -13.9559s;
    }
  }
  &__column:nth-child(4) {
    animation-delay: -120s;
    .c-image-carousel__item:nth-child(1) {
      transition-delay: -10.98977s;
    }
  }
  &__column:nth-child(5) {
    animation-delay: -100s;
    .c-image-carousel__item:nth-child(1) {
      transition-delay: -9.9756s;
    }
  }
  &__column:nth-child(6) {
    animation-delay: -80s;
    .c-image-carousel__item:nth-child(1) {
      transition-delay: -4.94032s;
    }
  }
  &__column:nth-child(7) {
    animation-delay: -60s;
    .c-image-carousel__item:nth-child(1) {
      transition-delay: -3.46781s;
    }
  }
  &__column:nth-child(8) {
    animation-delay: -40s;
    .c-image-carousel__item:nth-child(1) {
      transition-delay: -4.32564s;
    }
  }
  &__column:nth-child(9) {
    animation-delay: -20s;
    .c-image-carousel__item:nth-child(1) {
      transition-delay: -4.73471s;
    }
  }

  &__item {
    position: relative;
    width: 160px;
    height: 160px;
    margin-top: 24px;
    border-radius: 6px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $c-text-gray;
    @include custom-box-shadow(2);

    @include media-breakpoint-up(sm) {
      width: 200px;
      height: 200px;
    }

    @include media-breakpoint-up(lg) {
      width: 280px;
      height: 280px;
      border-radius: 8px;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40%;
      opacity: 0.9;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.65) 100%
      );
    }
  }
  &__item {
    transition-delay: 0.75s;
    transform-origin: center bottom;
    animation: card-jiggle 30s infinite alternate;
    transition: opacity 0.25s,
      transform 0.7s cubic-bezier(0.205, 0.96, 0.375, 1.025);
  }
  &__item__title {
    font-weight: $f-weight-semibold;
    position: absolute;
    bottom: 20px;
    left: 24px;
    display: block;
    max-width: 120px;
    z-index: 5;
    color: #fff;
  }
}

@keyframes columns-trajectory-xs {
  0% {
    opacity: 0;
    transform: rotate(0.001deg) translate3d(800px, 10px, 0);
  }
  5%,
  95% {
    opacity: 0;
  }
  6%,
  94% {
    opacity: 1;
  }
  50% {
    transform: rotate(0.001deg) translate3d(0, 90px, 0);
  }
  to {
    opacity: 0;
    transform: rotate(0.001deg) translate3d(-800px, 10px, 0);
  }
}


@keyframes columns-trajectory-sm {
  0% {
    opacity: 0;
    transform: rotate(0.001deg) translate3d(1040px, 10px, 0);
  }
  5%,
  95% {
    opacity: 0;
  }
  6%,
  94% {
    opacity: 1;
  }
  50% {
    transform: rotate(0.001deg) translate3d(0, 110px, 0);
  }
  to {
    opacity: 0;
    transform: rotate(0.001deg) translate3d(-1040px, 10px, 0);
  }
}

@keyframes columns-trajectory-lg {
  0% {
    opacity: 0;
    transform: rotate(0.001deg) translate3d(1455px, 10px, 0);
  }
  5%,
  95% {
    opacity: 0;
  }
  6%,
  94% {
    opacity: 1;
  }
  50% {
    transform: rotate(0.001deg) translate3d(0, 310px, 0);
  }
  to {
    opacity: 0;
    transform: rotate(0.001deg) translate3d(-1455px, 10px, 0);
  }
}

@keyframes card-jiggle {
  0%,
  10% {
    transform: translate3d(-3px, -2px, 0);
  }
  20% {
    transform: translate3d(5px, -3px, 0);
  }
  30% {
    transform: translate3d(-4px, 3px, 0);
  }
  40% {
    transform: translate3d(-1px, 4px, 0);
  }
  50% {
    transform: translate3d(2px, 0, 0);
  }
  60% {
    transform: translate3d(3px, -3px, 0);
  }
  70% {
    transform: translate3d(5px, 5px, 0);
  }
  80% {
    transform: translate3d(-3px, 4px, 0);
  }
  90% {
    transform: translate3d(2px, -1px, 0);
  }
  to {
    transform: translate3d(4px, -4px, 0);
  }
}
