.c-image-loader {
  position: relative;
  width: 100%;
  min-height: 100px;

  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__img {
    transition: all 0.3s ease;
    height: auto;
    overflow: hidden;

    &.v-enter,
    &.v-leave {
      height: 0;
      opacity: 0;
    }
  }
}
