.c-in-page-menu {
  display: block;

  &__list {
    @include list-unstyled;
    border-left: 1px solid #dfe3e8;

    li {
      font-size: 14px;

      @include media-breakpoint-up(lg) {
        font-size: 16px;
      }
    }
    a {
      transition: all 0.15s;
      display: block;
      margin-left: -1px;
      padding: 0.625em 0 0.625em 1.0625em;
      border-left: 3px solid transparent;
      line-height: 1.4;
      color: $c-text-darkgray;

      @include hover-focus {
        color: $c-link;
      }

    }

    li.current_page_item {
      a {
        border-left-color: $c-text;
        font-weight: $f-weight-semibold;
        color: $c-text;
      }
    }
  }
}
