.c-integration-overview-card {
  max-width: 300px;

  @include media-breakpoint-down(sm) {
    margin: 0 auto;
  }

  &__media {
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid #f2f5f7;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.1);

    img {
      width: 100%;
      height: auto;
    }
  }

  &__links {
    text-align: center;
    color: $c-text-gray;

    a {
      display: inline-block;
      margin: 0 8px;
      font-size: 0.875rem;

      @include hover-focus {
        text-decoration: underline;
      }
    }
  }
}
