.c-job-list {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    transition: all 0.15s;
    border-bottom: 1px solid $c-divider-border;
    background-color: #fff;

    &:last-child {
      border-color: transparent;
    }

    @include hover-focus {
      z-index: 5;
      background-color: #f9f9f9;
    }
  }


  &__item {
    display: flex;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    @include media-breakpoint-up(md) {
      align-items: center;
    }
  }

  &__item__main {
    flex: 1 1 45%;
    padding: 0 2rem;
  }

  &__item__desc {
    flex: 1 1 35%;
    padding: 0 2rem;
  }
  &__item__meta {
    flex: 1 1 20%;
    padding: 0 2rem;
  }

  &__location {
    display: flex;
    align-items: center;

    &:before {
      display: inline-block;
      content: "";
      width: 14px;
      height: 22px;
      opacity: 0.7;
      background-position: center center;
      background-size: 16px auto;
      background-repeat: no-repeat;
      background-image: url('#{$images}/icons/ic_location_black_24px.svg');
    }
  }

  &__cover-link {
    display: block;
    cursor: pointer;
  }
}
