.c-lang-switcher {
  position: relative;
  z-index: 10;

  @include hover-focus {
    .c-lang-switcher__trigger:after {
      transform: rotate(180deg);
    }
    .c-lang-switcher__dropdown {
      opacity: 1;
      visibility: visible;
    }
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }

  i {
    display: inline-block;
    vertical-align: middle;
    width: 19px;
    height: 12px;
    margin-right: 3px;
    background-repeat: no-repeat;
    background-size: 19px auto;
    background-position: 0 0;
    background-image: url('#{$images}/flags-01.png');
  }

  .flag-icon-de {
    background-position: 0 0;
  }
  .flag-icon-en {
    background-position: 0 -12px;
  }
  .flag-icon-it {
    background-position: 0 -24px;
  }
  .flag-icon-fr {
    background-position: 0 -36px;
  }
  .flag-icon-es {
    background-position: 0 -48px;
  }
  .flag-icon-gr {
    background-position: 0 -60px;
  }
  .flag-icon-at {
    background-position: 0 -72px;
  }
  .flag-icon-ch {
    background-position: 0 -84px;
  }

  &__trigger {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 8px 12px;
    text-align: left;
    appearance: none;
    background-color: transparent;
    border: 1px solid #ececec;
    font-size: 0.875rem;
    font-weight: $f-weight-semibold;
    color: $c-text-darkgray;
    cursor: pointer;

    &:after {
      transition: all 0.15s;
      position: absolute;
      top: 4px;
      right: 4px;
      content: '';
      width: 24px;
      height: 24px;
      background-position: 0 0;
      background-image: url('#{$images}/icons/ic_arrow_drop_down.svg');
    }
  }
  &__dropdown {
    @include list-unstyled;
    transition: all 0.2s;
    opacity: 0;
    visibility: hidden;

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin: -1px 0 0;
    padding-bottom: 8px;
    background-color: white;
    border: 1px solid #ececec;
    border-top: 0;

    a {
      display: block;
      padding: 8px 10px;
      font-size: 0.875rem;
      color: $c-text-darkgray;
      border-left: 2px solid transparent;

      @include hover-focus {
        color: $c-text;
        border-color: $c-text-gray;
      }
    }
  }
}
