.c-link-more {
    display: inline-block;
    @include font-size($p-font-sizes);

    &:after {
      display: inline-block;
      content: '';
      margin-top: 1px;
      width: 12px;
      height: 12px;
      vertical-align: middle;
      background-image: url('#{$images}/icons/ic_arrow_forward_blue.svg');
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 12px auto;
    }

    @include hover-focus {
      span:before {
        width: 100%;
      }
    }

    span {
      position: relative;
      vertical-align: middle;
      display: inline-block;
      margin-right: 6px;

      &:before {
        transition: width 0.15s;
        position: absolute;
        bottom: -4px;
        left: 0;
        content: '';
        width: 0;
        height: 0;
        // overflow: hidden;
        border-bottom: 1px solid $c-link;
      }
    }
  }
