.c-links-box {
  margin-bottom: 0.75rem;

  @include media-breakpoint-down(xs) {
    border-bottom: 1px solid $c-divider-border;
    margin-bottom: 0;
  }

  @include media-breakpoint-between(sm, md) {
    margin-bottom: 1.5rem;
  }

  //------------------------------------------------------------
  // Variations
  //------------------------------------------------------------

  &.is-active {
    .c-links-box__title:after {
      background-image: url('#{$images}/icons/ic_remove_black_24px.svg');
    }
    .c-links-box__content {
      display: block;
    }
  }

  //------------------------------------------------------------
  // Elements
  //------------------------------------------------------------

  &__title {
    position: relative;
    display: block;
    padding: 0.75rem 0;
    font-size: 1rem;
    font-weight: $f-weight-semibold;
    text-transform: uppercase;

    @include media-breakpoint-down(xs) {
      cursor: pointer;
      &:after {
        position: absolute;
        top: 50%;
        right: 0;
        width: 24px;
        height: 24px;
        margin-top: -12px;
        display: inline-block;
        content: '';
        background-image: url('#{$images}/icons/ic_add_black_24px.svg');
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 24px auto;
      }
    }
  }

  &__content {
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }

  &__list {
    @include list-unstyled;
    margin: 0 0 0.75rem;
    padding: 0;

    &--columns {
      @include media-breakpoint-up(sm) {
        display: flex;
        flex-wrap: wrap;

        li {
          flex: 0 1 50%;
        }
      }
    }

    li {
      padding: 6px 20px 6px 0;
    }

    a {
      font-size: 0.875rem;
      color: $c-text-darkgray;
      @include hover-focus {
        color: $c-text;
        text-decoration: underline;
      }
    }
  }
}
