.c-links-sm {
  font-size: 12px;

  ul {
    @include list-unstyled;
    margin: 0;
  }
  li {
    display: inline-block;
    padding: 0 8px;
  }

  a {
    color: $c-text-darkgray;

    @include hover-focus {
      text-decoration: none;
      color: $c-text;
    }
  }

  // -------------------------------------------------------------
  // Variations
  // -------------------------------------------------------------

}
