.c-list-with-actions {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    padding: 0.25rem 0.5rem 0.25rem 0.75rem;
    border: 1px solid rgba(black, 0.1);
    background-color: rgba(white, 0.3);
    margin-bottom: 0.25rem;
    border-radius: 2px;

    @include hover-focus {
      background-color: #ffffff;
    }
  }

  &__btn {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 0.8;

    @include hover-focus {
      opacity: 1;
    }

    &.is-remove {
      background-position: center;
      background-size: 20px 20px;
      background-image: url('#{$images}/icons/ic_close_white.svg');
      background-color: $c-danger;
    }
  }
}
