.c-loader,
.c-loader:after {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.c-loader {
  display: inline-block;
  margin: 0 auto;
  line-height: 1;
  font-size: 0;
  position: relative;
  text-indent: -9999em;
  border-top: 4px solid rgba($c-danger, 0.2);
  border-right: 4px solid rgba($c-danger, 0.2);
  border-bottom: 4px solid rgba($c-danger, 0.2);
  border-left: 4px solid $c-danger;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 0.6s infinite linear;
  animation: load8 0.6s infinite linear;

  &--white {
    border-top-color: rgba(white, 0.2);
    border-right-color: rgba(white, 0.2);
    border-bottom-color: rgba(white, 0.2);
    border-left-color: white;
  }
}

// Sizes
.c-loader--lg,
.c-loader--lg:after {
  width: 80px;
  height: 80px;
}
.c-loader--lg {
  border-width: 6px;
}

// Animations
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
