.c-logo {
  display: inline-block;
  width: 153px;
  height: 34px;
  text-align: left;
  text-indent: -99999px;
  overflow: hidden;
  background-size: 153px 34px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url('#{$images}/sevdesk-logo.svg');

  // Variations
  &--white {
    background-image: url('#{$images}/sevdesk-logo-white.svg');
  }
  &--sm {
    height: 24px;
    width: 108px;
    background-size: 108px 24px;
    @include media-breakpoint-down(md) {
      width: 153px;
      height: 34px;
      background-size: 153px 34px;
    }
  }
}
