.c-made-in {
  font-size: 0.875rem;
  color: $c-text-darkgray;

  @include media-breakpoint-down(sm) {
    font-size: 0.8125rem;
    padding-top: 1rem;
  }

  @include media-breakpoint-up(md) {
    margin-left: auto;
  }

  span {
    display: inline-block;
    vertical-align: middle;
  }
  svg,
  img {
    color: $c-danger;
    display: inline-block;
    vertical-align: middle;
  }

  // Variations
  &--footer {
    padding: 1rem 0;

    @include media-breakpoint-up(lg) {
      padding: 0;
      text-align: right;
    }
  }
}
