html.js-mobile-nav-open,
body.js-mobile-nav-open {
  overflow: hidden;
  // height: 100%;
}

.c-mobile-nav {
  display: flex;
  z-index: 1000;
  flex-direction: column;
  transform: translateX(100%);
  background-color: #fff;
  box-shadow: 0 4px -4px 0 rgba(black, 0.24);
  color: $c-text;

  &__header {
    display: flex;
    padding: 0 2rem;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid $c-divider-border;

    &__logo {
      text-indent: -9999px;
      text-align: left;
      overflow: hidden;
      display: block;
      width: 108px;
      height: 24px;
      background-size: 108px 24px;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-image: url('#{$images}/sevdesk-logo.svg');
    }

    &__close {
      border: 0;
      text-indent: -99999px;
      text-align: left;
      width: 44px;
      height: 44px;
      margin-left: auto;
      background-color: transparent;
      background-image: url('#{$images}/icons/ic_close_black_24px.svg');
      background-size: 32px auto;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      cursor: pointer;
    }
  }

  &__main {
    padding: 2rem;
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: scroll;
    border-bottom: 1px solid $c-divider-border;
    background-color: #f9f9f9;
  }

  &__main-links {
    @include list-unstyled;
    margin: 1.25rem 0 0;
    font-size: 1.25rem;

    li {
      margin-bottom: 1.5rem;
    }

    a {
      color: inherit;
    }
  }

  &__footer {
    padding: 2rem 0;
  }

  &__footer-links {
    @include list-unstyled;
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 0.9375rem;

    li {
      &:after {
        content: '|';
        opacity: 0.3;
      }

      &:last-child:after {
        display: none;
      }
    }

    a {
      display: inline-block;
      margin: 0 1.5rem;
      color: inherit;
    }
  }

  // ---------------------------------------------
  // Variations
  // ---------------------------------------------
  &.is-fixed {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &:focus {

  }
  &.is-hidden {
    display: none;
  }
  &.is-open {
    transform: translateX(0);
  }
}
