.modal-backdrop.show {
  opacity: 0.7;
}

.c-modal {
  &__header {
    display: flex;
    width: 100%;
  }
  &__close {
    transition: all 0.15s;
    display: inline-block;
    position: absolute;
    top: 4px;
    right: 4px;
    width: 40px;
    height: 40px;
    border: 0;
    margin: 0;
    padding: 0;
    opacity: 0.4;
    background-color: transparent;
    background-size: 28px auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("#{$images}/icons/ic_close_black_24px.svg");
    cursor: pointer;

    @include media-breakpoint-up(md) {
      top: 12px;
      right: 16px;
    }

    @include hover-focus {
      opacity: 1;
    }
  }

  &__body {
    padding: 1.5rem;
  }
}

// -------------------------------------------------
// Variation Template 2
// -------------------------------------------------

#download-sucess-modal {
  @include media-breakpoint-down(sm) {
    padding: 0.2rem;
  }

  .c-form-control__checkbox-label {
    @include media-breakpoint-down(sm) {
      font-size: 11px;
    }
  }

  #c-cta-form {
    padding: 0.5rem 5rem;
    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }

  .c-section-header__title {
    font-size: 2rem;
    @include media-breakpoint-down(sm) {
      font-size: 1.25rem;
    }
    .underline:after {
      background-image: url(https://cdn.sevdesk.de/uploads/swoosh_straight.png);
      @include media-breakpoint-up(md) {
        -ms-transform: translate(-5%, -45%) !important;
        transform: translate(-5%, -45%) !important;
      }
    }
  }

  img {
    max-width: 90% !important;
    margin-left: 5% !important;
  }

  .c-blog-newsletter__form__terms {
    text-align: left;
    color: #959595;
    @include media-breakpoint-down(sm) {
      margin-top: 1rem;
    }
  }

  h3 {
    font-size: 1.4rem;
    padding: 0.5rem 5rem;
    @include media-breakpoint-down(sm) {
      font-size: inherit;
      padding: inherit;
    }
  }

  .c-modal__body {
    padding: 5rem 1.5rem;
    @include media-breakpoint-down(sm) {
      padding: 1.5rem;
    }
  }
  .modal-dialog {
    @include media-breakpoint-up(md) {
      margin: 12.5vh auto;
    }
  }
}
