.c-modal-signup {
  .modal-dialog {
    position: relative;
    z-index: 10;
    max-width: 580px;
  }

  .modal-content {
    border-radius: 0;
    padding: 1.5rem;
    background-color: #f7f8f9;
    // @include custom-box-shadow(3);
    border: 0;

    @include media-breakpoint-up(sm) {
      padding: 3rem;
    }
  }

  .text-note {
    line-height: 1.4;
  }

  figure {
    transition: opacity 0.3s;
    opacity: 0;
    position: absolute;
    z-index: 1;
    display: block;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  // Close
  &__close {
    transition: all 0.15s;
    display: inline-block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 20;
    width: 44px;
    height: 44px;
    border: 0;
    margin: 0;
    padding: 0;
    opacity: 0.8;
    background-color: transparent;
    background-size: 44px auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('#{$images}/icons/ic_close_white.svg');
    cursor: pointer;

    @include media-breakpoint-up(md) {
      top: 1.5rem;
      right: 1.5rem;
    }

    @include hover-focus {
      opacity: 1;
      outline: 0;
    }
  }

  // -------------------------------------------------
  // Variations
  // -------------------------------------------------
  &.is-dark {
    background-color: #2b364a;

    .modal-content {
      background-color: transparent;
      color: #ffffff;

      .u-text-gray {
        color: #ccc;
      }
    }
  }

  &.show {
    figure {
      opacity: 1;
    }
  }
}
