.mql-box {
  background: linear-gradient(#4d90e1, #417edc);
  color: #f9f9f9;
  border-radius: 6px;
  padding: 4px 4px 4px 4px;
  margin-bottom: 15px;

  @include media-breakpoint-up(md) {
    padding: 27px 0 27px 25px;
  }

  &__header {
    font-weight: $f-weight-black;
    color: #f9f9f9;
    margin-top: 0rem;
    line-height: 1.9rem;
    font-size: 1.5rem;


    @include media-breakpoint-up(md) {
      margin-top: 0rem;
      max-width: 380px;
      line-height: 2.2rem;
      font-size: 2rem;
    }
  }

  &__content {
    margin-bottom: 1.3rem;
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: $f-weight-bold;

    @include media-breakpoint-up(md) {
      margin-top: 0rem;
    }
  }

  &__checkbox {
    margin-top: 10px;

    @include media-breakpoint-up(md) {
      padding-top: 7px;
    }
  }

  &__checkbox-label {
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
    line-height: 0.9rem;
    font-weight: $f-weight-semibold;
    padding-left: 10px;

    @include media-breakpoint-up(md) {
      position: relative;
      padding-left: 10px;
      font-size: 11px;
      line-height: 1.3;
      margin-top: -3px;
      opacity: 0.9;
    }
  }

  img.mql-box__image {
    max-width: 80%;

    @include media-breakpoint-up(md) {
      max-width: 100%;
    }
  }

  .c-signup-form-s__submit {
    @include media-breakpoint-down(sm) {
      width: 100%;
      background: #1b3d5c;
    }
  }
}
