.c-nav {
  //------------------------------------------------
  // Elements
  //------------------------------------------------
  &__logo {
    flex: 0 1 auto;
    display: flex;
    align-items: center;

    @include media-breakpoint-up(lg) {
      flex: 0 1 172px;
    }

    @include media-breakpoint-up(xl) {
      flex: 0 1 248px;
    }

    a {
      text-indent: -9999px;
      text-align: left;
      overflow: hidden;
      display: block;
      width: 108px;
      height: 24px;
      background-size: 108px 24px;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-image: url('#{$images}/sevdesk-logo.svg');

      @include media-breakpoint-up(lg) {
        width: 153px;
        height: 34px;
        background-size: 153px 34px;
      }
    }
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    > li.menu-item--parent {
      position: relative;

      @include hover-focus {
        .c-nav__list__submenu {
          display: block;
          opacity: 1;
        }
      }

      & > a {
        position: relative;
        padding-right: 20px;
      }

      & > a:after {
        display: none;
      }

      & > a:before {
        position: absolute;
        top: 50%;
        right: 0;
        display: inline-block;
        width: 0;
        height: 0;
        margin-top: -2px;
        content: '';
        font-size: 0;
        overflow: hidden;
        border: 5px solid transparent;
        border-top-color: $c-text-gray;
      }
    }

    li.current-menu-item {
      a {
        font-weight: $f-weight-semibold;
        &:after {
          opacity: 1;
          background-color: $c-text;
        }
      }
    }
    > li > a {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      font-size: 0.9375rem;
      line-height: 1.125rem;

      @include hover-focus {
        &:after {
          opacity: 1;
        }
      }
      &:after {
        transition: opacity 0.2s;
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        height: 2px;
        width: 100%;
        content: '';
        font-size: 0;
        overflow: hidden;
        background-color: $c-text-gray;
      }
    }
  }
  &__list__submenu {
    transition: all;
    display: none;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 8px 0;
    border-radius: 3px;
    @include custom-box-shadow(1);
    background-color: #fff;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: left;
      font-size: 15px;
    }

    a {
      transition: all 0.15s;
      display: block;
      padding: 9px 20px 9px 14px;
      font-weight: $f-weight-semibold;
      color: $c-text-darkgray;
      border-left: 2px solid transparent;

      @include hover-focus {
        color: $c-link;
        border-left-color: $c-link;
      }
    }
  }

  &__main {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;

    @include media-breakpoint-down(lg) {
      display: none;
    }

    > ul > li {
      padding: 0 0.75rem;
    }
  }

  &__left-option {
    flex: 0 1 48px;
    display: flex;
    align-items: center;

    @include media-breakpoint-up(xl) {
      display: none;
    }
  }

  &__mobile {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // background-color: red;

    @include media-breakpoint-up(xl) {
      display: none;
    }

    &__hamburger {
      appearance: none;
      width: 44px;
      height: 40px;
      margin: 0;
      padding: 2px 0 0 2px;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &:focus {
        outline-color: #eee;
      }

      svg {
        width: 36px;
        height: 36px;
      }
    }
  }

  &__main {
    > ul > li > a {
      padding: 0.5625rem 0;
      color: $c-text;
    }
  }

  &__user {
    flex: 0 1 248px;
    display: flex;
    justify-content: flex-end;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    &__primary {
      a {
        @extend .c-btn;
        @extend .c-btn--primary;
        @extend .c-btn--sm;
        color: #fff;

        &:after {
          display: none;
        }

        @include hover-focus {
          &:after {
            display: none;
          }
        }
      }
    }

    &__secondary {
      padding: 0 1rem;

      a {
        padding: 0.625rem 0;
        font-size: 0.875rem;
        line-height: 1rem;
        text-transform: uppercase;
        font-weight: $f-weight-semibold;
        letter-spacing: 0.2px;
        color: $c-text;
      }
    }
  }

  //------------------------------------------------
  // Variations
  //------------------------------------------------

  &--primary {
    .row {
      height: 48px;

      @include media-breakpoint-up(md) {
        height: 64px;
      }

      @include media-breakpoint-up(lg) {
        height: 72px;
      }
    }
  }

  &--left-option {
    .c-nav__logo {
      margin-right: auto;

      @include media-breakpoint-down(sm) {
        margin: 0 auto;
      }
    }

    .c-nav__mobile {
      flex: 0 1 auto;
    }
  }
}
