.c-newsfeed-card-wp {


  #traffic-light {
    width: 100%;
  }

  #traffic-light.is-red {
    #yellow, #green {
      fill: gray;
    }
  }
  #traffic-light.is-green {
    #yellow, #red {
      fill: gray;
    }
  }
  #traffic-light.is-yellow {
    #green, #red {
      fill: gray;
    }
  }

  // Variation
  &--shadow {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.08);
  }
}
