.c-newsfeed-list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;

  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    content: " ";
    width: 0;
    height: 100%;
    border-right: 1px solid $c-divider-border;
  }

  &__item {
    position: relative;
    border-bottom: 1px solid $c-divider-border;
    padding-right: 2rem;

    &:after {
      z-index: 5;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(50%, -50%);
      content: " ";
      width: 28px;
      height: 28px;
      border-radius: 50%;
    }

    &:last-child {
      border-color: transparent;
    }
    &.is-gray:after {
      background-color: #999999;
      border: 8px solid #e5e5e5;
    }

    &.is-green:after {
      background-color: $c-success;
    }
    &.is-red:after {
      background-color: $c-danger;
    }
    &.is-yellow:after {
      background-color: $c-warn;
    }
  }

  // Variations
  &.has-border-top {
    border-top: 1px solid $c-divider-border;
  }

}

.c-newsfeed-list-btn-more {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 0;
  cursor: pointer;
  outline: 0;

  svg {
    fill: currentColor;
  }
}
