.c-number-list {
  @include list-unstyled;
  margin: 1.25rem 0;

  @include media-breakpoint-up(md) {
    margin: 2rem 0;
  }

  li {
    @include font-size($p-font-sizes);
    position: relative;
    counter-increment: step-counter;
    margin-bottom: 1rem;
    padding-left: 2.25rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 1.5rem;
    }
  }

  li::before {
    position: absolute;
    top: 0;
    left: 0;
    content: counter(step-counter);
    margin-right: 5px;
    padding: 4px 8px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.15;
    background-color: $c-success;
    color: white;

    @include media-breakpoint-up(md) {
      top: 1px;
    }
  }
}
