.c-pagination {
  text-align: center;
  .page-numbers {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    min-width: 48px;
    height: 48px;
    line-height: 44px;
    font-size: 18px;
    text-align: center;
    border-radius: 50%;
    font-weight: $f-weight-semibold;
    border: 2px dotted transparent;
  }
  .screen-reader-text {
    @extend .sr-only;
  }

  a.page-numbers {
    @include hover-focus {
      text-decoration: underline;
    }
  }

  .current {
    // background-color: $c-text-darkgray;
    color: $c-link;
    border-color: $c-link;
  }

  .dots {
    color: $c-text-darkgray;
    &:after {
      content: '...';
    }
  }

  .prev,
  .next {
    margin: 0 1rem;
    text-indent: -9999px;
    overflow: hidden;
    text-align: left;
    background-color: $c-link;
    width: 48px;
    height: 48px;
    border: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 24px auto;
    @include custom-box-shadow(1);

    @include media-breakpoint-down(xs) {
      display: none;
    }

    @include hover-focus {
      background-color: tint($c-link, 12%);
    }

    &:active {
      transform: translateY(1px);
      background-color: shade($c-link, 12%);
    }
  }
  .prev {
    background-image: url('#{$images}/icons/ic_arrow_back_white.svg');
  }
  .next {
    background-image: url('#{$images}/icons/ic_arrow_forward_white.svg');
  }
}
