.c-payment-methods {
  border-radius: 4px;
  box-shadow: 0 0 0 1px #d9d9d9;
  background-color: #ffffff;

  &__item {
    &.is-active {
      .c-payment-methods__item__body {
        display: block;
      }
    }

    &:last-child {
      .c-payment-methods__item__header {
        border: 0;
      }
    }
  }

  &__item__header {
    position: relative;
    padding: 12px;
    border-bottom: 1px solid #D9D9D9;
  }
  &__item__body {
    // display: none;
    padding: 15px 12px;
    background-color: #f4f6f8;
    border-bottom: 1px solid #D9D9D9;
  }

  &__label {
    display: flex;
    width: 100%;
    align-items: center;
    cursor: pointer;
  }

  &__radio {
    vertical-align: middle;
  }
  &__label-text {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0.5rem;
    font-size: 14px;
    font-weight: $f-weight-semibold;
  }
}
