.c-pricing-table-outlined {
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  &__toggle {
    position: relative;
    text-align: center;
    padding: 2.5rem 0 1.5rem;
    overflow: hidden;

    @include media-breakpoint-up(md) {
      padding: 3rem 0 2rem;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 50%;
      content: "";
      display: block;
      width: 360px;
      margin-left: -180px;
      border-top: 1px solid $c-divider-border;
    }
  }

  &__item {
    margin-bottom: 2rem;

    &__header {
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
      position: relative;
      height: 132px;
      text-align: left;

      @media (min-width: 768px) {
        padding-left: 1rem;
      }

      @media (max-width: 767px) {
        padding-left: 1.2rem;
      }

      @include media-breakpoint-up(sm) {
        height: 90px;
        padding-top: 3rem;
        margin-bottom: 1.5rem;
      }
    }

    &__popular {
      position: absolute;
      top: -25px;
      left: 50%;
      transform: translateX(-50%);
      display: inline-block;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      font-family: $f-stack-sans;
      text-transform: uppercase;
      font-size: 13px;
      line-height: 1;
      padding: 10px;
      text-align: center;
      font-weight: bold;
      letter-spacing: 0.72px;
      background-color: $c-success;
      white-space: nowrap;
      color: #fff;
      width: 100%;
    }

    &__headline {
      color: inherit;
      padding-top: 0.5rem;
      margin-bottom: 0.25rem;
      color: #4f88d7;

      @include media-breakpoint-up(md) {
        margin-bottom: 0.75rem;
      }
    }
    // Pricing
    &__price-wp {
      font-weight: $f-weight-regular;
      margin-bottom: 0.5rem;

      @include media-breakpoint-up(sm) {
        margin-bottom: 1rem;
      }

      &__old {
        display: inline-block;
        margin-right: 3px;
        vertical-align: middle;
        opacity: 0.7;
        text-decoration: line-through;
      }
      &__sale {
        vertical-align: sub;
        font-size: 1.75rem;
      }
    }
    &__price {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: $f-weight-regular;
      font-size: 1.75rem;

      @include media-breakpoint-up(sm) {
        margin-bottom: 1rem;
      }
    }
    &__price-type {
      font-size: 13px;
      opacity: 0.7;
      margin: 0;

      @include media-breakpoint-up(sm) {
        font-size: 14px;
      }
    }
    &__body {
      padding: 1rem 0;

      @include media-breakpoint-up(sm) {
        padding: 1rem 1.25rem 1.25rem;
      }
    }
    &__actions {
      text-align: center;
    }
  }

  &__note {
    display: block;
    opacity: 0.7;
    font-size: 12px;
    line-height: 1.5;
    color: $c-text-darkgray;


    @include media-breakpoint-up(md) {
      font-size: 12px;
      min-height: 55px;
    }
  }

  &__other-features {
    display: block;
    font-weight: $f-weight-semibold;
    color: $c-text-darkgray;

    @include media-breakpoint-down(lg) {
      font-size: 14px;
    }
  }

  &__features {
    @include list-unstyled;
    margin: 0;
    color: $c-text-darkgray;

    @include media-breakpoint-up(md) {
      min-height: 225px;
    }

    li {
      position: relative;
      padding-left: 24px;
      margin-bottom: 0.5rem;
      font-size: 13px;
      line-height: 1.5;

      @include media-breakpoint-up(lg) {
        padding-left: 28px;
        font-size: 14px;
        line-height: 1.6;

      }

      &:before {
        display: inline-block;
        position: absolute;
        top: 1px;
        left: 0;
        content: "";
        width: 16px;
        height: 16px;
        background-image: url("#{$images}/icons/ic_check_green.svg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 16px auto;

        @include media-breakpoint-up(letter-spacing) {
          width: 20px;
          height: 20px;
          background-size: 18px auto;
        }
      }
    }

    li.is-not {
      opacity: 0.7;
    }
    li.is-not:before {
      opacity: 0.3;
      background-image: url("#{$images}/icons/ic_close_black_24px.svg");
    }
  }

  &.new {
    overflow: hidden;
  }

  // Sale
  &__sale {
    position: relative;
    z-index: 5;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    &.is-summer-sale {
      width: 300px;
      height: 40px;
      margin: 0 auto -1px;
      background-image: url("#{$images}/sale/pricing-sale.png");

      @include retina {
        background-image: url("#{$images}/sale/pricing-sale@2x.png");
      }

      @include media-breakpoint-up(sm) {
        width: 410px;
        height: 54px;
      }
    }

    &.is-summer-sale-2018 {
      width: 280px;
      height: 108px;
      margin: 0 auto -1px;
      background-image: url("https://cdn.sevdesk.de/uploads/badge_pricing_fonts_vectorized.png");

      @include retina {
        background-image: url("https://cdn.sevdesk.de/uploads/badge_pricing_fonts_vectorized_retina-compressor.png");
      }

      @include media-breakpoint-up(sm) {
        width: 396px;
        height: 152px;
      }
    }

    &.is-spring-2018-sale {
      width: 264px;
      height: 40px;
      margin: 0 auto -1px;
      background-image: url("#{$images}/sale/pricing-spring-2018-sale.png");

      @include retina {
        background-image: url("#{$images}/sale/pricing-spring-2018-sale@2x.png");
      }

      @include media-breakpoint-up(sm) {
        width: 356px;
        height: 54px;
      }
    }
  }

  // -----------------------------------------------------
  // Variations
  // -----------------------------------------------------
  .monthly {
    display: none;
  }
  &.is-monthly {
    .annual,
    .bi-annual {
      display: none;
    }
    .monthly:not(a) {
      display: block;
    }
    a.monthly {
      display: inline-block;
    }
  }
  &.is-annual {
    .monthly,
    .bi-annual {
      display: none;
    }
    .annual:not(a) {
      display: block;
    }
    a.annual {
      display: inline-block;
    }
  }
  &.is-bi-annual {
    .monthly,
    .annual {
      display: none;
    }
    .bi-annual:not(a) {
      display: block;
    }
    a.bi-annual {
      display: inline-block;
    }
  }
  .badge-new {
    z-index: 999;
    width: 180px;
    height: 25px;
    text-align: center;
    font-weight: bold;
    font-family: $f-stack-sans;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.9px;
    background-color: $c-success;
    white-space: nowrap;
    color: #fff;
    transform: rotate(40deg);
    position: absolute;
    right: -45px;
    top: 25px;
    box-shadow: 0 2px 5px 0 rgba(black, 0.08);
    // border-top: 5px solid $c-success;
    // border-bottom: 5px solid $c-success;
  }
}
