.c-s-content {
  &__header {
    margin-bottom: 1.75rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 2.75rem;
    }
  }
  &__headline {
  }

  &__body {
    p {
      margin-bottom: 1.75rem;
      font-size: 0.75rem;
      color: $c-text-darkgray;

      @include media-breakpoint-up(md) {
        font-size: 0.875rem;
      }
    }

    ul, ol {
      margin: 1.5rem;
      padding: 0;
      font-size: 0.75rem;
      line-height: 1.4;
      list-style-position: outside;

      @include media-breakpoint-up(md) {
        font-size: 0.875rem;
      }
    }
    li {
      padding: 4px 0;
      color: $c-text-darkgray;
    }
  }
}
