.c-search-field {
  position: relative;

  &:before {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 12px;
    content: '';
    width: 24px;
    height: 24px;
    margin-top: -12px;
    background-image: url('#{$images}/icons/ic_search_blue.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 24px auto;

    @include media-breakpoint-up(md) {
      left: 16px;
    }
  }

  &__loading {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -16px;
  }

  input {
    transition: all 0.15s;
    width: 100%;
    display: block;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    text-align: center;
    padding: 12px;
    font-size: 15px;
    background-color: #fcfcfc;
    outline: none;

    @include media-breakpoint-up(md) {
      padding: 17px;
      font-size: 16px;
    }

    &:focus {
      background-color: #fff;
      box-shadow: 0 4px 8px 0 rgba(black, 0.08), 0 2px 4px 0 rgba(black, 0.04);
    }

    &:before {
      display: inline-block;
      width: 24px;
      height: 24px;
      content: '';
    }
  }

  &__clear {
    transition: all 0.15s;
    appearance: none;
    opacity: 0.5;
    background-color: transparent;
    border: 0;
    outline: 0;
    overflow: hidden;
    user-select: none;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    color: $c-text-darkgray;
    cursor: pointer;
    text-align: left;
    text-indent: -9999px;
    background-image: url('#{$images}/icons/ic_close_black_24px.svg');
    background-repeat: no-repeat;
    background-size: 24px auto;
    background-position: center center;

    @include hover-focus {
      opacity: 1;
    }
  }

  // Variations
  &--shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }
  &--location {
    &:before {
      opacity: 0.4;
      background-image: url('#{$images}/icons/ic_outline_location_on-24px.svg');

      @include media-breakpoint-up(md) {
        left: 14px;
      }
    }
  }
  &--clear-icon {
    input {
      padding-left: 44px;
      padding-right: 44px;
    }
  }
  &--sm {
    input {
      font-size: 15px;
    }
  }
  &--sm-branch {
    input {
      @include media-breakpoint-up(md) {
        padding: 14px;
        font-size: 16px;
      }
    }

    .c-search-field__loading {
      right: 4px;
    }
  }
}
