.c-section-header {
  text-align: center;
  margin-bottom: 1.75rem; // 28px

  @include media-breakpoint-up(md) {
    margin-bottom: 2rem;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 2.75rem; //44px
  }

  &__title {
    display: block;
    font-weight: $f-weight-semibold;

    em {
      display: inline-block;
      position: relative;
      font-style: normal;
    }

    em.underline:after {
      position: absolute;
      top: 100%;
      left: 0;
      transform: translate(-5%, -44%);
      display: block;
      content: "";
      width: 110%;
      height: 6px;
      background-position: center center;
      background-image: url('#{$images}/underlines/underline.svg');
      background-repeat: no-repeat;
      background-size: contain;

      @include media-breakpoint-up(md) {
        width: 110%;
        height: 12px;
        transform: translate(-5%, 20%);
      }
    }
  }
  &__description {
    font-weight: $f-weight-regular;
    color: $c-text-darkgray;
  }

  // ------------------------------------------------------
  // Variations
  // ------------------------------------------------------

  &--left {
    text-align: left;
  }
}
