.c-selected-products {
  margin-bottom: 1rem;

  &__item {
    display: flex;
    padding-bottom: 0.5rem;
  }
  &__title {
    color: $c-success;
    font-weight: $f-weight-semibold;
  }
  &__price {
    margin-left: auto;
  }
  .old-price {
    font-size: 15px;
    text-decoration: line-through;
    color: $c-text-darkgray;
  }
  .new-price {
    display: inline-block;
    padding-left: 4px;
    color: $c-danger;
    font-weight: $f-weight-semibold;
  }
  .price {
    font-weight: $f-weight-semibold;
  }
}
