.c-select {
  position: relative;
  &:after {
    position: absolute;
    top: 50%;
    right: 16px;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: -2px;
    font-size: 0;
    border: 6px solid transparent;
    border-top-color: $c-text;
  }
  select {
    transition: all 0.15s;
    width: 100%;
    height: 44px;
    display: block;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    text-align: center;
    padding: 0 16px;
    font-size: 15px;
    background-color: #fcfcfc;
    outline: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: '';

    @include media-breakpoint-up(md) {
      height: 54px;
    }

    &::-ms-expand {
      display: none;
    }

    &:focus {
      border-color: $c-link;
    }
  }
}
