body.vue-modal-open .c-signup-modal {
  display: block;
}

.c-signup-modal {
  display: none;
  max-width: 540px;
  padding: 48px 24px;
  color: #ffffff;

  @include media-breakpoint-up(md) {
    padding: 120px 24px;
  }

  &__title {
    display: block;
    color: inherit;
  }

  &__note {
    color: inherit;
    opacity: 0.7;

    a {
      color: inherit;
      text-decoration: underline;

      @include hover-focus {
        text-decoration: none;
      }
    }
  }

  // Variations
  // ------------------------------------------------------
  &.is-bg1 {
    .c-vue-modal__overlay {
      background-position: left top;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('#{$images}/sign-up/sign-up-bg--mobile-1.jpg');

      @include media-breakpoint-up(md) {
        background-image: url('#{$images}/sign-up/sign-up-bg-1.jpg');
      }
    }
  }

  &.is-bg2 {
    .c-vue-modal__overlay {
      background-position: left top;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('#{$images}/sign-up/sign-up-bg-2--mobile.jpg');

      @include media-breakpoint-up(md) {
        background-image: url('#{$images}/sign-up/sign-up-bg-2.jpg');
      }
    }
  }

  &.is-bg-fr {
    .c-vue-modal__overlay {
      background-position: left top;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('#{$images}/sign-up/sign-up-bg-fr-mobile.jpg');

      @include media-breakpoint-up(md) {
        background-image: url('#{$images}/sign-up/sign-up-bg-fr.jpg');
      }
    }
  }
}
