.c-signup-form-s {
  position: relative;

  &__message-top {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -2.5rem;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    font-size: 14px;
    background-color: $c-danger;
    color: #fff;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -6px;
      width: 0;
      height: 0;
      overflow: hidden;
      border: 6px solid transparent;
      border-top-color: $c-danger;
    }
  }

  &__control {
    transition: all 0.15s;
    display: block;
    border-radius: 4px;
    margin: 0 0 8px;

    @include media-breakpoint-up(md) {
      margin: 0 0 1rem;
    }

    &.is-invalid {
      padding: 2px;
      background-color: $c-danger;

      & + .c-signup-form-s__submit {
        @include media-breakpoint-up(sm) {
          top: 0.65rem;
          right: 0.65rem;
        }
      }
    }

    &.is-loading {
      input {
        color: #eeeeee;
      }
    }
  }

  &__message {
    transition: all 0.15s;
    display: block;
    padding: 0.5rem 1rem;
    font-size: 13px;
    line-height: 1.1;
    font-weight: $f-weight-semibold;
    color: #fff;
  }

  &__email {
    width: 100%;
    transition: all 0.15s;
    padding: 16px;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.15;
    text-align: center;
    @include custom-box-shadow(2);

    @include media-breakpoint-up(md) {
      text-align: left;
    }

    &:focus {
      outline: none;
      @include custom-box-shadow(3);
    }
  }

  &__submit {
    @extend .c-btn;
    @extend .c-btn--primary;

    @include media-breakpoint-up(md) {
      position: absolute;
      top: 8px;
      right: 8px;
    }
  }

  &__loader {
    @extend .c-loader;

    display: inline-block;
    position: absolute;
    top: 11px;
    left: 16px;
  }

  // ------------------------------------------------------------
  // Variations
  // ------------------------------------------------------------

  &--lg {
    .c-signup-form-s__email {
      height: 52px;
      font-size: 15px;

      @include media-breakpoint-up(md) {
        padding: 16px 180px 16px 18px;
      }
    }
    .c-signup-form-s__submit {
      @extend .c-btn--sm;
      margin: 0;

      @include media-breakpoint-down(sm) {
        margin-top: 0.75rem;
      }
    }
  }

  &--sm {
    .c-signup-form-s__email {
      font-size: 15px;
      height: 52px;

      @include media-breakpoint-up(md) {
        padding: 16px 100px 16px 18px;
      }
    }
    .c-signup-form-s__submit {
      @include media-breakpoint-down(sm) {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
      }
      @include media-breakpoint-up(md) {
        padding: 10px 16px;
        font-size: 0.875rem;
        line-height: 1rem;
      }
    }
  }
}
