.c-sign-up-default {
  &__control {
    position: relative;
    transition: all 0.15s;
    display: block;
    border-radius: 4px;
    margin: 0 0 12px;

    @include media-breakpoint-up(sm) {
      margin: 0 0 1rem;
    }

    &.is-invalid {
      padding: 2px;
      background-color: $c-danger;

      input {
        border-color: transparent;
      }

      & + .c-sign-up-default__submit {
        @include media-breakpoint-up(sm) {
          top: 0.65rem;
          right: 0.65rem;
        }
      }
    }
  }

  &__email {
    display: block;
    width: 100%;
    transition: all 0.15s;
    padding: 12px;
    font-size: 15px;
    line-height: 1.2;
    border: 1px solid $c-input-border;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;

    &:focus {
      border-color: $c-link;
      outline: 0;
    }
  }

  &__message {
    transition: all 0.15s;
    display: block;
    padding: 0.5rem 1rem;
    font-size: 13px;
    line-height: 1.1;
    font-weight: $f-weight-semibold;
    color: #fff;
  }
  &__loader {
    @extend .c-loader;

    display: inline-block;
    position: absolute;
    top: 5px;
    left: 8px;
  }
}
