.c-social-share {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    padding: 4px;
  }

  a {
    transition: all 0.15s;
    color: $c-text-darkgray;
    opacity: 0.7;

    @include hover-focus {
      opacity: 1;
    }
  }

  // -------------------------------------------
  // Variations
  // -------------------------------------------

  &--md {
    img,
    svg {
      width: 32px;
      height: 32px;
      fill: currentColor;

      @include media-breakpoint-up(md) {
        width: 36px;
        height: 36px;
      }
    }
  }

  &--white {
    color: #ffffff;

    a {
      color: #ffffff;
    }
  }

}
