.c-social-icons {
  ul {
    @include list-unstyled;
    display: flex;
    margin: 0;

    @include media-breakpoint-down(sm) {
      padding: 0.5rem 0;
    }
  }
  a {
    text-indent: -9999px;
    text-align: left;
    overflow: hidden;

    display: block;
    width: 24px;
    height: 24px;
    margin: 0 10px;
    background-size: auto 24px;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    @include hover-focus {
      opacity: 0.7;
    }
  }
  &.lazyloaded {
    .social-icon-facebook a {
      background-image: url('#{$images}/social-media/facebook.svg');
    }
    .social-icon-twitter a {
      background-image: url('#{$images}/social-media/twitter.svg');
    }
    .social-icon-pinterest a {
      background-image: url('#{$images}/social-media/pinterest.svg');
    }
    .social-icon-youtube a {
      background-image: url('#{$images}/social-media/youtube.svg');
    }
    .social-icon-linkedin a {
      background-image: url('#{$images}/social-media/linkedin.svg');
    }
  }
}
