.c-support-inline {
  @include list-unstyled;
  display: flex;
  margin: 0.5rem 0;

  @include media-breakpoint-down(xs) {
    flex-direction: column;
  }

  li {
    padding-right: 2rem;
    display: flex;
    align-items: flex-start;
    padding-bottom: 1rem;
  }

  span {
    color: $c-text-darkgray;
    font-size: 16px;

    @include media-breakpoint-down(sm) {
      padding-top: 2px;
    }

    @include media-breakpoint-up(md) {
      font-size: 20px;
    }

    em {
      display: block;
      padding-top: 10px;
      font-style: normal;
      font-size: 12px;

      @include media-breakpoint-up(md) {
        padding-top: 12px;
        font-size: 14px;
      }
    }
  }

  &__icon {
    margin-right: 12px;
    fill: currentColor;
    color: $c-success;
    width: 24px;
    height: auto;
  }
}
