.c-support {
  &__media {
    flex: 0 1 auto;
    padding-right: 16px;
    svg {
      width: 32px;
      height: 32px;

      @include media-breakpoint-up(md) {
        width: 56px;
        height: 56px;
      }
    }
  }
  &__content {
    @include media-breakpoint-down(sm) {
      font-size: 0.875rem;
    }
    span {
      color: $c-text-darkgray;
      display: block;
    }
    .line-25 {
      line-height: 15px;

      @include media-breakpoint-up(md) {
        line-height: 25px;
      }
    }
  }
}
