.c-switch {
  display: inline-block;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  vertical-align: middle;

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }

  &__label {
    position: relative;
    transition: all 0.2s;
    height: 20px;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: $f-weight-semibold;
    cursor: pointer;
    vertical-align: middle;
    color: $c-text-darkgray;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 0;
      overflow: hidden;
      border-bottom: 2px solid transparent;
    }

    &--left {
      margin-right: 1.25rem;
      color: $c-link;
      &:before {
        border-color: $c-link;
      }

      .is-checked & {
        color: $c-text-darkgray;
        &:before {
          border-color: transparent;
        }
      }
    }
    &--right {
      margin-left: 1.25rem;

      .is-checked & {
        color: $c-link;
        &:before {
          border-color: $c-link;
        }
      }
    }
  }

  &__core {
    margin: 0;
    display: inline-block;
    position: relative;
    width: 40px;
    height: 20px;
    border: 1px solid $c-text-gray;
    outline: none;
    border-radius: 10px;
    box-sizing: border-box;
    background: $c-text-gray;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
    vertical-align: middle;
  }

  &__button {
    position: absolute;
    top: 1px;
    left: 1px;
    border-radius: 100%;
    transition: transform 0.3s;
    width: 16px;
    height: 16px;
    background-color: #fff;

    .is-checked & {
      transform: translate3d(20px, 0px, 0px);
    }
  }

  &__tooltip {
    transition: opacity 0.15s;
    opacity: 0;
    visibility: hidden;
    display: inline-block;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    padding: 6px 8px;
    font-size: 12px;
    line-height: 1.3;
    white-space: nowrap;
    border-radius: 2px;
    color: #26323d;
    background-color: #ffffff;
    box-shadow: 0 0 20px 4px rgba(154, 161, 177, 0.1),
      0 4px 80px -8px rgba(36, 40, 47, 0.2),
      0 4px 4px -2px rgba(91, 94, 105, 0.1);

    &:after {
      display: block;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      content: '';
      overflow: hidden;
      border: 4px solid transparent;
      border-top-color: #ffffff;
    }

    &.is-primary {
      opacity: 1;
      visibility: visible;

      .is-checked & {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &__note {
    display: block;
    opacity: 0;
    transition: opacity 0.15s;
    font-size: 13px;
    line-height: 1.4;
    font-weight: $f-weight-regular;
  }

  // ---------------------------------------
  // Variations
  // ---------------------------------------
  &--sale {
    height: 36px;

    .c-switch__core {
      margin-top: 5px;
      background-color: $c-link;
      border-color: $c-link;
    }
    &.is-checked {
      .c-switch__core {
        background-color: $c-text;
        border-color: $c-text;
      }
      .c-switch__label--left {
        color: $c-text-gray;
      }
      .c-switch__label--right {
        color: $c-text;
      }
      .c-switch__note.is-primary {
        opacity: 1;
      }
      .c-switch__note.is-secondary {
        opacity: 0;
      }
    }
    .c-switch__label {
      font-size: 1.25rem;
      &:before {
        display: none;
      }
    }
    .c-switch__label--left {
      text-align: right;
    }
    .c-switch__label--right {
      text-align: left;
    }
    .c-switch__note.is-primary {
      color: $c-danger;
    }
    .c-switch__note.is-secondary {
      opacity: 1;
    }
  }
}
