.c-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  // table-layout: fixed;

  // Elements
  th {
    padding: 1.5rem;
    color: $c-text-darkgray;
    text-align: center;
    background-color: $c-module-background;

    @include media-breakpoint-up(lg) {
      padding: 2rem;
    }

    span {
      color: inherit;
    }
  }
  tr {
    border-bottom: 1px solid $c-divider-border;

    &:last-child {
      border-color: transparent;
    }
  }

  td {
    transition: all 0.15s;
    padding: 1.5rem;
    vertical-align: middle;
    color: $c-text-darkgray;
    background-color: #fff;

    @include media-breakpoint-up(lg) {
      padding: 2rem;
    }
  }

  &__cell {
    &--mobile-only {
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
    &--desktop-only {
      display: none;

      @include media-breakpoint-up(lg) {
        display: table-cell;
      }
    }
    &--right {
      text-align: right;
    }
  }

  &__note {
    font-size: 15px;
  }
  &__headline {
    display: block;
    color: $c-link;

    @include media-breakpoint-up(lg) {
      color: inherit;
    }
  }

  &__details-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      padding: 0 24px 0 16px;
      margin-bottom: 0.75rem;
      display: inline-block;
      font-size: 15px;

      &:last-child {
        margin: 0;
      }

      &:before {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -3px;
        display: block;
        content: " ";
        width: 6px;
        height: 6px;
        overflow: hidden;
        font-size: 0;
        background-color: #cccccc;
      }
    }
  }
}

.c-table-shadow {
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.1);

  @include media-breakpoint-up(lg) {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  }
}

// --------------------------------------------------------------
// Variations
// --------------------------------------------------------------
.c-table.c-table--companies {
  td.c-table__media {
    text-align: center;

    @include media-breakpoint-down(sm) {
      display: block;
      padding: 1.5rem 0 0;
    }
    @include media-breakpoint-up(md) {
      max-width: 200px;
      padding: 1rem 0 1rem 1rem;
    }
  }

  td.c-table__main {
    @include media-breakpoint-down(sm) {
      display: block;
    }
    hr {
      border-top-style: dashed;
    }
  }
}
