.c-tabs-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }

  &__nav {
    display: block;
    flex-shrink: 0;
    width: 40%;
    margin: 0;
    padding: 0;
    list-style: none;

    @include media-breakpoint-down(xs) {
      margin-bottom: 1rem;
      width: 100%;
    }

    li {
      transition: background 0.15s, box-shadow 0.2s, border-color 0.2s;
      position: relative;
      display: block;
      padding: 1rem 1.25rem 1rem 2.5rem;
      margin: 0.5rem 0;
      cursor: pointer;
      border: 2px solid transparent;
      border-radius: 5px;

      @include hover-focus {
        @include custom-box-shadow(1);
        background-color: #ffffff;
        border-color: rgba($c-link, 0.5);
      }

      @include media-breakpoint-down(xs) {
        padding: 1rem 1rem 1rem 2.2rem;
      }

      &.is-active {
        @include custom-box-shadow(1);
        background-color: #ffffff;
        border-color: rgba($c-link, 0.5);

        .c-tabs-vertical__nav__icon {
          display: none;
        }
      }
    }
  }

  &__nav__icon {
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 0.25rem;
    transform: translateY(-50%);
    background-image: url('#{$images}/icons/ic_check_green.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__nav__title {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 1.4;
  }

  &__nav__desc {
    opacity: 0.6;
    padding-top: 0.2rem;
    margin: 0;
    font-size: 0.875rem;

    @include media-breakpoint-down(xs) {
      display: none;
    }
  }

  &__main {
    flex: 1 1 auto;
    display: flex;
    align-items: center;

    @include media-breakpoint-up(sm) {
      padding-left: 1.5rem;
    }

    @include media-breakpoint-up(md) {
      padding-left: 3rem;
    }
  }

  // Variations
  &.js-init {
    .c-tabs-vertical__content {
      display: none;
    }
  }
}
