.c-tag-list {
  a {
    transition: all 0.15s;
    display: inline-block;
    border-radius: 3px;
    padding: 10px 16px;
    margin-left: 3px;
    background-color: rgba(0,0,0,.05);
    color: $c-text-darkgray;
    font-size: 14px;
    line-height: 1.2;

    @include hover-focus {
      background-color: rgba(0,0,0,.08);
    }

    &:active {
      background-color: rgba(0,0,0,.1);
    }
  }
}
