.c-team-card {

  // Elements
  &__img-wp {
    position: relative;
    padding-bottom: 100%;
    width: 100%;
    margin: 0 0 1.15rem;
  }
  &__img-front,
  &__img-back {
    transition: 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backface-visibility: hidden;
  }
  &__img-back {
    overflow: hidden;
    transform: rotateY(-180deg);
  }

  &__content {
    text-align: center;
  }
  &__name {
    display: block;
  }
  &__title {
    display: block;
    color: $c-text-darkgray;
  }

  // Variations
  // -----------------------------------
  &:hover {
    .c-team-card__img-front {
      transform: rotateY(-180deg);
    }
    .c-team-card__img-back {
      transform: rotateY(0);
    }
  }
}
