.c-team-list {

  &__tagline {
    position: relative;
    display: inline-block;
    padding-right: 0.75rem;
    margin-bottom: 2rem;
    color: $c-text-darkgray;

    &:after {
      position: absolute;
      top: 50%;
      left: 100%;
      display: block;
      width: 7vw;
      content: '';
      border-top: 1px solid $c-text-darkgray;
      opacity: 0.2;
    }
  }
}
