.c-tooltip {
  .tooltip-inner {
    padding: 4px 8px;
    font-size: 12px;
    line-height: 1.2;
    font-weight: $f-weight-semibold;
    color: #ffffff;
    background-color: $c-text-darkgray;
    border-radius: 2px;
  }

  .tooltip-arrow {
    z-index: 1000;
    position: absolute;
    display: inline-block;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    overflow: hidden;
    border: 4px solid transparent;
    border-top-color: $c-text-darkgray;
    pointer-events: none;
  }

  // Variations
  &--dark {
    opacity: 0.9;

    .tooltip-inner {
      font-size: 14px;
      background-color: $c-text;
    }
    .tooltip-arrow {
      border-top-color: $c-text;
    }
  }

  &--popover {
    opacity: 0.9;

    .tooltip-inner {
      padding: 12px;
      font-size: 14px;
      background-color: $c-text;
      max-width: 180px;
      font-weight: $f-weight-regular;
      line-height: 1.3;
    }
    .tooltip-arrow {
      margin-left: -16px;
      top: 48%;
      left: 0;
      border-width: 8px;
      border-right-color: $c-text;
      border-top-color: transparent;
    }
  }
}
