.c-trust-logos {
  z-index: 20;
  position: relative;
  overflow: hidden;

  &__list {
    @include list-unstyled;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;

    > li {
      flex: 0 1 72px;
      padding: 0.25rem;

      @include media-breakpoint-up(md) {
        padding: 0.625rem;
        flex: 0 1 120px;
      }
    }
  }

  &__item {
    position: relative;

    img {
      transition: opacity 0.15s;
      width: 100%;
      height: auto;
      display: block;

      &.lazyload,
      &.lazyloading {
        opacity: 0.4;
        filter: blur(5px);
      }
      &.lazyloaded {
        opacity: 1;
      }
    }

    a {
      display: block;
    }

    @include hover-focus {
      .c-trust-logos__content {
        transform: translate(-50%, 0);
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 50%;
    @include custom-box-shadow(2);

    @include media-breakpoint-up(md) {
      width: 100px;
      height: 100px;
    }
  }

  &__content {
    transition: all 0.3s;
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: none;
    width: 240px;

    opacity: 0;
    visibility: hidden;

    &__inner {
      padding: 0.5rem;
      text-align: center;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(black, 0.08);

      @include media-breakpoint-up(md) {
        padding: 1rem;
      }
    }

    &__arrow {
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -12px;
      width: 0;
      height: 0;
      border: 12px solid transparent;
      border-top-color: #fff;

      &:before {
        z-index: -1;
        content: '';
        display: block;
        position: absolute;
        top: -11px;
        left: -13px;
        width: 0;
        height: 0;
        border: 13px solid transparent;
        border-top-color: rgba(black, 0.04);
      }
    }

    p {
      margin: 0;
      font-size: 13px;
      line-height: 1.5;
      color: $c-text-darkgray;

      @include media-breakpoint-up(md) {
        font-size: 14px;
      }
    }
  }

  &__headline {
    display: block;
    margin-bottom: 0.1rem;
    font-size: 14px;
    font-weight: $f-weight-semibold;

    @include media-breakpoint-up(md) {
      font-size: 15px;
      margin-bottom: 0.25rem;
    }
  }

  // ------------------------------------------------------------
  // Variations
  // ------------------------------------------------------------
  &--offset {
    margin-top: -7rem;

    @include media-breakpoint-up(md) {
      margin-top: -16rem;
    }
  }
  &--offset-sm {
    margin-top: -2rem;

    @include media-breakpoint-up(md) {
      margin-top: -4rem;
    }
  }
  &--hide-last {
    li:last-child {
      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
  }
  &--offset-md {
    margin-top: -4rem;

    @include media-breakpoint-up(md) {
      margin-top: -8rem;
    }
  }
  &--lg-gutters {
    .c-trust-logos__list {
      > li {
        padding: 0.5rem;
        width: 80px;

        @include media-breakpoint-up(md) {
          padding: 1rem;
          flex: 0 1 140px;
        }

        @include media-breakpoint-up(lg) {
          padding: 1.25rem;
        }
      }
    }
  }
}
