.c-trust-carousel {
  .container {
    position: relative;
  }

  &__slider {
    & > div {
      display: flex;
    }
    & > div > div {
      display: flex;
    }
  }
  &__slider__slide {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    // make them the same height
    height: initial;
    padding: 12px 6px;

    @include media-breakpoint-up(md) {
      padding: 12px;
    }
  }

  &__card {
    @include custom-box-shadow(1);
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
  }

  // --------------------------------------------
  // Navigation
  // --------------------------------------------
  &__next,
  &__prev {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    margin-top: -24px;
    z-index: 20;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 0;
    color: #fff;
    background-color: $c-link;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.15s ease;

    @include custom-box-shadow(2);

    @include hover-focus {
      color: #fff;
      outline: 0;
      background-color: tint($c-link, 12%);
    }

    &:active {
      transform: translateY(1px);
      background-color: shade($c-link, 12%);

      svg {
        opacity: 0.8;
      }
    }

    svg {
      transition: all 0.15s ease;
      width: 24px;
      height: auto;
      fill: currentColor;
    }
  }

  &__prev {
    left: 4px;
    @include media-breakpoint-up(xl) {
      left: -12px;
    }
  }

  &__next {
    right: 4px;
    @include media-breakpoint-up(xl) {
      right: -12px;
    }
  }
}
