.c-video-modal {
  .modal-content {
    border: 0;
    box-shadow: 0 8px 16px rgba(black, 0.2), 0 16px 32px rgba(black, 0.3);
  }
  &__close {
    transition: all 0.15s;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 4px;
    z-index: 20;
    width: 40px;
    height: 40px;
    border: 0;
    margin: 0;
    padding: 0;
    opacity: 0.8;
    background-color: transparent;
    background-size: 32px auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('#{$images}/icons/ic_close_white.svg');
    cursor: pointer;

    @include media-breakpoint-up(md) {
      top: 0;
      right: -44px;
    }

    @include hover-focus {
      opacity: 1;
      outline: 0;
    }
  }
}
