body.vue-modal-open {
  overflow: hidden;
}

.c-vue-modal {
  z-index: 1001;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  &__close {
    text-indent: -99999px;
    transition: all 0.15s;
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10;
    width: 40px;
    height: 40px;
    border: 0;
    margin: 0;
    padding: 0;
    opacity: 0.8;
    background-color: transparent;
    background-size: 32px auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('#{$images}/icons/ic_close_white.svg');
    cursor: pointer;

    @include media-breakpoint-up(sm) {
      top: 2rem;
      right: 2rem;
    }

    @include hover-focus {
      opacity: 1;
      outline: 0;
    }
  }

  &__content {
    position: relative;
    z-index: 5;
  }
  &__overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2b364a;
  }
}

// Animation
.bounce-enter-active {
  animation: bounce-in 0.35s;
}
.bounce-leave-active {
  animation: bounce-in 0.35s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
