<template>
  <div class="c-form-group">
    <label class="c-form-group__label mb-2">
      <span v-html="label"></span>
      <i
        v-if="tooltip"
        class="c-form-group__icon-info u-icon-info"
        v-tippy="{placement: 'top', arrow: 'down', content:tooltip}"
      ></i>
    </label>
    <div class="c-button-group" :class="[align === 'left' ? 'c-button-group--left' : '']">
      <button
        v-for="(val, key) in options"
        :key="key"
        :class="[ key === value ? 'js-is-active' : '']"
        @click="handleChange(key)"
      >{{val}}</button>
    </div>
  </div>
  <!-- /.c-form-group -->
</template>

<script>
export default {
  name: "c-form-control-button-group",
  props: {
    value: [String, Number],
    align: String,
    options: Object,
    label: String,
    disabled: Boolean,
    autofocus: Boolean,
    tooltip: String,
    tabIndex: String,
    validation: Object,
    default: String,
    selected: String
  },
  methods: {
    handleChange(value) {
      this.$emit("input", value);
    }
  }
};
</script>
