<template>
  <div class="c-image-loader">
    <transition>
      <img v-show="isLoaded" class="c-image-loader__img u-img-fluid" :src="activeImage" :alt="alt" @load="loaded">
    </transition>
    <span v-show="!isLoaded" class="c-image-loader__loader"><i class="c-loader"></i></span>
  </div>
</template>

<script>
export default {
  name: 'ImageLoader',
  data() {
    return {
      isLoaded: false,
      activeImage: '',
    }
  },
  props: {
    src: {
      required: true,
      type: String
    },
    alt: String,
  },
  created() {
    this.activeImage = this.src;
  },
  watch: {
    'src': function (value) {
      this.isLoaded = false;
      setTimeout(() => {
        this.$nextTick(() => {
          this.activeImage = value;
        });
      }, 20);
    }
  },
  methods: {
    loaded() {
      this.isLoaded = true;
    }
  }
}
</script>

