<template>
  <div class="c-form-group"
    :class="[
      addon ? 'c-form-group--addon-right' : '',
      validation && validation.$dirty && validation.$invalid ? 'js-has-error' : ''
    ]">
    <label class="c-form-group__label mb-2">
      <span v-html="label"></span>
      <i v-if="tooltip" class="c-form-group__icon-info u-icon-info" v-tippy="{placement: 'top', arrow: 'down', content:tooltip}"></i>
    </label>
    <div class="c-form-group__autocomplete-wp">
      <input
        class="c-form-group__control"
        :placeholder="placeholder"
        :value="currentValue"
        :tabindex="tabIndex"
        :type="type"
        @keyup="search"
        @keyup.esc="isOpen = false"
        @input="handleInput"
        @focus="handleFocus"
        @blur="handleBlur"
        @change="handleChange"
        :disabled="disabled"
      >
      <div v-show="isLoading" class="c-form-group__autocomplete__loader"><div class="c-loader"></div></div>
      <div class="c-form-group__autocomplete" v-show="isOpen && items && currentValue">
        <ul>
          <li v-for="(item, index) in items" :key="item.location + index">
            <span @click="handleClick(item)">{{ item.location }}</span>
          </li>
        </ul>
      </div>
      <!-- .c-form-group__autocomplete -->
    </div>
    <!-- .c-form-group__autocomplete-wp -->
    <span class="c-form-group__message">
      <span v-if="type === 'email'" class="error" v-html="$t('email')"></span>
      <span v-else class="error" v-html="errorMessage ? errorMessage : $t('required')"></span>
    </span>
  </div>
  <!-- /.c-form-group -->
</template>

<script>
import debounce from 'lodash/debounce';

const messages = {
  en: {
    required: 'This field is required',
    email: 'Please provide a valid email address'
  },
  de: {
    required: 'Dieses Feld wird benötigt',
    email: 'Bitte gebe eine valide Emailadresse ein'
  }
};
export default {
  i18n: { messages },
  name: 'c-form-control-input',
  props: {
    algoliaIndex: {
      type: String,
      required: true
    },
    value: [String, Number],
    label: String,
    errorMessage: String,
    id: String,
    addon: String,
    disabled: Boolean,
    autofocus: Boolean,
    tooltip: String,
    placeholder: String,
    type: {
      type: String,
      default: 'text'
    },
    tabIndex: String,
    validation: Object
  },
  data() {
    return {
      currentValue: this.value,
      focused: false,
      hovering: false,
      items: [],
      isOpen: false,
      isLoading: false,
      searchIndex: null
    };
  },
  watch: {
    value: function(val, oldVal) {
      this.setCurrentValue(val);
    }
  },
  methods: {
    handleBlur(event) {
      this.focused = false;
      this.$emit('blur', event);
    },
    handleFocus(event) {
      this.focused = true;
      this.$emit('focus', event);
    },
    handleChange(event) {
      this.$emit('change', event.target.value);
    },
    handleClick(item) {
      this.$emit('itemSelected', {
        location: item.location,
        rate: item.rate_2014
      });
      this.isOpen = false;
    },
    handleInput(event) {
      const value = event.target.value;
      this.$emit('input', value);
      this.setCurrentValue(value);
    },
    setCurrentValue(value) {
      if (value === this.currentValue) return;
      this.currentValue = value;
    },
    search: debounce(function() {
      if (this.currentValue.length < 1) {
        return;
      }
      this.isLoading = true;

      this.searchIndex.search(
        {
          query: this.currentValue,
          hitsPerPage: 24
        },
        (error, results) => {
          this.isLoading = false;

          if (error) {
            this.isOpen = false;
            return;
          }
          this.isOpen = true;
          this.items = results.hits;
          if (this.items.length === 0) {
            this.isOpen = false;
          }
        }
      );
    }, 300)
  },

  created() {
    const client = algoliasearch(
      '97TWN2ULUD',
      '6d424cb759aa4553a4f767e5e096b1b3'
    );
    this.searchIndex = client.initIndex(this.algoliaIndex);
  }
};
</script>
