<template>
  <div class="c-form-group"
    :class="[
      addon ? 'c-form-group--addon-right' : '',
      validation && validation.$dirty && validation.$invalid ? 'js-has-error' : ''
    ]">
    <label class="c-form-group__label mb-2">
      <span v-html="label"></span>
      <i v-if="tooltip" class="c-form-group__icon-info u-icon-info" v-tippy="{placement: 'top', arrow: 'down', content:tooltip}"></i>
    </label>
    <input
      class="c-form-group__control"
      :placeholder="placeholder"
      :value="currentValue"
      :tabindex="tabIndex"
      :type="type"
      @input="handleInput"
      @focus="handleFocus"
      @blur="handleBlur"
      @change="handleChange"
      :disabled="disabled"
    >
    <span class="c-form-group__message">
      <span v-if="type === 'email'" class="error" v-html="$t('email')"></span>
      <span v-else class="error" v-html="errorMessage ? errorMessage : $t('required')"></span>
    </span>
  </div>
  <!-- /.c-form-group -->
</template>

<script>
const messages = {
  en: {
    required: 'This field is required',
    email: 'Please provide a valid email address'
  },
  de: {
    required: 'Dieses Feld wird benötigt',
    email: 'Bitte gebe eine valide Emailadresse ein'
  }
};
export default {
  i18n: { messages },
  name: 'c-form-control-input',
  props: {
    value: [String, Number],
    label: String,
    errorMessage: String,
    id: String,
    addon: String,
    disabled: Boolean,
    autofocus: Boolean,
    tooltip: String,
    placeholder: String,
    type: {
      type: String,
      default: 'text'
    },
    tabIndex: String,
    validation: Object
  },
  data() {
    return {
      currentValue: this.value,
      focused: false,
      hovering: false
    };
  },
  watch: {
    value: function(val, oldVal) {
      this.setCurrentValue(val);
    }
  },
  methods: {
    handleBlur(event) {
      this.focused = false;
      this.$emit('blur', event);
    },
    handleFocus(event) {
      this.focused = true;
      this.$emit('focus', event);
    },
    handleChange(event) {
      this.$emit('change', event.target.value);
    },
    handleInput(event) {
      const value = event.target.value;
      this.$emit('input', value);
      this.setCurrentValue(value);
    },
    setCurrentValue(value) {
      if (value === this.currentValue) return;
      this.currentValue = value;
    }
  }
};
</script>
