<template>
  <div class="c-form-group c-form-group--select-simple"
    :class="[
      currentValue ? 'js-is-filled' : '',
      validation && validation.$dirty && validation.$invalid ? 'js-has-error' : ''
    ]">
    <label class="c-form-group__label mb-2">
      <span v-html="label"></span>
      <i v-if="tooltip" class="c-form-group__icon-info u-icon-info" v-tippy="{placement: 'top', arrow: 'down', content:tooltip}"></i>
    </label>
    <div class="c-form-group__custom-select">
      <select
      :value="currentValue"
      :tabindex="tabIndex"
      @input="handleInput"
      @focus="handleFocus"
      @blur="handleBlur"
      @change="handleChange"
    >
      <option v-for="option in options" :value="option.value" :key="option.value">{{option.label}}</option>
    </select>
    </div>
    <span class="c-form-group__message">
      <span class="error" v-html="$t('required')"></span>
    </span>
  </div>
  <!-- /.c-form-group -->
</template>

<script>
const messages = {
  en: {
    required: 'This field is required'
  },
  de: {
    required: 'Dieses Feld wird benötigt'
  }
};
export default {
  i18n: { messages },
  name: 'c-form-group-input',
  props: {
    value: [Object, String, Number],
    options: Array,
    label: String,
    id: String,
    tooltip: String,
    disabled: Boolean,
    autofocus: Boolean,
    tabIndex: String,
    validation: Object
  },
  data() {
    return {
      currentValue: this.value,
      focused: false
    };
  },
  methods: {
    handleBlur(event) {
      this.focused = false;
      this.$emit('blur', event);
    },
    handleFocus(event) {
      this.focused = true;
      this.$emit('focus', event);
    },
    handleChange(event) {
      this.$emit('change', event.target.value);
    },
    handleInput(event) {
      const value = event.target.value;
      this.$emit('input', value);
      this.setCurrentValue(value);
    },
    setCurrentValue(value) {
      if (value === this.currentValue) return;
      this.currentValue = value;
    }
  }
};
</script>
