<section class="c-feature-columns l-section l-section--padding-top">

    <div class="container">
      <div class="row justify-content-center mb-md-5">
        <div class="col-md-10 col-lg-8">
          <div class="c-section-header ">
            <h2 class="c-section-header__title h1">Weitere nützliche Features</h2>
            <!-- <p class="c-section-header__description h5 mt-2 mb-3">Lorem ipsum dolor sit amet
            </p> -->
          </div>
        </div>
      </div>
      <!-- section-header -->
      <div class="row l-section--border-bottom pt-5">
        <div class="col-12 c3ol-sm-6 col-md-4">
          <h2 class="c-content-section__headline text-left ">Rechnung</h2>
        </div>
      </div>
      <!-- grouped-function-header -->
      <div class="row my-md-3 l-section--padding-bottom">
        <div class="col-12 c3ol-sm-6 col-md-4 py-4 mb-md-2">
          <div class="c-feature-columns__item text-left">
            <div class="col-3 col-md-4 pb-1 mb-1 px-0"> <img class="img-fluid" src="https://cdn.sevdesk.de/uploads/Zeiterfassung-icon-neu-cropped.png"
                alt="Teamwork"></div>
            <h3 class="c-feature-columns__title mb-2">Zeiterfassung</h3>
            <p class="c-feature-columns__desc text-gray mb-1 mb-sm-2">Du dokumentierst deinen Zeitaufwand aus
              Kundenprojekten und erstellst aus der erfassten Zeit mühelos Rechnungen.
            </p> <a class="c-link-more" href="/zeiterfassung/" title="Mehr zur Zeiterfassung"><span>Mehr zur
                Zeiterfassung</span></a>
          </div>
        </div>

        <div class="col-12 c3ol-sm-6 col-md-4 py-4 mb-md-2">
          <div class="c-feature-columns__item text-left">
            <div class="col-3 col-md-4 pb-1 mb-1 px-0"> <img class="img-fluid" src="https://cdn.sevdesk.de/uploads/rechnungsdesign-new-compressor-cropped.png"
                alt="Teamwork"></div>
            <h3 class="c-feature-columns__title mb-2">Individuelles Briefpapier</h3>
            <p class="c-feature-columns__desc text-gray mb-1 mb-sm-2">Dein professionelles Briefpapier passende für deine
              Angebote, Rechnungen und Mahnungen.
            </p> <a class="c-link-more" href="/rechnungsdesign/" title="Mehr zum Rechnungsdesign"><span>Mehr zum
                Rechnungsdesign</span></a>
          </div>
        </div>
        <div class="col-12 c3ol-sm-6 col-md-4 py-4 mb-md-2">
          <div class="c-feature-columns__item text-left">
            <div class="col-3 col-md-4 pb-1 mb-1 px-0"> <img class="img-fluid" src="https://cdn.sevdesk.de/uploads/auftragsabwicklung-new-compressor-cropped.png"
                alt="Teamwork"></div>
            <h3 class="c-feature-columns__title mb-2">Auftragsabwicklung</h3>
            <p class="c-feature-columns__desc text-gray mb-1 mb-sm-2">Angebote schreiben, Auftragsbestätigungen erhalten
              und Lieferscheine erstellen.
            </p> <a class="c-link-more" href="/angebote-schreiben/" title="Mehr zu Angebote"><span>Mehr zu
                Angebote</span></a>
          </div>
        </div>
        <div class="col-12 c3ol-sm-6 col-md-4 py-4 mb-md-2">
          <div class="c-feature-columns__item text-left">
            <div class="col-3 col-md-4 pb-1 mb-1 px-0"> <img class="img-fluid" src="https://cdn.sevdesk.de/uploads/storno-rechnung-gutschrift-new-compressor-cropped.png"
                alt="Teamwork"></div>
            <h3 class="c-feature-columns__title mb-2">Gutschriften / Stornorechnungen</h3>
            <p class="c-feature-columns__desc text-gray mb-1 mb-sm-2">Rechnung stornieren? Honorar oder Provision
              gutschreiben? Kein Problem. Erstelle aus einer Rechnung einfach eine Gutschrift oder eine Stornorechnung.
            </p>
            <a class="c-link-more" href="/gutschrift/" title="Mehr zu Gutschriften"><span>Mehr zu Gutschriften</span></a>
          </div>
        </div>
        <div class="col-12 c3ol-sm-6 col-md-4 py-4 mb-md-2">
          <div class="c-feature-columns__item text-left">
            <div class="col-3 col-md-4 pb-1 mb-1 px-0"> <img class="img-fluid" src="https://cdn.sevdesk.de/uploads/mahnung-new-compressor-cropped.png"
                alt="Teamwork"></div>
            <h3 class="c-feature-columns__title mb-2">Mahnungen schreiben</h3>
            <p class="c-feature-columns__desc text-gray mb-1 mb-sm-2">Wenn der Kunde nicht zahlt, kannst du aus der
              offenen Rechnung eine Mahnung erstellen und sie an deinen Kunden senden.</p> <a class="c-link-more"
              href="/mahnungen/" title="Mehr zu Mahnungen"><span>Mehr zu Mahnungen</span></a>
          </div>
        </div>

      </div>
      <!-- grouped-functions -->
      <div class="row l-section--border-bottom">
        <div class="col-12 c3ol-sm-6 col-md-4">
          <h2 class="c-content-section__headline text-left ">Buchhaltung</h2>
        </div>
      </div>
      <!-- grouped-function-header -->
      <div class="row my-md-3 l-section--padding-bottom">
        <div class="col-12 c3ol-sm-6 col-md-4 py-4 mb-md-2">
          <div class="c-feature-columns__item text-left">
            <div class="col-3 col-md-4 pb-1 mb-1 px-0"> <img class="img-fluid" src="https://cdn.sevdesk.de/uploads/online-banking-new-compressor-cropped.png"
                alt="Teamwork"></div>
            <h3 class="c-feature-columns__title mb-2">Online Banking</h3>
            <p class="c-feature-columns__desc text-gray mb-1 mb-sm-2">Ein Online Zahlungskonto ermöglicht dir den Abruf
              deiner Buchungen aus deinem Bankkonto direkt über sevDesk. Über 3.000 Banken unterstützen aktuell sevDesk.
            </p> <a class="c-link-more" href="/online-banking/" title="Mehr zum Online Banking"><span>Mehr zum Online
                Banking</span></a>
          </div>
        </div>
        <div class="col-12 c3ol-sm-6 col-md-4 py-4 mb-md-2">
          <div class="c-feature-columns__item text-left">
            <div class="col-3 col-md-4 pb-1 mb-1 px-0"> <img class="img-fluid" src="https://cdn.sevdesk.de/uploads/kassenbuch-new-compressor-cropped.png"
                alt="Teamwork"></div>
            <h3 class="c-feature-columns__title mb-2">Kassenbuch</h3>
            <p class="c-feature-columns__desc text-gray mb-1 mb-sm-2">sevDesk bietet dir die Möglichkeit dein Kassenbuch
              ordnungsgemäß zu führen, auch im Hinblick auf die Registrierkassenpflicht bist du abgesichert.</p> <a
              class="c-link-more" href="/kassenbuch/" title="Mehr zum Kassenbuch"><span>Mehr zum Kassenbuch</span></a>
          </div>
        </div>
        <div class="col-12 c3ol-sm-6 col-md-4 py-4 mb-md-2">
          <div class="c-feature-columns__item text-left">
            <div class="col-3 col-md-4 pb-1 mb-1 px-0"> <img class="img-fluid" src="https://cdn.sevdesk.de/uploads/einnahmenueberschuss-new-compressor-cropped.png"
                alt="Teamwork"></div>
            <h3 class="c-feature-columns__title mb-2">Einnahmenüberschuss&shy;rechnung</h3>
            <p class="c-feature-columns__desc text-gray mb-1 mb-sm-2">Die Einnahmen-Überschuss-Rechnung (EÜR) zeigt dir
              als Unternehmer, wie viel Gewinn du erwirtschaftet hast.
            </p> <a class="c-link-more" href="/einnahmen-ueberschuss-rechnung/" title="Mehr zur EÜR"><span>Mehr zur
                EÜR</span></a>
          </div>
        </div>
        <div class="col-12 c3ol-sm-6 col-md-4 py-4 mb-md-2">
          <div class="c-feature-columns__item text-left">
            <div class="col-3 col-md-4 pb-1 mb-1 px-0"> <img class="img-fluid" src="https://cdn.sevdesk.de/uploads/export-new-compressor-cropped.png"
                alt="Teamwork"></div>
            <h3 class="c-feature-columns__title mb-2">(Steuerberater-) Export</h3>
            <p class="c-feature-columns__desc text-gray mb-1 mb-sm-2">Deine Rechnungen und Kunden lassen sich einfach per
              CSV, PDF, oder ZIP exportieren. Für deinen Steuerberater kannst du deine Buchhaltung per DATEV Export diesem
              weiterreichen.
            </p> <a class="c-link-more" href="/datev-export/" title="Mehr zum DATEV-Export"><span>Mehr zum
                DATEV-Export</span></a>
          </div>
        </div>
      </div>
      <!-- grouped-functions -->
      <div class="row l-section--border-bottom">
        <div class="col-12 c3ol-sm-6 col-md-4">
          <h2 class="c-content-section__headline text-left ">Extras</h2>
        </div>
      </div>
      <!-- grouped-function-header -->
      <div class="row my-md-3 l-section--padding-bottom">
        <div class="col-12 c3ol-sm-6 col-md-4 py-4 mb-md-2">
          <div class="c-feature-columns__item text-left">
            <div class="col-3 col-md-4 pb-1 mb-1 px-0"> <img class="img-fluid" src="https://cdn.sevdesk.de/uploads/zusammenarbeit-new-compressor-cropped.png"
                alt="Teamwork"></div>
            <h3 class="c-feature-columns__title mb-2">Teamwork</h3>
            <p class="c-feature-columns__desc text-gray mb-1 mb-sm-2">Verwalte in deiner Organisation die Zugriffsrechte,
              verfolge den Verlauf im Dashboard und verteile Aufgaben, welche du noch zu erledigen hast.</p> <a
              class="c-link-more" href="/zusammenarbeit/" title="Mehr zur Zusammenarbeit"><span>Mehr zur
                Zusammenarbeit</span></a>
          </div>
        </div>
        <div class="col-12 c3ol-sm-6 col-md-4 py-4 mb-md-2">
          <div class="c-feature-columns__item text-left">
            <div class="col-3 col-md-4 pb-1 mb-1 px-0"> <img class="img-fluid" src="https://cdn.sevdesk.de/uploads/kundenverwaltung-new-compressor-cropped.png"
                alt="Teamwork"></div>
            <h3 class="c-feature-columns__title mb-2">Kontaktmanagement</h3>
            <p class="c-feature-columns__desc text-gray mb-1 mb-sm-2">Organisationen anlegen, Personen anlegen,
              Kontaktverlauf dokumentieren, Kontakte taggen, eigene Kategorien und vieles mehr.</p> <a class="c-link-more"
              href="/crm-kundenverwaltung/" title="Mehr zum CRM"><span>Mehr zum CRM</span></a>
          </div>
        </div>
        <div class="col-12 c3ol-sm-6 col-md-4 py-4 mb-md-2">
          <div class="c-feature-columns__item text-left">
            <div class="col-3 col-md-4 pb-1 mb-1 px-0"> <img class="img-fluid" src="https://cdn.sevdesk.de/uploads/api-new-compressor_cropped.png"
                alt="Teamwork"></div>
            <h3 class="c-feature-columns__title mb-2">API / Schnittstelle</h3>
            <p class="c-feature-columns__desc text-gray mb-1 mb-sm-2">Mit der API kannst du externe Dienste mit sevDesk
              verbinden. Mit Hilfe der API Dokumentation kannst du eigene Lösungen erstellen.
            </p> <a class="c-link-more" href="/integrationen/" title="Alle Integrationen"><span>Alle
                Integrationen</span></a>
          </div>
        </div>
        <div class="col-12 c3ol-sm-6 col-md-4 py-4 mb-md-2">
          <div class="c-feature-columns__item text-left">
            <div class="col-3 col-md-4 pb-1 mb-1 px-0"> <img class="img-fluid" src="https://cdn.sevdesk.de/uploads/lager-inventar-new-compressor-cropped.png"
                alt="Teamwork"></div>
            <h3 class="c-feature-columns__title mb-2">Inventar führen</h3>
            <p class="c-feature-columns__desc text-gray mb-1 mb-sm-2">Artikel pflegen, unterschiedliche Einheiten,
              Bestandsführung, Lieferanten- / Artikelzuordnung, Lieferanten- & Kundenpreise.
            </p> <a class="c-link-more" href="/lagerverwaltung/" title="Mehr zur Lagerverwaltung"><span>Mehr zur
                Lagerverwaltung</span></a>
          </div>
        </div>
        <div class="col-12 c3ol-sm-6 col-md-4 py-4 mb-md-2">
            <div class="c-feature-columns__item text-left">
              <div class="col-3 col-md-4 pb-1 mb-1 px-0"> <img class="img-fluid" src="https://cdn.sevdesk.de/uploads/dashboard-new-compressor-cropped.png"
                  alt="Teamwork"></div>
              <h3 class="c-feature-columns__title mb-2">Dashboard</h3>
              <p class="c-feature-columns__desc text-gray mb-1 mb-sm-2">Mit dem Dashboard hast du jederzeit den vollen Überblick über deinen Finanzen und siehst was deine besten Kunden sowie deine beliebtesten Produkte sind.
              </p> <a class="c-link-more" href="/dashboard/" title="Mehr zum Dashboard"><span>Mehr zum Dashboard</span></a>
            </div>
          </div>
      </div>
      <!-- grouped-functions -->
      <div class="row my-md-3 l-section--padding-bottom">
        <div class="col-12 c3ol-sm-6 col-md-4 py-4 mb-md-2">
          <div class="c-feature-columns__item text-left">
            <div class="col-3 col-md-4 pb-1 mb-1 px-0"> <img class="img-fluid" src="https://cdn.sevdesk.de/uploads/more-new-compressor-cropped.png"
                alt="Teamwork"></div>
            <h3 class="c-feature-columns__title mb-2">und viele mehr...</h3>
            <p class="c-feature-columns__desc text-gray mb-1 mb-sm-2">Wir arbeiten stetig daran sevDesk für dich noch
              besser zu machen. Über neue Funktionen wirst du informiert.</p> <a class="c-link-more"
              href="/funktions-uebersicht/" title="Was ist in welchem Tarif enthalten"><span>Was ist in welchem Tarif
                enthalten</span></a>
          </div>
        </div>

      </div>
      <!-- grouped-functions -->
    </div>
  </section>
