<section id="" class="l-section--padding">
  <div class="container">
    <div class="row justify-content-center mb-md-5">
      <div class="col-md-10 col-lg-8">
        <div class="c-section-header ">
          <h2 class="c-section-header__title h1">Die Topfunktionen von sevDesk</h2>
        </div>
      </div>
    </div>
    <div class="row gutter-md align-items-center">
      <div class="col-md-5 order-md-2">
        <div class="fc-content-section__body">
          <div class="row mt-5">
            <div class="inline col-2 px-0 pr-lg-2">
              <img class="img-fluid" src="https://cdn.sevdesk.de/uploads/feature-own-data-new-compressor-cropped.png" alt="Rechnungen schreiben" />
            </div>
            <h3 class="c-content-section__headline inline col-10 pl-1 text-break display-sm-3">
              Angebote und Rechnungen
            </h3>
          </div>
          <div class="fc-content-section__content col-10 float-right px-0">
            <p>
              Professionelle Angebote & Rechnungen erstellen ist endlich einfach. Alle Pflichtangaben werden automatisch
              hinterlegt. So sind deine Rechnungen immer rechtssicher.
            </p>
            <a class="c-link-more" href="/rechnungsprogramm-online/" title="Mehr zu Rechnungen">Mehr zu Rechnungen</a>
          </div>
          <div class="clearfix"></div>

          <div class="row mt-5">
            <div class="inline col-2 px-0 pr-lg-2">
              <img class="img-fluid" src="https://cdn.sevdesk.de/uploads/auftraege-new-compressor-cropped.png" alt="Belege digitalisieren" />
            </div>
            <h3 class="c-content-section__headline inline col-10 pl-1 text-break display-sm-3">
              Belege einfach digitalisieren
            </h3>
          </div>
          <div class="fc-content-section__content col-10 float-right px-0">
            <p>
              Fotografiere Rechnungen mit der sevScan App oder leite sie als Email an sevDesk. Die Informationen werden
              erkannt und automatisch die passende Buchungskategorie vorgeschlagen.
            </p>
            <a class="c-link-more" href="/belege-erfassen/" title="Mehr zur Belegerfassung">Mehr zur Belegerfassung</a>
          </div>
          <div class="clearfix"></div>

          <div class="row mt-5">
            <div class="inline col-2 px-0 pr-lg-2">
              <img class="img-fluid" src="https://cdn.sevdesk.de/uploads/ustva-1-new-compressor-cropped.png" alt="Umsatzsteuervoranmeldung" />
            </div>
            <h3 class="c-content-section__headline inline col-10 pl-1 text-break display-sm-3">
              Umsatzsteuer&shy;voranmeldung
            </h3>
          </div>
          <div class="fc-content-section__content col-10 float-right px-0">
            <p>
              Deine USt-VA lässt sich mit sevDesk mit wenigen Klicks beim Finanzamt einreichen. Du muss kein extra
              ELSTER Zertifikat beantragen, sevDesk hat ELSTER schon direkt integriert.
            </p>
            <a class="c-link-more" href="/umsatzsteuervoranmeldung/" title="Mehr zur USt-VA">Mehr zur USt-VA</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="col-md-7 order-md-1 pb-0 pb-md-3">
        <div class="fc-content-section__media mx-n1">
          <img class="img-fluid" src="https://cdn.sevdesk.de/uploads/Topfunktionen_sevDesk_.jpg" alt="top funktionen" />
        </div>
      </div>
    </div>
  </div>
</section>
