<div class="c-payment-methods">
  <div class="c-payment-methods__item is-active">
    <div class="c-payment-methods__item__header">
      <label class="c-payment-methods__label">
        <input class="c-form-control__radio c-payment-methods__radio" name="payment_method" id="method_card" type="radio" checked>
        <span class="c-payment-methods__label-text">Card</span>
        <span class="c-payment-methods__info"></span>
      </label>
    </div>
    <div class="c-payment-methods__item__body">
      <div class="row sm-gutters">
        <div class="col-8">
          <div class="c-form-control c-form-control--addon-right js-is-filled">
            <label class="c-form-control__label c-form-control__label--floating">Kartennummer</label>
            <input class="c-form-control__field" value="555-555-555-55" type="text">
            <span class="c-form-control__addon is-secure"></span>
            <span class="c-form-control__message"></span>
          </div>
          <!-- /.c-form-control -->
        </div>
        <!-- /.col -->
        <div class="col-4">
          <div class="c-form-control c-form-control--addon-right js-is-filled">
            <label class="c-form-control__label c-form-control__label--floating">CVC</label>
            <input class="c-form-control__field" value="555" type="text">
            <span class="c-form-control__addon is-info"></span>
            <span class="c-form-control__message"></span>
          </div>
          <!-- /.c-form-control -->
        </div>
        <!-- /.col -->
        <div class="col-sm-5">
          <div class="c-form-control js-is-filled">
            <label class="c-form-control__label c-form-control__label--floating">Karteninhaber</label>
            <input class="c-form-control__field" value="John Doe" type="text">
            <span class="c-form-control__message"></span>
          </div>
          <!-- /.c-form-control -->
        </div>
        <!-- /.col -->
        <div class="col-6 col-sm-3">
          <div class="c-form-control c-form-control--select">
            <label class="c-form-control__label c-form-control__label--floating">Month</label>
            <select class="c-form-control__field c-form-control__field--select">
              <option value="">01</option>
              <option value="">02</option>
              <option value="">03</option>
            </select>
          </div>
          <!-- /.c-form-control -->
        </div>
        <!-- /.col -->
        <div class="col-6 col-sm-4">
          <div class="c-form-control c-form-control--select">
            <label class="c-form-control__label c-form-control__label--floating">Year</label>
            <select class="c-form-control__field c-form-control__field--select">
              <option value="">2018</option>
              <option value="">2019</option>
              <option value="">2020</option>
            </select>
          </div>
          <!-- /.c-form-control -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.c-payment-methods__item__body -->
  </div>
  <!-- /.c-payment-methods__item -->

  <div class="c-payment-methods__item">
    <div class="c-payment-methods__item__header">
      <label class="c-payment-methods__label">
        <input class="c-form-control__radio c-payment-methods__radio" name="payment_method" id="method_paypal" type="radio">
        <span class="c-payment-methods__label-text">Paypal</span>
        <span class="c-payment-methods__info"></span>
      </label>
    </div>
    <div class="c-payment-methods__item__body">
    </div>
    <!-- /.c-payment-methods__item__body -->
  </div>
  <!-- /.c-payment-methods__item -->

  <div class="c-payment-methods__item">
    <div class="c-payment-methods__item__header">
      <label class="c-payment-methods__label">
        <input class="c-form-control__radio c-payment-methods__radio" name="payment_method" id="method_lastschrift" type="radio">
        <span class="c-payment-methods__label-text">Lastschrift</span>
        <span class="c-payment-methods__info"></span>
      </label>
    </div>
    <div class="c-payment-methods__item__body">
    </div>
    <!-- /.c-payment-methods__item__body -->
  </div>
  <!-- /.c-payment-methods__item -->
  <div class="c-payment-methods__item">
    <div class="c-payment-methods__item__header">
      <label class="c-payment-methods__label">
        <input class="c-form-control__radio c-payment-methods__radio" name="payment_method" id="method_rechnung" type="radio">
        <span class="c-payment-methods__label-text">Rechnung</span>
        <span class="c-payment-methods__info"></span>
      </label>
    </div>
    <div class="c-payment-methods__item__body">
    </div>
    <!-- /.c-payment-methods__item__body -->
  </div>
  <!-- /.c-payment-methods__item -->
</div>
<!-- /.c-payment-methods -->
