<div class="c-payment-methods">
  <div class="c-payment-methods__item">
    <div class="c-payment-methods__item__header">
      <label class="c-payment-methods__label">
        <input class="c-form-control__radio c-payment-methods__radio" name="payment_method" id="method_card" type="radio">
        <span class="c-payment-methods__label-text">Card</span>
        <span class="c-payment-methods__info"></span>
      </label>
    </div>
    <div class="c-payment-methods__item__body">
    </div>
    <!-- /.c-payment-methods__item__body -->
  </div>
  <!-- /.c-payment-methods__item -->

  <div class="c-payment-methods__item">
    <div class="c-payment-methods__item__header">
      <label class="c-payment-methods__label">
        <input class="c-form-control__radio c-payment-methods__radio" name="payment_method" id="method_paypal" type="radio">
        <span class="c-payment-methods__label-text">Paypal</span>
        <span class="c-payment-methods__info"></span>
      </label>
    </div>
    <div class="c-payment-methods__item__body">
    </div>
    <!-- /.c-payment-methods__item__body -->
  </div>
  <!-- /.c-payment-methods__item -->

  <div class="c-payment-methods__item">
    <div class="c-payment-methods__item__header">
      <label class="c-payment-methods__label">
        <input class="c-form-control__radio c-payment-methods__radio" name="payment_method" id="method_lastschrift" type="radio">
        <span class="c-payment-methods__label-text">Lastschrift</span>
        <span class="c-payment-methods__info"></span>
      </label>
    </div>
    <div class="c-payment-methods__item__body">
    </div>
    <!-- /.c-payment-methods__item__body -->
  </div>
  <!-- /.c-payment-methods__item -->
  <div class="c-payment-methods__item">
    <div class="c-payment-methods__item__header">
      <label class="c-payment-methods__label">
        <input class="c-form-control__radio c-payment-methods__radio" name="payment_method" id="method_rechnung" type="radio">
        <span class="c-payment-methods__label-text">Rechnung</span>
        <span class="c-payment-methods__info"></span>
      </label>
    </div>
    <div class="c-payment-methods__item__body">
    </div>
    <!-- /.c-payment-methods__item__body -->
  </div>
  <!-- /.c-payment-methods__item -->
</div>
<!-- /.c-payment-methods -->
