.fc-content-section {
  position: relative;
  overflow: hidden;

  &__headline {
    margin-bottom: 1rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 1.5rem;
    }
  }

  &__lead {
    margin-bottom: 1.125rem;
    font-weight: $f-weight-regular;
    color: $c-text-darkgray;

    @include media-breakpoint-up(md) {
      margin-bottom: 2rem;
    }
  }

  &__content {
    color: $c-text-darkgray;
    p {
      margin: 0 0 1.5rem;
    }
  }

  &__media {
    position: relative;
    @include media-breakpoint-down(xs) {
      margin-left: -12px;
      margin-right: -12px;
    }

    @include media-breakpoint-down(sm) {
      padding-bottom: 1.1rem;
      margin-left: -24px;
      margin-right: -24px;
    }

    video {
      width: 100% !important;
      height: auto !important;
    }

    img {
      transition: opacity 0.15s;
      width: 100%;
      height: auto;

      &.lazyload,
      &.lazyloading {
        opacity: 0.4;
        filter: blur(5px);
      }
      &.lazyloaded {
        opacity: 1;
      }
    }
  }

  hr {
    @include media-breakpoint-up(md) {
      margin: 2rem 0;
    }
  }

  // -------------------------------------------------------------------
  // Variations
  // -------------------------------------------------------------------

  &--bleed-left {
    .fc-content-section__media {
      @include media-breakpoint-up(md) {
        margin-left: -8%;
      }
      @include media-breakpoint-up(xl) {
        margin-left: -24%;
      }
    }
  }

  &--bleed-right {
    .fc-content-section__media {
      @include media-breakpoint-up(md) {
        margin-right: -8%;
      }
      @include media-breakpoint-up(xl) {
        margin-right: -24%;
      }
    }
  }

  &--left {
    .fc-content-section__media {
      @include media-breakpoint-up(md) {
        padding-left: 2rem;
      }
    }
  }

  &--right {
    .fc-content-section__media {
      @include media-breakpoint-up(md) {
        padding-right: 2rem;
      }
    }
  }
}
