.fc-features {
  overflow: hidden;

  &__list {
    @include list-unstyled;
  }

  &__item {
    align-items: center;

    &__img {
      max-width: 100%;
      width: 36px;
      height: auto;
      fill: currentColor;

      @include media-breakpoint-up(md) {
        width: 48px;
      }
    }

    &__media {
      @include custom-box-shadow(2);
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 48px;
      height: 48px;
      border-radius: 16px;
      background-color: #fefefe;
      font-size: 12px;
      line-height: 1;
      color: $c-success;

      a {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }

      @include media-breakpoint-up(md) {
        width: 80px;
        height: 80px;
        border-radius: 20px;
      }
    }
    &__body {
      padding-left: 1.25rem;
      line-height: 1.5;
    }
    &__title {
      @include font-size($p-font-sizes);
      display: block;

      a {
        color: inherit;

        @include hover-focus {
          color: $c-link;
        }
      }
    }
  }
}
