.fc-features-detailed {
  overflow: hidden;

  &__item {

    &__img {
      max-width: 100%;
      width: 24px;
      height: auto;
      fill: currentColor;

      @include media-breakpoint-up(md) {
        width: 36px;
      }
    }

    &__media {
      @include custom-box-shadow(2);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      border-radius: 16px;
      background-color: #fefefe;
      font-size: 12px;
      line-height: 1;
      color: $c-success;

      @include media-breakpoint-up(md) {
        width: 64px;
        height: 64px;
      }
    }
    &__body {
      padding-left: 1.25rem;
      line-height: 1.5;

      p {
        font-size: 0.875rem;
        color: $c-text-darkgray;
        margin-bottom: 6px;
      }
      .more {
        font-size: 0.875rem;
      }
    }
  }
}
