.fc-hero {
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  &--blackfriday {
    align-self: auto;
    text-align: center;
    margin-top: -15px;

    @include media-breakpoint-up(sm) {
      text-align: left;
      vertical-align: middle;
      margin: auto;
    }

    @include media-breakpoint-down(xs) {
      justify-content: center;
    }

    &__image {
      max-width: 150px;
      margin-top: 30px;

      @include media-breakpoint-up(md) {
        max-width: 100%;
        padding-left: 150px;
      }
    }
  }

  &--advent {
    align-self: auto;
    text-align: center;


    @include media-breakpoint-up(sm) {
      margin-top: -15px;
      text-align: left;
      vertical-align: middle;
      margin: auto;
    }

    @include media-breakpoint-down(xs) {
      justify-content: center;
    }

    &__image {
      max-width: 220px;
      margin-top: 20px;

      @include media-breakpoint-up(md) {
        margin-top: 0px;
        max-width: 100%;
        padding-left: 100px;
      }
    }
  }

  .container {
    position: relative;
    z-index: 10;
    height: 70vh;
    min-height: 500px;
    max-height: 800px;
    display: flex;

    @include media-breakpoint-down(xs) {
      justify-content: center;
    }

    @include media-breakpoint-up(md) {
      min-height: 600px;
      max-height: 1000px;
    }
  }

  &__content {
    align-self: center;
    text-align: center;

    @include media-breakpoint-up(sm) {
      text-align: left;
    }

    &--image {
      align-self: center;
      text-align: center;

      @include media-breakpoint-up(sm) {
        text-align: right;
      }
    }
  }

  &__desc {
    font-size: 15px;
    line-height: 1.7;
    color: $c-text-darkgray;

    @include media-breakpoint-up(md) {
      font-size: 17px;
    }

    &--blackfriday {
      font-size: 19px;
      line-height: 1.2;
      color: #fff;

      @include media-breakpoint-up(md) {
        font-size: 28px;
        line-height: 1.2;
      }
    }

    &--advent {
      font-size: 19px;
      line-height: 1.2;
      color: #fff;

      @include media-breakpoint-up(md) {
        font-size: 28px;
        line-height: 1.2;
      }
    }

    &--winterrabatt {
      font-size: 20px;
      line-height: 1.2;

      @include media-breakpoint-up(md) {
        font-size: 25px;
        line-height: 1.2;
      }
    }
  }

  &__actions {
    margin-bottom: 1.5rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 2rem;
    }

    a {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }
  }

  &__note {
    font-size: 11px;
    color: $c-text-darkgray;

    @include media-breakpoint-up(md) {
      font-size: 12px;
    }

    &--white {
      font-size: 12px;
      color: #fff;

      @include media-breakpoint-up(md) {
        opacity: 0.7;
      }
    }
  }

  &__overlay {
    z-index: 1;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.4;
  }

  &__red-angle {
    z-index: 5;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-image: url('#{$images}/hero/angle.svg');

    @include media-breakpoint-up(sm) {
      left: 16%;
    }

    @include media-breakpoint-up(md) {
      left: 20%;
    }

    @include media-breakpoint-up(lg) {
      left: 32%;
    }
  }

  // -------------------------------------------------------------------
  // Variations
  // -------------------------------------------------------------------

  &--left {
    .fc-hero__content {
      @include media-breakpoint-up(sm) {
        max-width: 64%;
      }

      @include media-breakpoint-up(md) {
        max-width: 54%;
      }

      @include media-breakpoint-up(lg) {
        max-width: 42%;
      }
    }
  }

  &.is-center {
    .fc-hero__content {
      margin-left: auto;
      margin-right: auto;

      @include media-breakpoint-up(sm) {
        max-width: 80%;
        text-align: center;
      }
    }
  }

  &--white-text {
    color: #fff;

    .fc-hero__headline,
    .fc-hero__desc,
    .fc-hero__note {
      color: inherit;
    }

    .fc-hero__note {
      opacity: 0.8;

      a {
        transition: all 0.15s;
        border-bottom: 1px solid;
        color: #fff;

        @include hover-focus {
          color: #fff;
          border-bottom-color: transparent;
        }
      }
    }
  }

  &--overlay {
    .fc-hero__overlay {
      display: block;
    }
  }

  &--home {
    .fc-hero__content {
      margin-bottom: 2.5rem;
    }

    .fc-hero__media {
      z-index: 2;
      display: none;
      position: absolute;
      bottom: 0;
      right: 0%;
      width: 46%;
      height: 100%;
      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat;

      @include media-breakpoint-up(sm) {
        display: block;
        width: 84%;
        margin-right: -16rem;
        background-image: url('.#{$images}/hero/mockup.png');
      }

      @include media-breakpoint-up(md) {
        width: 50%;
        margin-right: -0.5rem;
      }

      @include media-breakpoint-up(lg) {
        width: 58%;
        margin-right: -1.5rem;
      }
    }
  }

  // Custom bg
  &.is-referral {
    background-image: url('#{$images}/hero/hero-referral-01@2x.jpg');
  }

  &.is-referral-photo {
    background-image: url('#{$images}/hero/hero-referral--mobile.jpg');

    @include media-breakpoint-up(md) {
      background-image: url('#{$images}/hero/hero-referral.jpg');
    }
  }

  &.is-volksbank {
    background-image: url('#{$images}/hero/Volksbank-sevDesk-Hero-mobile.jpg');

    @include media-breakpoint-up(md) {
      background-image: url('#{$images}/hero/Volksbank-sevDesk-Hero.jpg');
    }
  }

  &.is-girl-working {
    background-image: url('#{$images}/hero/girl-working--mobile.jpg');

    @include media-breakpoint-up(md) {
      background-image: url('#{$images}/hero/girl-working.jpg');
    }
  }

  &.is-fotograf-landing {
    background-image: url('#{$images}/hero/fotograf-landing--mobile.jpg');

    @include media-breakpoint-up(md) {
      background-image: url('#{$images}/hero/fotograf-landing.jpg');
    }
  }

  &.is-rabbataktion {
    background-image: url('#{$images}/rabattaktion/hero-mobile.jpg');

    @include media-breakpoint-down(sm) {
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: " ";
        background-color: rgba(white, 0.7);
      }
    }

    @include media-breakpoint-up(md) {
      background-image: url('#{$images}/rabattaktion/hero-50vh.jpg');
    }
  }

  &.is-50vh {
    .container {
      height: 50vh;
      min-height: 450px;
      max-height: 800px;

      @include media-breakpoint-up(md) {
        min-height: 450px;
        max-height: 1000px;
      }
    }
  }

  &.is-xs {
    .container {
      height: 350px;
      min-height: 350px;

      @include media-breakpoint-up(md) {
        height: 400px;
        min-height: 400px;
      }
    }
  }

  &.is-small {
    .container {
      height: 450px;
      min-height: 450px;

      @include media-breakpoint-up(md) {
        height: 500px;
        min-height: 500px;
      }
    }
  }
}
