.fc-info-cards__card {
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;

  @include custom-box-shadow(4);

  &__cover {
    margin: 0;
    width: 100%;
    display: block;
    height: 110px;
    background-image: url('#{$images}/covers/sevdesk-guide-cover.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto 110px;
  }

  &__content {
    padding: 1.25rem 1.25rem 1.75rem ;

    @include media-breakpoint-up(sm) {
      padding: 2.5rem;
    }
  }

  // -------------------------------------------------------------------
  // Variations
  // -------------------------------------------------------------------
  &.is-data {
    .fc-info-cards__card__cover {
      background-image: url('#{$images}/covers/sevdesk-data-cover.png');
    }
  }

}
