.fc-testimonial-slider-full {
  overflow: hidden;

  .container {
    position: relative;
  }

  &__main {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__slider {
    position: relative;
    overflow: visible !important;
    max-width: 100%;
  }

  &__slide {
    background-color: $c-text;

    &.is-active {
      opacity: 1;

      .fc-testimonial-slider-full__item__media {
        opacity: 1;
      }

      .fc-testimonial-slider-full__item__content {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;

    &__media {
      will-change: opacity;
      transition: opacity 0.35s ease-out;
      position: relative;
      display: block;
      opacity: 0.6;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 64%;
        opacity: 0.7;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
      }
    }

    &__caption {
      margin: 0;
      padding: 0;
    }

    &__content {
      will-change: opacity;
      transition: opacity 0.5s ease-out, transform 0.5s ease-out;
      transition-delay: 0.1s;
      transform: translateY(30px);
      z-index: 5;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
      padding: 3rem 2rem 2rem;
      color: #fff;
      opacity: 0;
    }

    &__quote {
      position: relative;
      color: inherit;
      width: 80%;

      @include media-breakpoint-up(md) {
        width: 72%;
      }
    }
    &__name {
      font-weight: $f-weight-semibold;
      padding-bottom: 0.25rem;
      color: inherit;
    }
    &__position {
      color: inherit;

      @include media-breakpoint-up(md) {
        position: absolute;
        right: 2rem;
        bottom: 2rem;
      }
    }
  }

  &__next,
  &__prev {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    margin-top: -24px;
    z-index: 20;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 0;
    color: #fff;
    background-color: $c-link;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.15s ease;

    @include custom-box-shadow(2);

    @include hover-focus {
      color: #fff;
      background-color: tint($c-link, 12%);
    }

    &:active {
      transform: translateY(1px);
      background-color: shade($c-link, 12%);

      svg {
        opacity: 0.8;
      }
    }

    svg {
      transition: all 0.15s ease;
      width: 24px;
      height: auto;
      fill: currentColor;
    }
  }

  &__prev {
    left: 0;
    margin-left: -1.75rem;

    @include media-breakpoint-up(sm) {
      margin-left: -50px;
    }

    @include media-breakpoint-up(md) {
      margin-left: -100px;
    }
  }

  &__next {
    right: 0;
    margin-right: -1.75rem;

    @include media-breakpoint-up(sm) {
      margin-right: -50px;
    }

    @include media-breakpoint-up(md) {
      margin-right: -100px;
    }
  }
}

