.fc-testimonial-slider {
  .container {
    position: relative;
  }

  &__wp {
    @include custom-box-shadow(1);
    border-radius: 6px;
    background-color: white;
    overflow: hidden;
  }

  &__main {
    position: relative;

    &:after {
      z-index: -1;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      height: 120px;
      display: block;
      content: '';
      background-color: $c-text-darkgray;

      @include media-breakpoint-up(md) {
        height: 240px;
      }
    }
  }

  .slide {
    z-index: 1;
    position: relative;
    display: none;
    // opacity: 0;
    animation: testimonialsFadeOut 0.45s linear forwards;

    &.is-active {
      display: block;
      z-index: 2;
      animation: testimonialsFadeIn 0.45s linear forwards;
    }
  }

  &__item {
    display: flex;
    overflow: hidden;
    background-color: white;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    @include media-breakpoint-up(md) {
      height: 380px;
    }

    &__media {
      flex: 0 1 48%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;

      @include media-breakpoint-down(sm) {
        height: 280px;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem 1.25rem 1.25rem 3rem;
      flex: 0 1 52%;

      @include media-breakpoint-up(md) {
        padding: 2rem 4rem 2rem 5rem;
      }
    }

    &__quote {
      position: relative;
      font-size: 15px;
      line-height: 1.6;
      padding: 0.5rem 0 1.25rem;

      @include media-breakpoint-up(md) {
        padding: 1rem 0 2.75rem;
        font-size: 18px;
      }

      &:before {
        position: absolute;
        top: -12px;
        left: -36px;
        content: '“';
        color: $c-danger;
        font-size: 4rem;
        font-family: $f-stack-serif;

        @include media-breakpoint-up(md) {
          top: -4px;
        }
      }
    }
    &__name {
      font-weight: $f-weight-semibold;
      padding-bottom: 0.25rem;
      color: $c-text;
      @include font-size($p-font-sizes);
    }
    &__position {
      color: $c-text-darkgray;
      @include font-size($p-font-sizes);
    }
  }

  &__next,
  &__prev {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    margin-top: -24px;
    z-index: 20;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 0;
    color: #fff;
    background-color: $c-link;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.15s ease;

    @include custom-box-shadow(2);

    @include hover-focus {
      color: #fff;
      background-color: tint($c-link, 12%);
    }

    &:active {
      transform: translateY(1px);
      background-color: shade($c-link, 12%);

      svg {
        opacity: 0.8;
      }
    }

    svg {
      transition: all 0.15s ease;
      width: 24px;
      height: auto;
      fill: currentColor;
    }
  }

  &__prev {
    left: 0;
  }

  &__next {
    right: 0;
  }
}

@keyframes testimonialsFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes testimonialsFadeOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
