<footer class="l-page-footer">
  <div class="container">
    <div class="l-page-footer__top">
      <div class="row align-items-center">
        <div class="l-page-footer__top__support col-lg-6">
          <div class="c-support media">
            <div class="c-support__media">
              <svg fill="#4CAE50" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none" opacity=".1" />
                <path d="M12 1c-4.97 0-9 4.03-9 9v7c0 1.66 1.34 3 3 3h3v-8H5v-2c0-3.87 3.13-7 7-7s7 3.13 7 7v2h-4v8h4v1h-7v2h6c1.66 0 3-1.34 3-3V10c0-4.97-4.03-9-9-9z"
                />
              </svg>
            </div>
            <!-- /.c-support__media -->
            <div class="c-support__content media-body">
              <div class="row">
                <span class="col-6 pt-1 line-25">+49-781-125508-10 <br>support@sevdesk.de</span>
                <span class="col-6 pt-1"><small>Mo-Fr, 8.00-20.00 Uhr <br>Sa, 8.00-12.00 Uhr</small></span>
              </div>
            </div>
          </div>
          <!-- /.c-support -->
        </div>
        <!-- /.col -->
        <div class="l-page-footer__top__social col-sm-8 col-lg-4">
          <div class="c-social-icons lazyloaded">
            <ul>
              <li class="social-icon-facebook"><a href="#0" title="Facebook">Facebook</a></li>
              <li class="social-icon-twitter"><a href="#0" title="Twitter">Twitter</a></li>
              <li class="social-icon-pinterest"><a href="#0" title="Pinterest">Pinterest</a></li>
              <li class="social-icon-youtube"><a href="#0" title="YouTube">YouTube</a></li>
              <li class="social-icon-linkedin"><a href="#0" title="LinkedIn">LinkedIn</a></li>
            </ul>
          </div>
          <!-- /.c-social-icons -->
        </div>
        <!-- /.col -->
        <div class="l-page-footer__top__lang col-sm-3 col-lg-2">
          <div class="c-lang-switcher">
            <button class="c-lang-switcher__trigger"><i class="flag-icon-en"></i> <span>English</span> </button>
            <ul class="c-lang-switcher__dropdown">
              <li><a href="#0"><i class="flag-icon-de"></i> <span>Deutsch</span></a></li>
              <li><a href="#0"><i class="flag-icon-it"></i> <span>Italian</span></a></li>
              <li><a href="#0"><i class="flag-icon-gr"></i> <span>Greek</span></a></li>
              <li><a href="#0"><i class="flag-icon-es"></i> <span>Spanish</span></a></li>
              <li><a href="#0"><i class="flag-icon-fr"></i> <span>Franch</span></a></li>
              <li><a href="#0"><i class="flag-icon-at"></i> <span>Austria</span></a></li>
              <li><a href="#0"><i class="flag-icon-ch"></i> <span>Swiss</span></a></li>
            </ul>
            <!-- /.c-lang-switcher__dropdown -->
          </div>
          <!-- /.c-lang-switcher -->
        </div>
        <!-- /.col-md -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.l-page-footer__top -->
    <div class="l-page-footer__main">
      <ul class="c-menu-footer row">
        <li class="col-sm-6 col-md-3">
          <div class="c-links-box">
            <span class="c-links-box__title">Über sevDesk</span>
            <div class="c-links-box__content">
              <ul class="c-links-box__list">
                <li><a href="#0" title="Hilfe-Center">Hilfe-Center</a></li>
                <li><a href="#0" title="Datenschutz &amp; IT-Sicherheit">Datenschutz &amp; IT-Sicherheit</a></li>
                <li><a href="#0" title="Funktionsübersicht">Funktionsübersicht</a></li>
                <li><a href="#0" title="Team">Team</a></li>
                <li><a href="#0" title="Integrationen & Addons">Integrationen & Addons</a></li>
                <li><a href="#0" title="Unternehmen">Unternehmen</a></li>
              </ul>
            </div>
          </div>
          <!-- /.c-links-box -->
        </li>
        <!-- /.col -->
        <li class="col-sm-6 col-md-3">
          <div class="c-links-box">
            <span class="c-links-box__title">sevDesk</span>
            <div class="c-links-box__content">
              <ul class="c-links-box__list">
                <li><a href="#0" title="Kundenstimmen">Kundenstimmen</a></li>
                <li><a href="#0" title="Presse">Presse</a></li>
                <li><a href="#0" title="Affiliate & Partner">Affiliate & Partner</a></li>
                <li><a href="#0" title="Impressum">Impressum</a></li>
                <li><a href="#0" title="Steuerberater finden">Steuerberater finden</a></li>
                <li><a href="#0" title="AGB">AGB</a></li>
              </ul>
            </div>
          </div>
          <!-- /.c-links-box -->
        </li>
        <!-- /.col -->
        <li class="col-sm-6 col-md-3">
          <div class="c-links-box">
            <span class="c-links-box__title">Themen</span>
            <div class="c-links-box__content">
              <ul class="c-links-box__list">
                <li><a href="#0" title="Rechnungsprogramm Online">Rechnungsprogramm Online</a></li>
                <li><a href="#0" title="Buchhaltungssoftware">Buchhaltungssoftware</a></li>
                <li><a href="#0" title="Selbstständig machen">Selbstständig machen</a></li>
                <li><a href="#0" title="Online-Lagersoftware">Online-Lagersoftware</a></li>
                <li><a href="#0" title="Integrationen & Addons">Integrationen & Addons</a></li>
              </ul>
            </div>
          </div>
          <!-- /.c-links-box -->
        </li>
        <!-- /.col -->
        <li class="col-sm-6 col-md-3">
          <div class="c-links-box">
              <span class="c-links-box__title">Other</span>
              <div class="c-links-box__content">
                <ul class="c-links-box__list">
                  <li><a href="#0" title="Selbstständig machen">Selbstständig machen</a></li>
                  <li><a href="#0" title="Buchhaltungssoftware">Buchhaltungssoftware</a></li>
                  <li><a href="#0" title="Rechnungsprogramm Online">Rechnungsprogramm</a></li>
                  <li><a href="#0" title="Integrationen & Addons">Integrationen & Addons</a></li>
                  <li><a href="#0" title="Online-Lagersoftware">Online-Lagersoftware</a></li>
                </ul>
              </div>
            </div>
            <!-- /.c-links-box -->
        </li>
        <!-- /.col -->
      </ul>
      <!-- /.row -->
    </div>
    <!-- /.l-page-footer__main -->

    <div class="l-page-footer__bottom">
      <div class="row">
        <div class="col-sm-7 col-lg-5">
          <div class="c-app-badges lazyload">
            <a class="is-app-store" href="https://play.google.com/store/apps/details?id=de.sevenit.sevdesk" rel="nofollow" target="_blank">App Store</a><a class="is-google-play" href="https://itunes.apple.com/DE/app/id731738076" rel="nofollow" target="_blank">Google Play</a>
          </div>
          <!-- /.c-app-badges -->
        </div>
        <!-- /.col -->
        <div class="col-sm-5 col-lg-4">
          <div class="c-trust-sign" role="complementary">
            <div class="pe-richsnippets"></div>
            <script type="text/javascript" src="//www.provenexpert.com/widget/richsnippet.js?u=1tQpkDGAhOUplqGB1xwpkZmo5pGZkWQp&v=1" async></script>
          </div>
          <!-- /.c-trust-sign -->
        </div>
        <!-- /.col -->
        <div class="col-lg-3">
          <div class="c-made-in c-made-in--footer">
            <span>Made with</span>
            <svg fill="#F44336" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg" aria-label="love">
              <path d="M0 0h24v24H0z" fill="none" />
              <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
              />
            </svg>
            <span>in Offenburg</span>
          </div>
          <!-- /.c-made-in -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.l-page-footer__bottom -->
  </div>
  <!-- /.container -->
</footer>
