<footer class="py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-7 col-lg-5">
        <nav class="c-links-sm">
          <ul>
            <li>
              <a href="#">Sicherheit & Datenschutz</a>
            </li>
            <li>
              <a href="#">Impressum</a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- /.col -->
      <div class="col-lg-3 ml-auto">
        <div class="c-made-in c-made-in--footer">
          <span>Made with</span>
          <svg fill="#F44336" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"
            aria-label="love">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
          </svg>
          <span>in Offenburg</span>
        </div>
        <!-- /.c-made-in -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</footer>
