<div class="c-custom-filters">
  <div class="container">
    <div>
        <div class="c-select">
          <select class="js-filter-select js-select-1">
            <option value="industry_all">Alle Branchen</option>
            <option value="industry_gastonomie">Gastonomie</option>
            <option value="industry_arztpraxen">Arztpraxen</option>
            <option value="industry_einzelhandel">Einzelhandel</option>
            <option value="industry_other">Andere</option>
          </select>
        </div>
        <!-- /.c-select -->
    </div>
    <!-- /.c-custom-filters -->
  </div>
  <!-- /.container -->
</div>
<!-- /.c-custom-filters -->

<div>
  <ul class="js-list-for-filter">
    <li class="js-filter-list-item" data-filter-tags="industry_all industry_gastonomie">Lorem 1</li>
    <li class="js-filter-list-item" data-filter-tags="industry_all industry_gastonomie">Lorem 2</li>
    <li class="js-filter-list-item" data-filter-tags="industry_all industry_arztpraxen">Lorem 3</li>
    <li class="js-filter-list-item" data-filter-tags="industry_all industry_gastonomie">Lorem 4</li>
    <li class="js-filter-list-item" data-filter-tags="industry_all industry_gastonomie">Lorem 5</li>
    <li class="js-filter-list-item" data-filter-tags="industry_all industry_gastonomie">Lorem 6</li>
    <li class="js-filter-list-item" data-filter-tags="industry_all industry_einzelhandel">Lorem 7</li>
    <li class="js-filter-list-item" data-filter-tags="industry_all industry_gastonomie">Lorem 8</li>
    <li class="js-filter-list-item" data-filter-tags="industry_all industry_gastonomie">Lorem 9</li>
    <li class="js-filter-list-item" data-filter-tags="industry_all industry_gastonomie">Lorem 10</li>
    <li class="js-filter-list-item" data-filter-tags="industry_all industry_gastonomie">Lorem 11</li>
    <li class="js-filter-list-item" data-filter-tags="industry_all industry_gastonomie">Lorem 12</li>
    <li class="js-filter-list-item" data-filter-tags="industry_all industry_other">Lorem 13</li>
    <li class="js-filter-list-item" data-filter-tags="industry_all industry_other">Lorem 14</li>
  </ul>
</div>
