---
fabricator: true
---

<h1 class="display-1" data-f-toggle="labels">Docs</h1>

{{#each docs}}

	<div class="f-item-group">
		<h2 id="{{@key}}"><a href="#{{@key}}">{{name}}</a></h2>
		{{{content}}}
	</div>

{{/each}}
