---
title: Overview | Fabricator
fabricator: true
---

<h1 class="display-1">Overview</h1>

<p class="text-gray">This UI toolkit is a highly-modular design system for rapid web page development. It contains different materials that can be assembled into more complex page layouts.</p>

<p class="text-gray">This guide contains real working examples, code snippets, documentation, and style guidelines.</p>

<hr class="my-5">

<h2>Usage</h2>

<p class="text-gray">Start by adding the following files to your page:</p>

<pre class="language-markup"><code class="language-markup">&lt;link rel=&quot;stylesheet&quot; href=&quot;assets/toolkit/styles/toolkit.css&quot;&gt;</code></pre>

<pre class="language-markup"><code class="language-markup">&lt;script src=&quot;assets/toolkit/scripts/toolkit.js&quot;&gt;&lt;/script&gt;</code></pre>

<hr class="my-5">

<h2>Color</h2>

{{#each toolkit.colors}}
	<div class="f-color-chips">
	{{#each this}}
		<div class="f-color-chip">
			<div class="f-color-chip__name">{{@key}}</div>
			<div class="f-color-chip__color">{{this}}</div>
		</div>
	{{/each}}
	</div>
{{/each}}

<hr class="my-5">

<h2>Typography</h2>
<p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam enim sunt sapiente molestias, sed dicta inventore consectetur beatae asperiores, aliquid laboriosam animi, praesentium repudiandae et, quam saepe sint cupiditate reiciendis.</p>

<h1 class="display-1">Display text 1</h1>
<h1 class="display-2">Display text 2</h1>

<br>

<h1>Heading Level 1</h1>
<h2>Heading Level 2</h2>
<h3>Heading Level 3</h3>
<h4>Heading Level 4</h4>
<h5>Heading Level 5</h5>
<h6>Heading Level 6</h6>

<hr class="my-5">
<h2>Icons</h2>

<ul class="f-icons">
{{#each icons}}
<li>
  <img src="{{../path.images.default}}/icons/{{this}}.svg" alt="">
  <p>{{this}}</p>
</li>
{{/each}}
</ul>
