---
fabricator: true
---

<h1 class="display-1" data-f-toggle="labels">Pages</h1>

<ul>
{{#each views.pages.items}}

	<li>
		<a href="pages/{{@key}}.html" class="f-item-heading" target="_blank">{{name}}</a>
	</li>

{{/each}}
</ul>
