<div class="c-trust-logos c-trust-logos--offset-sm c-trust-logos--lg-gutters l-section l-section--padding">
  <div class="container">
    <ul class="c-trust-logos__list">
      {{#each trust.logos}}
      <li>
        <div class="c-trust-logos__item">
          <div class="c-trust-logos__media js-tooltip" data-tippy-arrow="true" data-tippy-animation="fade" data-tippy-theme="light"
            data-tippy-size="large" data-tippy-content="{{description}}">
            <a href="#">
              <img src="{{../path.images.demo}}/trust/{{image}}" class="img-fluid" alt="some alt">
            </a>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
    <!-- /.c-trust-logos__list -->
  </div>
  <!-- /.container -->
</div>
