<div class="c-trust-logos c-trust-logos--offset c-trust-logos--hide-last l-section--padding">
  <div class="container">
    <ul class="c-trust-logos__list">
      {{#each trust.logos}}
      <li>
        <div class="c-trust-logos__item">
          <div class="c-trust-logos__media"><img class="img-fluid" src="{{../path.images.demo}}/trust/{{image}}" alt="some alt"></div>
          <div class="c-trust-logos__content">
            <div class="c-trust-logos__content__inner">
              <span class="c-trust-logos__headline">{{title}}</span>
              <p>{{description}}</p>
            </div>
            <i class="c-trust-logos__content__arrow"></i>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
    <!-- /.c-trust-logos__list -->
  </div>
  <!-- /.container -->
</div>
