<section id="latest-webinars" class="l-section l-section--padding l-section--background-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="c-section-header">
          <h1 class="c-section-header__title h1">Aufgezeichnete</h1>
          <p class="c-section-header__description h5 mt-2 mb-3">Du willst wissen, was dich erwartet? Wir laden die Aufzeichnungen vergangener Webinare hoch - Schau' einfach mal
            rein.</p>
        </div>
        <!-- /.c-section-header -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row c-article-list pt-4">
      {{#each webinars.list}}
      <div class="col-sm-6 col-lg-4 c-article-list__item">
        <div class="c-card-article">
          <div class="c-card-article__media">
            <a href="#" title="{{title}}">
              <img class="img-fluid" src="{{../path.images.demo}}/lexikon/{{image}}" alt="some image">
            </a>
          </div>
          <div class="c-card-article__body">
            <span class="c-card-article__author js-tooltip" data-tippy-content="{{author.name}}">
              <img class="img-fluid" src="{{../path.images.demo}}/avatars/{{author.image}}" alt="{{author.name}}">
            </span>
            <span class="c-card-article__tagline">
              {{date}}
              <span class="px-1">&bull;</span> {{duration}} min.
            </span>
            <h2 class="c-card-article__headline h3">
              <a href="#0">{{title}}</a>
            </h2>
            <a class="c-link-more" href="#0">
              <span>Jetzt ansehen</span>
            </a>
          </div>
          <!-- /.c-card-article__footer -->
        </div>
        <!-- /.c-card-article -->
      </div>
      <!-- /.col -->
      {{/each}}
    </div>
  </div>
  <!-- /.container -->
</section>
