<section class="l-section l-section--padding l-section--border-top">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="c-section-header">
          <h1 class="c-section-header__title h1">Kommende Webinare</h1>
          <p class="c-section-header__description h5 mt-2 mb-3">Wir sind offen für Neues! Wenn du Fragen oder Themenvorschläge hast, kannst du uns gerne eine Mail an webinar@sevdesk.de
            senden.
          </p>
        </div>
        <!-- /.c-section-header -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="c-table-shadow mb-3">
      <table class="c-table c-table--webinare">
        <tbody>
          <tr>
            <td>
              <a class="c-table__headline h5 mb-2" href="#0" title="">Rechnungen – was musst du beachten und wie hilft dir sevDesk dabei</a>
              <span class="c-table__note">Mo, 13.11.2017, 17.30 Uhr</span>
            </td>
            <td class="c-table__cell--desktop-only c-table__cell--right">
              <a class="c-link-more" href="#0">
                <span>Jetzt anmelden</span>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <a class="c-table__headline h5 mb-2" href="#0" title="">Artikelpflege – effektive Automatismen für genaue Warenwirtschaft</a>
              <span class="c-table__note">Mo, 20.11.2017, 17.30 Uhr</span>
            </td>
            <td class="c-table__cell--desktop-only c-table__cell--right">
              <a class="c-link-more" href="#0">
                <span>Jetzt anmelden</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- /.c-table -->
    </div>
    <!-- /.c-table-shadow -->

  </div>
  <!-- /.container -->
</section>
