<button class="c-btn c-btn--primary js-open-signup-modal2">Sign up</button>

<div id="modalSignUp" class="c-modal-signup is-dark modal fade" tabindex="-1" role="dialog">
  <button class="c-modal-signup__close" type="button" data-dismiss="modal" aria-label="Close">
  </button>
  <div class="modal-dialog modal-lg h-100 d-flex flex-column justify-content-center my-0">
    <div class="modal-content">
      <span class="display-3 d-block mb-4">In wenigen Sekunden kannst du die ersten Rechnungen schreiben</span>
      <div id="hero-signup" class="mb-3 mb-sm-4 pt-sm-2">
        <c-hero-signup size="sm" placeholder="Enter your email address" invalid-msg="Please enter a valid email address" source="Hero Home"></c-hero-signup>
      </div>
      <p class="h5 u-text-gray">Keine automatische Verlängerung nach der Testphase. Keine Kreditkarte erforderlich.</p>
      <span class="text-note d-block u-text-gray">Mit der Anmeldung akzeptierst du die
        <a href="/agb/">AGB</a> und die
        <a href="/datenschutz/">Datenschutzerklärung</a>.</span>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
  <figure></figure>
</div>
<!-- /.modal -->
