<div class="fc-video-popup">
  <span id="video-1" data-src="https://www.youtube.com/embed/_eSS7dKrnmI?autoplay=1&rel=0&modestbranding=2&autohide=1&showinfo=0" class="fc-video-popup__video-wp"></span>
</div>
<div class="modal c-video-modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg h-100 d-flex flex-column justify-content-center my-0">
    <div class="modal-content">
      <button class="c-video-modal__close" type="button" data-dismiss="modal" aria-label="Close">
        <span class="sr-only" aria-hidden="true">&times;</span>
      </button>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src=""></iframe>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
