<div class="c-social-share c-social-share--md">
  <ul>
    <li><a href=""><img class="js-inject-me" src="{{path.images.default}}/share-icons/facebook.svg" alt="facebook" /></a></li>
    <li><a href=""><img class="js-inject-me" src="{{path.images.default}}/share-icons/twitter.svg" alt="twitter" /></a></li>
    <li><a href=""><img class="js-inject-me" src="{{path.images.default}}/share-icons/linkedin.svg" alt="linkedin" /></a></li>
    <li><a href=""><img class="js-inject-me" src="{{path.images.default}}/share-icons/google.svg" alt="google" /></a></li>
  </ul>
</div>
