<div class="c-in-page-menu">
  <ul class="c-in-page-menu__list">
    <li><a href="#">Angebotsvorlage</a></li>
    <li class="current_page_item"><a href="#">Auftragsbestätigungsvorlage</a></li>
    <li><a href="#">Kassenbuchvorlage</a></li>
    <li><a href="#">Lieferscheinvorlage</a></li>
  </ul>
</div>
<!-- /.c-in-page-menu -->
