<header class="l-page-header">
  <nav class="c-nav c-nav--primary" aria-label="Primary Navigation">
    <div class="container">
      <div class="row no-gutters">
        <div class="c-nav__logo"><a href="#" title="sevDesk" aria-label="sevDesk">sevDesk</a></div>
        <div class="c-nav__main">
          <ul class="c-nav__list menu">
            <li class="menu-item menu-item--parent">
              <a href="#">Funktionen</a>
              <div class="c-nav__list__submenu">
                <ul>
                  <li><a href="#">Photography</a></li>
                  <li><a href="#">Marketing</a></li>
                  <li><a href="#">Link3</a></li>
                  <li><a href="#">Link4</a></li>
                  <li><a href="#">Link5</a></li>
                  <li><a href="#">Link6</a></li>
                </ul>
              </div>
            </li>
            <li class="menu-item current-menu-item"><a href="#">Preise</a></li>
            <li class="menu-item"><a href="#">Company</a></li>
            <li class="menu-item"><a href="#">Hilfe-Center</a></li>
          </ul>
        </div>
        <!-- .c-nav__main -->

        <div class="c-nav__mobile">
          <button class="c-nav__mobile__hamburger js-mobile-nav-trigger">
            <svg fill="#000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none" />
              <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
            </svg>
          </button>
        </div>
        <!-- /.c-nav__mobile -->

        <div class="c-nav__user">
          <ul class="c-nav__list menu">
            <li class="menu-item c-nav__user__secondary"><a href="#">Login</a></li>
            <li class="menu-item c-nav__user__primary"><a href="#">Kostenlos testen</a></li>
          </ul>
        </div>
        <!-- /.c-nav__user -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </nav>
</header>
