<header class="l-page-header {{#if live}}l-page-header--fixed{{/if}}">
  <nav class="c-nav c-nav--primary c-nav--left-option" aria-label="Primary Navigation">
    <div class="container">
      <div class="row no-gutters">
      <div class="c-nav__left-option">
          <a href="/" title="Back">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <g stroke-linecap="square" stroke-linejoin="miter" stroke-width="2" fill="#333333" stroke="#333333">
                <polyline fill="none" stroke="#333333" stroke-miterlimit="10" points="17,2 7,12 17,22 " transform="translate(0, 0)"></polyline>
              </g>
            </svg>
          </a>
        </div>
        <!-- /.c-nav__back-btm -->
        <div class="c-nav__logo"><a href="#" title="sevDesk" aria-label="sevDesk">sevDesk</a></div>
        <div class="c-nav__main">
          <ul class="c-nav__list menu">
            <li class="menu-item"><a href="#">Funktionen</a></li>
            <li class="menu-item current-menu-item"><a href="#">Preise</a></li>
            <li class="menu-item"><a href="#">Company</a></li>
            <li class="menu-item"><a href="#">Hilfe-Center</a></li>
            <li class="menu-item"><a href="#">Branchen</a></li>
          </ul>
        </div>
        <!-- .c-nav__main -->

        <div class="c-nav__mobile">
          <button class="c-nav__mobile__hamburger js-mobile-nav-trigger" aria-controls="mobile-nav" aria-expanded="false">
            <svg fill="#000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none" />
              <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
            </svg>
          </button>
        </div>
        <!-- /.c-nav__mobile -->

        <div class="c-nav__user">
          <ul class="c-nav__list menu">
            <li class="menu-item c-nav__user__secondary"><a href="#">Login</a></li>
            <li class="menu-item c-nav__user__primary"><a href="#">Kostenlos testen</a></li>
          </ul>
        </div>
        <!-- /.c-nav__user -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </nav>

  <nav id="mobile-nav" class="c-mobile-nav is-fixed is-hidden">
    <div class="c-mobile-nav__header">
      <div class="c-mobile-nav__header__logo">
        <a href="#" title="sevDesk">sevDesk</a>
      </div>
      <button class="c-mobile-nav__header__close js-mobile-nav-close">Close</button>
    </div>
    <!-- /.c-mobile-nav__header -->
    <div class="c-mobile-nav__main">
      <ul class="c-mobile-nav__main-links menu">
        <li class="menu-item">
          <a href="#">Funktionen</a>
        </li>
        <li class="menu-item current-menu-item">
          <a href="#">Preise</a>
        </li>
        <li class="menu-item">
          <a href="#">Company</a>
        </li>
        <li class="menu-item">
          <a href="#">Hilfe-Center</a>
        </li>
      </ul>
    </div>
    <!-- /.c-mobile-nav__main -->
    <div class="c-mobile-nav__footer">
      <ul class="c-mobile-nav__footer-links">
        <li><a href="#" title="Login">Login</a></li>
        <li><a href="#" title="Kostenlos testen">Kostenlos testen</a></li>
      </ul>
    </div>
    <!-- /.c-mobile-nav__footer -->
  </nav>

</header>
<div class="l-page-header--placeholder"></div>
