<header class="l-page-header-simple">
  <nav class="c-nav c-nav--primary" aria-label="Primary Navigation">
    <div class="container">
      <div class="row no-gutters">
        <div class="c-nav__logo"><a href="#" title="sevDesk" aria-label="sevDesk">sevDesk</a></div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </nav>
</header>
