<section class="l-overflow">
  <div class="fc-hero fc-hero--white-text fc-hero--left is-referral">
    <div class="container">
      <div class="fc-hero__content">
        <h1 class="fc-hero__headline display-3 mb-3">Buchhaltung einfach & günstig erledigen</h1>
        <p class="fc-hero__desc mb-4">Schreibe Rechnungen & Angebote und automatisiere deine Buchhaltung.</p>
        <span class="fc-hero__note">Try sevDesk free for <a href="#">14 days</a>. No risk, and no credit card required.</span>
      </div>
      <!-- /.fc-hero__content -->
    </div>
    <!-- /.container -->
  </div>
</section>
