<section class="l-overflow">
  <div class="fc-hero fc-hero--home fc-hero--left">
    <div class="container">
      <div class="fc-hero__content">
        <h1 class="fc-hero__headline display-3 mb-3">Buchhaltung einfach & günstig erledigen</h1>
        <p class="fc-hero__desc mb-4">Schreibe Rechnungen & Angebote und automatisiere deine Buchhaltung.</p>
        <div class="fc-hero__actions pt-sm-2">
          <a class="c-btn c-btn--primary mr-3" href="#0" title="Kostenlos testen">Kostenlos testen</a>
          <a class="c-btn c-btn--video js-video-popup" href="#video-1" title="Kostenlos testen">Learn More</a>
        </div>
        <!-- /.fc-hero__action -->
        <span class="fc-hero__note">Try sevDesk free for 14 days. No risk, and no credit card required.</span>
      </div>
      <!-- /.fc-hero__content -->

      <div class="fc-hero__media"></div>
      <!-- /.fc-hero__content__media -->
    </div>
    <!-- /.container -->

    <span class="fc-hero__red-angle"></span>
  </div>
  <span class="c-angle"></span>
</section>
