<div class="c-image-carousel">
  <div class="container">
    <div class="c-image-carousel__grid">

      <div class="c-image-carousel__column">
        <a href="#0">
          <div class="c-image-carousel__item lazyload" data-background-image="{{path.images.demo}}/testimonials/testimonial-1.jpg">
            <span class="c-image-carousel__item__title p-size">Video creators</span>
          </div>
          <!-- /__item -->
        </a>
        <a href="#0">
          <div class="c-image-carousel__item lazyload" data-background-image="{{path.images.demo}}/testimonials/testimonial-1.jpg">
            <span class="c-image-carousel__item__title p-size">Video creators</span>
          </div>
          <!-- /__item -->
        </a>
      </div>
      <!-- /__column -->

      <div class="c-image-carousel__column">
        <a href="#0">
          <div class="c-image-carousel__item lazyload" data-background-image="{{path.images.demo}}/testimonials/testimonial-1.jpg">
            <span class="c-image-carousel__item__title p-size">Video creators</span>
          </div>
          <!-- /__item -->
        </a>
        <a href="#0">
          <div class="c-image-carousel__item lazyload" data-background-image="{{path.images.demo}}/testimonials/testimonial-1.jpg">
            <span class="c-image-carousel__item__title p-size">Video creators</span>
          </div>
          <!-- /__item -->
        </a>
      </div>
      <!-- /__column -->

      <div class="c-image-carousel__column">
        <a href="#0">
          <div class="c-image-carousel__item lazyload" data-background-image="{{path.images.demo}}/testimonials/testimonial-1.jpg">
            <span class="c-image-carousel__item__title p-size">Video creators</span>
          </div>
          <!-- /__item -->
        </a>
        <a href="#0">
          <div class="c-image-carousel__item lazyload" data-background-image="{{path.images.demo}}/testimonials/testimonial-1.jpg">
            <span class="c-image-carousel__item__title p-size">Video creators</span>
          </div>
          <!-- /__item -->
        </a>
      </div>
      <!-- /__column -->

      <div class="c-image-carousel__column">
        <a href="#0">
          <div class="c-image-carousel__item lazyload" data-background-image="{{path.images.demo}}/testimonials/testimonial-1.jpg">
            <span class="c-image-carousel__item__title p-size">Video creators</span>
          </div>
          <!-- /__item -->
        </a>
        <a href="#0">
          <div class="c-image-carousel__item lazyload" data-background-image="{{path.images.demo}}/testimonials/testimonial-1.jpg">
            <span class="c-image-carousel__item__title p-size">Video creators</span>
          </div>
          <!-- /__item -->
        </a>
      </div>
      <!-- /__column -->

      <div class="c-image-carousel__column">
        <a href="#0">
          <div class="c-image-carousel__item lazyload" data-background-image="{{path.images.demo}}/testimonials/testimonial-1.jpg">
            <span class="c-image-carousel__item__title p-size">Video creators</span>
          </div>
          <!-- /__item -->
        </a>
        <a href="#0">
          <div class="c-image-carousel__item lazyload" data-background-image="{{path.images.demo}}/testimonials/testimonial-1.jpg">
            <span class="c-image-carousel__item__title p-size">Video creators</span>
          </div>
          <!-- /__item -->
        </a>
      </div>
      <!-- /__column -->

      <div class="c-image-carousel__column">
        <a href="#0">
          <div class="c-image-carousel__item lazyload" data-background-image="{{path.images.demo}}/testimonials/testimonial-1.jpg">
            <span class="c-image-carousel__item__title p-size">Video creators</span>
          </div>
          <!-- /__item -->
        </a>
        <a href="#0">
          <div class="c-image-carousel__item lazyload" data-background-image="{{path.images.demo}}/testimonials/testimonial-1.jpg">
            <span class="c-image-carousel__item__title p-size">Video creators</span>
          </div>
          <!-- /__item -->
        </a>
      </div>
      <!-- /__column -->

      <div class="c-image-carousel__column">
        <a href="#0">
          <div class="c-image-carousel__item lazyload" data-background-image="{{path.images.demo}}/testimonials/testimonial-1.jpg">
            <span class="c-image-carousel__item__title p-size">Video creators</span>
          </div>
          <!-- /__item -->
        </a>
        <a href="#0">
          <div class="c-image-carousel__item lazyload" data-background-image="{{path.images.demo}}/testimonials/testimonial-1.jpg">
            <span class="c-image-carousel__item__title p-size">Video creators</span>
          </div>
          <!-- /__item -->
        </a>
      </div>
      <!-- /__column -->

      <div class="c-image-carousel__column">
        <a href="#0">
          <div class="c-image-carousel__item lazyload" data-background-image="{{path.images.demo}}/testimonials/testimonial-1.jpg">
            <span class="c-image-carousel__item__title p-size">Video creators</span>
          </div>
          <!-- /__item -->
        </a>
        <a href="#0">
          <div class="c-image-carousel__item lazyload" data-background-image="{{path.images.demo}}/testimonials/testimonial-1.jpg">
            <span class="c-image-carousel__item__title p-size">Video creators</span>
          </div>
          <!-- /__item -->
        </a>
      </div>
      <!-- /__column -->

      <div class="c-image-carousel__column">
        <a href="#0">
          <div class="c-image-carousel__item lazyload" data-background-image="{{path.images.demo}}/testimonials/testimonial-1.jpg">
            <span class="c-image-carousel__item__title p-size">Video creators</span>
          </div>
          <!-- /__item -->
        </a>
        <a href="#0">
          <div class="c-image-carousel__item lazyload" data-background-image="{{path.images.demo}}/testimonials/testimonial-1.jpg">
            <span class="c-image-carousel__item__title p-size">Video creators</span>
          </div>
          <!-- /__item -->
        </a>
      </div>
      <!-- /__column -->

    </div>
    <!-- ./__grid -->
  </div>
  <!-- /.container -->
</div>
<!-- /.c-image-carousel -->
