<div id="search-autocomplete-branch">
  <c-autocomplete type="Test" placeholder="In welcher Branche bist du tätig?">
    <template slot="item" slot-scope="props">
      <a :href="props.link" v-html="props.title"></a>
    </template>
  </c-autocomplete>
</div>
