<div id="search-autocomplete">
  <c-autocomplete type="sdk_posts_lexikon" placeholder="Search" language="de">
    <template slot="item" slot-scope="props">
      <a :href="props.link" v-html="props.title"></a>
    </template>
  </c-autocomplete>
</div>
