<div class="row justify-content-center">
  <div class="col-md-5 col-lg-3">
    <div id="accounting-event">
      <accounting-event-form
      cta="Registrieren"
      success-msg="Wir freuen uns auf Ihre Teilnahme an der Veranstaltung."
      action="https://submit-form.com/4fe9aab6-50f5-40a9-8ec1-4cda8ea0528d">
        <template slot="terms">Ich bin damit einverstanden, dass sevDesk meine Daten im Zuge der Steuerberaterveranstaltung speichert.</template>
      </accounting-event-form>
    </div>
    <!-- /#accounting-event -->
  </div>
  <!-- /.col-md-5 -->
</div>
<!-- /.row -->
