<div class="row justify-content-center">
  <div class="col-md-5 col-lg-3">
    <div id="accounting-event-date">
      <accounting-event-form-date
      cta="Anmelden"
      success-msg="Wir freuen uns auf Ihre Teilnahme an der Veranstaltung."
      action="https://submit-form.com/GOn6PWnH0roI8e1W_Icfz">
        <template slot="terms">Ich bin damit einverstanden, dass sevDesk meine Daten im Zuge der Steuerberaterveranstaltung speichert.</template>
      </accounting-event-form>
    </div>
    <!-- /#accounting-event -->
  </div>
  <!-- /.col-md-5 -->
</div>
<!-- /.row -->
