<div id="blog-newsletter">
  <c-blog-newsletter
  title="The-Work-Life"
  subtitle="Newsletter für Entrepreneure"
  cta="Anmelden" placeholder="E-Mail Adresse"
  terms-check="group[18261][1]"
  action="https://dailyhoney.us11.list-manage.com/subscribe/post-json?u=ad906268ebde695297f7c2eb0&id=47187636c7">
    <template slot="terms">Ich bin damit einverstanden, dass meine persönlichen Daten gespeichert und  für den Erhalt des Newsletters verwendet werden *</template>
  </c-blog-newsletter>
</div>
<!-- /#blog-newsletter -->
