<div id="branch-feedback" class="l-section--padding c-branch-feedback">
  <div class="container">
    <div class="c-section-header">
      <h4 class="c-section-header__title h1 u-text-white">Deine Branche ist noch nicht dabei!</h4>
    </div>
    <!-- /.c-section-header -->

    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-5">
        <c-branch-feedback
          action="https://submit-form.com/189bb870-8393-4ede-9f67-11e638509974"
          cta="Vorschlag senden"
          placeholder="Welche Branche wünschst du dir?"
          success-msg="Danke für deine Branchen-Angabe!"
          invalid-msg="Dieses Feld wird benötigt"></c-branch-feedback>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /#branch-feedback -->
