<div id="signup-accounting">
    <c-signup-accounting cta="Jetzt kostenlos registrieren">
      <template slot="terms">
          Ich habe die <a href="/agb/">Partner-AGB</a> und die <a href="/datenschutz/">Datenschutzerklärung</a> gelesen und akzeptiere diese.
      </template>
    </c-signup-accounting>
  </div>
  <!-- /#asd -->
