<div id="year-end-form">
  <year-end-form
  cta="Jetzt anfragen"
  success-msg="Danke für dein Interesse, wir melden uns schnellst möglich bei dir."
  action="https://submit-form.com/371d0876-ad49-41c2-a535-c05acee2df38">
    <template slot="terms">Ja ich bin damit einverstanden von sevDesk kontaktiert zu werden.</template>
  </year-end-form>
</div>
<!-- /#year-end-form -->
