<div class="c-button-group">
  <button data-class="is-monthly">1 Monat</button>
  <button data-class="is-annual" class="js-is-active">12 Monate</button>
  <button data-class="is-bi-annual">24 Monate</button>
</div>
<!-- /.c-button-group -->
