<div class="c-form-control">
  <label class="c-form-control__label c-form-control__label--floating">Email address</label>
  <input class="c-form-control__field" placeholder="Email address" type="text">
  <span class="c-form-control__message"></span>
</div>
<!-- /.c-form-control -->

<div class="c-form-control c-form-control--addon-right js-is-filled">
  <label class="c-form-control__label c-form-control__label--floating">With addon</label>
  <input class="c-form-control__field" placeholder="555-555-555-55" type="text">
  <span class="c-form-control__addon is-secure"></span>
  <span class="c-form-control__message"></span>
</div>
<!-- /.c-form-control -->

<div class="c-form-control js-is-filled">
  <label class="c-form-control__label c-form-control__label--floating">Email address</label>
  <input class="c-form-control__field" placeholder="Email address" type="text">
  <span class="c-form-control__message"><span class="error">Please enter a valid email address</span></span>
</div>
<!-- /.c-form-control -->

<div class="c-form-control js-is-filled js-has-error">
  <label class="c-form-control__label c-form-control__label--floating">Email address</label>
  <input class="c-form-control__field" placeholder="Email address" type="text">
  <span class="c-form-control__message"><span class="error">Please enter a valid email address</span></span>
</div>
<!-- /.c-form-control -->
