<div class="c-form-control{{#if addon}} c-form-control--addon-right{{/if}}{{#if value}} js-is-filled{{/if}}">
  <label class="c-form-control__label c-form-control__label--floating">{{label}}</label>
  {{#if value}}
  <input class="c-form-control__field" value="{{value}}" type="text">
  {{/if}}
  {{#unless value}}
  <input class="c-form-control__field" placeholder="{{label}}" type="text">
  {{/unless}}
  {{#if addon}}
  <span class="c-form-control__addon {{addon}}"></span>
  {{/if}}
  {{#if message}}
  <span class="c-form-control__message"></span>
  {{/if}}
</div>
<!-- /.c-form-control -->
