<template>
<div class="row sm-gutters">
  <div class="col-12">
    <c-form-control-input :label="$t('labels.email')" v-model="formData.email" :validation="formErrors.email" type="email" />
    <div class="mb-4" v-if="alreadyRegistered">
      <span class="text-note text-danger">Already registered, please <a href="#0">Login</a></span>
    </div>
  </div>
  <div class="col-6"><c-form-control-input :label="$t('labels.firstName')" v-model="formData.firstName" :validation="formErrors.firstName" /></div>
  <div class="col-6"><c-form-control-input :label="$t('labels.lastName')" v-model="formData.lastName" :validation="formErrors.lastName" /></div>
  <div class="col-12"><c-form-control-input :label="$t('labels.company')" v-model="formData.company" /></div>
  <div class="col-12"><c-form-control-input :label="$t('labels.phone')" v-model="formData.phone" :validation="formErrors.phone" type="tel" /></div>
  <div class="col-6"><c-form-control-input :label="$t('labels.street')" v-model="formData.street" :validation="formErrors.street" /></div>
  <div class="col-6"><c-form-control-input :label="$t('labels.postcode')" v-model="formData.postcode" :validation="formErrors.postcode" /></div>
  <div class="col-6"><c-form-control-select :label="$t('labels.country')" v-model="formData.country" :options="countries"/></div>
  <div class="col-6"><c-form-control-select :label="$t('labels.city')" v-model="formData.city" :options="cities"/></div>
  <div class="col-12"><c-form-control-input :label="$t('labels.salesTax')" v-model="formData.salesTax" :validation="formErrors.salesTax"/></div>
</div>
</template>
<script>
import Input from '../shared/input.vue';
import Select from '../shared/select.vue';

const messages = {
  en: {
    labels: {
      firstName: 'First name',
      lastName: 'Nachname',
      company: 'Organisation',
      email: 'E-Mail',
      phone: 'Telefon',
      street: 'Straße',
      postcode: 'PLZ',
      country: 'Land',
      city: 'Stadt',
      salesTax: 'Sales Tax ID: GBXXXXXXXX'
    }
  },
  de: {
    labels: {
      firstName: 'Vorname',
      lastName: 'Nachname',
      company: 'Organisation',
      email: 'E-Mail',
      phone: 'Telefon',
      street: 'Straße',
      postcode: 'PLZ',
      country: 'Land',
      city: 'Stadt',
      salesTax: 'Sales Tax ID: GBXXXXXXXX'
    }
  }
};

export default {
  i18n: { messages },
  components: {
    'c-form-control-input': Input,
    'c-form-control-select': Select
  },
  props: {
    formData: Object,
    formErrors: Object,
    alreadyRegistered: Boolean
  },
  data() {
    return {
      firstInput: 'test',
      countries: [
        {
          value: 'de',
          label: 'Germany'
        },
        {
          value: 'es',
          label: 'Spain'
        },
        {
          value: 'fr',
          label: 'France'
        }
      ],
      cities: [
        {
          value: 'bucuresti',
          label: 'Bucuresti'
        },
        {
          value: 'berlin',
          label: 'Berlin'
        }
      ]
    };
  },
  methods: {}
};
</script>

