<template>
  <div class="c-selected-products">
    <div class="c-selected-products__item">
      <span class="c-selected-products__title" v-if="cart.PlanVariantId">{{$t (`plans.${cart.PlanVariantId}`) }}</span>
      <div class="c-selected-products__price">
        <div v-if="coupon.valid">
          <span class="old-price" v-if="planDetails.oldPrice">{{planDetails.oldPrice}} {{planDetails.currency === 'EUR' ? '€' : ''}}</span>
          <span class="new-price">{{planDetails.price}} {{planDetails.currency === 'EUR' ? '€' : ''}}</span>
        </div>
        <div v-else>
          <span class="price">{{planDetails.price}} {{planDetails.currency === 'EUR' ? '€' : ''}}</span>
        </div>
      </div>
    </div>
    <!-- .c-selected-products__item -->
  </div>
</template>

<script>
const messages = {
  de: {
    plans: {
      '56fd3f18675ecb10047ef133': 'sevDesk BUCHHALTUNG'
    }
  },
  en: {
    plans: {
      '56fd3f18675ecb10047ef133': 'sevDesk BUCHHALTUNG'
    }
  }
}
export default {
  i18n: { messages },
  props: {
    cart: Object,
    planDetails: Object,
    coupon: Object
  }
}
</script>
