<template>
<div class="l-checkout">
  <div class="l-checkout__loader-wp" v-if="loading"><div class="l-checkout__loader-wp__bg"><div class="c-loader c-loader--lg"></div></div></div>
  <div class="container">
    <header class="l-checkout__header py-4 mb-2">
      <div class="row align-items-center">
        <div class="col-8">
          <a class="c-logo" href="/">sevDesk</a>
        </div>
      </div>
    </header>
    <form @submit.prevent="onSubmit" novalidate>
      <div class="row">
        <div class="l-checkout__main col-md-6 mb-3 pr-md-4 pr-lg-5">
          <h5 v-html="$t('titles.billing')"></h5>
          <c-billing :formData="form.billing" :formErrors="$v.form.billing" :alreadyRegistered="alreadyRegistered"/>
        </div>
        <!-- /.l-checkout__main -->

        <div class="l-checkout__aside col-md-6 pl-md-4 pl-lg-5">
          <h5 v-html="$t('titles.summary')"></h5>
          <c-cart :cart="orderData.Cart" :planDetails="planDetails" :coupon="coupon"/>
          <div class="l-checkout__options row sm-gutters">
            <div class="col-6 col-sm-4 ml-auto">
              <c-form-control-input
                :label="$t('coupon.title')"
                v-model="coupon.code"
                @input="checkCouponCode"
                :addon="coupon.valid ? 'is-checked': ''"
                tooltip="Lorem ipsum et dolorem"
                :validation="$v.coupon.code"
                :error-message="$t('coupon.valid')"
                :disabled="loading"
              />
            </div>
          </div>
          <!-- .row -->

          <h5 v-html="$t('titles.payment')"></h5>
          <div class="pb-4">
            <c-payment :payment="payment" :cart="orderData.Cart" :formErrors="$v.payment.paymentData" @change="onPaymentMethodChange"/>
          </div>

          <div class="pb-5">
            <button class="c-btn c-btn--primary c-btn--large" type="submit" v-html="$t('cta')"></button>
          </div>
        </div>
        <!-- /.l-checkout__aside -->
      </div>
      <!-- /.row -->
    </form>

    <c-terms />
  </div>
  <!-- /.container -->
</div>
</template>

<script>
import debounce from 'lodash/debounce';
import {
  required,
  email,
  minLength,
  maxLength,
  requiredIf
} from 'vuelidate/lib/validators';

import { getUrlParameter } from '../../utils';
import sevDesk from '../../api/sevDesk';
import billWerk from '../../api/billWerk';
import analytics from '../../api/analytics';
import Billing from './billing.vue';
import Terms from './terms.vue';
import Payment from './payment.vue';
import Cart from './cart.vue';
import Period from './period.vue';
import Input from '../shared/input.vue';

const messages = {
  en: {
    titles: {
      billing: 'Billing',
      summary: 'Summary',
      payment: 'Payment'
    },
    coupon: {
      title: 'Coupon',
      valid: 'Coupon not valid'
    },
    cta: 'Send order'
  },
  de: {
    titles: {
      billing: 'Deine rechnungsdaten',
      summary: 'Tarif und laufzeit',
      payment: 'Zahlung'
    },
    coupon: {
      title: 'Coupon',
      valid: 'Coupon not valid'
    },
    cta: 'Abonnement bestellen'
  }
};

export default {
  i18n: { messages },
  components: {
    'c-terms': Terms,
    'c-billing': Billing,
    'c-cart': Cart,
    'c-period': Period,
    'c-payment': Payment,
    'c-form-control-input': Input
  },
  data() {
    return {
      loading: true,
      invalidForm: false,
      referredBy: '',
      referredByPartner: '',
      source: 'Checkout',
      alreadyRegistered: false,
      form: {
        billing: {
          firstName: 'John',
          lastName: 'Doe',
          company: 'home',
          email: 'testerl123@asd.ro',
          phone: '22333444',
          street: 'Some street',
          postcode: '223344',
          country: 'de',
          city: 'berlin',
          salesTax: 'BGXXX'
        }
      },
      order: null,
      orderData: {
        Cart: {
          // TODO: make this dynamic
          PlanVariantId: '',
          coupon: ''
        }
      },
      planDetails: {
        price: '',
        oldPrice: '',
        currency: 'EUR',
        selectedPeriod: ''
      },
      coupon: {
        code: 'UNEHMR',
        valid: false
      },
      payment: {
        selectedMethod: 'PayPal',
        paymentData: {}
      },
      tokens: {
        cftToken: null,
        apiToken: null,
        ott: null
      }
    };
  },

  /**
   * Wahtchers
   */
  watch: {
    'form.billing.email': function(val, oldVal) {
      this.checkIfAlreadyRegistered(val);
    }
  },

  /**
   * Lifecycle Hooks
   */
  mounted() {
    // this.analyticsIdentify();
    this.getUrlParams();
  },

  /**
   * Methods
   */
  methods: {
    checkCouponCode: debounce(function(coupon) {
      // TODO: ajax check, and validate
      // ISSUE: i cannot validate without tokens
      this.loading = true;
      this.getPlans();
    }, 500),

    checkIfAlreadyRegistered: debounce(function(email) {
      // console.log(email);
      if (
        this.$v.form.billing.email.required &&
        this.$v.form.billing.email.email
      ) {
        sevDesk
          .checkEmail(email)
          .then(response => {
            if (response.data.result == 1) {
              // not a customer
              console.log('not a customer');
              this.alreadyRegistered = false;
            } else {
              // already registered
              console.log('already registered');
              this.alreadyRegistered = true;
            }
          })
          .catch(error => {
            console.log('email verification error');
            this.alreadyRegistered = false;
          });
      }
    }, 250),

    isCurrentPayment(type) {
      // this is for vuevalidate
      console.log('checking payment type');
      if (this.payment.selectedMethod === type) {
        return true;
      }
      return false;
    },

    getUrlParams() {
      const planId = getUrlParameter('plan');
      const coupon = getUrlParameter('coupon');
      const period = getUrlParameter('period');

      // Defaults
      this.orderData.Cart.PlanVariantId = planId || '56fd3f18675ecb10047ef133';
      this.planDetails.selectedPeriod = period || '1';
      this.coupon.code = coupon || '';

      this.getPlans();
    },

    getPlans() {
      sevDesk
        .getCheckoutPlans({
          planVariantId: this.orderData.Cart.PlanVariantId,
          coupon: this.coupon.code
        })
        .then(response => {
          this.$v.coupon.code.$touch();
          this.planDetails.price = response.data.totalGross;
          this.planDetails.oldPrice = response.data.nextTotalGross;
          this.planDetails.currency = response.data.currency;

          this.coupon.valid = response.data.isCouponValid;
          this.loading = false;
        })
        .catch(error => {
          console.log('got plans error', error);
        });
    },

    onPaymentMethodChange(data) {
      this.payment = data;
    },

    onSubmit() {
      if (this.loading) {
        return false;
      }
      // triggers $dirty on each validation
      this.$v.$touch();

      if (this.$v.form.billing.$invalid) {
        this.invalidForm = true;
      } else {
        this.invalidForm = false;
        this.loading = true;

        // Check if an account was already created in this session
        if (this.tokens.cftToken) {
          return this.createBillWerkAccount();
        } else {
          this.createAccount();
        }
      }
    },

    createAccount() {
      let customerData = {
        username: this.form.billing.email,
        surename: this.form.billing.firstName,
        familyname: this.form.billing.lastName,
        company: this.form.billing.company,
        street: this.form.billing.street,
        zip: this.form.billing.postcode,
        city: this.form.billing.city,
        context: this.form.billing.country,
        // context: window.location.host,
        auth: 1337,
        track_invite: this.referredBy,
        track_partner: this.referredByPartner
      };

      sevDesk.createAccountCheckout(customerData).then(response => {
        this.loading = false;
        console.log(response);
      }).catch(error => {
        this.loading = false;
        console.log('error ', customerData);
      })

      return;

      sevDesk
        .createAccount(customerData)
        .then(response => {
          console.log('account created', response.data);
          if (response.data.success == 'true') {
            sevDesk
              .verifyOTT(response.data.hash)
              .then(ottResult => {
                console.log('ott verification', ottResult.data);
                if (ottResult.data.objects) {
                  this.tokens.cftToken = ottResult.data.objects.cft;
                  this.tokens.apiToken = ottResult.data.objects.token;

                  analytics.trackUserCreated(
                    response.data,
                    email,
                    this.source,
                    () => console.log('analytics done')
                  );
                  this.createBillWerkAccount();
                } else {
                  console.log('bad ottResult');
                }

                this.loading = false;
              })
              .catch(error => {
                this.loading = false;
              });
          }
        })
        .catch(error => {
          this.loading = false;
          console.log('creating account error', error);
        });
    },

    createBillWerkAccount() {
      const customerData = {
        CompanyName: this.form.billing.company,
        FirstName: this.form.billing.firstName,
        LastName: this.form.billing.lastName,
        VatId: this.form.billing.salesTax,
        EmailAddress: this.form.billing.email,
        Address: {
          Street: this.form.billing.street,
          PostalCode: this.form.billing.postcode,
          City: this.form.billing.city,
          Country: this.form.billing.country
        }
      };
      console.log('customer data', customerData);

      let tokens = {};
      tokens.cftToken = this.tokens.cftToken;
      tokens.apiToken = this.tokens.apiToken;

      sevDesk
        .updateSubscriptionBilling(tokens, customerData)
        .then(response => {
          console.log('subscription updated', response.data);
          if (this.coupon.code) {
            let couponData = {
              planVariantId: this.orderData.Cart.PlanVariantId,
              coupon: this.coupon.code
            };
            sevDesk.checkCoupon(this.tokens, couponData).then(response => {
              if (response.data.objects) {
                this.orderData.Cart.CouponCode = coupon;
              }
              return Promise.resolve();
            });
          } else {
            console.log('no coupon next..');
            return Promise.resolve();
          }
        })
        .then(response => {
          console.log('creating the order');
          return sevDesk.createOrder(this.tokens, this.orderData);
        })
        .then(orderResponse => {
          console.log('sevDesk order created', orderResponse.data);
          this.order = orderResponse.data.objects;
          this.paymentInit();
        }).catch(error => {
          console.log('error on update subscription billing', error);
        });
    },

    onPeriodChange(val) {
      console.log('period changed', val);
    },

    paymentInit() {
      console.log('payment init', 'get ott');
      sevDesk.getAutoLoginOTT(this.tokens).then(ottResponse => {
        console.log('ott:', ottResponse.data);
        this.tokens.ott = ottResponse.data.objects.token;
        console.log('billWerk init');
        billWerk.initialize(
          this.tokens.ott,
          billWerk.BILL_WERK_API_KEY,
          this.paymentInitSucces,
          this.paymentInitError
        );
      });
    },
    paymentInitSucces(signupService, paymentService) {
      console.log('paymentInitSucces');
      // console.log(signupService, paymentService);
      this.payInteractive(signupService, paymentService);
    },

    paymentInitError(error) {
      console.log('paymentInitError', error);
    },

    payInteractive(signupService, paymentService) {
      console.log(
        'start payInteractive, services:',
        signupService,
        paymentService
      );

      const paymentData = this.payment.paymentData;

      if (this.order.CustomerToken) {
        console.log(
          'payInteractive: createPortalService',
          this.order.CustomerToken
        );
        const portalService = billWerk.createPortalService(
          this.order.CustomerToken
        );
        portalService.upgradePayInteractive(
          paymentService,
          paymentData,
          this.order,
          paymentHandler,
          errorHandler
        );
      } else {
        console.log(
          'payInteractive: paySignupInteractive',
          this.order.CustomerToken
        );
        signupService.paySignupInteractive(
          paymentService,
          paymentData,
          this.order,
          paymentHandler,
          errorHandler
        );
      }
    },

    paymentHandler(result) {
      console.log('paymentHandler, result:', result);
      if (!result.Url && this.tokens.ott) {
        sevDesk.upgradeSuccessRedirect(ott);
      } else {
        window.location.href = result.Url;
      }
    },

    errorHandler(result) {
      console.log('errorHandler, result:', result);
      window.setTimeout(function() {
        if (result.errorCode[0] === 'InvalidCardNumber') {
          alert('UngÃ¼ltige Kreditkartennummer');
        } else if (result.errorCode[0] === 'InvalidExpirationDate') {
          alert('Das GÃ¼ltigskeitsdatum der Kreditkarte ist nicht valide');
        } else if (result.errorCode[0] === 'InvalidCardNumber') {
          alert('UngÃ¼ltige CVC-Nummer der Kreditkarte');
        } else {
          alert('Allgemeiner Fehler bei der Zahlung aufgetreten: ' + result);
        }
      }, 1);
    },

    analyticsIdentify() {
      window.analytics.ready(() => {
        const data = analytics.getReferral();
        if (data) {
          this.referredBy = data.referredBy;
          this.referredByPartner = data.referredByPartner;
        }
      });
    }
  },

  /**
   * Validation
   */
  validations() {
    let fields = {
      form: {
        billing: {
          firstName: { required },
          lastName: { required },
          email: {
            required,
            email,
            alreadyRegistered: function() {
              return !this.alreadyRegistered;
            }
          },
          phone: { required },
          street: { required },
          postcode: { required },
          country: { required },
          city: { required },
          salesTax: { required }
        }
      },
      coupon: {
        code: {
          minLength: minLength(3),
          couponValid: function() {
            return this.coupon.valid || true;
          }
        }
      }
    };

    // Dynamic payment methods
    switch (this.payment.selectedMethod) {
      case 'creditcard':
        fields['payment'] = {
          paymentData: {
            cardNumber: { required },
            expiryMonth: { required },
            expiryYear: { required },
            cardHolder: { required },
            cvc: { required, minLength: minLength(3), maxLength: maxLength(4) }
          }
        };
        break;
      case 'PayPal':
        fields['payment'] = {
          paymentData: {
            emailAddress: {
              email,
              required: requiredIf(function(nestedModel) {
                console.log('validating paypal email');
                return this.isCurrentPayment('PayPal');
              })
            }
          }
        };
        break;
      default:
        fields['payment'] = {
          paymentData: {}
        };
        break;
    }

    return fields;
  }
};
</script>
