<template>
<div class="c-payment-methods">
  <div class="c-payment-methods__item" :class="[payment.selectedMethod == 'creditcard' ? 'is-active': '']">
    <div class="c-payment-methods__item__header">
      <label class="c-payment-methods__label">
        <input
          class="c-form-control__radio c-payment-methods__radio"
          id="creditcard"
          value="creditcard"
          v-model="selectedMethod"
          type="radio">
        <span class="c-payment-methods__label-text">Card</span>
        <span class="c-payment-methods__info"></span>
      </label>
    </div>
    <div class="c-payment-methods__item__body" v-if="payment.selectedMethod == 'creditcard'">
      <c-card @change="cardUpdated" :formErrors="formErrors" />
    </div>
    <!-- /.c-payment-methods__item__body -->
  </div>
  <!-- /.c-payment-methods__item -->

  <div class="c-payment-methods__item" :class="[payment.selectedMethod == 'PayPal' ? 'is-active': '']">
    <div class="c-payment-methods__item__header">
      <label class="c-payment-methods__label">
        <input
          class="c-form-control__radio c-payment-methods__radio"
          id="paypal"
          value="PayPal"
          v-model="selectedMethod"
          type="radio">
        <span class="c-payment-methods__label-text">Paypal</span>
        <span class="c-payment-methods__info"></span>
      </label>
    </div>
    <div class="c-payment-methods__item__body" v-if="payment.selectedMethod == 'PayPal'">
      <c-paypal @change="paypalEmailUpdated" :formErrors="formErrors" />
    </div>
    <!-- /.c-payment-methods__item__body -->
  </div>
  <!-- /.c-payment-methods__item -->

  <div v-if="!isLimited" class="c-payment-methods__item">
    <div class="c-payment-methods__item__header">
      <label class="c-payment-methods__label">
        <input
          class="c-form-control__radio c-payment-methods__radio"
          id="debit"
          value="debit"
          v-model="selectedMethod"
          type="radio">
        <span class="c-payment-methods__label-text">Lastschrift</span>
        <span class="c-payment-methods__info"></span>
      </label>
    </div>
    <div class="c-payment-methods__item__body" v-if="payment.selectedMethod == 'debit'">
    </div>
    <!-- /.c-payment-methods__item__body -->
  </div>
  <!-- /.c-payment-methods__item -->

  <div v-if="!isLimited" class="c-payment-methods__item">
    <div class="c-payment-methods__item__header">
      <label class="c-payment-methods__label">
        <input
          class="c-form-control__radio c-payment-methods__radio"
          id="invoice"
          value="invoice"
          v-model="selectedMethod"
          type="radio">
        <span class="c-payment-methods__label-text">Rechnung</span>
        <span class="c-payment-methods__info"></span>
      </label>
    </div>
    <div class="c-payment-methods__item__body" v-if="payment.selectedMethod == 'invoice'">
    </div>
    <!-- /.c-payment-methods__item__body -->
  </div>
  <!-- /.c-payment-methods__item -->
</div>
<!-- /.c-payment-methods -->
</template>

<script>
import Card from './payment-methods/card.vue';
import Paypal from './payment-methods/paypal.vue';

export default {
  props: {
    payment: Object,
    cart: Object,
    formErrors: Object
  },
  components: {
    'c-card': Card,
    'c-paypal': Paypal
  },
  data() {
    return {
      selectedMethod: this.payment.selectedMethod,
      creditcard: {
        bearer: 'CreditCard:PayOne',
        cardNumber: '5169147129584558',
        expiryMonth: '12',
        expiryYear: '2015',
        cardHolder: 'Marcellus Wallace',
        cvc: '911'
      },
      paypal: {
        bearer: 'PayPal',
        emailAddress: ''
      },
      debit: {},
      invoice: {
        bearer: 'InvoicePayment'
      }
    };
  },
  computed: {
    isLimited() {
      if (this.cart && this.cart.PlanVariantId) {
        return this.cart.PlanVariantId === 1;
      }
      return false;
    }
  },
  watch: {
    selectedMethod() {
      this.updateDetails();
    }
  },
  methods: {
    updateDetails() {
      let data = { selectedMethod: this.selectedMethod, paymentData: {} };

      switch (this.selectedMethod) {
        case 'creditcard':
          data.paymentData = this.creditcard;
          break;
        case 'PayPal':
          data.paymentData = this.paypal;
          break;
        case 'InvoicePayment':
          data.paymentData = this.invoice;
          break;
        default:
          break;
      }
      this.$emit('change', data);
    },
    paypalEmailUpdated(email) {
      this.paypal.emailAddress = email;
      this.updateDetails();
    },
    cardUpdated(data) {
      this.creditcard.cardNumber = data.cardNumber;
      this.creditcard.expiryMonth = data.expiryMonth;
      this.creditcard.expiryYear = data.expiryYear;
      this.creditcard.cardHolder = data.cardHolder;
      this.creditcard.cvc = data.cvc;

      this.updateDetails();
    }
  }
};
</script>
