<template>
  <div class="c-form-control c-form-control--select">
    <label class="c-form-control__label c-form-control__label--floating" v-text="$t('label')"></label>
    <select
      class="c-form-control__field c-form-control__field--select"
      :value="value"
      @input="handleInput"
      @change="handleChange"
    >
      <option v-for="option in options" :value="option" :key="option" v-text="$t(`options.${option}`)"></option>
    </select>
  </div>
  <!-- /.c-form-control -->
</template>

<script>
const messages = {
  en: {
    required: 'This field is required',
    label: 'Period',
    options: {
      1: '1 Month',
      12: '12 Months -20%',
      24: '24 Months -34%'
    }
  },
  de: {
    required: 'Dieses Feld wird benötigt',
    label: 'Period',
    options: {
      1: '1 Month',
      12: '12 Months -20%',
      24: '24 Months -34%'
    }
  }
};
export default {
  i18n: { messages },
  name: 'c-form-control-input',
  props: {
    value: [String, Number]
  },
  data() {
    return {
      currentValue: this.value,
      focused: false,
      options: [1,12,24]
    };
  },
  methods: {
    handleChange(event) {
      this.$emit('change', event.target.value);
    },
    handleInput(event) {
      const value = event.target.value;
      this.$emit('input', value);
      this.setCurrentValue(value);
    },
    setCurrentValue(value) {
      if (value === this.currentValue) return;
      this.currentValue = value;
    }
  }
};
</script>
