<template>
<div class="l-checkout__links">
  <nav class="c-links-sm">
    <ul>
      <li>
        <a :href="$t('terms.url')" v-html="$t('terms.title')"></a>
      </li>
      <li>
        <a :href="$t('support.url')" v-html="$t('support.title')"></a>
      </li>
      <li>
        <a :href="$t('contact.url')" v-html="$t('contact.title')"></a>
      </li>
    </ul>
  </nav>
</div>
</template>

<script>
const messages = {
  en: {
    terms: {
      title: 'Terms',
      url: '#terms'
    },
    support: {
      title: 'Support',
      url: '#support'
    },
    contact: {
      title: 'Contact',
      url: '#contact'
    }
  },
  de: {
    terms: {
      title: 'Terms',
      url: '#terms'
    },
    support: {
      title: 'Support',
      url: '#support'
    },
    contact: {
      title: 'Contact',
      url: '#contact'
    }
  }
};

export default {
  i18n: { messages },
  name: 'c-terms'
};
</script>
