<template>
  <div class="c-accounting-event-form">
    <form role="sign-up" @submit.prevent="onSubmit" novalidate>
      <div v-if="success" class="p-3 mb-3 bg-success u-text-center u-text-white" v-text="successMsg"></div>
      <c-form-control-input label="Kanzlei" v-model="form.company" :validation="$v.form.company" />
      <c-form-control-input label="Anzahl der Teilnehmer" v-model="form.peopleCount" :validation="$v.form.peopleCount" type="number" />
      <c-form-control-input label="E-mail" v-model="form.email" :validation="$v.form.email" type="email" />
      <c-form-control-input label="Telefonnummer" v-model="form.phone" :validation="$v.form.phone" type="tel" />
      <c-form-control-select label="Datum" v-model="form.date" :options="[{label: '06.11.2019', value: '06.11.2019'}, {label: '04.12.2019', value: '04.12.2019'}, {label: '18.12.2019', value: '18.12.2019'}]" />
      <div class="pt-2 pb-1 mb-md-1">
        <label class="c-form-control c-form-control--checkbox">
          <input type="checkbox" v-model="form.terms" class="c-form-control__checkbox">
          <span class="c-form-control__checkbox-label" style="line-height: 1.6"><slot name="terms"></slot></span>
        </label>
        <span class="text-danger text-note" v-if="$v.form.terms.$dirty && $v.form.terms.$invalid">Dieses Feld wird benötigt.</span>
      </div>
      <button class="c-sign-up-default__submit c-btn c-btn--primary c-btn--block" v-html="cta"></button>
    </form>
  </div>
</template>

<script>
import axios from 'axios';
import { required, email } from 'vuelidate/lib/validators';

import Input from './shared/input.vue';
import Select from './shared/select.vue';

export default {
  name: 'AccountingEventForm',
  components: {
    'c-form-control-input': Input,
    'c-form-control-select': Select
  },
  data() {
    return {
      form: {
        company: '',
        peopleCount: '',
        email: '',
        phone: '',
        date: '06.11.2019',
        terms: false
      },
      loading: false,
      invalidForm: false,
      success: false
    };
  },

  props: {
    action: String,
    cta: String,
    invalidMsg: String,
    successMsg: String
  },

  computed: {
    messageInvalid() {
      return this.$v.form.message.$dirty && this.$v.form.message.$invalid;
    }
  },

  /**
   * Methods
   */
  methods: {
    onSubmit() {
      if (this.loading) {
        return false;
      }

      this.$v.form.$touch();
      if (this.$v.form.$invalid) {
        this.invalidForm = true;
        return;
      }

      this.invalidForm = false;
      this.loading = true;

      this.formspreeSubmit();
    },

    formspreeSubmit() {
      console.log('sending');
      axios
        .post(this.action, {
          'Company': this.form.company,
          'Nr. or people': this.form.peopleCount,
          'Email': this.form.email,
          'Phone': this.form.phone,
          'Date': this.form.date
        })
        .then(response => {
          console.log('success', response);
        })
        .catch(error => {
          console.log('error', error);
        })
        .then(() => {
          // always executed
          this.loading = false;
          this.success = true;
        });
    }
  },

  /**
   * Validation
   */
  validations: {
    form: {
      company: { required },
      email: { required, email },
      peopleCount: { required },
      phone: { required },
      terms: { required }
    }
  }
};
</script>

