<template>
  <div class="c-sign-up-default" :class="[size ? 'c-sign-up-default--' + size : '']">
    <form role="sign-up" @submit.prevent="onSubmit" novalidate>
      <div v-if="success" class="p-3 mb-1 bg-success u-text-center u-text-white" v-text="successMsg"></div>
      <div class="c-sign-up-default__control" :class="{ 'is-invalid': messageInvalid }">
        <input class="c-sign-up-default__email" type="email" v-model="form.message" aria-required="true" aria-invalid="false" :placeholder="placeholder">
        <span v-if="messageInvalid" class="c-sign-up-default__message">
          <span v-html="invalidMsg"></span>
        </span>
        <span v-if="loading" class="c-sign-up-default__loader"></span>
      </div>
      <button class="c-sign-up-default__submit c-btn c-btn--primary c-btn--block" v-html="cta"></button>
    </form>
  </div>
  <!-- /.c-sign-up-default -->
</template>

<script>
import axios from 'axios';
import { required } from 'vuelidate/lib/validators';

export default {
  name: 'c-branch-feedback',

  data() {
    return {
      form: {
        message: ''
      },
      loading: false,
      invalidForm: false,
      success: false
    };
  },

  props: {
    action: {
      type: String,
      required: true
    },
    invalidMsg: {
      type: String
    },
    successMsg: {
      type: String
    },
    placeholder: {
      type: String
    },
    cta: {
      type: String
    },
    size: {
      type: String,
      default: 'lg'
    }
  },

  computed: {
    messageInvalid() {
      return this.$v.form.message.$dirty && this.$v.form.message.$invalid;
    }
  },

  /**
   * Methods
   */
  methods: {
    onSubmit() {
      if (this.loading) {
        return false;
      }

      this.$v.form.$touch();
      if (this.$v.form.$invalid) {
        this.invalidForm = true;
        return;
      }

      this.invalidForm = false;
      this.loading = true;

      this.formspreeSubmit();
    },

    formspreeSubmit() {
      console.log('sending');
      axios
        .get(`${this.action}/?branch=${this.form.message}`)
        .then(response => {
          // console.log('success', response);
        })
        .catch(error => {
          // console.log('error', error);
        })
        .then(() => {
          // always executed
          this.loading = false;
          this.success = true;
        });
    }
  },

  /**
   * Validation
   */
  validations: {
    form: {
      message: { required }
    }
  }
};
</script>
