<template>
  <div class="p-3 p-md-5 l-section--background-light">
    <div class="mb-3">
      <c-form-control-input
        label="<strong>Netto-Betrag</strong>"
        type="number"
        v-model.number="formData.netAmmount"
      />
    </div>
    <div class="mb-3">
      <c-form-control-select
        label="<strong>Umsatzsteuersatz</strong>"
        v-model="formData.vatRate"
        :options="vatOptions"
      />
    </div>
    <div class="d-flex pt-3 u-text-gray">
      <span>Mehrwertsteuer</span><span class="ml-auto">{{ valueAddedTax | currency }}</span>
    </div>
    <hr />
    <div class="d-flex">
      <span class="h5">Brutto-Betrag</span><span class="h5 ml-auto">{{ grossAmount | currency }}</span>
    </div>
  </div>

</template>

<script>
import { required } from "vuelidate/lib/validators";

import Input from "./shared/input-simple.vue";
import Select from "./shared/select-simple.vue";

const vatOptions = [
  {
    value: "19",
    label: "19%"
  },
  {
    value: "16",
    label: "16%"
  },
  {
    value: "7",
    label: "7%"
  }
]

export default {
  components: {
    "c-form-control-input": Input,
    "c-form-control-select": Select
  },
  data() {
    return {
      formData: {
        netAmmount: 1000,
        vatRate: 19,
      },
      vatOptions: vatOptions
    };
  },
  computed: {
    valueAddedTax() {
      return this.formData.netAmmount * (this.formData.vatRate/100);
    },
    grossAmount() {
      return this.formData.netAmmount + this.valueAddedTax;
    }
  },
  filters: {
    currency: function(value) {
      if (!value) return "";
      // return value;
      return Number(value).toFixed(2) + " €";
    }
  }
}
</script>
