<template>
  <div class="p-3 p-md-5 l-section--background-light">
    <div class="mb-3">
      <c-form-control-select
        label="Meine <strong>Rechtsform</strong> lautet"
        v-model="formData.businessType"
        :options="businessTypeOptions"
      />
    </div>
    <div class="mb-3">
      <c-form-control-input
        label="Mein jährlicher <strong>Gewerbeertrag</strong> beträgt"
        type="number"
        v-model.number="formData.annualTradeAmmount"
      />
    </div>
    <div class="mb-3">
      <c-form-control-input
        label="<strong>Hinrechnungsbetrag</strong> in €"
        type="number"
        v-model.number="formData.additionalAmmount"
      />
    </div>
    <div class="mb-3">
      <c-form-control-input
        label="<strong>Kürzungsbetrag</strong> in €"
        type="number"
        v-model.number="formData.deductionAmmount"
      />
    </div>
    <div class="mb-3">
      <c-form-control-input-autocomplete
        label="<strong>Stadt/Gemeinde</strong>"
        algoliaIndex="calc_tax_cities"
        @itemSelected="handleLocationUpdate"
        @change="handleLocationChange"
        v-model="formData.country"
      />
    </div>

    <div class="d-flex u-text-bold pt-3 h4">
      <span>Gewerbesteuer:</span>
      <span class="ml-auto"><span class="text-danger">{{ businessTax | currency }}</span> im Jahr</span>
    </div>

    <div v-if="showSubtotal">
      <hr>
      <div class="d-flex py-1 u-text-note u-text-gray">
        <span>Gewerbeertrag vor Verlustabzug</span>
        <span class="ml-auto">{{ tradeIncomeBeforeLossDeduction | currency }}</span>
      </div>
      <div class="d-flex py-1 u-text-note u-text-gray">
        <span>Freibetrag</span>
        <span class="ml-auto">-{{ allowance | currency }}</span>
      </div>
      <hr>
      <div class="d-flex py-1 u-text-note u-text-gray">
        <span>Verbleibender Gewerbeertrag</span>
        <span class="ml-auto">{{ remainingTradeIncome1 | currency }}</span>
      </div>
      <div class="d-flex py-1 u-text-note u-text-gray">
        <span>Steuermesszahl</span>
        <span class="ml-auto">{{ taxRate }} %</span>
      </div>
      <hr>
      <div class="d-flex py-1 u-text-note u-text-gray">
        <span>Steuermessbetrag</span>
        <span class="ml-auto">{{ taxBaseValue | currency }}</span>
      </div>
      <div class="d-flex py-1 u-text-note u-text-gray mb-3">
        <span>Hebesatz in %</span>
        <span class="ml-auto">{{ this.formData.locationRate }} %</span>
      </div>
    </div>

    <a
      href="#1"
      class="u-text-note"
      @click.prevent="showSubtotal = !showSubtotal"
    >Ersparnis im Detail <i :class="[ showSubtotal ? 'u-icon-arrow-up' : 'u-icon-arrow-down']"></i></a>
  </div>
</template>

<script>
import { required } from "vuelidate/lib/validators";

import Input from "./shared/input-simple.vue";
import InputAutocomplete from "./shared/input-location-autocomplete.vue";
import Select from "./shared/select-simple.vue";

const businessTypeOptions = [
  {
    label: "Kapitalgesellschaft",
    value: "Kapitalgesellschaft"
  },
  {
    label: "Personengesellschaft",
    value: "Personengesellschaft"
  },
  {
    label: "Einzelunternehmen",
    value: "Einzelunternehmen"
  },
  {
    label: "Vereine und juristische Personen",
    value: "Vereine und juristische Personen"
  }
];

export default {
  components: {
    "c-form-control-input": Input,
    "c-form-control-input-autocomplete": InputAutocomplete,
    "c-form-control-select": Select
  },

  data() {
    return {
      formData: {
        businessType: "Einzelunternehmen",
        annualTradeAmmount: 60000,
        additionalAmmount: 0,
        deductionAmmount: 0,
        country: "Berlin",
        locationRate: 410,
        defaultRate: 410
      },
      showSubtotal: false,
      taxRate: 3.50,
      businessTypeOptions: businessTypeOptions
    };
  },

  props: {},
  computed: {
    tradeIncomeBeforeLossDeduction() {
      return (
        this.formData.annualTradeAmmount +
        this.formData.additionalAmmount -
        this.formData.deductionAmmount
      );
    },
    allowance() {
      let result = 0;
      switch (this.formData.businessType) {
        case 'Einzelunternehmen':
          result = 24000;
          break;
        case 'Personengesellschaft':
          result = 24000;
          break;
        case 'Vereine und juristische Personen':
          result = 5000;
          break;
        default:
          result = 0;
          break;
      }
      return result;
    },
    remainingTradeIncome1() {
      if (this.tradeIncomeBeforeLossDeduction < this.allowance) {
        return 0;
      }
      return this.tradeIncomeBeforeLossDeduction - this.allowance;
    },
    taxBaseValue() {
      return this.remainingTradeIncome1 * (this.taxRate/100);
    },
    businessTax() {
      return this.taxBaseValue * (this.formData.locationRate/100);
    }
  },
  methods: {
    handleLocationUpdate(item) {
      this.formData.country = item.location;
      this.formData.locationRate = item.rate;
    },
    handleLocationChange(value) {
      if (!value) {
        this.formData.locationRate = this.formData.defaultRate;
      }
    }
  },
  filters: {
    currency: function(value) {
      if (!value) return "";
      // return value;
      const decimals = Number(value).toFixed(2);
      return Number(decimals).toLocaleString('de-DE') + " €";
    }
  }
};
</script>
