<template>
  <div class="p-3 p-md-5 l-section--background-light">
    <div class="c-form-group mb-4">
      <label class="c-form-group__label mb-2">
        <span>
          Mein
          <strong>Arbeitsbeginn:</strong>
        </span>
      </label>
      <div class="row no-gutters align-items-center">
        <div class="col-4">
          <div class="c-form-group__custom-select">
            <select v-model="formData.start.hour">
              <option v-for="h in hours" :value="h" :key="h">{{h}}</option>
            </select>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-4">
          <div class="c-form-group__custom-select">
            <select v-model="formData.start.minute">
              <option v-for="h in minutes" :value="h" :key="h">{{h}}</option>
            </select>
          </div>
        </div>
        <!-- /.col-->
        <div class="col-4 pl-2">
          <span class="u-text-note u-text-gray">UHR</span>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.c-form-group -->

    <div class="c-form-group">
      <label class="c-form-group__label mb-2">
        <span>
          Mein
          <strong>Arbeitsende:</strong>
        </span>
      </label>
      <div class="row no-gutters align-items-center">
        <div class="col-4">
          <div class="c-form-group__custom-select">
            <select v-model="formData.end.hour">
              <option v-for="h in hours" :value="h" :key="h">{{h}}</option>
            </select>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-4">
          <div class="c-form-group__custom-select">
            <select v-model="formData.end.minute">
              <option v-for="h in minutes" :value="h" :key="h">{{h}}</option>
            </select>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-4 pl-2">
          <span class="u-text-note u-text-gray">UHR</span>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.c-form-group -->
    <div class="py-4" style="width: 280px;">
      <label class="c-form-group__label mb-2">
        <span>
          Mein
          <strong>Pausen:</strong>
        </span>
      </label>

      <ul class="c-list-with-actions mb-3">
        <li v-for="(pause , index) in formData.pauses" :key="index">
          <span class="u-text-bold">{{ pause }} min</span>
          <a @click.prevent="removePause(index)" class="c-list-with-actions__btn is-remove ml-auto"></a>
        </li>
      </ul>
      <form @submit.prevent="addPause">
        <div class="c-form-group">
          <div class="row sm-gutters align-items-center">
            <div class="col-4">
              <div class="c-form-group" :class="{ 'js-has-error': pauseError }">
                <input v-model.number="formData.pause" type="number" class="c-form-group__control">
              </div>
            </div>
            <div class="col-8">
              <span class="u-text-note u-text-gray">min</span>
              <button type="submit" class="c-btn c-btn--sm c-btn--primary ml-1">Weitere pause</button>
            </div>
            <!-- /.col-4 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- .c-form-group -->
      </form>
    </div>
    <hr />
    <p class="mb-2">Meine <strong>Arbeitszeit beträgt:</strong></p>
    <p class="h2 my-0 d-flex align-items-center"><span class="text-success">{{ totalWorkedTime }}</span> <span class="h5 ml-3 mb-0">Stunden</span></p>
  </div>
</template>

<script>
import moment from "moment";

const hoursOptions = [
  "00",
  "01",
  "02",
  "03",
  "04",
  "05",
  "06",
  "07",
  "08",
  "09",
  "10",
  "11",
  "12",
  "13",
  "14",
  "15",
  "16",
  "17",
  "18",
  "19",
  "20",
  "21",
  "22",
  "23",
  "24"
];

const minutesOptions = [
  "00",
  "01",
  "02",
  "03",
  "04",
  "05",
  "06",
  "07",
  "08",
  "09",
  "10",
  "11",
  "12",
  "13",
  "14",
  "15",
  "16",
  "17",
  "18",
  "19",
  "20",
  "21",
  "22",
  "23",
  "24",
  "25",
  "26",
  "27",
  "28",
  "29",
  "30",
  "31",
  "32",
  "33",
  "34",
  "35",
  "36",
  "37",
  "38",
  "39",
  "40",
  "41",
  "42",
  "43",
  "44",
  "45",
  "46",
  "47",
  "48",
  "49",
  "50",
  "51",
  "52",
  "53",
  "54",
  "55",
  "56",
  "57",
  "58",
  "59"
];

export default {
  data() {
    return {
      formData: {
        start: {
          hour: "09",
          minute: "00"
        },
        end: {
          hour: "12",
          minute: "00"
        },
        pause: 30,
        pauses: []
      },
      pauseError: false,
      hours: hoursOptions,
      minutes: minutesOptions
    };
  },
  computed: {
    startTime() {
      let time =
        this.formData.start["hour"] + ":" + this.formData.start["minute"];
      return moment.utc(time, "HH:mm");
    },
    endTime() {
      let time = this.formData.end["hour"] + ":" + this.formData.end["minute"];
      let end = moment.utc(time, "HH:mm");
      if (end.isBefore(this.startTime)) end.add(1, "day");

      return end;
    },
    totalPause() {
      if (this.formData.pauses.length > 0) {
        return this.formData.pauses.reduce((sum, a) => sum + a);
      }
      return 0;
    },
    totalWorkedTime() {
      let duration = moment.duration(this.endTime.diff(this.startTime));
      duration.subtract(this.totalPause, "minutes");

      return moment.utc(+duration).format("HH:mm");
    }
  },

  methods: {
    addPause() {
      if (this.formData.pause > 0) {
        this.pauseError = false;
        this.formData.pauses.push(this.formData.pause);
        this.formData.pause = 0;
      } else {
        this.pauseError = true;
      }
      return false;
    },
    removePause(index) {
      this.formData.pauses.splice(index, 1);
    }
  }
};
</script>
