<template>
  <div class="p-3 p-md-5 l-section--background-light">
    <div class="mb-3">
      <c-form-control-input
        label="Gewünschtes <strong>monatliches Bruttogehalt</strong> (in €)"
        type="number"
        v-model.number="formData.desiredMonthlyGrossSalary"
        tooltip="Das Durchschnittliche Bruttogehalt eines vollbeschäftigten Arbeitnehmers in Deutschland beträgt rund 4.500 €."
      />
    </div>
    <!-- /.mb-3 -->
    <div class="mb-3">
      <c-form-control-input
        label="<strong>Sozialversicherung</strong> pro Monat"
        type="number"
        v-model.number="socialSecurityPerMonth"
        :disabled="true"
        tooltip="Der Arbeitgeberanteil an der Sozialversicherung, den du als Selbständiger selbst übernehmen musst, liegt bei rund 19 %."
      />
    </div>
    <!-- /.mb-3 -->
    <div class="mb-3">
      <c-form-control-input
        label="<strong>Arbeitstage</strong> pro Jahr"
        type="number"
        v-model.number="formData.workingDaysPerYear"
        tooltip="365 Kalendertage abzüglich Wochenenden und Feiertage ergibt rund 250 mögliche Arbeitstage."
      />
    </div>
    <!-- /.mb-3 -->
    <div class="mb-3">
      <c-form-control-input
        label="<strong>Urlaubs- und Krankheitstage</strong> pro Jahr"
        type="number"
        v-model.number="formData.vacationAndSickDaysPerYear"
        tooltip="Bei Angestellten liegt der Mindesturlaub bei 24 Werktagen. Vielerorts üblich sind 28 - 32 Urlaubstage pro Jahr."
      />
    </div>
    <!-- /.mb-3 -->
    <div class="mb-3">
      <c-form-control-input
        label="gewünschte <strong>Arbeitsstunden</strong> pro Tag"
        type="number"
        v-model.number="formData.desiredWorkingHoursPerDay"
        tooltip="Bei Angestellten liegt der Mindesturlaub bei 24 Werktagen. Vielerorts üblich sind 28 - 32 Urlaubstage pro Jahr."
      />
    </div>
    <!-- /.mb-3 -->
    <div class="mb-3">
      <c-form-control-input
        label="Administrativer <strong>Arbeitsausfall</strong> in Prozent"
        type="number"
        v-model.number="formData.administrativeWorkLossPercentage"
        tooltip="Der Arbeitsausfall durch administrative Aufgaben (z.B. auch die Buchhaltung) liegt Selbständigen bei rund 30 - 40 %."
      />
    </div>
    <!-- /.mb-3 -->
    <div class="mb-3">
      <c-form-control-input
        label="<strong>Monatliche Geschäftskosten</strong>"
        type="number"
        v-model.number="formData.monthlyBusinessCosts"
        tooltip="Die monatlichen Geschäftskosten (z.B. für Büroräume) können unter Selbständigen stark variieren. Voreingestellt wird mit rund 1.500 € kalkuliert."
      />
    </div>
    <!-- /.mb-3 -->
    <div class="mb-3">
      <c-form-control-input
        label="<strong>Gewinn-Rücklagen</strong> in Prozent"
        type="number"
        v-model.number="formData.profitReservesPercentage"
        tooltip="Um Rücklagen zu bilden, muss ein jährlicher Gewinn in die Berechnung einkalkuliert werden. Voreingestellt wird mit 15 % Gewinn kalkuliert."
      />
    </div>
    <!-- /.mb-3 -->
    <div class="d-flex u-text-bold pt-3 h4">
      <span>Studensatz:
        <i
          class="c-form-group__icon-info u-icon-info"
          v-tippy="{placement: 'top', arrow: 'down', content:'Der kalkulierte Studensatz ist exklusive MwSt. Angaben ohne Gewähr. Die dargestellte Stundensatz stellt lediglich einen Schätzwert dar.'}"
        ></i>
      </span>
      <span class="ml-auto">
        <span class="text-success">{{ hourlyWage | currency }}</span> netto/Std.
      </span>
    </div>
  </div>
</template>

<script>
import { required } from "vuelidate/lib/validators";

import Input from "./shared/input-simple.vue";
import Select from "./shared/select-simple.vue";

export default {
  components: {
    "c-form-control-input": Input,
    "c-form-control-select": Select
  },

  data() {
    return {
      formData: {
        desiredMonthlyGrossSalary: 4500,
        workingDaysPerYear: 250,
        vacationAndSickDaysPerYear: 28,
        desiredWorkingHoursPerDay: 8,
        administrativeWorkLossPercentage: 33,
        monthlyBusinessCosts: 1500,
        profitReservesPercentage: 15
      }
    };
  },
  computed: {
    socialSecurityPerMonth() {
      return this.formData.desiredMonthlyGrossSalary * 19/100;
    },
    hourlyWage() {
      const sum1 = (this.formData.desiredMonthlyGrossSalary + this.socialSecurityPerMonth + this.formData.monthlyBusinessCosts);
      const difference1 = (this.formData.workingDaysPerYear - this.formData.vacationAndSickDaysPerYear);
      const loss = this.formData.administrativeWorkLossPercentage / 100;
      const profitReserve = this.formData.profitReservesPercentage / 100;
      return sum1/(difference1*(1-loss)/12)/this.formData.desiredWorkingHoursPerDay/(1-profitReserve);
    }
  },
  methods: {},
  filters: {
    currency: function(value) {
      if (!value) return "";
      const decimals = Number(value).toFixed(2);
      return Number(decimals).toLocaleString("de-DE") + " €";
    }
  }
};
</script>
