<template>
  <div class="p-3 p-md-5 l-section--background-light">
    <div class="mb-3">
      <c-form-control-input
        label="<strong>Netto-Betrag</strong>"
        v-model.number="formData.netAmmount"
        type="number"
      />
    </div>
    <div class="mb-3">
      <c-form-control-select
        label="<strong>Land</strong>"
        v-model="formData.country"
        :options="countryOptions"
      />
    </div>
    <div class="mb-3">
      <c-form-control-select
        label="<strong>Mehrwertsteuersatz</strong>"
        v-model="formData.vatRate"
        :options="vatOptions"
      />
    </div>
    <div class="d-flex pt-3 u-text-gray">
      <span>Mehrwertsteuer</span>
      <span class="ml-auto">{{ valueAddedTax | currency }}</span>
    </div>
    <hr>
    <div class="d-flex">
      <span class="h5">Brutto-Betrag</span>
      <span class="h5 ml-auto">{{ grossAmount | currency }}</span>
    </div>
  </div>
</template>

<script>
import { required } from "vuelidate/lib/validators";

import Input from "./shared/input-simple.vue";
import Select from "./shared/select-simple.vue";

export default {
  components: {
    "c-form-control-input": Input,
    "c-form-control-select": Select
  },

  data() {
    return {
      formData: {
        netAmmount: 10000,
        vatRate: 19,
        country: "Deutschland"
      }
    };
  },

  props: {
    tabel: {
      type: Array,
      required: true
    }
  },

  computed: {
    vatOptions() {
      const returnValues = [];
      const foundItem = this.findCountry(this.formData.country);

      if (foundItem) {
        if (foundItem["default_rate"]) {
          returnValues.push({
            label: foundItem["default_rate"] + '%',
            value: foundItem["default_rate"]
          });
        }

        if (foundItem["rate_1"]) {
          returnValues.push({
            label: foundItem["rate_1"] + '%',
            value: foundItem["rate_1"]
          });
        }
        if (foundItem["rate_2"]) {
          returnValues.push({
            label: foundItem["rate_2"] + '%',
            value: foundItem["rate_2"]
          });
        }
        if (foundItem["rate_3"]) {
          returnValues.push({
            label: foundItem["rate_3"] + '%',
            value: foundItem["rate_3"]
          });
        }
      }

      return returnValues;
    },
    countryOptions() {
      return this.tabel.map(item => {
        return {
          label: item["country"],
          value: item["country"]
        };
      });
    },
    valueAddedTax() {
      return this.formData.netAmmount * (this.formData.vatRate / 100);
    },
    grossAmount() {
      return this.formData.netAmmount + this.valueAddedTax;
    }
  },

  watch: {
    "formData.country": {
      handler: function(val) {
        const item = this.findCountry(val);
        this.formData.vatRate = item["default_rate"] || 1;
      },
      deep: false
    }
  },

  filters: {
    currency: function(value) {
      if (!value) return "";
      // return value;
      return Number(value).toFixed(2) + " €";
    }
  },

  methods: {
    findCountry(country) {
      const foundItem = this.tabel.filter(item => item["country"] === country);
      return foundItem[0] || false;
    }
  }
};
</script>
