<template>
  <div class="p-3 p-md-5 l-section--background-light">
    <div class="mb-3">
      <c-form-control-select
        label="Was möchtest du berechnen?"
        v-model="formData.calculator"
        :options="calculateOptions"
      />
    </div>
    <div class="mb-3">
      <c-form-control-input
        v-if="isTopDown"
        label="Dein <strong>Bruttolohn</strong> beträgt:"
        type="number"
        v-model.number="formData.grossSalary"
      />
      <c-form-control-input
        v-else
        label="Dein <strong>Bruttolohn</strong> beträgt:"
        v-model="grossSalaryTotal"
        :disabled="true"
      />
    </div>
    <div class="mb-3">
      <c-form-control-button-group label="Der <strong>Abrechnungszeitraum</strong>:" align="left" v-model="formData.period" :options="{'monat': 'Monat', 'jahr': 'Jahr'}" />
    </div>
    <!-- /.mb-3 -->
    <div class="mb-3">
      <c-form-control-input
        label="<strong>Wöchentliche Arbeitsstunden:</strong>"
        type="number"
        v-model.number="formData.weeklyWorkingHours"
      />
    </div>
    <div class="mb-3">
      <c-form-control-input
        v-if="isBottomUp"
        label="Dein <strong>Stundenlohn</strong> beträgt:"
        type="number"
        v-model.number="formData.hourlyWage"
      />
      <c-form-control-input
        v-else
        label="Dein <strong>Stundenlohn</strong> beträgt:"
        v-model="hourlyWageTotal"
        :disabled="true"
      />
    </div>
  </div>
</template>

<script>
import { required } from "vuelidate/lib/validators";

import Input from "./shared/input-simple.vue";
import Select from "./shared/select-simple.vue";
import ButtonGroup from "./shared/button-group.vue";

const calculateOptions = [
  {
    label: "Bruttolohn",
    value: "Bruttolohn"
  },
  {
    label: "Stundenlohn",
    value: "Stundenlohn"
  }
];

export default {
  components: {
    "c-form-control-input": Input,
    "c-form-control-select": Select,
    'c-form-control-button-group': ButtonGroup
  },

  data() {
    return {
      formData: {
        calculator: "Stundenlohn",
        grossSalary: 43333,
        period: 'monat',
        weeklyWorkingHours: 40,
        hourlyWage: 25
      },
      calculateOptions: calculateOptions
    };
  },
  watch: {
    'formData.calculator': {
      handler(value) {
        if (value === 'Bruttolohn') {
          this.formData.period = 'jahr'
        }
      },
      deep: true
    }
  },
  computed: {
    grossSalaryTotal() {
      let total = 0;
      if (this.formData.period === 'monat') {
        total = (this.formData.weeklyWorkingHours * this.formData.hourlyWage * 13/3);
      } else {
        total = (this.formData.weeklyWorkingHours * this.formData.hourlyWage * 13/3 * 12);
      }
      const decimals = Number(total).toFixed(2);
      return Number(decimals).toLocaleString('de-DE') + " €";
    },
    hourlyWageTotal() {
      let total = 0;
      if (this.formData.period === 'monat') {
        total = (3 * this.formData.grossSalary / 13 / this.formData.weeklyWorkingHours);
      } else {
        total = (this.formData.grossSalary / 4 / 13 / this.formData.weeklyWorkingHours);
      }
      const decimals = Number(total).toFixed(2);
      return Number(decimals).toLocaleString('de-DE') + " €";
    },
    isTopDown() {
      if (this.formData.calculator === 'Stundenlohn') {
        return true;
      }
      return false;
    },
    isBottomUp() {
      if (this.formData.calculator === 'Bruttolohn') {
        return true;
      }
      return false;
    }
  },
  methods: {
  },
  filters: {
    currency: function(value) {
      if (!value) return "";
      // return value;
      const decimals = Number(value).toFixed(2);
      return Number(decimals).toLocaleString('de-DE') + " €";
    }
  }
};
</script>
