<template>
  <div class="p-3 p-md-5 l-section--background-light">
    <div class="mb-3 pb-sm-2">
      <c-form-control-input
        label="<strong>Zu versteuerndes Einkommen / Jahr:</strong>"
        type="number"
        v-model.number="formData.zvE"
      />
    </div>

    <div class="mb-3 pb-sm-2">
      <c-form-control-button-group label="<strong>Persönliche Verhältnisse:</strong>" align="left" v-model="formData.statusType" :options="{'alleinstehend': 'Alleinstehend', 'verheirate': 'Verheiratet'}" />
    </div>
    <!-- /.mb-3 -->

    <div class="mb-3">
      <c-form-control-select
        label="<strong>Berechnungsjahr:</strong>"
        v-model="formData.year"
        :options="yearOptions"
      />
    </div>

    <div class="d-flex u-text-bold pt-3 h3">
      <span>Betrag pro Jahr:</span>
      <span class="ml-auto"><span class="text-success">{{ total | currency }}</span></span>
    </div>

    <a href="#1" class="u-text-note" @click.prevent="showSubtotal = !showSubtotal">Tabelle Allgemeine Besteuerungsmerkmale  <i :class="[ showSubtotal ? 'u-icon-arrow-up' : 'u-icon-arrow-down']"></i></a>
    <div v-if="showSubtotal">
      <hr />
      <div class="d-flex py-1 u-text-note u-text-gray">
        <span>Einkommensteuer:</span>
        <span class="ml-auto">{{ incomeTax | currency }}</span>
      </div>
      <div class="d-flex py-1 u-text-note u-text-gray">
        <span>Solidaritäts​zuschlag:</span>
        <span class="ml-auto">{{ solidarityTax | currency }}</span>
      </div>
      <hr />
      <div class="d-flex py-1 u-text-note h4">
        <span>Summe:</span>
        <span class="ml-auto">{{ total | currency }}</span>
      </div>
    </div>


  </div>
</template>

<script>
import { required } from "vuelidate/lib/validators";
import findKey from 'lodash/findKey';

import Input from "./shared/input-simple.vue";
import Select from "./shared/select-simple.vue";
import ButtonGroup from "./shared/button-group.vue";

const calculateOptions = [
  {
    label: "Bruttolohn",
    value: "Bruttolohn"
  },
  {
    label: "Stundenlohn",
    value: "Stundenlohn"
  }
];

const yearOptions = [
  {
    label: 2018,
    value: '2018'
  },
  {
    label: 2019,
    value: '2019'
  },
  {
    label: 2020,
    value: '2020'
  }
];

const yearsWithTaxes = {
  2018: {
    income: {
      0: 9000,
      1: 9001,
      2: 13996,
      3: 54949,
      4: 260532,
      5: 260533
    },
    calc: {
      0: 997.8,
      1: 220.13,
      2: 948.49,
      3: 8621.75,
      4: 16437.7
    }
  },
  2019: {
    income: {
      0: 9168,
      1: 9169,
      2: 14254,
      3: 55960,
      4: 265326,
      5: 265327
    },
    calc: {
      0: 980.14,
      1: 216.16,
      2: 965.58,
      3: 8780.9,
      4: 16740.68
    }
  },
  2020: {
    income: {
      0: 9408,
      1: 9409,
      2: 14532,
      3: 57051,
      4: 270500,
      5: 270501
    },
    calc: {
      0: 972.87,
      1: 212.02,
      2: 972.79,
      3: 8963.74,
      4: 17087.74
    }
  }
};

export default {
  components: {
    "c-form-control-input": Input,
    "c-form-control-select": Select,
    'c-form-control-button-group': ButtonGroup
  },

  data() {
    return {
      formData: {
        zvE: 26000,
        zvEForCalc: 0,
        statusType: 'alleinstehend',
        yearTaxes: {},
        year: 2019
      },
      yearsWithTaxes: Object.freeze(yearsWithTaxes),
      calculateOptions: calculateOptions,
      yearOptions: yearOptions,
      showSubtotal: false
    };
  },
  watch: {
    'formData.zvE': {
      handler(value) {
        // if married
        if (this.formData.statusType === 'verheirate') {
          this.formData.zvEForCalc = value / 2;
        } else {
          this.formData.zvEForCalc = value;
        }
      },
      deep: true
    },
    'formData.statusType': {
      handler(value) {
        // if married
        if (value === 'verheirate') {
          this.formData.zvEForCalc = this.formData.zvE / 2;
        } else {
          this.formData.zvEForCalc = this.formData.zvE;
        }
      },
      deep: true
    },
    'formData.year': {
      handler(value) {
        this.formData.yearTaxes = this.yearsWithTaxes[value];
      },
      deep: true
    }
  },
  /**
   * Lifecycle Hooks
   */
  created() {
    this.formData.zvEForCalc = this.formData.zvE;
    this.formData.yearTaxes = this.yearsWithTaxes[this.formData.year];
    console.log(this.findIncomeTax());
  },

  computed: {
    incomeTax() {
      const selectedYearTaxes = this.findIncomeTax();
      const single = (this.formData.statusType === 'alleinstehend' ? 1 : 2);

      switch (selectedYearTaxes.maxKey) {
        case "4":
          return this.income_4(selectedYearTaxes);
          break;
        case "3":
          return this.income_3(selectedYearTaxes);
          break;
        case "2":
          return this.income_2(selectedYearTaxes);
          break;

        default:
          // check for poor or rich
          return this.income_5(selectedYearTaxes);
          break;
      }
      return ;
    },
    solidarityTax() {
      if (this.incomeTax > 1944) {
        return this.incomeTax * 0.055;
      }
      return 0;
    },
    total() {
      return this.incomeTax + this.solidarityTax;
    }
  },
  methods: {
    findIncomeTax() {
      const maxKey = findKey(this.formData.yearTaxes.income, row => row > this.formData.zvEForCalc);
      const intMaxKey =  parseInt(maxKey, 10) || 0;
      const minKey = intMaxKey - 1 || 0;

      const maxValue = this.formData.yearTaxes.income[maxKey];
      const minValue = this.formData.yearTaxes.income[minKey];
      return { maxValue, minValue, maxKey, intMaxKey };
    },
    income_2(taxes) {
      console.log('hey 2');
      const y = (this.formData.zvEForCalc -  this.formData.yearTaxes.income[0] ) / 10000;
      const result = Math.floor((this.formData.yearTaxes.calc[0] * y + 1400) * y);
      return this.returnCorrectVal(result);
    },
    income_3(taxes) {
      console.log('hey 3');
      const minus = this.formData.zvEForCalc - taxes.minValue;
      const z = minus / 10000;
      const result = (this.formData.yearTaxes.calc[1] * z + 2397) * z + this.formData.yearTaxes.calc[2] ;

      return this.returnCorrectVal(result);
    },
    income_4() {
      console.log('hey 4');
      const result = (0.42 * this.formData.zvEForCalc) - this.formData.yearTaxes.calc[3];

      return this.returnCorrectVal(result);
    },
    income_5() {
      console.log('hey 5');
      // check if poor
      if (this.formData.zvEForCalc <= this.formData.yearTaxes.income[0]) {
        return 0;
      }
      const result = (0.45 * this.formData.zvEForCalc) - this.formData.yearTaxes.calc[4];
      return this.returnCorrectVal(result);
    },
    returnCorrectVal(val) {
      if (this.formData.statusType === 'verheirate') {
        return val * 2;
      }
      return val;
    },
  },
  filters: {
    currency: function(value) {
      if (value === 0) return  value + " €";
      if (!value) return "";
      // return value;
      const decimals = Number(value).toFixed(2);
      return Number(decimals).toLocaleString('de-DE') + " €";
    }
  }
};
</script>
