<template>
  <div class="p-3 p-md-5 l-section--background-light">
    <div class="mb-3">
      <c-form-control-input
        label="Mein <strong>Fahrzeug-Listenpreis</strong>:"
        type="number"
        v-model.number="formData.vehiclePrice"
      />
    </div>
    <!-- /.mb-3 -->
    <div class="mb-3">
      <c-form-control-input
        label="Entfernung von der <strong>Wohnung zur Arbeitsstätte</strong> beträgt:"
        type="number"
        v-model.number="formData.distanceToWork"
      />
    </div>
    <!-- /.mb-3 -->
    <div class="mb-3">
      <c-form-control-button-group label="Habe ich eine <strong>Eigenbeteiligung am Firmenwagen?</strong>" align="left" v-model="formData.carContribution" :options="{'ja': 'Ja', 'nein': 'Nein'}" />
    </div>
    <!-- /.mb-3 -->
    <div class="mb-3">
      <c-form-control-input
        label="Mein <strong>Eigenanteil pro Monat</strong> beträgt:"
        type="number"
        v-model.number="formData.ownContributionToCar"
        :disabled="!carContributionCheck"
      />
    </div>
    <!-- /.mb-3 -->
    <div class="mb-3">
      <c-form-control-button-group label="Mein <strong>Arbeitgeber</strong> beteiligt sich <strong>steuerlich</strong>? " align="left" v-model="formData.employerTaxPurpose" :options="{'ja': 'Ja', 'nein': 'Nein'}" />
    </div>
    <!-- /.mb-3 -->
    <div class="mb-3">
      <c-form-control-input
        label="<strong>pauschale Steuertage</strong> pro Monat (i.d.R. 15 Tage):"
        type="number"
        v-model.number="formData.rateTaxDays"
      />
    </div>
    <!-- /.mb-3 -->

    <div class="d-flex u-text-bold pt-3 h5">
      <span>Geldwerter Vorteil:</span>
      <span class="ml-auto">
        <span class="text-success">{{ advantage | currency }}</span> pro Monat
      </span>
    </div>

    <div v-if="showSubtotal">
      <div class="d-flex py-1 u-text-note u-text-gray">
        <span>monatliche 1% - Pauschale</span>
        <span class="ml-auto">{{ monthlyFlatRate | currency }}</span>
      </div>
      <div class="d-flex py-1 u-text-note u-text-gray">
        <span>Pauschale à 0,03 % pro Entfernungskilometer</span>
        <span class="ml-auto">{{ distanceRate | currency }}</span>
      </div>
      <br>
    </div>
    <a href="#1" class="u-text-note" @click.prevent="showSubtotal = !showSubtotal">Im Detail <i :class="[ showSubtotal ? 'u-icon-arrow-up' : 'u-icon-arrow-down']"></i></a>

    <div class="d-flex u-text-bold pt-3 h5">
      <span>Zu versteuernder geldwerter Vorteil: :</span>
      <span class="ml-auto">
        <span class="text-success">{{ taxableBenefit | currency }}</span> pro Monat
      </span>
    </div>

    <div v-if="showSubtotal1">
      <div class="d-flex py-1 u-text-note u-text-gray">
        <span>Meine private Kosten-Beteiligung am Firmenwagen</span>
        <span class="ml-auto">{{ myParticipationCostToCar | currency }}</span>
      </div>
      <div class="d-flex py-1 u-text-note u-text-gray">
        <span>Pauschale Steuer pro Monat </span>
        <span class="ml-auto">{{ flatTax | currency }}</span>
      </div>
      <br>
    </div>
    <a href="#1" class="u-text-note" @click.prevent="showSubtotal1 = !showSubtotal1">Im Detail <i :class="[ showSubtotal1 ? 'u-icon-arrow-up' : 'u-icon-arrow-down']"></i></a>


  </div>
</template>

<script>
import { required } from "vuelidate/lib/validators";

import Input from "./shared/input-simple.vue";
import ButtonGroup from "./shared/button-group.vue";


export default {
  components: {
    "c-form-control-input": Input,
    'c-form-control-button-group': ButtonGroup
  },

  data() {
    return {
      showSubtotal: false,
      showSubtotal1: false,
      formData: {
        vehiclePrice: 30000,
        distanceToWork: 40,
        carContribution: 'nein',
        ownContributionToCar: 0,
        employerTaxPurpose: 'ja',
        rateTaxDays: 15
      },
    };
  },
  watch: {},
  computed: {
    carContributionCheck() {
      if (this.formData.carContribution === 'nein') {
        return false;
      }
      return true;
    },
    monthlyFlatRate() {
      return this.formData.vehiclePrice * 1/100;
    },
    distanceRate() {
      return 0.03 /100 * this.formData.distanceToWork * this.formData.vehiclePrice;
    },
    advantage() {
      return this.monthlyFlatRate + this.distanceRate;
    },
    taxableBenefit() {
      return this.advantage - this.myParticipationCostToCar - this.flatTax;
    },
    myParticipationCostToCar() {
      if(this.formData.carContribution === 'ja') {
        return this.formData.ownContributionToCar;
      }
      return 0;
    },
    flatTax() {
      if(this.formData.employerTaxPurpose === 'ja' ) {
        return this.formData.distanceToWork * 0.3 * this.formData.rateTaxDays;
      }
      return 0;
    }
  },
  methods: {
  },
  filters: {
    currency: function(value) {
      if (!value) return "";
      // return value;
      const decimals = Number(value).toFixed(2);
      return Number(decimals).toLocaleString('de-DE') + " €";
    }
  }
};
</script>
