<template>
  <div class="c-vue-modal" role="dialog">
    <button class="c-vue-modal__close" @click="close">x</button>
    <div class="c-vue-modal__content">
      <transition name="bounce" appear>
        <slot></slot>
      </transition>
    </div>
    <div class="c-vue-modal__overlay"></div>
  </div>
</template>

<script>
export default {
  name: 'c-vue-modal',
  props: ['show'],
  methods: {
    close() {
      this.$emit('close');
    },
    escapeKeyListener(evt) {
      if (evt.keyCode === 27 && this.show) {
        this.close();
      }
    }
  },
  mounted() {
    document.body.classList.add('vue-modal-open');
    document.addEventListener('keyup', this.escapeKeyListener);
  },
  destroyed() {
    document.body.classList.remove('vue-modal-open');
    document.removeEventListener('keyup', this.escapeKeyListener);
  }
};
</script>
