<template>
<div class="c-vue-newsletter">
 <div v-if="errorMessage" class="text-center">
   <p class="text-danger" v-html="errorMessage"></p>
 </div>
 <div v-if="successMessage" class="text-center">
   <p class="text-success" v-text="successMessage"></p>
 </div>
 <form v-else class="c-vue-newsletter__form" @submit.prevent="onSubmit">
   <div class="c-vue-newsletter__loader-wp" v-if="loading">
     <div class="c-vue-newsletter__loader"><div class="c-loader"></div></div>
   </div>
   <!-- /.c-vue-newsletter__loader-wp -->
   <div class="c-vue-newsletter__form__input pr-md-2">
     <c-form-control-input :label="placeholder" v-model="form.email" :validation="$v.form.email" type="email" :disabled="loading" />
   </div>
   <!-- /__input -->
   <div class="c-vue-newsletter__form__terms" v-if="termsCheck">
     <label class="c-form-control c-form-control--checkbox">
        <input type="checkbox" v-model="form.terms" class="c-form-control__checkbox">
        <span class="c-form-control__checkbox-label"><slot name="terms"></slot></span>
      </label>
      <span class="text-danger text-note d-block mb-3" v-if="$v.form.terms.$dirty && $v.form.terms.$invalid">Dieses Feld wird benötigt.</span>
   </div>
   <!-- /__terms -->
   <div class="c-vue-newsletter__form__cta">
     <button class="c-btn c-btn--block c-btn--primary" type="submit" v-text="cta" :disabled="loading"></button>
   </div>
   <!-- /__cta-->
 </form>
</div>
</template>

<script>
import jsonp from 'jsonp';
import { required, email } from 'vuelidate/lib/validators';

import Input from './shared/input.vue';
import Select from './shared/select.vue';

// https://gist.github.com/chrsgrffth/fa69fa9874871c8b52afc01d1a881e6d
export default {
  components: {
    'c-form-control-input': Input,
    'c-form-control-select': Select
  },

  props: {
    action: String,
    placeholder: String,
    termsCheck: String,
    cta: String
  },

  data() {
    return {
      loading: false,
      errorMessage: null,
      successMessage: null,
      form: {
        email: '',
        terms: false
      }
    };
  },

  methods: {
    onSubmit() {
      if (this.loading) {
        return false;
      }
      // triggers $dirty on each validation
      this.$v.$touch();

      if (this.$v.form.$invalid) {
      } else {
        this.loading = true;
        this.subscribe();
      }
    },
    subscribe() {
      const URL = this.action.replace('/post?', '/post-json?')
      if (!URL) {
        console.log('nu action url provided');
        return;
      }
      jsonp(
        `${URL}&EMAIL=${this.form.email}&${this.termsCheck}=${
          this.form.terms
        }`,
        {
          param: 'c'
        },
        (err, data) => {
          this.loading = false;
          if (err) {
            console.log('error ', err);
            return false;
          }
          if (data.result === 'success') {
            this.errorMessage = null;
            this.successMessage = data.msg;
            return true;
          }
          if (data.result === 'error') {
            this.successMessage = null;
            this.errorMessage = data.msg;
            return true;
          }
        }
      );
    }
  },

  validations: {
    form: {
      email: { required, email },
      terms: { required }
    }
  }
};
</script>

