<template>
  <div>
    <ul class="c-newsfeed-list" :class="{'has-border-top': count}">
      <li v-for="(item, index) in filteredNews" :key="index" class="c-newsfeed-list__item is-gray py-5">
        <div class="row lg-gutters align-items-center">
          <div class="col-md-6" :class="{'order-md-2': index % 2 === 0}">
            <h4 class="h3 mb-1" v-text="item.title"></h4>
            <span class="u-text-note text-success" v-if="item.tagline">{{ item.tagline }}</span>
            <span class="d-block mb-3 u-text-note u-text-gray u-text-bold" v-if="item.release">{{ item.release }}</span>

            <p v-if="item.content" v-html="item.content"></p>
          </div>
          <!-- /.col -->
          <div v-if="item.imageURL" class="col-md-6">
            <img
              class="u-img-fluid"
              :src="item.imageURL"
              alt
            >
          </div>
          <!-- /.col-md-6 -->
        </div>
      </li>
    </ul>
    <div class="u-text-center pb-5">
      <button class="c-newsfeed-list-btn-more c-btn--primary" v-if="loadItems " @click.prevent="loadMore"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z"/></svg></button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    skip: {
      type: Number,
      default: 0
    },
    news: {
      type: Array,
      required: true,
      default: []
    }
  },
  data() {
    return {
      loadItems: true,
      count: 0,
      skipedArray: []
    };
  },
  computed: {
    filteredNews() {
      return this.skipedArray.slice(0, this.count);
    }
  },
  methods: {
    loadMore() {
      if (this.skipedArray.length > this.count) {
        this.count += 3;
      } else {
        this.loadItems = false;
      }
    }
  },
  created() {
    this.skipedArray = this.news.slice(this.skip);
  }
};
</script>

