<template>
<div class="c-vue-newsletter">
 <div v-if="errorMessage" class="text-center">
   <p class="text-danger" v-html="errorMessage"></p>
 </div>
 <div v-if="successMessage" class="text-center">
   <p class="text-success" v-html="successMessage"></p>
    <slot name="success-content"></slot>
 </div>
 <form v-else class="c-vue-newsletter__form" @submit.prevent="onSubmit">
   <div class="c-vue-newsletter__loader-wp" v-if="loading">
     <div class="c-vue-newsletter__loader"><div class="c-loader"></div></div>
   </div>
   <!-- /.c-vue-newsletter__loader-wp -->
   <div class="c-vue-newsletter__form__input pr-md-2">
     <c-form-control-input :label="placeholder" v-model="form.email" :validation="$v.form.email" type="email" :disabled="loading" />
   </div>
   <!-- /__input -->
   <div class="c-vue-newsletter__form__terms">
     <label class="c-form-control c-form-control--checkbox">
        <input type="checkbox" v-model="form.terms" class="c-form-control__checkbox">
        <span class="c-form-control__checkbox-label"><slot name="terms"></slot></span>
      </label>
      <span class="text-danger text-note d-block mb-3" v-if="$v.form.terms.$dirty && $v.form.terms.$invalid">Dieses Feld wird benötigt.</span>
   </div>
   <!-- /__terms -->
   <div class="c-vue-newsletter__form__cta">
     <button class="c-btn c-btn--block c-btn--primary" type="submit" v-text="cta" :disabled="loading"></button>
   </div>
   <!-- /__cta-->
 </form>
</div>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators';

import Input from './shared/input.vue';
import Select from './shared/select.vue';

// https://gist.github.com/chrsgrffth/fa69fa9874871c8b52afc01d1a881e6d
export default {
  components: {
    'c-form-control-input': Input,
    'c-form-control-select': Select
  },

  props: {
    action: String,
    placeholder: String,
    termsCheck: String,
    cta: String
  },

  data() {
    return {
      loading: false,
      errorMessage: null,
      successMessage: null,
      form: {
        email: '',
        terms: false
      }
    };
  },

  methods: {
    getCookie(cname) {
      var name = cname + '=';
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return '';
    },

    onSubmit() {
      if (this.loading) {
        return false;
      }
      // triggers $dirty on each validation
      this.$v.$touch();

      if (this.$v.form.$invalid) {
      } else {
        this.loading = true;
        this.subscribe();
      }
    },

    subscribe() {
      const xhr = new XMLHttpRequest();
      const URL = this.action;
      const hubspotCookie = this.getCookie('hubspotutk');

      if (!URL) {
        console.log('no action url provided');
        this.loading = false;
        return;
      }

      if(!hubspotCookie) {
        console.log('no Hubspot cookie');
        this.loading = false;
        return false;
      }


      // Prepare data
      const data = {
        submittedAt: Date.now(),
        fields: [
          {
            name: 'email',
            value: this.form.email
          }
        ],
        context: {
          hutk: hubspotCookie, // include this parameter and set it to the hubspotutk cookie value to enable cookie tracking on your submission
          pageUri: window.location.href,
          pageName: document.title
        },
        legalConsentOptions: {
          // Include this object when GDPR options are enabled
          consent: {
            consentToProcess: true,
            text:
            'Ich bin damit einverstanden, dass meine persönlichen Daten gespeichert und für den Erhalt des Newsletters verwendet werden',
            communications: [
              {
                value: true,
                subscriptionTypeId: 999,
                text: 'I agree to receive marketing communications from sevDesk.'
              }
            ]
          }
        }
      };
      // end data

      const final_data = JSON.stringify(data);

      xhr.open('POST', URL);
      // Sets the value of the 'Content-Type' HTTP request headers to 'application/json'
      xhr.setRequestHeader('Content-Type', 'application/json');

      xhr.onreadystatechange = () => {
        if (xhr.readyState == 4 && xhr.status == 200) {
          //alert(xhr.responseText); // Returns a 200 response if the submission is successful.
          this.cleanMessages(xhr.responseText, false);
          return true;

        } else if (xhr.readyState == 4 && xhr.status == 400) {
          //alert(xhr.responseText); // Returns a 400 error the submission is rejected.
          this.cleanMessages(xhr.responseText, true);
          return true;

        } else if (xhr.readyState == 4 && xhr.status == 403) {
          //alert(xhr.responseText); // Returns a 403 error if the portal isn't allowed to post submissions.
          this.cleanMessages(xhr.responseText, true);
          return true;

        } else if (xhr.readyState == 4 && xhr.status == 404) {
          //alert(xhr.responseText); //Returns a 404 error if the formGuid isn't found
          this.cleanMessages(xhr.responseText, true);
          return true;
        }
      };
      // Sends the request

      xhr.send(final_data);

    },

    cleanMessages(msg, error) {
      let parseMsg = JSON.parse(msg);

      if (error) {
        this.successMessage = null;
        this.errorMessage = parseMsg.message  || msg;
      } else {
        this.errorMessage = null;
        this.successMessage = parseMsg.inlineMessage || msg;
      }
      this.loading = false;
    }
  },

  validations: {
    form: {
      email: { required, email },
      terms: { required }
    }
  }
};
</script>

