<template>
  <div class="c-autocomplete">
    <form role="search" @submit.prevent="onSubmit">
      <div class="c-search-field">
        <input
          v-model="query"
          type="text"
          @keyup="search"
          @keyup.esc="isOpen = false"
          @focus="isOpen = true"
          :placeholder="placeholder">
          <div v-show="isLoading" class="c-search-field__loading"><div class="c-loader"></div></div>
      </div>
      <div class="c-autocomplete__list" v-show="isOpen && items && query">
        <ul>
          <li v-for="item in items">
            <slot name="item" :title="item.post_title" :link="item.permalink"></slot>
          </li>
        </ul>
      </div>
      <!-- /.c-autocomplete__list -->
    </form>
  </div>
</template>

<script>
import debounce from 'lodash/debounce';

export default {
  name: 'c-autocomplete',
  props: {
    type: {
      type: String,
      required: true
    },
    placeholder: {
      type: String,
      required: true
    },
    language: String
  },

  data: () => {
    return {
      items: [],
      isOpen: false,
      isLoading: false,
      query: ''
    };
  },

  methods: {
    onSubmit() {
      window.location = '/?s=' + this.query;
    },
    search: debounce(function() {
      if (this.query.length < 2) {
        return;
      }
      this.isLoading = true;

      this.searchIndex.search(
        {
          query: this.query,
          hitsPerPage: 8,
          filters: 'wpml.language_code:' + this.language
        },
        (error, results) => {
          this.isLoading = false;

          if (error) {
            this.isOpen = false;
            return;
          }
          this.isOpen = true;
          this.items = results.hits;
          if (this.items.length === 0) {
            this.isOpen = false;
          }
        }
      );
    }, 300)
  },

  created() {
    const client = algoliasearch(
      '97TWN2ULUD',
      '6d424cb759aa4553a4f767e5e096b1b3'
    );
    this.searchIndex = client.initIndex(this.type);
  }
};
</script>
