<template>
  <div class="c-autocomplete">
    <form role="search" @submit.prevent="onSubmit">
      <div class="c-search-field c-search-field--sm-branch">
        <input
          v-model="query"
          type="text"
          @keyup="search"
          @keyup.esc="isOpen = false"
          @focus="isOpen = true"
          :placeholder="placeholder">
          <span class="c-search-field__clear" v-if="showClearIcon" @click="clearAddress"></span>
          <div v-show="isLoading" class="c-search-field__loading"><div class="c-loader"></div></div>
      </div>
      <div class="c-autocomplete__list" v-show="isOpen && items && query">
        <ul>
          <li v-for="item in items" :key="item.objectID">
            <slot name="item" :title="item.Bezeichnung" :link="item.Url | removeDomain"></slot>
          </li>
        </ul>
      </div>
      <!-- /.c-autocomplete__list -->
    </form>
  </div>
</template>

<script>
import debounce from 'lodash/debounce';

export default {
  name: 'c-autocomplete',
  props: {
    type: {
      type: String,
      required: true
    },
    placeholder: {
      type: String,
      required: true
    },
    language: String
  },

  data: () => {
    return {
      items: [],
      isOpen: false,
      isLoading: false,
      query: ''
    };
  },

  computed: {
    showClearIcon() {
      return this.query.length > 0;
    }
  },

  methods: {
    onSubmit() {
      // this is only for wp
      // window.location = '/?s=' + this.query;
    },
    clearAddress() {
      this.query = '';
    },
    search: debounce(function() {
      if (this.query.length < 2) {
        return;
      }
      this.isLoading = true;

      this.searchIndex.search(
        {
          query: this.query,
          hitsPerPage: 8
        },
        (error, results) => {
          this.isLoading = false;

          if (error) {
            this.isOpen = false;
            return;
          }
          this.isOpen = true;
          this.items = results.hits;
          if (this.items.length === 0) {
            this.isOpen = false;
          }
        }
      );
    }, 300)
  },

  filters: {
    removeDomain: function (url) {
      let newUrl = url.replace('https://sevdesk.de/', '/');
      return newUrl;
    }
  },

  created() {
    const client = algoliasearch(
      '97TWN2ULUD',
      '6d424cb759aa4553a4f767e5e096b1b3'
    );
    this.searchIndex = client.initIndex(this.type);
  }
};
</script>
