<template>
<div class="c-accounting-signup" :class="{'is-loading': loading }">
  <form @submit.prevent="onSubmit">
    <div class="c-alert alert alert-danger mb-2" v-if="errorMessage" v-html="errorMessage" role="alert"></div>
    <div class="row sm-gutters">
      <div class="col-sm-6"><c-form-control-input label="Firmenname" v-model="form.name" :validation="$v.form.name" /></div>
      <div class="col-sm-6"><c-form-control-select label="Geschlecht" v-model="form.gender" :options="gender"/></div>
      <div class="col-6"><c-form-control-input label="Vorname" v-model="form.surename" :validation="$v.form.surename" /></div>
      <div class="col-6"><c-form-control-input label="Nachname" v-model="form.familyname" :validation="$v.form.familyname" /></div>
      <div class="col-6 col-sm-4"><c-form-control-input label="PLZ" v-model="form.zip" :validation="$v.form.zip" /></div>
      <div class="col-6 col-sm-4"><c-form-control-input label="Ort" v-model="form.city" :validation="$v.form.city" /></div>
      <div class="col-6 col-sm-4"><c-form-control-input label="Straße" v-model="form.street" :validation="$v.form.street" /></div>
      <div class="col-6 col-sm-12"><c-form-control-select label="Land" v-model="form.country" :options="countries"/></div>
      <div class="col-6"><c-form-control-input label="Telefonnummer" v-model="form.phone" :validation="$v.form.phone" /></div>
      <div class="col-6"><c-form-control-input label="Webseite" v-model="form.website" /></div>
      <div class="col-12"><c-form-control-input label="Emailadresse" v-model="form.email" :validation="$v.form.email" type="email" /></div>
      <div class="col-sm-6"><c-form-control-input label="Passwort eingeben" v-model="form.password" :validation="$v.form.password" type="password" /></div>
      <div class="col-sm-6"><c-form-control-input label="Passwort wiederholen" v-model="form.repeatPassword" :validation="$v.form.repeatPassword" error-message="Passwörter müssen identisch sein." type="password" /></div>
      <div class="col-12 pt-2 pb-4 mb-md-1">
        <label class="c-form-control c-form-control--checkbox">
          <input type="checkbox" v-model="form.terms" class="c-form-control__checkbox">
          <span class="c-form-control__checkbox-label"><slot name="terms"></slot></span>
        </label>
        <span class="text-danger text-note" v-if="$v.form.terms.$dirty && $v.form.terms.$invalid">Dieses Feld wird benötigt.</span>
      </div>
    </div>
    <!-- .row -->
    <div class="mb-3 text-center">
      <button class="c-btn c-btn--primary c-btn--lg" :class="{'is-loading': loading }" type="submit"><span class="c-btn__text" v-html="cta"></span><span class="c-btn__loader"><i class="c-loader c-loader--white"></i></span></button>
    </div>
    <div class="c-alert alert alert-danger" v-if="errorMessage" v-html="errorMessage" role="alert"></div>
  </form>
  <div class="c-accounting-signup__overlay"></div>
</div>
</template>

<script>
import debounce from 'lodash/debounce';
import axios from 'axios';
import { required, email, minLength, sameAs } from 'vuelidate/lib/validators';
import Cookies from 'js-cookie';

import sevDeskAccounting from '../api/sevDesk-accounting';
import analytics from '../api/analytics';
import Input from './shared/input.vue';
import Select from './shared/select.vue';

export default {
  components: {
    'c-form-control-input': Input,
    'c-form-control-select': Select
  },
  props: {
    cta: String
  },
  data() {
    return {
      loading: false,
      invalidForm: false,
      errorMessage: '',
      referredBy: '',
      referredByPartner: '',
      source: 'Accounting form',
      countries: [
        {
          value: 'DE',
          label: 'Deutschland'
        },
        {
          value: 'CH',
          label: 'Schweiz'
        },
        {
          value: 'AT',
          label: 'Ć–sterreich'
        }
      ],
      gender: [
        {
          value: 'm',
          label: 'Herr'
        },
        {
          value: 'w',
          label: 'Frau'
        }
      ],
      form: {
        name: '',
        gender: 'm',
        surename: '',
        familyname: '',
        zip: '',
        city: '',
        street: '',
        country: 'DE',
        phone: '',
        website: '',
        email: '',
        password: '',
        repeatPassword: '',
        role: 'ACCOUNTANT',
        terms: false
      },
      clientToken: null,
      tokens: {
        cftToken: null,
        apiToken: null,
        ott: null
      }
    };
  },

  /**
   * Lifecycle Hooks
   */
  mounted() {
    this.analyticsIdentify();
  },

  /**
   * Methods
   */
  methods: {
    onSubmit() {
      if (this.loading) {
        return false;
      }
      // triggers $dirty on each validation
      this.$v.$touch();
      this.errorMessage = '';

      if (this.$v.form.$invalid) {
        this.invalidForm = true;
      } else {
        this.invalidForm = false;
        this.loading = true;
        this.createAccount();
      }
    },

    createAccount() {
      let data = {
        name: this.form.name,
        gender: this.form.gender,
        surename: this.form.surename,
        familyname: this.form.familyname,
        zip: this.form.zip,
        city: this.form.city,
        street: this.form.street,
        country: this.form.country,
        phone: this.form.phone,
        website: this.form.website,
        email: this.form.email,
        password: this.form.password,
        role: this.form.role
      };

      if (this.clientToken) {
        data['clientToken'] = this.clientToken;
      }

      sevDeskAccounting
        .createAccount(data)
        .then(response => {
          if (response.data.result === 'done') {
            sevDeskAccounting.toApp2(response.data.redirect_url);
          }
          if (response.data.result === 'error') {
            this.loading = false;
            this.errorMessage = response.data.message;
            console.log(response.data.message);
          }
        })
        .catch(error => {
          this.loading = false;
          this.errorMessage = 'Something went wrong, please try again.';
          // console.log(error);
        });
    },

    analyticsIdentify() {
      window.analytics.ready(() => {
        const data = analytics.getReferral();
        if (data) {
          this.referredBy = data.referredBy;
          this.referredByPartner = data.referredByPartner;
        }
      });
    }
  },

  /**
   * Created
   */
  created() {
    let accountingToken = Cookies.get('client[token]');
    if (accountingToken) {
      this.clientToken = accountingToken;
    }
  },

  /**
   * Validation
   */
  validations: {
    form: {
      name: { required },
      gender: { required },
      surename: { required },
      familyname: { required },
      zip: { required },
      city: { required },
      street: { required },
      country: { required },
      phone: { required },
      email: { required, email },
      password: {
        required,
        minLength: minLength(6)
      },
      repeatPassword: {
        sameAsPassword: sameAs('password')
      },
      terms: { required }
    }
  }
};
</script>
