<template>
  <c-vue-modal :show="showModal" v-if="showModal" @close="closeModal">
    <div class="c-signup-modal">
      <span class="c-signup-modal__title display-3 mb-5" v-html="$t('title')"></span>
      <div class="mb-5">
        <c-signup-form ref="vueform" size="sm" source="Modal"></c-signup-form>
      </div>
      <slot name="content_after"></slot>
      <span class="c-signup-modal__note text-note" v-html="$t('note')"></span>
    </div>
  </c-vue-modal>
</template>

<script>
import $ from 'jquery';
import forEach from 'lodash/forEach';

import Modal from './modal.vue';
import SignUpForm from './signup-form.vue';
import analytics from '../api/analytics.js';

const messages = {
  en: {
    title: 'Start your free 14-day trial',
    note:
      'With the registration, you accept our <a href="/general-terms/">terms & conditions</a> and our <a href="/security-data-protection//">data protection declaration</a>.'
  },
  de: {
    title: 'In wenigen Sekunden kannst du die ersten Rechnungen schreiben',
    note:
      'Mit der Anmeldung akzeptierst du die <a href="/agb/">AGB</a> und die <a href="/datenschutz/">Datenschutzerklärung</a>.'
  },
  at: {
    title: 'In wenigen Sekunden kannst du die ersten Rechnungen schreiben',
    note:
      'Mit der Anmeldung akzeptierst du die <a href="/agb/">AGB</a> und die <a href="/datenschutz/">Datenschutzerklärung</a>.'
  },
  ch: {
    title: 'In wenigen Sekunden kannst du die ersten Rechnungen schreiben',
    note:
      'Mit der Anmeldung akzeptierst du die <a href="/agb/">AGB</a> und die <a href="/datenschutz/">Datenschutzerklärung</a>.'
  },
  fr: {
    title: 'En quelques secondes, tu peux rédiger tes premières factures',
    note:
      "En t'inscrivant, tu acceptes les <a href='/conditions-generales/'>CGV</a> et la <a href='/impressum/'>Déclaration de confidentialité.</a>."
  },
  es: {
    title: 'Escribe tus primeras facturas en pocos segundos',
    note:
      "Al registrarte, aceptas los <a href='/condiciones-generales/'>términos y condiciones de uso</a>, así como la <a href='/politicas-de-privacidad/'>declaración de protección de datos.</a>."
  }
};

export default {
  i18n: { messages },
  components: {
    'c-vue-modal': Modal,
    'c-signup-form': SignUpForm
  },
  data() {
    return {
      showModal: false,
      triggers: null
    };
  },
  methods: {
    show(e) {
      e.preventDefault();
      this.showModal = true;
      this.focusField();

      analytics.trackCustomEvent('viewed register-modal');
    },
    focusField() {
      // wait until the child component is rendered
      this.$nextTick(() => {
        this.$refs.vueform.setFocus();
      });
    },
    closeModal() {
      this.showModal = false;
    }
  },
  mounted() {
    $('body').on('click', '.js-open-signup-modal', this.show);
  },
  destroyed() {
    $('body').off('click', '.js-open-signup-modal', this.show);
  }
};
</script>
