<template>
  <div class="c-signup-form-s" :class="[size ? 'c-signup-form-s--' + size : '', isMobile ? 'is-mobile': '']">
    <form role="sign-up" @submit.prevent="onSubmit" novalidate>
      <span class="c-signup-form-s__control" :class="{ 'is-invalid': emailInvalid, 'is-loading': loading }">
        <input type="email" ref="emailfield" v-model="form.emailValue" size="40" class="c-signup-form-s__email" aria-required="true" aria-invalid="false"
        :placeholder="placeholder2 ? placeholder2 : $t('placeholder')">
        <span v-if="emailInvalid" class="c-signup-form-s__message">
          <span v-html="invalidMsg ? invalidMsg : $t('error')"></span>
        </span>
      </span>
      <button type="submit" class="c-signup-form-s__submit" v-html="cta ? cta : $t('cta')"></button>
      <span v-if="loading" class="c-signup-form-s__loader"></span>
    </form>
  </div>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators';
import enquire from 'enquire.js';

import { getUrlParameter } from '../utils';
import sevDesk from '../api/sevDesk';
import analytics from '../api/analytics';

const messages = {
  en: {
    placeholder: 'Enter your email adress',
    error: 'Please enter a valid email address',
    cta: 'Get Started',
    successRedirectUrl: 'https://sevdesk.de/email-bestaetigen/'
  },
  de: {
    placeholder: 'E-Mail-Adresse eingeben',
    error: 'Bitte gib eine gültige E-Mail-Adresse ein',
    cta: 'Kostenlos testen',
    successRedirectUrl: 'https://sevdesk.de/email-bestaetigen/'
  },
  at: {
    placeholder: 'E-Mail-Adresse eingeben',
    error: 'Bitte gib eine gültige E-Mail-Adresse ein',
    cta: 'Kostenlos testen',
    successRedirectUrl: 'https://sevdesk.at/email-bestaetigen/'
  },
  ch: {
    placeholder: 'E-Mail-Adresse eingeben',
    error: 'Bitte gib eine gültige E-Mail-Adresse ein',
    cta: 'Kostenlos testen',
    successRedirectUrl: 'https://sevdesk.ch/email-bestaetigen/'
  },
  fr: {
    placeholder: 'Entre ici ton adresse e-mail',
    error: "Merci d'indiquer une adresse e-mail valide",
    cta: 'Tester gratuitement',
    successRedirectUrl: 'https://sevdesk.fr/email-optin/'
  },
  es: {
    placeholder: 'Introduce tu correo electrónico',
    error: 'Por favor, introduce una dirección de correo electrónico válida',
    cta: 'Pruébalo gratis',
    successRedirectUrl: 'https://sevdesk.fr/email-optin/'
  }
};

export default {
  i18n: { messages },
  name: 'c-hero-signup',

  data() {
    return {
      form: {
        emailValue: ''
      },
      isMobile: true,
      loading: false,
      invalidForm: false,
      referredBy: '',
      referredByPartner: '',
      loginURL: '',
      kgroup: 'A',
      placeholder2: ''
    };
  },

  props: {
    invalidMsg: {
      type: String
    },
    placeholder: {
      type: String
    },
    cta: {
      type: String
    },
    source: {
      type: String,
      required: true
    },
    size: {
      type: String,
      default: 'lg'
    }
  },

  computed: {
    emailInvalid() {
      return this.$v.form.emailValue.$dirty && this.$v.form.emailValue.$invalid;
    }
  },

  /**
   * Lifecycle
   */
  mounted() {
    // autocomplete EMAIL
    const emailParam = getUrlParameter('email');
    if (emailParam) {
     this.form.emailValue = emailParam;
    }

    // BUG: needs isMobile to be somewhere in the template to update properly so vue knows about it
    // ex: as an argument to a class
    // https://stackoverflow.com/questions/36335392/enquire-js-does-not-match-initially-only-on-resize/36343837#36343837
    enquire.register('screen and (min-width: 768px)', {
      match: () => {
        this.isMobile = false;
      },
      unmatch: () => {
        this.isMobile = true;
      }
    });

    // Check for custom placeholder
    let customPlaceholder = window.localStorage.getItem('mailph');
    if (customPlaceholder) {
      this.placeholder2 = customPlaceholder;
    }

  },

  /**
   * Methods
   */
  methods: {
    onSubmit() {
      if (this.loading) {
        return false;
      }

      this.$v.form.$touch();
      if (this.$v.form.$invalid) {
        this.invalidForm = true;
        return;
      }

      this.checkLocalStorageGroup();

      this.invalidForm = false;
      this.loading = true;
      this.analyticsIdentify();
      this.checkIfAlreadyRegistered(this.form.emailValue);
    },

    checkLocalStorageGroup() {
      // Check for kameleon group
      let kgroup = window.localStorage.getItem('kgroup');

      if (kgroup) {
        this.kgroup = kgroup;
      }
    },

    checkIfAlreadyRegistered(email) {
      sevDesk
        .checkEmail(email)
        .then(response => {
          this.plistaTracking();
          this.linkedInTracking();

          setTimeout(() => {
            if (response.data.result == 1) {
              this.createAccount(email);
            } else {
              sevDesk.toLogin(email);
            }
          }, 200);

        })
        .catch(error => {
          this.loading = false;
        });
    },

    createAccount(email) {
      sevDesk
        .createAccount({
          username: email,
          auth: 1337,
          track_invite: this.referredBy,
          context: window.location.host,
          track_partner: this.referredByPartner,
          pricing_group: this.kgroup
        })
        .then(response => {
          if (response.data.success == 'true') {
            const onSuccessCallback = this.redirectOnSuccess;
            if ('url' in response.data) {
              let urlHack = response.data.url.replace('https://sevdesk.de/', 'https://my.sevdesk.de/');
              this.loginURL = urlHack;
            } else {
              this.loginURL = this.$t('successRedirectUrl');
            }
            // Track with segment and redirect to dashboard
            analytics.trackUserCreatedSimple(
              response.data,
              email,
              this.source,
              onSuccessCallback
            );

            // Track user
            window.VWO = window.VWO || [];
	          window.VWO.push(['track.goalConversion',3]);
          } else {
            this.loading = false;
          }
        })
        .catch(error => {
          this.loading = false;
        });
    },
    setFocus() {
      this.$refs.emailfield.focus();
    },

    redirectOnSuccess() {
      setTimeout(() => {
        window.location = this.loginURL;
        this.loading = false;
      }, 200);
    },

    analyticsIdentify() {
      const data = analytics.getReferral();
      if (data) {
        this.referredBy = data.referredBy;
        this.referredByPartner = data.referredByPartner;
      }
    },

    plistaTracking() {
      let DOM_img = document.createElement("img");
      DOM_img.src = "https://farm-de.plista.com/activity2;domainid:1027886;event:24";
      DOM_img.style.height = '1px';
      DOM_img.style.width = '1px';

      document.body.appendChild(DOM_img);
    },

    linkedInTracking() {
      let DOM_img = document.createElement("img");
      DOM_img.src = "https://px.ads.linkedin.com/collect/?pid=1284785&conversionId=1070748&fmt=gif";
      DOM_img.style.height = '1px';
      DOM_img.style.width = '1px';

      document.body.appendChild(DOM_img);
    }
  },

  /**
   * Validation
   */
  validations: {
    form: {
      emailValue: { required, email }
    }
  }
};
</script>
