<template>
  <div class="container">
    <div class="row lg-gutters align-items-center">
      <div class="col-md-6 col-lg-5">
        <div>
          <slot name="header"></slot>
        </div>
        <div class="c-accounting-event-form">
          <form role="sign-up" @submit.prevent="onSubmit" novalidate>
            <div
              v-if="success"
              class="p-3 mb-3 bg-success u-text-center u-text-white"
              v-text="successMsg"
            ></div>
            <div class="row sm-gutters">
              <div class="col-6">
                <c-form-control-input
                  label="Vorname"
                  v-model="form.firstName"
                  :validation="$v.form.firstName"
                />
              </div>
              <!-- /.col -->
              <div class="col-6">
                <c-form-control-input
                  label="Nachname"
                  v-model="form.lastName"
                  :validation="$v.form.lastName"
                />
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
            <c-form-control-input
              label="E-Mail-Adresse"
              v-model="form.email"
              :validation="$v.form.email"
              type="email"
            />
            <c-form-control-input
              label="Telefon"
              v-model="form.phone"
              :validation="$v.form.phone"
              type="tel"
            />
            <div class="row sm-gutters">
              <div class="col-6">
                <c-form-control-select
                  label="Stadt"
                  v-model="form.city"
                  :options="this.cityOptions"
                />
              </div>
              <div class="col-6" v-if="activeCity">
                <c-form-control-select
                  label="Datum"
                  v-model="form.date"
                  :options="activeCity.dates"
                />
              </div>
            </div>
            <div class="pt-2 pb-1 mb-md-1">
              <label class="c-form-control c-form-control--checkbox">
                <input type="checkbox" v-model="form.terms" class="c-form-control__checkbox">
                <span class="c-form-control__checkbox-label" style="line-height: 1.6">
                  <slot name="terms"></slot>
                </span>
              </label>
              <span
                class="text-danger text-note"
                v-if="$v.form.terms.$dirty && $v.form.terms.$invalid"
              >Dieses Feld wird benötigt.</span>
            </div>
            <button
              class="c-sign-up-default__submit c-btn c-btn--primary c-btn--block"
              v-html="cta"
            ></button>
          </form>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-md-6 col-lg-7">
        <div class="pl-lg-5 pt-5 pt-md-0">
          <c-image-loader v-if="activeCity" :src="activeCity.img" :alt="form.city"/>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
</template>

<script>
import axios from "axios";
import $ from 'jquery';
import { required, email } from "vuelidate/lib/validators";

import Input from "./shared/input.vue";
import Select from "./shared/select.vue";
import ImageLoader from "./shared/image-loader.vue";

export default {
  name: "AccountingEventForm",
  components: {
    "c-form-control-input": Input,
    "c-form-control-select": Select,
    "c-image-loader": ImageLoader
  },

  props: {
    city: {
      required: true,
      type: String
    },
    action: String,
    zappier: String,
    cta: String,
    invalidMsg: String,
    successMsg: String,
    workshops: {
      required: true,
      type: Object
    }
  },

  data() {
    return {
      form: {
        firstName: "",
        lastName: "",
        email: "",
        phone: "",
        city: "",
        date: "",
        address: "",
        terms: false
      },
      cityOptions: [],
      activeCity: {},
      loading: false,
      invalidForm: false,
      success: false
    };
  },

  computed: {
    messageInvalid() {
      return this.$v.form.message.$dirty && this.$v.form.message.$invalid;
    }
  },
  watch: {
    "form.city": {
      handler: function(value) {
        this.setCity(value);
      },
      deep: true
    }
  },

  /**
   * Lifecycle
   */

  created() {
    let cities = Object.keys(this.workshops);
    this.cityOptions = cities.map(item => {
      return { value: item, label: item };
    });

    this.form.city = this.city;
    this.setCity(this.city);
  },

  /**
   * Methods
   */
  methods: {
    onSubmit() {
      if (this.loading) {
        return false;
      }

      this.$v.form.$touch();
      if (this.$v.form.$invalid) {
        this.invalidForm = true;
        return;
      }

      this.invalidForm = false;
      this.loading = true;

      this.formspreeSubmit();
    },

    setCity(city) {
      this.activeCity = this.workshops[city];
      this.form.date = this.workshops[city].dates[0].value;
      this.form.address = this.workshops[city].address || '';
    },

    zappierHook(data) {
      let zap = this.zappier || "";

      axios
        .post(this.zappier, $.param(data))
        .then(response => {
          console.log("success", response);
        })
        .catch(error => {
          console.log("error", error);
        });
    },

    resetForm() {
      this.success = true;
      this.form.firstName = "";
      this.form.lastName = "";
      this.form.email = "";
      this.form.phone = "";
    },

    formspreeSubmit() {
      console.log("sending");
      let formData = {
        "First Name": this.form.firstName,
        "Last Name": this.form.lastName,
        Email: this.form.email,
        Phone: this.form.phone,
        City: this.form.city,
        Date: this.form.date,
        Address: this.form.address
      };
      this.zappierHook(formData);
      axios
        .post(this.action, formData)
        .then(response => {
          console.log("success", response);
        })
        .catch(error => {
          console.log("error", error);
        })
        .then(() => {
          // always executed
          this.loading = false;
          this.success = true;

          setTimeout(() => {
            // this.resetForm();
          }, 3000);
        });
    }
  },

  /**
   * Validation
   */
  validations: {
    form: {
      firstName: { required },
      lastName: { required },
      email: { required, email },
      phone: { required },
      terms: { required }
    }
  }
};
</script>

