<template>
  <div class="c-accounting-event-form">
    <form role="sign-up" @submit.prevent="onSubmit" novalidate>

      <div v-if="success">
        <div class="p-3 mb-3 bg-success u-text-center u-text-white" v-text="successMsg"></div>
        <a class="c-btn c-btn--outline c-btn--fw c-btn--block" :href="redirectURL">Jetzt Kostenlos testen</a>
        <ul class="c-check-list mt-4">
          <li>14 Tage unverbindlich testen</li>
          <li>Testphase endet automatisch</li>
          <li>Keine Kreditkarte erforderlich</li>
        </ul>
      </div>
      <div v-else>
        <c-form-control-input label="Name" v-model="form.name" :validation="$v.form.name" />
        <c-form-control-select label="Aktuelle Buchhaltungssoftware" v-model="form.software" :options="softwareOptions"/>
        <c-form-control-input label="E-Mail" v-model="form.email" :validation="$v.form.email" type="email" />
        <div class="pt-2 pb-2 mb-md-1">
          <label class="c-form-control c-form-control--checkbox">
            <input type="checkbox" v-model="form.terms" class="c-form-control__checkbox">
            <span class="c-form-control__checkbox-label" style="line-height: 1.6"><slot name="terms"></slot></span>
          </label>
          <span class="text-danger text-note" v-if="$v.form.terms.$dirty && $v.form.terms.$invalid">Dieses Feld wird benötigt.</span>
        </div>
        <button class="c-sign-up-default__submit c-btn c-btn--primary c-btn--block" :class="{'is-loading': loading }" type="submit" v-html="cta">
          <span class="c-btn__text" v-html="cta"></span>
          <span class="c-btn__loader"><i class="c-loader c-loader--white"></i></span>
        </button>
      </div>

    </form>
  </div>
</template>

<script>
import axios from 'axios';
import { required, email, minLength } from 'vuelidate/lib/validators';

import Input from './shared/input.vue';
import Select from './shared/select.vue';

const softwareOptions = [
  {
    value: 'Bitte auswählen',
    label: 'Bitte auswählen'
  },
  {
    value: 'Lexoffice',
    label: 'Lexoffice'
  },
  {
    value: 'Debitoor',
    label: 'Debitoor'
  },
  {
    value: 'Lexware',
    label: 'Lexware'
  },
  {
    value: 'Wiso Buhl',
    label: 'Wiso Buhl'
  },
  {
    value: 'Fastbill',
    label: 'Fastbill'
  },
  {
    value: 'Easybill',
    label: 'Easybill'
  },
  {
    value: 'billomat',
    label: 'billomat'
  },
  {
    value: 'Sage',
    label: 'Sage'
  },
  {
    value: 'BuchhaltungsButler',
    label: 'BuchhaltungsButler'
  },
  {
    value: 'papierkram',
    label: 'papierkram'
  },
  {
    value: 'Grandtotal',
    label: 'Grandtotal'
  },
  {
    value: 'Sonstiges',
    label: 'Sonstiges'
  }
];

export default {
  name: 'AccountingEventForm',
  components: {
    'c-form-control-input': Input,
    'c-form-control-select': Select
  },
  data() {
    return {
      form: {
        name: '',
        software: 'Bitte auswählen',
        // phone: '',
        email: '',
        terms: false
      },
      loading: false,
      invalidForm: false,
      success: false,
      softwareOptions: softwareOptions,
      redirectURL: 'https://sevdesk.de/register'
    };
  },

  props: {
    action: String,
    cta: String,
    invalidMsg: String,
    successMsg: String
  },

  /**
   * Methods
   */
  methods: {
    onSubmit() {
      if (this.loading) {
        return false;
      }

      this.$v.form.$touch();
      if (this.$v.form.$invalid) {
        this.invalidForm = true;
        return;
      }

      this.invalidForm = false;
      this.loading = true;

      this.formspreeSubmit();
    },

    formspreeSubmit() {
      axios
        .post(this.action, {
          'Name': this.form.name,
          'Current software': this.form.software,
          'Email': this.form.email
          // 'Phone': this.form.phone
        })
        .then(response => {
          console.log('success', response);
        })
        .catch(error => {
          console.log('error', error);
        })
        .then(() => {
          this.redirectURL = 'https://sevdesk.de/register?email=' + this.form.email;
          // always executed
          this.loading = false;
          this.success = true;
        });
    }
  },

  /**
   * Validation
   */
  validations: {
    form: {
      name: { required },
      // phone: { required, minLength: minLength(5) },
      email: { required, email },
      terms: { required }
    }
  }
};
</script>

