<template>
  <div class="p-3 p-md-5 l-section--background-light">
    <div class="mb-3">
      <c-form-control-select
        label="Meine <strong>Rechtsform</strong> lautet:"
        placeholder="Meine Rechtsform lautet"
        v-model="formData.legalForm"
        :options="legalFormOptions"
      />
    </div>
    <div class="mb-3">
      <c-form-control-input
        label="Ich bin <strong>bilanzierungspflichtig</strong>:"
        v-model="accountingObligation"
        :disabled="true"
        addon="is-info"
        tooltip="Freiberufler sind generell nicht bilanzierungspflichtig. Einzelunternehmer und GbRs sind nicht bilanzierungspflichtig, sofern der Jahresumsatz (bzw. Jahresgewinn) unter 600.000 € (bzw. 60.000 €) liegt."
      />
    </div>
    <div class="mb-3">
      <c-form-control-input
        label="Mein <strong>Jahresumsatz</strong> beträgt:"
        v-model="formData.annualSales"
        :validation="$v.formData.annualSales"
        type="number"
      />
    </div>
    <div class="mb-3">
      <c-form-control-select
        label="Ich nehme die <strong>Kleinunternehmerregelung</strong> in Anspruch:"
        v-model="formData.smallEntrepreneurScheme"
        :options="[{ value: 'NEIN', label: 'NEIN' }, { value: 'JA', label: 'JA' }]"
        tooltip="Als Existenzgründer kannst du von der Kleinunternehmerregelung Gebrauch machen, wenn dein Jahresumsatz im vorangegangenen Jahr unter 17.500 € lag und in diesem Jahr die 50.000 € nicht überschreiten wird."
      />
    </div>
    <div class="mb-4">
      <c-form-control-select
        label="Ich mache meine <strong>USt-Voranmeldung</strong> selbst:"
        v-model="formData.vatAdvanceNotive"
        :options="[{ value: 'NEIN', label: 'NEIN' }, { value: 'JA', label: 'JA' }]"
      />
    </div>

    <c-calculator-total
      :sev-desk="sevDeskCosts"
      :savings-annual-accounts="savingsAccountingObligation"
      :savings-accounting="savingsAccounting"
      :savings-ust="savingsUst"
    />
  </div>
</template>
<script>
import { required } from "vuelidate/lib/validators";
import sortBy from "lodash/sortBy";

import Input from "../shared/input-simple.vue";
import Select from "../shared/select-simple.vue";
import Total from "./total.vue";

const legalFormOptions = [
  {
    value: "Freiberufler",
    label: "Freiberufler"
  },
  {
    value: "Einzelunternehmer",
    label: "Einzelunternehmer"
  },
  {
    value: "GbR",
    label: "GbR"
  },
  {
    value: "Gmbh",
    label: "Gmbh"
  },
  {
    value: "UG",
    label: "UG"
  },
  {
    value: "Ltd",
    label: "Ltd"
  },
  {
    value: "OHG",
    label: "OHG"
  },
  {
    value: "KG",
    label: "KG"
  }
];

export default {
  components: {
    "c-form-control-input": Input,
    "c-form-control-select": Select,
    "c-calculator-total": Total
  },
  data() {
    return {
      formData: {
        legalForm: "Freiberufler",
        annualSales: 60000,
        smallEntrepreneurScheme: "NEIN",
        vatAdvanceNotive: "NEIN"
      },
      showTooltip2: false,
      legalFormOptions: legalFormOptions
    };
  },
  props: {
    tabelA: Array,
    tabelB: Array,
    tabelC: Array
  },

  /**
   * Computed
   */
  computed: {
    accountingObligation() {
      const found = ["UG", "Gmbh", "Ltd", "OHG", "KG"].filter(item => {
        // console.log(this.formData.legalForm === item, this.formData.legalForm, item);
        return this.formData.legalForm === item;
      });
      if (found.length > 0) {
        return "JA";
      }
      if (
        this.formData.legalForm === "Einzelunternehmer" &&
        this.formData.annualSales > 600000
      ) {
        return "JA";
      }
      if (
        this.formData.legalForm === "GbR" &&
        this.formData.annualSales > 600000
      ) {
        return "JA";
      }
      return "NEIN";
    },
    sevDeskCosts() {
      return 15.9 * 12;
    },
    savingsAccountingObligation() {
      let index = 0;
      let sevDeskLimit = 3001;
      let floor = Math.floor(this.formData.annualSales);
      let sorted = sortBy(this.tabelB, "itemValue");

      if (floor >= sevDeskLimit) {
        for (let i = 1, len = sorted.length; i < len; i++) {
          let v = sorted[i]["itemValue"];
          index = v < floor ? i : index;
        }
      }

      return this.formData.accountingObligation === "NEIN"
        ? sorted[index]["savings1"]
        : sorted[index]["savings"];
    },
    savingsAccounting() {
      let index = 0;
      let floor = Math.floor(this.formData.annualSales / 12);
      let sorted = sortBy(this.tabelC, "itemValue");

      for (let i = 1, len = sorted.length; i < len; i++) {
        let v = sorted[i]["itemValue"];
        index = v < floor ? i : index;
      }
      return sorted[index]["savingsYear"];
    },
    savingsUst() {
      if (
        this.formData.smallEntrepreneurScheme === "JA" ||
        this.formData.vatAdvanceNotive === "JA"
      ) {
        return 0;
      }
      let index = 0;
      let floor = Math.floor(this.formData.annualSales / 12);
      let sorted = sortBy(this.tabelA, "itemValue");

      for (let i = 1, len = sorted.length; i < len; i++) {
        let v = sorted[i]["itemValue"];
        index = v < floor ? i : index;
      }
      return sorted[index]["savingsYear"];
    }
  },

  /**
   * Validation
   */
  validations() {
    let fields = {
      formData: {
        legalForm: { required },
        annualSales: { required }
      }
    };

    return fields;
  }
};
</script>
