<template>
  <div>
    <div class="d-flex u-text-bold h4">
      <span>Mit sevDesk sparst du:</span>
      <span class="ml-auto"><span class="text-success">{{ totalSavings | currency }}</span> im Jahr</span>
    </div>
    <a
      href="#1"
      class="u-text-note"
      @click.prevent="showSubtotal = !showSubtotal"
    >Ersparnis im Detail <i :class="[ showSubtotal ? 'u-icon-arrow-up' : 'u-icon-arrow-down']"></i></a>

    <div v-if="showSubtotal">
      <hr>
      <div class="d-flex py-1 u-text-note u-text-gray">
        <span>Ersparnis Jahresabschluss</span>
        <span class="ml-auto">{{ savingsAnnualAccounts | currency }}</span>
      </div>
      <div class="d-flex u-text-note u-text-gray">
        <span>Erspranis Buchführung</span>
        <span class="ml-auto">{{ savingsAccounting | currency }}</span>
      </div>
      <div class="d-flex py-1 u-text-note u-text-gray">
        <span>Ersparnis USt-Voranmeldung</span>
        <span class="ml-auto">
          {{ savingsUst | currency }}
          <span v-if="!savingsUst">– €</span>
        </span>
      </div>
      <div class="d-flex u-text-note u-text-gray">
        <span>Kosten sevDesk</span>
        <span class="ml-auto">- {{ sevDesk | currency }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showTooltip: false,
      showSubtotal: false
    };
  },
  props: {
    savingsAnnualAccounts: Number,
    savingsAccounting: Number,
    savingsUst: Number,
    sevDesk: Number
  },
  computed: {
    totalSavings() {
      return (
        this.savingsAnnualAccounts +
        this.savingsAccounting +
        this.savingsUst -
        this.sevDesk
      );
    }
  },
  filters: {
    currency: function(value) {
      if (!value) return "";
      // return value;
      return Number(value).toFixed(2) + " €";
    }
  }
};
</script>
