<section class="fc-content-section fc-content-section--right l-section l-section--padding">
  <div class="container">
    <div class="row lg-gutters align-items-center">
      <div class="col-md-7">
        <div class="fc-content-section__media">
          <img class="img-fluid" src="{{path.images.demo}}/content-section/screens.jpg" alt="some image">
        </div>
        <!-- /.fc-content-section__media -->
      </div>
      <!-- /.col -->
      <div class="col-md-5">
        <div class="fc-content-section__body">
          <h4 class="fc-content-section__headline h1">Buchhaltung einfach selber machen</h4>
          <p class="fc-content-section__lead h3">So wird deine Buchhaltung zum Selbstläufer</p>
          <div class="fc-content-section__content">
            <p>Mit sevDesk kannst du die Buchhaltung einfach selber machen - Ganz ohne Buchhaltungskenntnisse. Fotografiere
              Eingangsrechnungen mit der sevScan App oder leite sie als Email direkt an sevDesk weiter.</p>
          </div>
          <hr>
          <a class="c-link-more" href="#0" title="Mehr zur Buchhaltungssoftware">Mehr zur Buchhaltungssoftware</a>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
