.l-birthday-signup {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @media screen and (min-width: 992px) and (min-height: 800px) {
    height: 100vh;
  }

  &__header {
    flex: 0 1 auto;
    font-size: 0;
    margin: 0;
    padding: 0;

    @include media-breakpoint-up(md) {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 200px;
    }

    &__logo {
      display: inline-block;

      &--advent-sponsors {
        display: inline-block;
        width: 200px;
      }
    }

    &--blackfriday {
      height: 50px;

      @include media-breakpoint-up(md) {
        height: 100px;
      }
    }
  }

  &__body {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }

  &__footer {
    flex: 0 1 auto;
    background-color: #ffffff;
  }

  // -------------------------------------------------------------
  // Variations
  // -------------------------------------------------------------
  &--01 {
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;

    @include media-breakpoint-up(sm) {
      background-color: #f7f8f9;
    }

    @include media-breakpoint-up(lg) {
      background-image: url('#{$images}/sign-up/birthday-5-bg.jpg');
    }
  }

  &--02 {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @include media-breakpoint-up(sm) {
      background-color: #f7f8f9;
    }

    @include media-breakpoint-up(lg) {
      background-image: url('#{$images}/end-of-year-register/background-kampagne.jpg');
    }
  }

  &--03 {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @include media-breakpoint-up(sm) {
      background-color: #f7f8f9;
    }

    @include media-breakpoint-up(lg) {
      background-image: url('#{$images}/winteraktion/winteraktion-landscape.jpg');
    }
  }

  &--04 {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @include media-breakpoint-up(sm) {
      background-color: #f7f8f9;
    }

    @include media-breakpoint-up(lg) {
      background-image: url('#{$images}/rabattaktion/addonaktion-background.jpg');
    }
  }

  &--05-easter {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @include media-breakpoint-up(sm) {
      background-color: #f7f8f9;
    }

    @include media-breakpoint-up(lg) {
      background-image: url('#{$images}/easter/register-page-easter.png');
    }
  }

  &--06-spring-sale {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @include media-breakpoint-up(sm) {
      background-color: #f7f8f9;
    }

    @include media-breakpoint-up(lg) {
      background-image: url('#{$images}/spring-sale/spring-sale-bg.jpg');
    }
  }

  &--summer-sale {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @include media-breakpoint-up(sm) {
      background-color: #f7f8f9;
    }

    @include media-breakpoint-up(lg) {
      background-image: url('#{$images}/summer-sale/peresummer-aktion-bg.jpg');
    }
  }

  &--amazon-aktion {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @include media-breakpoint-up(sm) {
      background-color: #f7f8f9;
    }

    @include media-breakpoint-up(lg) {
      background-image: url('#{$images}/amazon-aktion/amazon-aktion-bg.jpg');
    }
  }

  &--advent-lp {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @include media-breakpoint-up(sm) {
      background-color: #f7f8f9;
    }

    @include media-breakpoint-up(lg) {
      background-image: url('#{$images}/advent-calendar/adventskalender-bg.jpg');
    }
  }

  &--blackfriday {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @include media-breakpoint-up(sm) {
      background-color: #f7f8f9;
    }

    @include media-breakpoint-up(lg) {
      background-image: url('#{$images}/blackfriday/black-friday-bg.jpg');
    }
  }
}

.c-logo--white--blackfriday {
  display: inline-block;
  width: 153px;
  height: 34px;
  text-align: left;
  text-indent: -99999px;
  overflow: hidden;
  background-size: 153px 34px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url('#{$images}/sevdesk-logo.svg');

  @include media-breakpoint-up(md) {
    background-image: url('#{$images}/sevdesk-logo-white.svg');
  }
}
