.l-book-download {
  min-height: 100vh;

  &__container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 0.5rem;
  }

  &__content {

    &--white {
      background-color: white;

      @include custom-box-shadow(1);
    }
  }
  &__content__header {

  }

  &__content__main {

  }

  &__content__footer {

  }

  // Variations
  // ----------------------------------

  &--bg-1 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include media-breakpoint-up(md) {
      background-image: url('#{$images}/book-download/ebook-lp-bg.jpg');
    }

  }
}
