.l-checkout {
  position: relative;
  min-height: 100vh;

  .container {
    position: relative;
    z-index: 1;
  }

  &__main {
  }

  &__aside {
    @include media-breakpoint-down(sm) {
      padding-top: 1.5rem;
      margin-bottom: 1rem;

      &:before {
        z-index: -1;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: -4%;
        margin-right: -4%;
        display: block;
        border-top: 1px solid #ececec;
        background-color: #f2f2f2;
      }
    }
  }

  &:after {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    border-left: 1px solid #ececec;
    background-color: #f2f2f2;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  &__links {
    padding-bottom: 1rem;
    display: block;

    @include media-breakpoint-up(md) {
      padding-top: 1rem;
    }
  }

  &__loader-wp {
    z-index: 1000;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    background-color: rgba(white, 0.8);
  }
  &__loader-wp__bg {
    z-index: 10;
    position: relative;
    background-color: #fff;
    padding: 8px;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(black, 0.08);
  }

  &__options {
    position: relative;

    &:before {
      position: absolute;
      top: 22px;
      left: 0;
      display: block;
      right: 100px;
      z-index: -1;
      content: "";
      height: 0;
      border-bottom: 1px dashed #c4cdd5;
    }
  }
}
