.l-page-footer {
  border-top: 1px solid $c-divider-border;

  @include media-breakpoint-up(sm) {
    padding-top: 0.5rem;
  }

  &__top {
    border-bottom: 1px solid $c-divider-border;
    padding: 2.5rem 0 2.125rem;

    &__support {
      @include media-breakpoint-down(md) {
        order: 3;
      }
    }
    &__social {
      @include media-breakpoint-down(md) {
        order: 2;
        margin-bottom: 1.25rem;
      }
    }
    &__lang {
      @include media-breakpoint-down(md) {
        order: 1;
        margin-bottom: 1.25rem;
      }
    }
  }

  // Main
  &__main {
    padding-top: 1.75rem;

    @include media-breakpoint-up(md) {
      padding: 2.5rem 0;
    }
  }

  &__bottom {
    padding: 2rem 0;

    @include media-breakpoint-up(md) {
      border-top: 1px solid $c-divider-border;
    }
  }
}
