.l-page-header {
  // ----------------------------------------------------------------------------
  // Variations
  // ----------------------------------------------------------------------------

  &--fixed {
    z-index: 1001;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
  }

  &--shadow {
    border-bottom: 1px solid rgba(black, 0.1);
  }

  &--transparent {
    background-color: transparent;
  }

  &--placeholder {
    height: 48px;

    @include media-breakpoint-up(sm) {
      height: 64px;
    }

    @include media-breakpoint-up(lg) {
      height: 72px;
    }
  }
}
