.l-section {
  // ----------------------------------------------------------------------------
  // Variations
  // ----------------------------------------------------------------------------=

  /**
	 * Padding
	 */
  &--padding {
    padding-top: 3rem;
    padding-bottom: 3rem;

    @include media-breakpoint-up(md) {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 6.25rem;
      padding-bottom: 6.25rem;
    }

    &-top {
      padding-top: 3rem;

      @include media-breakpoint-up(md) {
        padding-top: 5rem;
      }

      @include media-breakpoint-up(lg) {
        padding-top: 6.25rem;
      }
    }

    &-bottom {
      padding-bottom: 3rem;

      @include media-breakpoint-up(md) {
        padding-bottom: 5rem;
      }

      @include media-breakpoint-up(lg) {
        padding-bottom: 6.25rem;
      }
    }
  }

  /**
	 * Border
	 */
  &--border {
    &-top {
      border-top: 1px solid $c-divider-border;
    }

    &-bottom {
      border-bottom: 1px solid $c-divider-border;
    }
  }

  &--white-text {
    color: #fff;
  }

  &--background-light {
    box-shadow: inset 0 1px 3px 0 rgba(black, 0.08);
    // background-color: $c-module-background;
    background-color: #f9f9f9;
  }

  &--background-white {
    background-color: #ffffff;
  }

  &--background-dark {
    background-color: #444;
  }

  /**
	 * Image position
	 */
  &--image-left {
  }

  &--image-right {
  }
}
