.l-sign-up {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @media screen and (min-height: 600px) {
    height: 100vh;
  }

  &__header {
    flex: 0 1 auto;
    font-size: 0;

    &__logo {
      display: inline-block;
    }
  }

  &__body {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }

  &__footer {
    flex: 0 1 auto;
    background-color: #ffffff;
  }

  // -------------------------------------------------------------
  // Variations
  // -------------------------------------------------------------

  &--01 {
    background-color: #f0f3f4;

    @include media-breakpoint-up(sm) {
      background-image: url('#{$images}/sign-up/sign-up-bg.jpg');
    }

    .l-sign-up__note {
      opacity: 0.6;

      a {
        color: $c-text-darkgray;

        @include hover-focus {
          color: $c-text;
        }
      }
    }
  }

  &--02 {
    background-color: #2b364a;
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('#{$images}/sign-up/sign-up-bg-2--mobile.jpg');

    @media screen and (min-height: 600px) {
       height: auto;
    }
    @include media-breakpoint-up(md) {
      background-image: url('#{$images}/sign-up/sign-up-bg-2.jpg');
    }

    // Winterrabatt
    .heading {
      font-size: 2rem;
    }

    &--image {
      width: 100%;
      margin-bottom: 25px;
    }

    &--image-pricing {
      max-width: 250px;
      margin-bottom: 25px;
      @include media-breakpoint-up(md) {
        max-width: 450px;
      }
    }

    // Winterrabatt

    .l-sign-up__note {
      opacity: 0.8;

      a {
        color: #ffffff;

        @include hover-focus {
          color: #ffffff;
          text-decoration: underline;
        }
      }
    }
  }

  &--02-fr {
    background-color: #2b364a;
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('#{$images}/sign-up/sign-up-bg-fr-mobile.jpg');

    @include media-breakpoint-up(md) {
      background-image: url('#{$images}/sign-up/sign-up-bg-fr.jpg');
    }

    .l-sign-up__note {
      opacity: 0.8;

      a {
        color: #ffffff;

        @include hover-focus {
          color: #ffffff;
          text-decoration: underline;
        }
      }
    }
  }
}
