.lp-hard-thing {
  background-color: #264d67;

  &__box {
    color: #ffffff;
  }

  &__box__title {
    display: block;
  }

  &__box__main {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__box__media {
    flex: 0 1 84px;
    margin: 0;
    padding: 0;
    border-right: 1px dashed rgba(white, 0.4);

    svg {
      width: 84px;
      height: 42px;
      margin-right: 1.25rem;
    }
  }

  &__box__content {
    flex: 1 1 auto;
    padding-left: 1.5rem;
    padding-right: 5rem;

    line-height: 1.5;
    font-size: 1rem;

    @include media-breakpoint-up(md) {
      font-size: 1.125rem;
    }

    @include media-breakpoint-down(xs) {
      padding-right: 1rem;
    }
  }

  &__box__icon {
    &.is-calendar {
      position: absolute;
      top: 0;
      margin-top: -1rem;
      right: 0;

      animation-duration: 4000ms;
      animation-name: calendar-anim;
      animation-iteration-count: infinite;
      animation-direction: alternate;

      svg {
        width: 90px;
        height: 90px;
      }

      @include media-breakpoint-down(xs) {
        margin-top: -5rem;
      }
    }
  }

  // Stats
  &__stats {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }
  &__stats__left {
    flex: 0 1 33.3333%;

    figure {
      margin: 0 0 1rem;
      padding: 0;
      text-align: right;
    }

    svg {
      width: 240px;
      height: 64px;
    }

    p {
      color: #fff;
      text-align: right;
    }
  }

  &__stats__center {
    padding: 0 3rem;
    svg {
      width: 240px;
      height: 240px;
    }
  }

  // right
  &__stats__right {
    flex: 0 1 33.3333%;

    @include media-breakpoint-between(sm, md) {
      padding-right: 20vw;
    }

    figure {
      margin: 0 0 1rem;
      padding: 0;
    }

    svg {
      width: 240px;
      height: 64px;
    }

    p {
      color: #fff;
    }
  }
}

@keyframes calendar-anim {
  from {
    transform: translate(8%, 4%);
  }

  to {
    transform: translate(-4%, -8%);
  }
}
