.lp-forsa-header {

  &__logos {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;

    i {
      margin: 0 1.5rem;
      border-left: 1px solid $c-divider-border;
      display: inline-block;
      height: 40px;
    }

    .forsa {
      margin-bottom: 3px;
    }
  }
}
