.c-lp-info-boxes--wp {
  background-color: #f9f9f9;
}

#lp-info-box-1 {
  svg {
    max-width: 100%;
    width: 400px;
    height: 400px;
  }

  @include media-breakpoint-down(xs) {
    justify-content: center;
  }
}

#lp-info-box-2 {
  justify-content: center;

  svg {
    max-width: 100%;
    width: 340px;
    height: 340px;
  }
}

.c-lp-info-boxes {
  position: relative;
  display: flex;

  @include media-breakpoint-down(xs) {
    flex-direction: column;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    content: '';
    width: 0;
    height: 100%;
    font-size: 0;
    border-left: 1px dashed #919191;

    @include media-breakpoint-down(xs) {
      display: none;
    }
  }

  &__item {
    flex: 1 1 50%;
    display: flex;
    padding: 2vw;
    align-items: center;
  }
}

// #circle-anim-1 {
//   circle {
//     stroke-linecap: round;
//     stroke-dasharray: 500;
//     stroke-dashoffset: 500;
//   }
// }
