#lp-clouds {
  position: relative;
  margin-top: -100px;

  @include media-breakpoint-up(sm) {
    margin-top: -120px;
  }

  @include media-breakpoint-up(md) {
    margin-top: -340px;
  }
}

#cloud-back {
  animation-name: float;
  animation-duration: 30000ms;
  animation-delay: 50ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#cloud-front {
  animation-name: float;
  animation-duration: 20000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(20px);
  }
  100% {
    transform: translatey(0px);
  }
}
