.lp-section-features {
  background-color: #f9f9f9;


  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    &.has-border {

      @include media-breakpoint-up(md) {
        border-right: 1px dashed #919191;
      }
    }

    &.is-second {

      @include media-breakpoint-up(md) {
        padding-left: 5rem;
      }
    }

    > li {
      padding: 0.5rem 0;
    }
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__item__media {
    flex: 0 0 64px;
    width: 64px;
    height: 64px;
    margin: 0;
    padding: 0;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    &.is-receipt {
      background-image: url('#{$images}/lp-infographic/features/receipt.svg');
    }
    &.is-pen-paper {
      background-image: url('#{$images}/lp-infographic/features/pen-paper.svg');
    }
    &.is-phone {
      background-image: url('#{$images}/lp-infographic/features/phone.svg');
    }
    &.is-user {
      background-image: url('#{$images}/lp-infographic/features/user.svg');
    }

    &.is-hand-shake {
      background-image: url('#{$images}/lp-infographic/features/hand-shake.svg');
    }

    &.is-chart {
      background-image: url('#{$images}/lp-infographic/features/chart.svg');
    }

    &.is-code {
      background-image: url('#{$images}/lp-infographic/features/code.svg');
    }

  }
  &__item__content {
    padding-left: 1rem;
    line-height: 1.4;
    font-size: 1.125rem;
    color: #656565;

    a {
      color: inherit;
    }
  }
}
