.lp-cloud-info {
  position: relative;

  @include media-breakpoint-up(md) {
    margin-top: -220px;
  }

  &__boxes {
    display: flex;
    flex-wrap: wrap;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__boxes__item {
    position: relative;

    @include media-breakpoint-up(md) {
      flex: 1 1 50%;
      padding-right: 2rem;
    }
  }

  &__boxes__item:nth-child(3) {
    flex: 1 1 100%;
    margin-top: 3rem;
    padding-top: 2rem;
    border-top: 1px dashed #919191;

    .lp-cloud-info__boxes__content {
      flex: 0 1 70%;
    }
  }

  &__boxes__item:nth-child(1)::after {
    @include media-breakpoint-up(md) {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 0;
      border-right: 1px dashed #919191;
      content: '';
      font-size: 0;
    }
  }

  &__boxes__item:nth-child(1) {
    @include media-breakpoint-down(sm) {
      padding-bottom: 3rem;
      border-bottom: 1px dashed #919191;
    }
  }

  &__boxes__icon {
    margin: 0 0 1rem;
    padding: 0;

    &.is-pc {
      margin-left: 154px;
    }
    &.is-thunder {
      position: relative;
      margin: 0;
    }
    &.is-gobd {
      position: relative;
      height: 103px;

      @include media-breakpoint-down(sm) {
        height: 54px;
      }
    }
  }

  &__boxes__main {
    display: flex;
    align-items: center;
  }

  &__boxes__media {
    flex: 0 1 auto;
    margin: 0;
    padding: 0;

    svg {
      width: 80px;
      height: 80px;

      @include media-breakpoint-up(sm) {
        width: 140px;
        height: 140px;
      }
    }
  }

  &__boxes__content {
    padding-left: 2rem;
    font-size: 1rem;
    line-height: 1.6;

    @include media-breakpoint-up(md) {
      font-size: 1.15rem;
    }
  }
}

#lp-thunder-icon {
  position: absolute;
  top: 60%;
  left: 50%;
  will-change: transform;
  display: inline-block;
  width: 140px;
  height: 80px;
  margin-left: 154px;
  background-position: center center;
  background-size: contain;
  background-image: url('#{$images}/lp-infographic/lp-thunder.png');

  animation-name: pc-bar-float;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

#lp-gobd-icon {
  position: absolute;
  top: -40%;
  left: 0;
  will-change: transform;
  display: inline-block;
  width: 200px;
  height: 160px;
  margin-left: 154px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('#{$images}/lp-infographic/lp-gobd.png');

  animation-name: gobd-rotate;
  animation-duration: 6000ms;
  animation-iteration-count: infinite;

  @include media-breakpoint-down(sm) {
    right: 0;
    left: initial;
    width: 120px;
    height: 100px;
  }
}

#pc-bar-1 {
  animation-name: pc-bar-float;
  animation-duration: 8000ms;
  animation-iteration-count: infinite;
}
#pc-bar-2 {
  animation-name: pc-bar-float;
  animation-duration: 8000ms;
  animation-delay: 2000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#pc-bar-3 {
  animation-name: pc-bar-float;
  animation-duration: 8000ms;
  animation-delay: 4000ms;
  animation-iteration-count: infinite;
}
#pc-bar-4 {
  animation-name: pc-bar-float;
  animation-duration: 8000ms;
  animation-delay: 8000ms;
  animation-iteration-count: infinite;
}

@keyframes gobd-rotate {
  0% {
    transform: translatey(0px) rotate(0deg);
  }
  50% {
    transform: translatey(3px) rotate(8deg);
  }
  100% {
    transform: translatey(0px) rotate(0deg);
  }
}

@keyframes pc-bar-float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(3px);
  }
  100% {
    transform: translatey(0px);
  }
}
