<template>
  <div class="row sm-gutters">
    <div class="col-8">
      <c-form-control-input :label="$t('labels.cardNr')" v-model="card.cardNumber" addon="is-secure" :validation="formErrors.cardNumber" type="number" />
    </div>
    <!-- /.col -->
    <div class="col-4">
      <c-form-control-input label="CVC" v-model="card.cvc" addon="is-info" :tooltip="$t('cvc')" :validation="formErrors.cvc" type="number" />
    </div>
    <!-- /.col -->
    <div class="col-sm-5">
      <c-form-control-input :label="$t('labels.cardHolder')" v-model="card.cardHolder" :validation="formErrors.cardHolder" />
    </div>
    <!-- /.col -->
    <div class="col-6 col-sm-3">
      <c-form-control-select :label="$t('labels.month')" v-model="card.expiryMonth" :options="months" :validation="formErrors.expiryMonth" />
    </div>
    <!-- /.col -->
    <div class="col-6 col-sm-4">
      <c-form-control-select :label="$t('labels.year')" v-model="card.expiryYear" :options="years" :validation="formErrors.expiryYear"/>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</template>

<script>
import Input from '../../shared/input.vue';
import Select from '../../shared/select.vue';

const messages = {
  en: {
    labels: {
      cardNr: 'Card number',
      cardHolder: 'Cardholder name',
      month: 'Month',
      year: 'Year'
    },
    cvc: 'Last 3 letters on the back of the card'
  },
  de: {
    labels: {
      cardNr: 'Kartennummer',
      cardHolder: 'Karteninhaber',
      month: 'Month',
      year: 'Year'
    },
    cvc: 'Last 3 letters on the back of the card'
  }
};

const years = [
  {
    value: '2018',
    label: '2018'
  },
  {
    value: '2019',
    label: '2019'
  },
  {
    value: '2020',
    label: '2020'
  },
  {
    value: '2021',
    label: '2021'
  },
  {
    value: '2022',
    label: '2022'
  },
  {
    value: '2023',
    label: '2023'
  },
  {
    value: '2024',
    label: '2024'
  }
];

const months = [
  {
    value: '01',
    label: '01'
  },
  {
    value: '02',
    label: '02'
  },
  {
    value: '03',
    label: '03'
  },
  {
    value: '04',
    label: '04'
  },
  {
    value: '05',
    label: '05'
  },
  {
    value: '06',
    label: '06'
  },
  {
    value: '07',
    label: '07'
  },
  {
    value: '08',
    label: '08'
  },
  {
    value: '09',
    label: '09'
  },
  {
    value: '10',
    label: '10'
  },
  {
    value: '11',
    label: '11'
  },
  {
    value: '12',
    label: '12'
  }
];

export default {
  i18n: { messages },
  components: {
    'c-form-control-input': Input,
    'c-form-control-select': Select
  },
  props: {
    formErrors: Object
  },
  data() {
    return {
      card: {
        cardNumber: '5169147129584558',
        expiryMonth: '01',
        expiryYear: '2019',
        cardHolder: 'Marcellus Wallace',
        cvc: '911'
      },
      years: years,
      months: months
    };
  },
  watch: {
    card: {
      handler: 'update',
      deep: true
    }
  },
  methods: {
    update() {
      console.log('updating')
      this.$emit('change', this.card);
    }
  }
};
</script>
