<template>
  <c-form-control-input :label="$t('labels.email')" v-model="email" @input="emailUpdate" :validation="formErrors.emailAddress" type="email" />
</template>

<script>
import Input from '../../shared/input.vue';

const messages = {
  en: {
    labels: {
      email: 'E-Mail'
    }
  },
  de: {
    labels: {
      email: 'E-Mail'
    }
  }
};

export default {
  i18n: { messages },
  props: {
    formData: Object,
    formErrors: Object
  },
  components: {
    'c-form-control-input': Input
  },
  data() {
    return {
      email: 'mr-buyer@sevenit.de'
    };
  },
  methods: {
    emailUpdate(email) {
      this.$emit('change', email);
    }
  }
};
</script>
