.c-zdk-meta-group {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.8125rem;
  color: $c-text-darkgray;

  > li {
    display: inline-block;
  }

  &__breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      &:first-child::before {
        display: none;
      }
      &:first-child a {
        padding-left: 0;
      }
    }

    li:before {
      content: "/";
    }

    a {
      display: inline-block;
      padding: 0 6px;
      color: inherit;

      @include hover-focus {
        color: $c-text;
      }
    }
  }

  &__date:before {
    margin-right: 8px;
    content: '\2022';
  }
}
