.c-zdk-sub-nav {
  .breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.85rem;

    li {
      display: inline-block;
      color: $c-text-darkgray;

      &:last-child::after {
        display: none;
      }
    }

    li:after {
      content: '/';
      display: inline-block;
      margin: 0 6px;
      color: $c-text-gray;
    }
  }
}
