.c-zdk-article-aside {
  padding-right: 1.75rem;
  margin-bottom: 2rem;

  &__title {
    margin-bottom: 0.75rem;
  }

  &__nav {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      display: block;
      line-height: 1.4;
      color: $c-text-darkgray;

      @include hover-focus {
        color: $c-link;
      }
    }
  }
  &__nav > li {
    padding: 8px 0;
  }
}
