.c-zdk-category-list {

  .container {
    position: relative;
  }

  .col-md-3 {
    display: flex;
  }

  &__cover {
    display: flex;
  }

  &__item {
    transition: all 0.15s;
    padding: 24px;
    text-align: center;
    background-color: #fff;
    @include custom-box-shadow(1);

    @include hover-focus {
      transform: translateY(-1px);
      @include custom-box-shadow(4);
    }
  }

  &__icon {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
    background-color: $c-text-gray;
  }

  &__title {
    display: block;
  }

  &__desc {
    color: $c-text-darkgray;
    margin: 0 0 12px;
    font-size: 0.9375rem;
  }

  // Variations
  &--angle {
    .c-hero-search__overflow:after {
      z-index: -1;
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      content: '';
      width: 80%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: 0 bottom;
      background-size: cover;
      background-image: url('#{$images}/hero/angle-2.svg');

      @include media-breakpoint-up(sm) {
        width: 64%;
      }
      @include media-breakpoint-up(lg) {
        width: 50%;
      }
    }
  }
}
