.c-zdk-article-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding: 10px 0;
    font-size: 1rem;

    @include media-breakpoint-up(md) {
      font-size: 1.125rem;
    }
  }
  a {
    color: $c-text-darkgray;

    @include hover-focus {
      color: $c-link;
    }
  }
}
