.c-zdk-content-header {
  position: relative;
  z-index: 10;
  padding-top: 2rem;
  padding-bottom: 1.75rem;

  @include media-breakpoint-up(md) {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }
}
