.c-zdk-search {
  input[type="submit"],
  input[type="hidden"] {
    display: none;
  }
  .search {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
  }
  .search:before {
    z-index: 5;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 12px;
    content: '';
    width: 24px;
    height: 24px;
    margin-top: -12px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%234a89dc' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3e%3cpath d='M0 0h24v24H0z' fill='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 24px auto;

    @include media-breakpoint-up(md) {
      left: 16px;
    }
  }

  #query {
    transition: all 0.15s;
    width: 100%;
    display: block;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    text-align: left;
    text-indent: 36px;
    padding: 12px;
    font-size: 1rem;
    background-color: #fcfcfc;
    outline: none;

    @include media-breakpoint-up(md) {
      padding: 17px;
      font-size: 1.25rem;
    }

    &:focus {
      background-color: #fff;
      box-shadow: 0 4px 8px 0 rgba(black, 0.08), 0 2px 4px 0 rgba(black, 0.04);
    }
  }
}
