.c-zdk-pagination {
  ul {
    display: flex;
    margin: 0 0 0 1rem;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
    vertical-align: middle;
  }

  li.pagination-prev,
  li.pagination-next {
  }
  li.pagination-first,
  li.pagination-last {
  }

  span,
  a {
    padding: 8px 14px;
    line-height: 1.2;
    font-size: 1.15rem;
    display: block;
    border: 1px solid $c-divider-border;
    background-color: #fff;
    font-weight: $f-weight-semibold;
  }

  a {
    color: $c-text-darkgray;
    @include hover-focus {
      color: #fff;
      background-color: $c-link;
      border-color: $c-link;
    }
  }

  span {
    color: #fff;
    background-color: $c-link;
    border-color: $c-link;
  }
}
