.c-zdk-article-votes {
  padding: 2rem 0;
  border-top: 1px solid $c-divider-border;
  border-bottom: 1px solid $c-divider-border;
  text-align: center;

  @include media-breakpoint-up(md) {
    border-bottom-color: transparent;
  }

  &__question {
    display: block;
    margin-bottom: 12px;
  }

  &__controls {
    display: flex;
    justify-content: center;
    margin-bottom: 0.75rem;
  }

  .article-vote {
    margin: 4px;
    padding: 6px 20px;
    border-radius: 3px;
    border: 1px solid $c-link;
    font-size: 15px;
    line-height: 1.3;
    cursor: pointer;

    @include hover-focus {
      color: shade($c-link, 80%);
    }

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 14px;
      height: 14px;
      margin-right: 8px;
      font-size: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &:after {
      display: inline-block;
      vertical-align: middle;
      content: attr(title);
    }
  }

  .article-vote-up:before {
    background-image: url('//cdn.sevdesk.de/zendesk/check-2.svg');
  }
  .article-vote-down:before {
    background-image: url('//cdn.sevdesk.de/zendesk/close.svg');
  }

  &__count {
    display: block;
    padding-top: 2px;
    color: #777;
    span {
      font-size: 0.85rem;
    }
  }
}
