.c-zdk-search-results {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    position: relative;
    padding-left: 1.25rem;

    &:before {
      position: absolute;
      top: 6%;
      left: 0;
      display: block;
      width: 6px;
      height: 6px;
      content: "";
      font-size: 0;
      border-radius: 50%;
      background-color: $c-text-gray;
    }
  }
  &__link {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.25rem;

    @include hover-focus {
      color: shade($c-link, 15%);
    }
  }

  &__votes {
    display: inline-block;
    vertical-align: text-top;
    margin-left: 10px;
    font-size: 0.85rem;
    color: $c-link;

    &:before {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 6px;
      content: '';
      font-size: 0;
      background-size: 16px auto;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cg class='nc-icon-wrapper' fill='%234a89dc'%3E%3Crect x='0.5' y='7.5' width='3' height='8' fill='none' stroke='%234a89dc' stroke-linecap='round' stroke-linejoin='round' data-color='color-2'%3E%3C/rect%3E%3Cpath d='M5.5,15.5h6.9a2,2,0,0,0,1.952-1.566l1.111-5A2,2,0,0,0,13.507,6.5H9.5v-4a2,2,0,0,0-2-2l-2,6' fill='none' stroke='%234a89dc' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    }
  }

  &__desc {
    line-height: 1.7;
    color: #333;

    em {
      border-bottom: 1px dotted $c-text-darkgray;
    }
  }

}
