<!DOCTYPE html>
<html lang="">

<head>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;subset=latin-ext" rel="stylesheet"> {{#if fabricator}}
  <link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/fabricator/f.css">{{/if}}

  <!-- toolkit styles -->
  <link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/css/main.css?v=0.66">
  <link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/css/integrations.css?v=0.66">
  <link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/css/zendesk.css?v=0.66">
  <link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/css/blog.css?v=0.66">
  <link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/css/lp-infographic.css?v=0.66">
  <link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/css/birthday-signup.css?v=0.66">
  <link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/css/team.css?v=0.66">
  <link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/css/pricing.css?v=0.66">
  <link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/css/friends-referral.css?v=0.66">
  <link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/css/company-search.css?v=0.66">
  <link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/css/newsfeed.css?v=0.66">
  <link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/css/branch.css?v=0.66">
  <link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/css/book-download.css?v=0.66">
  <!-- /toolkit styles -->

  <script>
    window.lazySizesConfig = window.lazySizesConfig || {};

    lazySizesConfig.loadMode = 3;
    lazySizesConfig.customMedia = {
      '--xs': '(max-width: 539px)',
      '--sm': '(max-width: 719px)',
      '--md': '(max-width: 959px)',
      '--lg': '(max-width: 1140px)'
    };
  </script>

  <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearchLite.min.js"></script>
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/polyfills/index-toolkit.js?v=0.66"></script>
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/vendor/CountDown/CountDownJS.js"></script>

</head>

<body data-lang="de">
  {{#if fabricator}} {{> f-icons}} {{> f-menu}}
  <div class="f-container">
    {{> f-control-bar}} {{/if}} {% body %} {{#if fabricator}}
  </div>
  {{/if}}

  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/analytics.js"></script>

  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" -->
  <!-- crossorigin="anonymous"></script> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/vendor/jquery.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8Br_8gTIce7i9TFyre69cFMJXEFmfMNg&libraries=places&callback"></script>

  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/vendor/gsap/TweenLite.min.js"></script>
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/vendor/gsap/TimelineLite.min.js"></script>
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/vendor/gsap/plugins/CSSPlugin.min.js"></script>
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/vendor/gsap/plugins/DrawSVGPlugin.min.js"></script>
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/vendor/gsap/easing/EasePack.min.js"></script>

  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/vendor/scrollMagic.js"></script>
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/vendor/scrollMagic.gsap.js"></script>
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/vendor/scrollMagic.indicators.js"></script>

  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/vendor/typed.js"></script>

  <!-- <script src="https://app.billwerk.com/selfService/billwerkjS"></script> -->
  <!-- <script src="https://sandbox.billwerk.com/selfService/billwerkJS"></script> -->
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/vendor.js?v=0.66"></script>
  <!-- toolkit scripts -->
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/main.js?v=0.66"></script>
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/ref-page.js?v=0.66"></script>
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/checkout-page.js?v=0.66"></script>
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/blog-page.js?v=0.66"></script>
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/lp-infographic-page.js?v=0.66"></script>
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/branch-page.js?v=0.66"></script>
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/accounting-event-page.js?v=0.66"></script>
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/year-end-page.js?v=0.66"></script>
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/plan-calculator-page.js?v=0.66"></script>
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/friends-ref-page.js?v=0.66"></script>
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/company-search-page.js?v=0.66"></script>
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/calculator-vat.js?v=0.66"></script>
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/calculator-business-tax.js?v=0.66"></script>
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/calculator-other.js?v=0.66"></script>
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/calculator-income-tax.js?v=0.66"></script>
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/news.js?v=0.66"></script>
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/workshop.js?v=0.66"></script>
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/newsletter.js?v=0.67"></script>
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/newsletter-hubspot.js?v=0.67"></script>
  <!-- /toolkit scripts -->

  {{#if fabricator}}
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/fabricator/f.js"></script>
  {{/if}}

</body>

</html>
