<div class="c-form-control c-form-control--select">
  <label class="c-form-control__label c-form-control__label--floating">{{label}}</label>
  <select class="c-form-control__field c-form-control__field--select">
    {{#if option}}<option value="{{option}}">{{option}}</option>{{/if}}
    {{#if option1}}<option value="{{option1}}">{{option1}}</option>{{/if}}
    {{#if option2}}<option value="{{option2}}">{{option2}}</option>{{/if}}
    {{#if option3}}<option value="{{option3}}">{{option3}}</option>{{/if}}
    {{#if option4}}<option value="{{option4}}">{{option4}}</option>{{/if}}
  </select>
  {{#if error}}
  <span class="c-form-control__message"><span class="error"></span></span>
  {{/if}}
</div>
<!-- /.c-form-control -->
