<div class="c-form-control c-form-control--select">
  <label class="c-form-control__label c-form-control__label--floating">Email address</label>
  <select class="c-form-control__field c-form-control__field--select">
    <option value="">Germany</option>
    <option value="">France</option>
    <option value="">UK</option>
  </select>
  <span class="c-form-control__message"><span class="error">Please enter a valid email address</span></span>
</div>
<!-- /.c-form-control -->
