<label class="c-form-control c-form-control--checkbox">
  <input class="c-form-control__checkbox" value="{{value}}" type="checkbox">
  <span class="c-form-control__checkbox-label">{{label}}{{#unless label}}Hello there{{/unless}}</span>
</label>
