<section class="l-section l-section--padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="c-section-header">
          <h2 class="c-section-header__title h1">General questions</h2>
        </div>
        <!-- /.c-section-header -->

        <div class="c-accordion">
          <div class="c-accordion__item">
            <h3 class="c-accordion__item__title h5 is-active">Welche Vorteile hat eine Buchhaltungssoftware? <i class="c-accordion__item__icon"></i></h3>
            <div class="c-accordion__item__content">
              <p>Egal ob Kleinunternehmer oder großes Unternehmen:
                <a href="#">Buchhaltung</a> kostet in der Regel viel Zeit und Geduld. Abhilfe schaffen in erster Linie Buchhaltungsprogramme,
                die Unternehmern auf einfache Weise bei der Führung einer ordentlichen Buchhaltung unterstützen.
              </p>
              <p>Cloud-Lösungen bietet beispielsweise den Vorteil, die Buchhaltung selbst online zu organisieren und je nach Bedarf
                den Steuerberater mit einzubeziehen. Da die Software über das Internet genutzt wird, können sämtliche Unterlagen
                für den Steuerberater freigeschalten werden, sodass das lästige Hin- und Herreichen von Papieren entfällt. Hinzukommend
                hast du als Unternehmer jederzeit Zugriff auf deine Zahlen und bist folglich immer aktuell über die finanzielle Situation
                deines Unternehmens informiert.</p>
            </div>
          </div>
          <!-- /.c-accordion__item -->
          <div class="c-accordion__item">
            <h3 class="c-accordion__item__title h5">Welche Vorteile hat eine Buchhaltungssoftware? <i class="c-accordion__item__icon"></i></h3>
          </div>
          <!-- /.c-accordion__item -->
        </div>
        <!-- .c-accordion -->

      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
