<section class="c-content-block l-section--padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="c-content-style">
          <h4 class="h1">Buchhaltung einfach selber machen</h4>
          <p class="h3">So wird deine Buchhaltung zum Selbstläufer</p>
          <p>Mit sevDesk kannst du die Buchhaltung einfach selber machen - Ganz ohne Buchhaltungskenntnisse. Fotografiere
            Eingangsrechnungen mit der sevScan App oder leite sie als Email direkt an sevDesk weiter.</p>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
