<div class="c-feature-columns">
  <div class="container">
    <div class="row">
      {{#each feature_columns}}
      <div class="col-6 col-md-4 py-4 mb-md-2">
        <div class="c-feature-columns__item text-center">
          <div class="pb-3 mb-1">
            <img class="img-fluid" src="{{../path.images.demo}}/feature-columns/{{image}}" alt="{{title}}">
          </div>
          <h4 class="c-feature-columns__title h6 mb-2">{{title}}</h4>
          <p class="c-feature-columns__desc text-note text-gray mb-1 mb-sm-2">{{desc}}</p>
          <a class="c-link-more" href="#"><span>Learn more</span></a>
        </div>
        <!-- /.c-feature-columns__item -->
      </div>
      <!-- /.col -->
      {{/each}}
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.c-feature-columns -->
