<section class="fc-features-detailed l-section l-section--padding l-section--background-light">
  <div class="container">
    <div class="row lg-gutters">
      {{#each feat.detailed}}
      <div class="col-sm-6 col-lg-4 py-2 py-md-4">
        <div class="fc-features-detailed__item media">
          <div class="fc-features-detailed__item__media">
            <img class="fc-features-detailed__item__img js-inject-me" src="{{../path.images.default}}/icons/{{icon}}.svg" alt="">
          </div>
          <!-- /.__media -->
          <div class="fc-features-detailed__item__body media-body">
            <h4 class="h5 mb-2 pt-2">{{title}}</h4>
            <p>{{description}}</p>
          </div>
          <!-- /.__body -->
        </div>
        <!-- /.__item -->
      </div>
      <!-- /.col -->
      {{/each}}
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
