<div class="fc-features l-section l-section--padding l-section--background-light">
  <div class="container">
    <div class="c-section-header">
      <h2 class="c-section-header__title h1">All the features you need</h2>
      <p class="c-section-header__description h3 mt-2 mb-3">Perfect for beginners and experts alike</p>
    </div>
    <!-- /.c-section-header -->

    <ul class="fc-features__list row my-4">
      {{#each feat.simple}}
      <li class="col-sm-6 col-md-4 py-2 py-sm-4">
        <div class="fc-features__item media">
          <div class="fc-features__item__media">
            <img class="fc-features__item__img js-inject-me" data-src="{{../path.images.default}}/icons/{{image}}.svg" alt="some alt text">
          </div>
          <div class="fc-features__item__body media-body">
            <span class="fc-features__item__title">{{title}}</span>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>

    <div class="row justify-content-center pt-4">
      <div class="col-md-4 text-center">
        <a class="c-btn c-btn--outline" href="#0" title="Alle Funktionen ansehen">Alle Funktionen ansehen</a>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.fc-features -->
