<section class="fc-info-cards">
  <div class="container">
    <div class="row lg-gutters justify-content-center">
      {{#each info_cards}}
      <div class="col-sm-6 mb-4 mb-sm-0">
        <div class="fc-info-cards__card {{class}}">
          <figure class="fc-info-cards__card__cover"></figure>
          <div class="fc-info-cards__card__content">
            <h4 class="fc-info-cards__card__headline h2 text-primary mb-2 mb-md-4">{{ title }}</h4>
            <p class="fc-info-cards__card__desc mb-4">{{ desc }}</p>
            <a class="c-btn {{linkClass}}" href="#1">{{link}}</a>
          </div>
          <!-- .fc-info-cards__card__content -->
        </div>
        <!-- /.fc-info-cards__card -->
      </div>
      <!-- /.col-md-4 -->
      {{/each}}
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
