<section class="fc-resources l-section l-section--padding">
  <div class="container">
    <div class="row lg-gutters">
      <div class="col-sm-6 col-md-7">
        <div class="c-section-header c-section-header--left pt-md-4">
          <h3 class="c-section-header__title display-2">The right solution for you</h3>
        </div>
        <!-- /.c-section-header -->

        <div class="row">
          <div class="col-lg-6 pb-4 pb-sm-5">
            <div class="c-text-block pr-md-2">
              <h4 class="c-text-block__title">Steuerberater lieben sevDesk</h4>
              <div class="c-text-block__content pb-md-1">
                <p>sevDesk erstellt dir einen kompletten DATEV-Export, mit dem du deinem Steuerberater alle Informationen zur
                  Verfügung stellen kannst. Er kann damit einfach weiterarbeiten.</p>
              </div>
              <a class="c-link-more" href="#0" title="Mehr Infos"><span>Mehr Infos</span></a>
            </div>
            <!-- /.c-text-block -->
          </div>
          <!-- /.col -->
          <div class="col-lg-6 pb-4 pb-sm-5">
            <div class="c-text-block pr-md-2">
              <h4 class="c-text-block__title">Self-employed or a company</h4>
              <div class="c-text-block__content pb-md-1">
                <p>Mit sevDesk bist du auf der sicheren Seite - egal ob du die einfache oder doppelte Buchführung machst. Du weist Rechnungen
                einfach einer passenden Kategorie zu.</p>
              </div>
              <a class="c-link-more" href="#0" title="Mehr Infos"><span>Mehr Infos</span></a>
            </div>
            <!-- /.c-text-block -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.col-md-8 -->

      <div class="col-sm-6 col-md-5">
         <div class="c-resource-guide">
           <figure class="c-resource-guide__cover"></figure>
           <div class="c-resource-guide__content">
            <h4 class="c-resource-guide__headline h2 text-primary mb-2 mb-md-4">The sevDesk Guide to manage your Business</h4>
            <p class="c-resource-guide__desc mb-4">We’ve put together a primer explaining accounting, taxes, employment, and more.</p>
            <a class="c-btn c-btn--primary" href="#0" title="Read the guide">Read the guide</a>
           </div>
           <!-- .c-resource-guide__content -->
         </div>
         <!-- /.c-resource-guide -->
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
