<div class="fc-testimonial-slider-full l-section--padding-top l-section--background-light">
  <div class="container">
    <div class="c-section-header">
      <h2 class="c-section-header__title h1">Trusted by business owners everywhere</h2>
      <p class="c-section-header__description h3 mt-2 mb-3">Over 45,000 happy customers</p>
    </div>
    <!-- /.c-section-header -->

    <div class="row justify-content-center">
      <div class="col-11 col-sm-10 col-md-8">
        <div class="fc-testimonial-slider-full__main">
          <div class="fc-testimonial-slider-full__slider">
            {{#each testimonials.slider}}
            <div class="fc-testimonial-slider-full__slide {{class}}">
              <figure class="fc-testimonial-slider-full__item">
                <picture class="fc-testimonial-slider-full__item__media">
                  <source data-srcset="{{../path.images.demo}}/testimonials/{{image}}" media="--sm" />
                  <img class="lazyload u-lazyload" src="{{../path.images.demo}}/testimonials/{{image}}" alt="">
                </picture>
                <figcaption class="fc-testimonial-slider-full__item__caption">
                  <blockquote class="fc-testimonial-slider-full__item__content">
                    <span class="fc-testimonial-slider-full__item__quote h3 pb-2 d-block">{{quote}}</span>
                    <span class="fc-testimonial-slider-full__item__name d-block">{{name}}</span>
                    <span class="fc-testimonial-slider-full__item__position u-text-note">{{position}}</span>
                  </blockquote>
                </figcaption>
              </figure>
              <!-- /__item -->
            </div>
            <!-- / __slide -->
            {{/each}}
          </div>
          <!-- /wp -->
          <div class="fc-testimonial-slider-full__controls">
            <a href="#1" class="fc-testimonial-slider-full__prev js-prev" aria-label="Prev slide">
              <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z" />
              </svg>
            </a>
            <a href="#1" class="fc-testimonial-slider-full__next js-next" aria-label="Next slide">
              <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z" />
              </svg>
            </a>
          </div>
          <!-- /.fc-testimonial-slider-full__controls -->
        </div>
        <!-- /.__main -->
      </div>
      <!-- /.col-md-8 -->
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
</div>
<!-- /.fc-testimonial-slider-full -->
