<div class="fc-testimonial-slider l-section--padding">
  <div class="container">
    <div class="c-section-header">
      <h2 class="c-section-header__title h1">Trusted by business owners everywhere</h2>
      <p class="c-section-header__description h3 mt-2 mb-3">Over 45,000 happy customers</p>
    </div>
    <!-- /.c-section-header -->
  </div>
  <!-- /.container -->

  <div class="fc-testimonial-slider__main">
    <div class="container">
      <div class="fc-testimonial-slider__wp">
        {{#each testimonials.slider}}
        <div class="slide {{class}}">
          <div class="fc-testimonial-slider__item">
            <div class="fc-testimonial-slider__item__media lazyload" data-bgset="{{../path.images.demo}}/testimonials/{{image}}">
              <noscript>
                <img data-src="{{../path.images.demo}}/testimonials/{{image}}" alt="some alt text">
              </noscript>
            </div>
            <!-- /.fc-testimonial-slider__item__media -->
            <div class="fc-testimonial-slider__item__content">
              <span class="fc-testimonial-slider__item__quote">{{quote}}</span>
              <span class="fc-testimonial-slider__item__name">{{name}}</span>
              <span class="fc-testimonial-slider__item__position">{{position}}</span>
            </div>
            <!-- /.fc-testimonial-slider__item__content -->
          </div>
          <!-- /__item -->
        </div>
        <!-- / slide -->
        {{/each}}
      </div>
      <!-- /wp -->
      <div class="fc-testimonial-slider__controls">
        <a href="#1" class="fc-testimonial-slider__prev" aria-label="Prev slide">
          <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z" />
          </svg>
        </a>
        <a href="#1" class="fc-testimonial-slider__next" aria-label="Next slide">
          <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z" />
          </svg>
        </a>
      </div>
      <!-- /.fc-testimonial-slider__controls -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.fc-testimonial-slider__main -->
</div>
<!-- /.fc-testimonial-slider -->
